/* Formato del cuerpo */
.cuerpo {align-items: center;justify-content: center;}
.cuerpo #titulo {margin: 0px;}

#dataEntry {margin-top: 15px; padding: 30px 40px; border-radius: 20px;}
#dataEntry {background-color: var(--gris-claro);border: var(--gris-oscuro) 7px solid; 
	box-shadow: 0px 0px 10px rgb(100, 100, 100);}

/* Partes específicas del formulario */
#dataEntry h2 {align-self: flex-start; color: white; background-color: var(--azul-oscuro); 
	padding: 5px 10px; border-radius: 10px;}
#dataEntry h3 {margin: 15px 0 3px;  align-self: flex-start;}
#dataEntry input, #dataEntry textArea, #dataEntry select {border-width: .7px; border-radius: 5px;}
#dataEntry input:disabled, #dataEntry select:disabled, #dataEntry textarea:disabled {background-color: var(--amarillo-claro); opacity: 1;}
#dataEntry input, #dataEntry select, #dataEntry textarea {background-color: white;}

#dataEntry textarea {resize:vertical; max-height: 100px; min-height: 22px;}

/* Todos los mensajes */
#dataEntry .mensajeError, #dataEntry .mensajeAyuda {z-index: 1; line-height: 1.2rem;}
#dataEntry .link {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}

/* Mensajes de ayuda */
#dataEntry .fa-question-circle {right: -20px;}
#dataEntry .mensajeAyuda {right: -25px; padding: 7px 10px; transform: translate(100%, -50%);}

/*  Mensajes de error*/
#dataEntry .fa-times-circle, #dataEntry .fa-check-circle {left: -20px;}
#dataEntry .fa-times-circle {z-index: 1;}

/* Procesando información */
#dataEntry #resultado {margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: fit-content;}
#dataEntry #resultado {font-style: normal; border-radius: 10px;}

/* Botones */
#dataEntry button, #dataEntry input[type="submit"] {color: white; background-color: var(--verde-oscuro); padding: 3px 10px; border-radius: 10px; font-weight: bold;}
#dataEntry i {cursor: pointer;}

/* Flechas */
#dataEntry #flechas {justify-content: space-around; margin-left:auto; margin-right:auto; width:100%; max-width: 500px}
#dataEntry #flechas i {font-size: 2rem;}
#dataEntry #flechas a i {color: var(--gris-oscuro);}
#dataEntry .flechaSinLink {color: var(--celeste-oscuro); cursor: default;}
#dataEntry #flechas .fa-arrow-alt-circle-right {visibility: hidden;}

/* Submit button */
#dataEntry button em {color: var(--amarillo-claro); background-color: inherit;}
