#data_entry {min-height: 180px;}

/* Partes específicas del formulario */
#data_entry #fuentesDeInfo {margin: 10px 0 0 15px; font-style: italic;}
#data_entry a {color: var(--verde-oscuro);}
#data_entry label {align-self: flex-end;}
#data_entry input {margin-right: 5px; width: 250px; padding: 5px 5px; }
#data_entry .mensajeAyuda {max-width: 270px;}
#data_entry .mensajeError {max-width: 300px;}

/* Submit button */
#data_entry button {align-self: center; margin-left: 30px;}
