/* Partes específicas del formulario */
#dataEntry form {display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1; min-height: 310px;}
#dataEntry .mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}

/* Mensajes de error */
#dataEntry #en_coleccion .fa-times-circle, #dataEntry #en_coleccion .fa-check-circle 
	{position: static; transform: none; margin-right: 5px; align-self: center;}
#dataEntry .mensajeAyuda {max-width: 300px;}
#dataEntry .mensajeError {max-width: 300px;}

/* Sectores de Input */
#dataEntry #en_coleccion {text-align: right;}
#dataEntry textarea, #dataEntry input {width: 250px; padding: 2px 5px; }
#dataEntry select {padding: 0px; padding-right: 2px;}

/* Submit button */
#dataEntry #flechas {margin: 20px 50px 0;}
#dataEntry #flechas button {align-self: center;}
