/* Partes específicas del formulario */
#dataEntry form {display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1; height: 370px;}

/* Sector de Data Entry */
#dataEntry #datos {display: flex; flex-direction: column; align-items: flex-start;}
#dataEntry #datos #entidad_y_enColeccion {display: flex; flex-direction: row; width: 100%; justify-content: space-between; }
#dataEntry #datos #en_coleccion {text-align: right;}
#dataEntry #datos textarea, #dataEntry input, #dataEntry select[name="coleccion_id"] {width: 250px;}
#dataEntry #datos textarea, #dataEntry input {padding: 2px 5px; }
#dataEntry #datos select {padding: 0px; padding-right: 2px;}
#dataEntry #datos select optgroup {color: tomato;}

/* Mensajes de error */
#dataEntry #en_coleccion .fa-times-circle, #dataEntry #en_coleccion .fa-check-circle 
	{position: static; transform: none; margin-right: 5px; align-self: center;}
#dataEntry .mensajeAyuda {max-width: 300px;}
#dataEntry .mensajeError {max-width: 300px;}
#dataEntry .mensajeError a {color: inherit;}

/* Mensajes de ayuda */
#dataEntry .mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}

/* Submit button */
#dataEntry #flechas {margin: 20px 50px 0;}
#dataEntry #flechas button {align-self: center;}
