/* Partes particulares */
#dataEntry h2 {margin-bottom: 5px;}
#dataEntry #resultadoGeneral {width: 700px; overflow-x: auto;}
#dataEntry button {padding: 0;}
#dataEntry button, #imagenChica {border-radius: 15px;}

/* Flechas */
#dataEntry #flechas {margin-top: 20px;}

/* Resultados */
#prod_nuevo, #ingr_manual, #prod_yaEnBD 
	{margin: 30px 10px 20px 10px; padding: 0; border: none; text-align: left; width:290px;}
#dataEntry #prod_nuevo {background-color: var(--verde-intermedio);}
#dataEntry #ingr_manual {background-color: var(--rojo-claro);}
#dataEntry #prod_yaEnBD {background-color: var(--celeste-oscuro);}
#dataEntry #prod_nuevo:hover {background-color: var(--verde-oscuro); color: var(--amarillo-claro);}
#dataEntry #ingr_manual:hover {background-color: var(--rojo-oscuro); color: var(--amarillo-claro);}
#dataEntry #prod_yaEnBD:hover {background-color: var(--gris-oscuro); color: var(--gris-claro);}

/* Partes del resultado */
#imagenChica {max-height: 200px;}
#infoPeli {color: inherit; margin: 10px 15px;}
#infoPeli p, #infoPeli p strong, #infoPeli p em {color: inherit;}

.interlineadoChico {margin-top: 5px;}

/* Barra de desplazamiento */
::-webkit-scrollbar {outline: transparent;}
::-webkit-scrollbar-track {background: var(--celeste-oscuro); border-radius: 10px;}
::-webkit-scrollbar-thumb {background: var(--gris-oscuro); border-radius: 10px;}
/* ::-webkit-scrollbar-button {background: red;} */