#dataEntry {
    background-color: var(--verde-claro);
    border: var(--verde-oscuro) 7px solid;
}
#dataEntry {max-width: 80%;}

#dataEntry h2 {align-self: center; background-color: var(--verde-oscuro);}
#dataEntry li {color: var(--verde-oscuro);}
#dataEntry ul {margin: 10px 0 30px; padding-left: 20px;}
#dataEntry ul li {margin-top: 10px; font-size: 1.1rem;}
#dataEntry ul li ol {padding-left: 30px;}
#dataEntry ul li ol li {margin-top: 2.5px; font-size: 1rem;}

#dataEntry button, #dataEntry input[type="submit"] {max-width: 140px;}
