<div id="tituloPrincipal" class="<%= tema %>">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="none" class="ayudaMostrar ocultar desplMostrar">
				<li>Estos registros están pendientes de revisar. Se necesita revisarlos a todos.</li>
			</ul>
		</i>
	</div>
</div>
<!-- Datos -->
<div id="familias">
	<div id="primeraColumna">
		<!-- IDENTIDAD DE USUARIO -->
		<div class="bloques">
			<div class="datos tituloSecundario">
				<h2>VALIDAR LA IDENTIDAD DE USUARIOS</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul type="none" class="ayudaMostrar ocultar desplMostrar">
							<li>Son los usuarios interesados en aportar información a nuestra Base de Datos.</li>
						</ul>
					</i>
				</div>
			</div>
			<% let rev = "revision/usuarios/" %>
			<%- include("RU0-Registros", {regs: usuarios.validaIdentidades, url: rev + "validar-identidad"}) %>
		</div>
	</div>
	<div id="segundaColumna">
		<!-- PERMISO FILM AFFINITY -->
		<div class="bloques">
			<div class="datos tituloSecundario">
				<h2 class="inactivo">PERMISO FILM AFFINITY</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul type="none" class="ayudaMostrar ocultar desplMostrar">
							<li>Son usuarios a quienes se les autoriza el ingreso manual mediante información de Film Affinity.</li>
						</ul>
					</i>
				</div>
			</div>
		</div>
		<!-- CAMBIO DE ROL -->
		<div class="bloques">
			<div class="datos tituloSecundario">
				<h2 class="inactivo">CAMBIO DE ROL</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul type="none" class="ayudaMostrar ocultar desplMostrar">
							<li>Para aumentar o disminuir el rol de un usuario.</li>
						</ul>
					</i>
				</div>
			</div>
		</div>
	</div>
</div>
