<%- include('CMP-TimerContador') %>
<%- include('CMP-Cartel') %>
<section id="tituloConAyuda">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
	<ul class="mensajeAyuda ocultar" type="dots">
		<li>Necesitamos que nos digas si los datos coinciden con el documento.</li>
		<li>Si considerás que no, te vamos a pedir que nos digas el motivo.</li>
	</ul>	
</section>
<section id="datos">
	
</section>
