<!--DESDE AQUÍ COMIENZA LO PARTICULAR DE ESTA PÁGINA-->
<section id="cuerpo-listado"><!--LISTADO DE RUBROS-->
    <p><button id="título">Menú de Opciones</button></p>
    <div id="rubro">
      <a href="/peliculas"><p><button class="activo">Películas</button></p></a>
      <p><button class="pasivo">Mensajería</button></p>
      <p><button class="pasivo">Conferencias</button></p>
    </div>
</section>

<!--ACÁ TERMINA LO PARTICULAR DE ESTA PÁGINA-->
