/* Formato del cuerpo */
form {align-items: center;}
#cuerpo-form {align-items: center;}
#cuerpo-form {margin: 20px 20px; padding: 20px 30px; border-radius: 20px;}
#cuerpo-form {background-color: var(--amarillo-claro);}
#cuerpo-form #columnaMedio {width: 60px}

/* Cuerpo del formulario */
#cuerpo-form .label-input label, form i, form option, form input, form select, form p, form textarea {font-size: 14px;}
#cuerpo-form .label-input.flex-row .formulario-grupo, 
#cuerpo-form .label-input.flex-row .formulario-grupo select {align-self: flex-end;}
#cuerpo-form .formulario-grupo select {align-self: flex-end;}
#cuerpo-form .formulario-grupo input {align-self: flex-end;}
#cuerpo-form .label-input, .formulario-grupo {justify-content: space-between;}

/* Partes específicas del formulario */
#cuerpo-form .divisor label {border-top: 1px solid var(--gris-oscuro);}
#cuerpo-form .label-input label {margin-top: 10px; margin-right: 5px; font-weight: bold;}
#cuerpo-form form .formulario-grupo {position: relative; display: flex;}
#cuerpo-form form .formulario-grupo p {margin: 7px 5px 0px 10px;}
#cuerpo-form form .formulario-grupo input, #cuerpo-form form textArea {padding: 0 2px;}
#cuerpo-form form .formulario-grupo .input-numero {width: 50px;}
#cuerpo-form form .formulario-grupo .fa-times-circle {position: absolute;right: -17px;top: 5px;font-size: .8em; color: red;}

/* Submit button */
#cuerpo-form form button {margin-top: 20px; padding: 3px 10px; justify-content: center; align-self: center; border-radius: 10px;font-weight: bold;}
