/* Cuerpo */
#cuerpo {flex-direction: column;}
#cuerpo {background: transparent;}
#cuerpo #datos {justify-content: space-evenly; align-items: center;}

/* Encabezado */
#cuerpo #encabezado {padding: 15px 25px;}

/* Datos Largos */
#datos #datosLargos {max-width: 65%;}
#datos #datosLargos {display: flex; flex-direction: column; flex-grow: 1;}
/* Datos */
#datosLargos #recuadro {display: flex; flex-direction: column;}
#datosLargos #recuadro {background: var(--gris-claro); border: var(--gris-oscuro) 7px solid; box-shadow: 0px 0px 10px rgb(100, 100, 100);}
#datosLargos #recuadro {border-radius: 20px; overflow: hidden;}

/* Datos Breves */
#datos #datosBreves {max-width: 20%; max-height: 65vh;}
#datosBreves nav {max-height: 65vh;}
