/* Cuerpo */
#cuerpo {flex-direction: column;}
#cuerpo {background: transparent;}
#cuerpo #datos {justify-content: space-evenly; align-items: center;}

/* Encabezado */
#cuerpo #encabezado {padding: 15px 25px;}

/* Datos Largos */
#datos #datosLargos {display: flex; flex-direction: column;}
/* Datos */
#datosLargos #recuadro {display: flex; flex-direction: column;}
#datosLargos #recuadro {background: var(--gris-claro); border: var(--gris-oscuro) 7px solid;}
#datosLargos #recuadro {border-radius: 20px; overflow: hidden;}
