/* Cuerpo */
#cuerpo {flex-direction: row;}
#cuerpo #datosLargos {width: 78%;}
#cuerpo #datosBreves {width: 22%;}

/* Datos */
#datosLargos {display: flex; flex-direction: column; flex-grow: 1;}
#datosLargos #datos {display: flex; flex-direction: column; justify-content: space-around; padding: 0 40px; flex-grow: 1;}
#datosLargos #datos #contenido .datosAdicionales {margin-top: 10px;}
/* Sinopsis */
#contenido #sinopsis {margin: 10px 15px 5px; padding: 15px 20px; position: relative;}
#contenido #sinopsis {border-radius: 15px; border: var(--gris-oscuro) 5px solid; background: var(--amarillo-claro);}
#contenido #sinopsis #contenidoSinopsis {font-size: 1.1rem;}

/* Datos Breves */
#datosBreves nav {max-height: 65vh;}
