/* Temas generales */
main form {display: flex; flex-direction: row-reverse; flex-grow: 1; position: relative;}
main form #cuerpo {flex-direction: column;}
main form #cuerpo .inputError {display: flex; flex-direction: row;}

/* Zona del formulario */
main form #cuerpo #edicionForm {display: flex; flex-direction: column; flex-grow: 1;}
main form #cuerpo #edicionForm {justify-content: space-around; padding: 15px 70px 10px 50px;}
main form #cuerpo #edicionForm .altoFila {height: 21px;}

/* Imagen */
form #imgDerecha label {line-height: 0;}
/* Imagen - Íconos */
form #imgDerecha .fa-solid {font-size: 2rem; background: white; border-radius: 50%;}
form #imgDerecha :is(.ayuda, .errores) {left: 50%; translate: -50% -50%; right: auto;}
form #imgDerecha .errores {z-index: 4;}
/* Imagen - AyudaMostrar */
form #imgDerecha.inputError .ayuda .ayudaMostrar {right: auto; top: auto;}
form #imgDerecha.inputError .ayuda .ayudaMostrar {left: 50%; bottom: -7px; translate: -50% 100%;}
form #imgDerecha.inputError .ayuda .ayudaMostrar::before {left: 50%; top: 0; translate: -50% -100%;}
form #imgDerecha.inputError .ayuda .ayudaMostrar::before {border-color: transparent transparent var(--backAyuda) transparent;}
/* Imagen - MensajeError */
form #imgDerecha.inputError .errores .mensajeError {right: auto; top: auto;}
form #imgDerecha.inputError .errores .mensajeError {left: 50%; top: -5px; translate: -50% -100%;}
form #imgDerecha.inputError .errores .mensajeError::before {left: 50%; bottom: 0; translate: -50% 100%;}
form #imgDerecha.inputError .errores .mensajeError::before {border-color: var(--colorMensajeError) transparent transparent;}
/* Imagen - Links a sitios externos */
form #imgDerecha.inputError .agregados {position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);}
form #imgDerecha.inputError .agregados {background: var(--verde-claro); border: var(--verde-oscuro) 1px solid;}
form #imgDerecha.inputError .agregados {margin: 0 auto; padding: 5px 10px; border-radius: 10px; width: max-content;}
form #imgDerecha.inputError .agregados img {max-width: 25px; max-height: 25px; border-radius: 8px; margin: 2px 3px 0;}

/* Partes del formulario */
#datos {display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px;}
#datos #primeraColumna {width: 42%;}
#datos #segundaColumna {width: 45%;}
#datos #primeraColumna .label-input .inputError .input {width: 200px;}
#datos #primeraColumna .label-input .inputError .input.angosto {width: 70px}
#datos #primeraColumna .label-input .inputError .input.numero {width: 70px; text-align: right;}
#datos #segundaColumna .label-input .inputError .input {width: 240px;}

/* Partes específicas del formulario */
#datos h3 {margin-top: 15px; color: var(--verde-oscuro);}
#datos h3:first-child {margin-top: 0;}
#datos .label-input .inputError :is(.input, input#mostrarPaises) {border-width: .7px; border-radius: 5px; background: white;}
#datos .label-input .inputError {margin-left: 5px;}
#datos .label-input .inputError .ayuda {right: -5px;}
#datos .label-input {display: flex; flex-direction: row; justify-content: space-between; margin-top: 3px;}
#datos .label-input label {margin: 2px 20px 0 0; font-weight: bold; min-height: 19px;}
#datos .label-input .inputError .input {align-self: center;}
#datos .label-input .inputError input {padding: 0px 5px;}
#datos .label-input .inputError select {padding: 0;}
#datos .label-input .inputError .input:disabled, #datos .label-input#paises_id 
#datos :is(input#mostrarPaises:disabled, select:disabled) {background: var(--amarillo-claro); opacity: 1; color: inherit;}
#datos .flexRowAlign #siNoTitulo {width: 180px;}
#datos #tipoActuacion #tipos {margin-left: 35px;}

/* País */
#datos #paises_id {align-items: center;}
#datos #paises_id .inputError {width: 200px;}
#datos #paises_id .inputError 
:is(input#mostrarPaises, select) {position: absolute; top:0; transform: translateY(-50%); height: 18px; border-radius: 5px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
#datos #paises_id .inputError #mostrarPaises {width: 180px; z-index: 1; padding: 0 5px;}
#datos #paises_id .inputError select {width: 100%; padding: 0;}

/* RCLV */
#datos .label-input .inputError .linkRCLV {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
#datos .label-input .inputError .linkRCLV {width: 15px; cursor: pointer;}
#datos .label-input .inputError #alta.linkRCLV {right: -40px;}
#datos .label-input .inputError #edicion.linkRCLV {right: -60px; font-size: 1.15rem;}

/* Sinopsis */
#datos .label-input#sinopsis .inputError {width: 100%; margin-left: 0;} 
#datos #segundaColumna #sinopsis textarea {width: 100%; height: 84px; padding: 5px 10px; resize: none;}
#datos #segundaColumna #sinopsis textarea.input::-webkit-scrollbar {display: none;}

/* Mensajes de aviso de cambio de data-entry */
.inputError .fa-arrow-right-long {left: -5px; position: absolute; translate: -100% -50%; top: 50%;}
.inputError .fa-arrow-right-long {color: var(--verde-oscuro);}
form #imgDerecha.inputError .fa-arrow-right-long {left: 5px; transform: translateY(-50%);}

/* Comandos - Particularidades */
.flechas i.fa-slash {rotate: 80deg; cursor: default; padding: 0; border: none; margin: 0;}
.flechas i.activarVersion {background: var(--azul-oscuro); color: var(--gris-claro);}
.flechas i.activarVersion {padding: 4px; margin-top: 1px; margin-bottom: 1px; font-size: 1.25rem;}
.flechas i.activarVersion.activo {background: var(--verde-oscuro);}
