<section class="label-input flex-row">  <!--Título original-->
	<label <%- if (n==n[0]) style="margin-top: 0;" %> >Título original</label>
	<div class="form-grupo">
		<input type="text" class="input" name="nombre_original"
			value="<%= data_entry.nombre_original %>"
		>
		<i class="fas fa-times-circle<%- !errores.nombre_original ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores.nombre_original %></span>
		</i>
	</div>
</section>
