/* Cuerpo */
#cuerpo {flex-direction: row;}

/* Configuración de la consulta */
#cuerpo #configCons {display: flex; flex-direction: column; width: 220px;}
#cuerpo #configCons {box-shadow: 0px 0px 10px rgb(100, 100, 100);}

/* Encabezado más películas */
#cuerpo #encabMasPelis {display: flex; flex-direction: column; align-items: flex-start; flex-grow: 1;}
#cuerpo #encabMasPelis.ocultar {display: none;}

/* Encabezado más películas - Encabezado */
#encabMasPelis #encabezado {display: flex; flex-direction: row; justify-content: space-between; width: 100%;}

/* Encabezado más películas - Zona de productos */
#encabMasPelis #zonaDeProds {display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1;}
#encabMasPelis #zonaDeProds {width: 100%; position: relative; padding: 0 10px;}

/* Productos - Comencemos */
#zonaDeProds #comencemos {position: absolute; translate: -50% -50%; left: 50%; top: 50%}
#zonaDeProds #comencemos {display: flex; flex-direction: column;}
#zonaDeProds #comencemos button {font-size: 1.2rem; font-weight: bold; padding: 10px; border-radius: 10px; margin: auto;}
#zonaDeProds #comencemos button#rojo {background: var(--rojo-claro); color: var(--rojo-oscuro); border-color: var(--rojo-oscuro);}
#zonaDeProds #comencemos button#verde {background: var(--verde-claro); color: var(--verde-oscuro); border-color: var(--verde-oscuro);}

/* Zona de vista */
#zonaDeProds #vistaProds {display: flex; flex-direction: row; overflow-y: auto;}
#zonaDeProds #vistaProds {max-width: 700px; width: 100%; height: 70vh; border-radius: 15px;}
#zonaDeProds #vistaProds {background: var(--celeste-claro); box-shadow: 0px 0px 10px rgb(100, 100, 100);}
#zonaDeProds #vistaProds #ppp {font-size: 1.25rem;}

/* Footer */
#encabMasPelis footer {align-self: stretch;}
