/* General */
#cuerpo #configCons {width: 220px;}
#cuerpo #configCons {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
#cuerpo #configCons {display: flex; flex-direction: column; }

#configCons * {font-size: 1rem;}
#configCons :is(select, input[type="text"]) {border-radius: 5px; border-width: 1px;}

/* Filtros Cabecera */
#configCons #configDeCabecera {background: var(--gris-oscuro); padding: 20px; display: flex; flex-direction: column;}
#configCons #configDeCabecera :is(select, option, input) {color: var(--azul-oscuro); background: var(--amarillo-claro);}
/* Filtros Cabecera - Nuevo Nombre */
#configDeCabecera #configNueva input {padding-left: 5px; height: 20.8px; width: 100%;}
#configDeCabecera #configNueva :not(:is(.nuevo, .edicion)) {display: none;}
/* Filtros Cabecera - Nombre Actual */
#configDeCabecera select {font-weight: bold;}
#configDeCabecera #iconos {justify-content: space-around; margin-top: 9px; width: 80%; align-self: center;}
#configDeCabecera #iconos i {cursor: pointer; color: snow;}

/* Filtros Campos */
#configCons #configsDeCampo {background: var(--gris-claro);}
#configCons #configsDeCampo {flex-grow: 1; height: 0; justify-content: flex-start;}
#configCons #configsDeCampo nav > * {order: 2;}
#configCons #configsDeCampo hr {border-top: var(--gris-oscuro) 1px dashed;}

/* Filtros Campos - Select e Input */
#configsDeCampo .pref {padding: 7.5px 20px;}
#configsDeCampo .pref#palabrasClave {padding-top: 10px; padding-bottom: 10px;}
#configsDeCampo :is(select, input) {width: 100%;}

/* Filtros - Campos - Select */
#configCons .pref select option {background: snow; color: var(--azul-oscuro);}
#configCons .pref select option[value=""] {display: block; font-style: italic;}

/* Filtros - Búsqueda */
#configCons #configsDeCampo #palabrasClave {position: relative; background-color: var(--verde-intermedio);}
#configCons #configsDeCampo #palabrasClave input {padding: 0px 4px; }
#configCons #configsDeCampo #palabrasClave i {position: absolute; right: 2px; translate: -20px -50%; top: 50%;}

/* Condicionales */
/* Oculta sectores según corresponda */
#configCons #configsDeCampo :is(.ocultarApMar, .ocultarCanons, .ocultarRolesIglesia) {display: none;}
/* Fondo verde y orden 1 a los sectores con elegibles elegidos */
#configCons #configsDeCampo .pref.contSelect:not(:has(select option[value=""]:checked)) {background: var(--verde-oscuro); order: 1;}
#configCons #configsDeCampo :is(#palabrasClave.verde) {background: var(--verde-oscuro); order: 1;}

/* Fondo verde a los elegibles elegidos */
#configCons #configsDeCampo .pref select:not(:has(option[value=""]:checked)) {background: var(--verde-oscuro); color: snow; font-weight: bold; border-color: transparent;}
