/* Filtros Campos */
#configCons #configCampos {background: var(--gris-claro);}
#configCons #configCampos {flex-grow: 1; height: 0; justify-content: flex-start;}
#configCons #configCampos hr {border-top: var(--gris-oscuro) 1px dashed; margin: 0;}

/* Filtros Campos - Contenedor de Select e Input */
#configCampos .pref {padding: 7.5px 20px;}
#configCampos .pref.ppp {background: var(--celeste-oscuro);}
#configCampos .pref.cfc {background: var(--amarillo-oscuro);}
#configCampos .pref.bhr {background: var(--verde-intermedio);}
#configCampos .pref#palabrasClave {padding-top: 10px; padding-bottom: 10px;}

/* Filtros Campos - Select e Input */
#configCampos .pref :is(select, input) {width: 100%;}

/* Filtros Campos - Select */
#configCampos .pref select option {background: snow; color: var(--azul-oscuro);}
option#sinFiltro {display: block; font-style: italic}
#configCampos .pref select:has(option[value=""]:checked) option[value=""] {display: none;}

/* Filtros - Búsqueda */
#configCampos #palabrasClave {position: relative; background-color: var(--verde-intermedio);}
#configCampos #palabrasClave input {padding: 0px 4px; }
#configCampos #palabrasClave i {position: absolute; right: 2px; translate: -20px -50%; top: 50%;}

/* Condicionales */
/* Fondo verde a los sectores con elegibles elegidos */
#configCampos :is(.pref.contSelect:not(:has(select option[value=""]:checked)), #palabrasClave.verde) {background: var(--verde-oscuro);}
/* Fondo verde a los elegibles elegidos */
#configCampos .pref select:not(:has(option[value=""]:checked)) {background: var(--verde-oscuro); color: snow; font-weight: bold; border-color: transparent;}

/* Carteles para mostrar/ocultar filtros */
#configCampos #mostrarOcultarFiltros {flex-grow: 1; justify-content: center; align-items: center;}
#configCampos #mostrarOcultarFiltros .pointer {padding: 10px 15px; border-radius: 10px; text-align: center;}
#configCampos #mostrarOcultarFiltros #mostrarFiltros {background: var(--azul-oscuro); color: snow;}
#configCampos #mostrarOcultarFiltros #ocultarFiltros {background: var(--rojo-oscuro); color: snow;}
#configCampos #mostrarOcultarFiltros span {font-weight: bold;}
