/* Zona de vista */
#zonaDeProds #vistaProds {border: green 1px solid; max-width: 700px; width: 100%; height: 500px;}
#zonaDeProds #vistaProds {display: flex; flex-direction: row; overflow-y: auto;}

/* Cuadro de Resultados */
#vistaProds #productos {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center;}
#vistaProds #productos {max-width: 100%;}

/* Botones para productos */
#productos li {padding: 20px; list-style-type: none}
#productos li a button {padding: 0; border-radius: 15px; overflow: hidden; height: 200px; width: 290px;}
#productos li a button {border: none; text-align: left; background: var(--celeste-oscuro);}
#productos li a button:hover {background: var(--azul-oscuro); color: var(--celeste-oscuro);}

/* Partes del resultado */
#productos button .imagenChica, #productos button #texto {height: 100%;}
#productos button #texto {display: flex; flex-direction: column; justify-content: space-between;}
#productos button #texto, #productos button #texto * {color: inherit;}
#productos button #infoPeli {margin: 10px 15px;}
#productos button .interlineadoChico {margin-top: 5px;}
