/* Resultados */
#vistaDeResults #botones {display: flex; flex-direction: row; justify-content: space-evenly;}
/* #vistaDeResults #botones.ocultar {display: none} */
#vistaDeResults #botones {width: 100%; padding: 0 10px;}

/* Botones para productos */
#botones li {list-style-type: none}
#botones li {margin: 15px 10px;}
#botones li button {padding: 0; border-radius: 15px; overflow: hidden; height: 200px; width: 290px;}
#botones li button {border-width: 1px; text-align: left; background: var(--celeste-oscuro);}
#botones li button:hover {background: var(--azul-oscuro); color: var(--celeste-oscuro);}
#botones li button:focus {box-shadow: 0 0 10px var(--azul-oscuro)}

/* Partes del resultado */
button .imagenChica {max-height: 100%; max-width: 140px; align-self: center}
button #informacion {justify-content: space-between; height: 100%; padding: 6px 0;}
button #informacion :is(#infoPeli, #infoRCLV) {padding: 0 15px;}
button #informacion :is(#infoPeli, #infoRCLV) .interlineadoChico:not(:first-child) {margin-top: 5px;}
button #informacion #infoPeli #nombreCastellano {font-weight: bold; font-style: italic;}
button:hover #informacion #infoPeli i#ppp {color: inherit;}