/* General */
#vistaProds #pelisPor {display: flex; flex-direction: column; justify-content: flex-start; align-items: center;}
#vistaProds #pelisPor.ocultar {display: none}
#vistaProds #pelisPor {padding: 30px; width: 100%;}
#vistaProds #pelisPor {
    --bordeInterno: 1px dotted var(--gris-oscuro);
    --bordeExterno: 2px solid var(--gris-oscuro)
}

/* Tabla */
#pelisPor table {border-collapse: collapse; width: 100%;}
#pelisPor table {line-height: 1; border-top-left-radius: 12px; border-top-right-radius: 12px; overflow: hidden;}
#pelisPor table {box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);}
#pelisPor table {margin-bottom: 30px;}

/* Título */
table caption {padding: 10px;}
table caption {background: var(--gris-oscuro); color: var(--amarillo-claro); }
table caption {font-size: 1.25rem; font-weight: bold;}

/* Celdas */
table tbody tr td {padding: 5px 10px;}
table tbody tr td:first-of-type {vertical-align: top;}
table tbody tr td:last-of-type i {font-size: 0.8rem; margin-left: 5px;}
table tbody tr.imparRCLV td {background: snow;}
table tbody tr.parRCLV td {background: var(--amarillo-claro);}
table tbody tr.parProd td:last-of-type {background: var(--gris-claro);}

/* Bordes */
table tbody tr td {border: var(--bordeInterno);}
table tbody tr {border-left: var(--bordeExterno); border-right: var(--bordeExterno);}
table tbody tr:last-of-type {border-bottom: var(--bordeExterno);}
