/* Resultados */
#vistaProds #productos {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: center;}
#vistaProds #productos.ocultar {display: none}
#vistaProds #productos {width: 100%; padding: 15px 0;}

/* Botones para productos */
#productos li {margin: 10px 0; list-style-type: none}
#productos li button {padding: 0; border-radius: 15px; overflow: hidden; height: 200px; width: 290px;}
#productos li button {border-width: 1px; text-align: left; background: var(--celeste-oscuro);}
#productos li button:hover {background: var(--azul-oscuro); color: var(--celeste-oscuro);}

/* Partes del resultado */
#productos li button .imagenChica {height: 100%;}
#productos li button #infoPeli {margin: 10px 15px; align-items: flex-start;}
#productos li button #infoPeli .interlineadoChico {margin-top: 5px;}
#productos li button #infoPeli #ppp {font-size: 1.25rem;}
