/* General */
#vistaProds #scroll {overflow-y: auto;}
#scroll #pelisPor {display: flex; flex-direction: column; justify-content: flex-start; align-items: center;}
#scroll #pelisPor.ocultar {display: none}
#scroll #pelisPor {padding: 0 30px; width: 100%;}
#scroll #pelisPor {
    --bordeInterno: 1px dotted var(--gris-oscuro);
    --bordeExterno: 2px solid var(--gris-oscuro)
}

/* Tabla */
#pelisPor table {border-collapse: collapse; width: 100%;}
#pelisPor table {line-height: 1; border-top-left-radius: 12px; border-top-right-radius: 12px; overflow: hidden;}
#pelisPor table {box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);}
#pelisPor table {margin-bottom: 30px;}

/* Título */
table caption {padding: 10px;}
table caption {background: var(--gris-oscuro); color: var(--amarillo-claro); }
table caption {font-size: 1.25rem; font-weight: bold;}

/* Columnas */
tbody tr td:first-of-type {vertical-align: top;} /* Primera columna */

/* Celdas - Color de fondo */
tbody tr.imparRCLV td {background: snow;}
tbody tr.parRCLV td {background: var(--amarillo-claro);}
tbody tr.parProd td:nth-child(n+1) {background: var(--gris-claro);}

/* Celdas - anchor y ppp */
tbody tr td a {padding: 5px 10px; line-height: 1; display: block; width: 100%;}
tbody tr td:has(i) {width: min-content; text-align: right;}
tbody tr td i {margin-left: 5px; margin-right: 10px; cursor: pointer;}

/* Bordes */
tbody tr td {border: var(--bordeInterno);}
tbody tr td:nth-last-child(2) {border-right: none;}
tbody tr td:nth-last-child(1) {border-left: none;}
tbody tr {border-left: var(--bordeExterno); border-right: var(--bordeExterno);}
tbody tr:last-of-type {border-bottom: var(--bordeExterno);}
