/* General */
#vistaProds #pelisPor {display: flex; flex-direction: column; justify-content: flex-start; align-items: center;}
#vistaProds #pelisPor.ocultar {display: none}
#vistaProds #pelisPor {padding: 15px 20px; width: 100%;}

/* Tabla */
#pelisPor table {margin: 0; border-collapse: collapse;}
#pelisPor table {box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);}

table {	
	font-size: 0.9rem;
	line-height: 0.9;
	border-radius: 15px;
	overflow: hidden;
}

/* Cuerpo de la Tabla */
table tbody {border-radius: 10px; overflow: hidden;}



/* Otra opción:
    border-collapse: collapse;
    border-spacing: 10px 5px; */

table {width: 100%;}

table th:nth-of-type(3) { width: 10%; }

table caption {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 1.5rem;
	color: midnightblue;
}

table thead tr {
	background-color: #009879;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.25;
}

table thead tr th {
	padding: 8px 10px;
}

table tbody tr {
	border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

table tbody tr td {
	padding: 10px 10px;
}
