/* Formato general del cartel */
#cartel {position: absolute; left: 50%; top: 50%; translate: -50% -50%; z-index: 12;}
#cartel {padding: 20px; border-radius: 15px; border: 6px double white;}
#cartel {width: max-content; min-width: 250px; max-width: 600px;}
#cartel {color: var(--gris-claro)}
#cartel {display: flex; flex-direction: column; align-items: center;}
#cartel.ocultar {display: none;}
#cartel {background: var(--rojo-oscuro);}
#cartel.check {background: var(--verde-oscuro);}
#cartel.trabajando {background: var(--azul-oscuro);}

/* Partes internas */
#cartel .inicio {font-size: 4rem; color: var(--amarillo-oscuro); margin-bottom: 40px;}
#cartel #titulo {margin-bottom: 15px; font-size: 1.5rem;}
#cartel #titulo:empty {margin: 0;}
#cartel #mensajes, #cartel #mensajes * {font-size: 1.2rem; line-height: 1.5;}
#cartel #mensajes {margin: 0 20px 40px; text-align: center;}
#cartel #mensajes li {text-align: left;}
#cartel #mensajes li i {margin-right: 10px; font-size: 1rem; line-height: normal;}
#cartel #mensajes li i.fa-circle {border: solid 1px transparent;}
#cartel #mensajes li i.fa-solid.fa-circle {color: var(--amarillo-oscuro);}
#cartel #mensajes span {font-weight: bold; font-style: italic;}

/* Botones 'Cancelar', 'Entendido' y 'Continuar' */
#cartel #flechasCartel { width: 45%; display: flex; flex-direction: row; justify-content: space-around;}
#cartel #flechasCartel * {border-radius: 50%;}
#cartel #flechasCartel a i {font-size: 2rem; cursor: pointer;}
/* Íconos de retroceder y avanzar */
#cartel #flechasCartel :where(.fa-circle-left) {color: var(--azul-oscuro);}
#cartel #flechasCartel :where(.fa-circle-right) {color: var(--verde-oscuro);}
/* Íconos especiales */
#cartel #flechasCartel :where(.fa-house, .fa-spell-check) {color: var(--azul-oscuro); background: snow; border: 1px solid snow;}
#cartel #flechasCartel :where(.fa-circle-info, .fa-thumbs-up) {color: var(--amarillo-oscuro);}

/* Tapar el fondo */
main #cuerpoFooter #tapar-el-fondo {position: absolute; left: 0px; top: 0px; z-index: 10;}
main #cuerpoFooter #tapar-el-fondo {background: var(--gris-claro); opacity: 70%; height: 100%; width: 100%;}
