/* Comandos y Flechas */
#comandos, #flechas {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#comandos, #flechas {margin: 0 auto; padding: 5px 0px; border-radius: 18px;}
#comandos i, #flechas i {font-size: 1.75rem; background-color: var(--gris-claro); border: none;}
#flechas i, #flechas img, #flechas a, #flechas button,
#comandos i, #comandos button, #comandosRechazar i {margin: 0 15px; border-radius: 50%; cursor: pointer;}
#comandos .pack, #flechas .pack {margin: 0 20px;}
#comandos button i, #flechas a i, #flechas button i {margin: 0;}

/* Flechas */
#flechas {background-color: var(--backFlechas); border: 2px solid var(--bordeFlechas);}
#flechas button {border: none;}
#flechas .fa-circle-left, #flechas .fa-circle-right {color: var(--bordeFlechas); border: none;}
#flechas .pack i {margin: 0;}

/* Comandos */
#comandos {background-color: var(--backComandos); border: 2px solid var(--bordeFlechas);}
#comandos i {color: white; }
#comandos .pack {display: flex; flex-direction: row; align-items: center;}
