/* General */
#datosBreves {display: flex; flex-direction: column; justify-content: center; align-self: center;}
#datosBreves {border: var(--gris-oscuro) 3px solid; margin: 0;}
#datosBreves {padding: 20px; border-radius: 15px; background: snow;}
#datosBreves {max-width: 18vw; width: 220px; min-width: 14vw;}
#datosBreves {max-height: 80vh;}

/* Títulos */
#datosBreves h3 {background: var(--gris-oscuro); color: snow;}
#datosBreves h3 {padding: 3px; border-radius: 10px; text-align: center;}
#datosBreves h3:nth-child(n+2) {margin-top: 20px;}

/* Gráfico */
#datosBreves #calificacionesResultados {text-align: center}

/* Texto */
#datosBreves #texto {margin: 0 5px;}
#datosBreves #texto p {margin-top: 10px;}
#datosBreves #texto p.status span {padding: 2px 5px; margin-left: 2px; border-radius: 5px; font-weight: bold;}
#datosBreves #texto p#status1 span {background: var(--verde-claro); color: var(--verde-oscuro);}
#datosBreves #texto p#status2 span {background: var(--verde-oscuro); color: snow;}
#datosBreves #texto p#status3 span {background: var(--rojo-oscuro); color: snow;}
