#cuerpo {background-color: transparent;}

/* Temas generales del formulario */
#cuerpo #dataEntry {margin: auto; padding: 30px 40px; border-radius: 20px;}
#cuerpo #dataEntry {display: flex; flex-direction: column;}
#cuerpo #dataEntry {background-color: var(--gris-claro);border: var(--gris-oscuro) 7px solid; box-shadow: 0px 0px 10px rgb(100, 100, 100);}

/* Temas generales de dataEntry */
#dataEntry #datos {display: flex; flex-direction: row; justify-content: space-between;}
#dataEntry #primeraCol {margin-right: 70px; width: 193px;}
#dataEntry #segundaCol {display: flex; flex-direction: column; width: 206px;}
#dataEntry h4 {line-height: 1; font-weight: normal;}
#dataEntry .altoFila {height: 25px;}
#dataEntry .flexRowAlign {display: flex; flex-direction: row; align-items: center;}

/* Temas particulares de dataEntry */
#dataEntry .flexRowAlign input[type='checkbox'] {margin-right: 5px;}
#dataEntry .flexRowAlign .izquierda {margin-right: 5px;}
#dataEntry .flexRowAlign .derecha {margin-left: 15px;}
#dataEntry .inputError .errores {left: -5px; translate: -100% -50%; right: auto;}
#dataEntry input[type="radio"], #dataEntry input[type="checkbox"] {scale: .8;}
#dataEntry input[type="radio"] {margin-right: 3px;}
#dataEntry select {border-width: .7px; border-radius: 5px; background-color: white;}
#dataEntry .borderTop {margin-top: 15px; padding-top: 10px; border-top: solid 1px gray;}
#dataEntry .margenBottomTitulo {margin-bottom: 5px;}
/* Quitar flechas del input - Chrome, Safari, Edge, Opera */
/* #dataEntry input[type='number']::-webkit-outer-spin-button,  */
/* #dataEntry input[type='number']::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;} */
/* Quitar flechas del input - Firefox */
/* #dataEntry input[type='number'] {-moz-appearance: textfield;}  */
#dataEntry input, #dataEntry #posiblesRepetidos {border-width: .7px; border-radius: 5px; background-color: white;}
#dataEntry #datos #valoresNombre .input {padding-left: 5px; margin-left: 7px; width: 100%;}
#dataEntry #datos #valoresFecha a {margin-left: 10px; border-radius: 50%; position: relative; width: 20px; height: 20px; overflow: hidden; border: 1px dotted var(--gris-oscuro);}
#dataEntry #datos #valoresFecha a img {position: absolute; object-fit: contain; height: 100%; width: 100%;}
#dataEntry #datos .input.angosto {width: 50px; margin-left: 5px; text-align: center;}
#dataEntry #segundaCol #repetidos {display: flex; flex-direction: column; flex-grow: 1;}
#dataEntry #segundaCol #anosHechos {display: flex; flex-direction: column; width: 100%;}
#dataEntry #preguntas select {width: 144px;}
#dataEntry #preguntas .siNo {width: 70px; justify-content: space-between;}
#dataEntry #preguntas #sexo_id div {margin-right: 12px;}
#dataEntry #preguntas .ocultar, #dataEntry #preguntas .ocultarPorAno, #dataEntry #preguntas .ocultarPorRCLI {display: none;}

/* Temas específicos de dataEntry - Posibles Repetidos */
#dataEntry #posiblesRepetidos {border: 1px var(--azul-oscuro) solid; margin-top: 5px; display: flex; flex-direction: column; padding: 5px; overflow-y: auto; overflow-x: hidden; height: 100%;}
#dataEntry #posiblesRepetidos li {list-style-position: outside; padding: 3px 0; display: flex; flex-direction: row;}
#dataEntry #posiblesRepetidos li input {margin-right: 5px;}
#dataEntry .sinCasos {justify-content: center; align-items: center; color: var(--verde-oscuro); font-weight: bold;}

/* Submit button */
#dataEntry .flechas {margin-top: 20px;}
#dataEntry .flechas .flechaSinLink {color: var(--celeste-oscuro); cursor: default;}
#dataEntry .flechas i {font-size: 1.5rem;}
/* #dataEntry .flechas i {color: var(--gris-oscuro)} */
