/* Entidades */
main #familias {display: flex; flex-direction: row; justify-content: space-around; padding: 40px 0px 20px 0px;}

/* Bloques */
main #familias .bloques:nth-child(n+2) {margin-top: 20px;}

/* Bloques - Título */
.bloques .tituloSecundario {position: relative; min-width: 270px;}
.bloques .tituloSecundario h2 {padding: 5px 15px; border-radius: 15px; text-align: center; background-color: var(--verde-oscuro); color: var(--gris-claro);}
.bloques .tituloSecundario .ayudaMostrar p {margin-bottom: 3px;}
