/* Entidades */
main #familias {display: flex; flex-direction: row; justify-content: space-around; padding: 40px 0px 20px 0px;}

/* Bloques */
main #familias .bloques:nth-child(n+2) {margin-top: 20px;}

/* Bloques - Título */
.bloques .tituloSecundario {position: relative; min-width: 270px;}
.bloques .tituloSecundario h2 {padding: 5px 15px; border-radius: 15px; text-align: center;}
.bloques .tituloSecundario .ayudaMostrar p {margin-bottom: 3px;}
#cuerpo:has(.revisionEnts) .bloques .tituloSecundario h2 {background: var(--verde-oscuro); color: var(--gris-claro);}
#cuerpo:has(.mantenimiento) .bloques .tituloSecundario h2 {background: var(--marron); color: var(--gris-claro);}

/* Bloques - Registros */
.bloques .temas {padding: 0 10px 0 18px;}
.bloques .temas h3 {margin: 10px 0 2px;}
.bloques .temas h3 span {left: -18px}
.bloques .temas h3 span i {font-size: .9rem;}
.bloques .temas .despliega {transform-origin: top; scale: 1 0}

/* Scroll */
#primeraColumna .temas {max-height: 60vh; overflow-y: auto;}
#segundaColumna #rclv .temas {max-height: 30vh; overflow-y: auto;}
#segundaColumna #links .temas {max-height: 30vh; overflow-y: auto;}
