<header>
	<!-- Home y Agregar -->
	<section>
		<!-- Home -->
		<div class="grupos">
			<a href="/"><i id="home-icono" class="fas fa-home scale"></i></a>
			<%- include("1-MenuHome") %>
		</div>
		<!-- Crear/Menú de Película -->
		<div class="grupos">
			<% if (typeof detalle != "undefined") { %>
				<i id="pelis-icono" class="fas fa-video"></i>
				<%- include("2-MenuPelis") %> <% } else { %>
			<div id="pelis-icono" class="scale">
				<a href="/producto/agregar/palabras-clave">
					<i class="fas fa-video"></i>
					<i id="plus">+</i>
				</a>
			</div>
			<% } %>
		</div>
		<!-- Búsqueda rápida -->
		<div id="busquedaRapida" class="grupos">
			<i class="fas fa-search scale"></i>
			<div id="hallazgos">
				<%- include("3-QuickSearch") %>
			</div>
		</div>
	</section>
	<!-- Título del Encabezado -->
	<p>Evangelicemos la Cultura</p>
	<section>
		<!-- Música de fondo -->
		<div class="grupos">
			<i id="musica-icono" class="fas fa-music scale"></i>
			<audio src="/audio/Música-de-fondo.mp3"></audio>
		</div>
		<!-- Usuario -->
		<div class="grupos"><%- include("4-MenuUsuario") %></div>
	</section>
</header>
