<header>
    <!-- TÍTULO DE LA PESTAÑA -->
    <title><%= titulo %></title>

    <!-- TÍTULO DE LA PÁGINA -->
    <a href="/"><p>El Consejero Católico</p></a>

    <!-- LOGO DEL USUARIO -->
    <%- include("usuario") %> 

    <!--LOGO DE PELÍCULAS -->
    <% if (titulo.slice(0,9) == "Películas") { %> 
        <a href="/peliculas"><i class="fas fa-video rubro"></i></a>
    <% } %> 

    <!-- MÚSICA DE FONDO PARA ECC -->
    <!--<a href="/audio/Música-de-fondo.mp3" target="framename"><i class="fas fa-music"></i></a>-->
    <!--<audio autoplay src="/audio/Música-de-fondo.mp3"></audio>-->
</header>