<div id="menu-rubro" class="dropdown-content">
  <a href="/home">Home</a>
  <a href="/peliculas">Películas</a>
  <a href="/quienes-somos">Quiénes Somos</a>
  <a href="/contactanos">Contáctanos</a>
  <a href="/copyright">Sobre los Derechos de Autor de Terceros</a>
</div>