<div id="menu-rubro" class="dropdown-content">
  <a href="/peliculas">Inicio</a>
  <a href="/nosotros">Acerca de Nosotros</a>
  <a href="/historia">Nuestra Historia</a>
  <a href="/contactanos">Contactanos</a>
  <a href="/copyright">Derechos de Autor de Terceros</a>
  <a href="https://www.vaticannews.va/es.html">Grupo ELC</a>
</div>