<div id="menu-rubro" class="dropdown-content">
  <a href="/home">Inicio de ELC</a>
  <a href="/peliculas">Inicio de Películas</a>
  <a href="/nosotros">Acerca de Nosotros</a>
  <a href="/historia">Nuestra Historia</a>
  <a href="/contactanos">Contactanos</a>
  <a href="/copyright">Derechos de Autor de Terceros</a>
</div>