<div id="menu-rubro" class="dropdown-content">
	<a href="/peliculas">Inicio</a>
	<hr class="linea_divisoria">
	<a href="/nosotros">Acerca de Nosotros</a>
	<a href="#">Nuestra Historia</a>
	<a href="#">Nuestra política sobre <i class="far fa-copyright"></i></a>
	<hr class="linea_divisoria">
	<a href="#">Contactanos</a>
	<hr class="linea_divisoria">
	<a href="#">Grupo ELC</a>
</div>