<div id="menu-pelis" class="dropdown-content">
    <a href="/home">Home ELC</a>
    <a href="/peliculas">Home Películas</a>
    <a href="/nosotros">Acerca de Nosotros</a>
    <a href="/historia">Nuestra Historia</a>
    <a href="/contactanos">Contáctenos</a>
    <a href="/copyright">Sobre los Derechos de Autor de Terceros</a>
  </div>