<!-- Logo de Home -->
<section>
	<i id="home-icono" class="fas fa-home centradoVertical"></i>
	<%- include("menuHome") %>
</section>
<!-- Logo de Crear/Menú de Película -->
<section>
	<% if (typeof detalle != "undefined") { %>
		<i id="pelis-icono" class="fas fa-video centradoVertical"></i>
		<%- include("menuPelis") %> 
	<% } else { %>
		<div  id="pelis-icono" class="centradoVertical">
			<a href="/agregar/productos/palabras-clave">
				<i class="fas fa-video"></i>
				<i id="plus">+</i>
			</a>
		</div>
	<% } %>
</section>
<!-- Título del Encabezado -->
<section>
	<p><a>Evangelicemos la Cultura</a></p>
</section>
<!-- Música de fondo -->
<section>
	<i id="musica-icono" class="fas fa-music centradoVertical"></i>
	<audio src="/audio/Música-de-fondo.mp3"></audio>
</section>
<!-- Logo de usuario o Avatar -->
<section>
	<%- include("menuUsuario") %>
</section>
