<!-- Etiquetas Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Recomendación de películas centradas en la Fe Católica y/o con valores">
<meta name="keywords" content="peliculas catolicas, peliculas con valores, películas cristianas, peliculas religiosas, peliculas">
<meta name="copyright" content="ELC">

<!-- NORMALIZE    --><link rel="stylesheet" href="/publico/formatos/0-Compartido/Normalize.css">
<!-- Font Awesome --><link rel="stylesheet" href="/publico/formatos/fontawesome-free-6.1.1-web/css/fontawesome.css">
<!-- Font Awesome --><link rel="stylesheet" href="/publico/formatos/fontawesome-free-6.1.1-web/css/solid.css">
<!-- Font Awesome --><link rel="stylesheet" href="/publico/formatos/fontawesome-free-6.1.1-web/css/regular.css">

<!-- FONTS--><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap">
<!-- Título en la pestaña --><title><%= locals.titulo ? titulo : locals.informacion && informacion.titulo ? informacion.titulo: "Error" %></title>
<!-- Logo en la pestaña --><link rel="icon" href="/publico/imagenes/Varios/Institucional-Imagen.jpg">

<!-- ESTILOS PERSONALIZADOS-->
<link rel="stylesheet" href="/publico/formatos/0-Compartido/0-Body.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Clases.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Tags.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Animaciones.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Colores.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Fonts.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Z-Index.css">
<!-- Header -->
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Header/0-Header.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Header/Iconos.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Header/Menus.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Header/QuickSearch.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Header/0-HR-MediaQuerie.css">
<!-- Main -->
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-0Main.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-Titulos.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-ErroresAyuda.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-TodoElMain.css">
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-Videos.css">
<!-- <link rel="stylesheet" href="/publico/formatos/0-Compartido/imprimir.css" media="print">-->

<!-- Scripts -->
<script src="/publico/javascript/0-Compartido/QuickSearch.js"></script>
<script src="/publico/javascript/0-Compartido/ClickMostrar.js"></script>
<script src="/publico/javascript/0-Compartido/Funciones.js"></script>
<script src="/publico/javascript/0-Compartido/Videos.js"></script>
<!-- <script src="/publico/javascript/0-Compartido/Musica.js"></script> -->

<!-- Scripts y Estilos Personalizados -->