<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('CMP-1Head-Generico') %>
		<%- include('CMP-1Head-Pers') %>
	</head>
	<body>
		<header><%- include('CMP-0Header') %></header>
		<main><%- include('CMP-2Main') %></main>
	</body>
</html>