<section id="cuerpoFooterImgDer">
	<div id="cuerpoFooter">
		<div id="cuerpo">
			<%- include("FM-Detalle") %>
		</div>
		<%- include('CMP-4Footer') %>
	</div>
	<%- include("CMP-3ImgDer-2Pers") %>
</section>
