<% if (mostrar) { %>
	<!-- Footer -->
	<footer>
		<p><a href="/institucional/quienes-somos" tabindex="-1">Quiénes Somos</a></p>
		<p>Año <%= anoELC %> - Versión <%= versionELC %></p>
	</footer>
<% } %>
