<div id="imgDerecha">
	<img src="<%= imgDerPers %>">
	<% if (tema == "prodRud" && codigo == "detalle") { %><%- include('PR1-Detalle-2Links') %><% } %>
	<div id="sectorIconos">
		<%- include("Iconos-5Mobile") %>
	</div>
</div>
