<div class="menuOpciones menuFondo ocultar">
	<a href="/">
		<div class="flex-row align-center">
			<div class="icono"><i class="fa-solid fa-house"></i></div>
			<div>Inicio</div>
		</div>
	</a>
	<hr>
	<a href="/quienes-somos">
		<div class="flex-row align-center">
			<div class="icono"><i class="fa-solid fa-people-group"></i></div>
			<div>Quiénes somos</div>
		</div>
	</a>
	<a href="#">
		<div class="flex-row align-center inactivo">
			<div class="icono"><i class="fa-solid fa-person-walking"></i></div>
			<div>Nuestra Historia</div>
		</div>
	</a>
	<hr>
	<a href="#">
		<div class="flex-row align-center inactivo">
			<div class="icono"><i class="fa-solid fa-copyright"></i></div>
			<div>Nuestra política sobre copyright</div>
		</div>
	</a>
	<a href="#">
		<div class="flex-row align-center inactivo">
			<div class="icono"><i class="fa-solid fa-film"></i></div>
			<div>Nuestro perfil de películas</div>
		</div>
	</a>
	<hr>
	<a href="#">
		<div class="flex-row align-center inactivo">
			<div class="icono"><i class="fa-solid fa-envelope"></i></div>
			<div>Contactanos</div>
		</div>
	</a>
	<hr>
	<a href="#">
		<div class="flex-row align-center ">
			<div class="icono" id="ELC">ELC</div>
			<div>Grupo ELC</div>
		</div>
	</a>
</div>
