/* Cuerpo */
#cuerpoFooter #cuerpo {
	flex-direction: column;
	#cuadroDeTexto {
		--escala: 1; scale: var(--escala);
		--anchoMax: 85%; max-width: calc(var(--anchoMax) / var(--escala));
		border: 2px solid var(--azul-frances); border-radius: 20px; box-shadow: 0px 0px 20px var(--azul-oscuro);
		display: flex; flex-direction: column; background: var(--gris-claro);
		margin: auto; padding: 30px;
		width: max-content;  max-height: 90%;
		&:not(:has(form)) {padding-right: 15px;}
		#contenido {
			overflow-y: auto; padding-right: 15px; padding-bottom: 1px;
			.iconos {margin: 20px 0 0; display: none;}
		}

		/* CUADRO DE TEXTO - TEXTO */
		.bloque:nth-child(n+2) {margin-top: 15px;}
		.bloque :where(p, ul li) {margin-top: 8px; font-size: 1.1rem; color: var(--marron);}
		.bloque ul ul li {margin-top: 2px;}

		/* Iconos */
		& > .iconos {margin: 30px 0 10px; padding-right: 15px;} /* Iconos en 'cuadro de texto' */
		.iconos {
			display: none; flex-direction: row; justify-content: space-evenly; align-items: baseline;
			i {font-size: 2rem;}
		}

		/* Miscelaneas */
		& > div {
			&::-webkit-scrollbar {outline: transparent;}
			&::-webkit-scrollbar-track {background: var(--gris-intermedio); border-radius: 10px; border-left: 5px;}
			&::-webkit-scrollbar-thumb {background: var(--gris-oscuro); border-radius: 10px;}
		}

	}
}

/* Miscelaneas */
mark {background: var(--marron); color: snow; border-radius: 5px; padding: 0 5px; font-weight: bold;}
