/* Laptop */
@media (orientation: landscape) and (height > 600px) {#cuerpo #cuadroDeTexto {scale: 1.2;}}

/* Parado */
@media (orientation: portrait) {#cuerpoFooter {z-index: 1;}}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	#cuerpo #cuadroDeTexto {
		padding-block: 25px 15px !important;
		form .iconos {margin-top: 15px !important;}
	}

	#cuerpo #tituloPrincipal {display: none;}
}
