<div class="flechas">
	<% if (anterior) { %>
		<a href="/institucional/<%= anterior %>">
			<i class="fa-solid fa-circle-left" tabindex="-1" title="Anterior"></i>
		</a>
	<% } %>
	<% if (posterior) { %>
		<a href="/institucional/<%= posterior %>">
			<i class="fa-solid fa-circle-right" tabindex="-1" title="Posterior"></i>
		</a>
	<% } %>
</div>
