<!-- Zona de Vitreaux -->
<%- include("CMP-Vitreaux") %>

<!-- Zona de Bienvenida -->
<div id="zona-de-bienvenida" class="flexCol">
	<div id="cartelBienvenida">
		<h1>¡Bienvenido a nuestro sitio de <span>Recomendación de Películas</span>!</h1>
		<p>Te vamos a ayudar a:</p>
		<ul type="dots">
			<li>Ver una película relacionada con la Fe Católica y/o con Valores.</li>
			<li>Agregar a nuestro catálogo las que no tengamos.</li>
		</ul>
		<p id="menuCapacitac">
			Si es la primera vez que ingresás, te recomendamos 
			<span id="introduccion" class="menuOpcion pointer">ver este video orientador</span>
		</p>
	</div>
	<div id="botones" class="flexRow">
		<a href="/consultas">
			<button class="pointer">
				<img src="/imagenes/0-Base/Inicio/Movie.jpg">
				<p>Quiero <span>elegir</span> una<br>película</p>
			</button>
		</a>
		<a href="/institucional/quienes-somos">
			<button class="pointer">
				<img src="/imagenes/0-Base/Varios/Institucional-Imagen.jpg">
				<p>Un paseo <span>institucional</span><br>por nuestro sitio</p>
			</button>
		</a>
	</div>
</div>
