<!-- Zona de Vitreaux -->
<%- include("CMP-Vitreaux") %>

<!-- Zona de Bienvenida -->
<div id="zona-de-bienvenida" class="flexCol">
	<div id="cartel">
		<h1>¡Bienvenidos a nuestro sitio de <span>Recomendación de Películas</span>!</h1>
		<p>A través de nuestro sitio podrás:</p>
		<ul type="dots">
			<li>Disfrutar viendo una película que te deje algo bueno en tu interior.</li>
			<li>Difundir películas con ese perfil ingresándolas a nuestro sitio.</li>
		</ul>
	</div>
	<div id="botones" class="flexRow">
		<a href="/consultas">
			<button class="pointer">
				<img src="/imagenes/0-Base/Inicio/Movie.jpg">
				<p>Quiero <span>elegir</span> una<br>película</p>
			</button>
		</a>
		<a href="/institucional/quienes-somos">
			<button class="pointer">
				<img src="/imagenes/0-Base/Varios/Institucional-Imagen.jpg">
				<p>Un paseo <span>institucional</span><br>por nuestro sitio</p>
			</button>
		</a>
	</div>
</div>
