<!-- Quiénes Somos -->
<div class="bloque">
	<h2>Quiénes Somos</h2>
	<ul type="dots">
		<li>Somos un equipo de personas laicas, con un sacerdote asesor.</li>
		<li>Todos profesamos nuestra fe en la Iglesia <b>Católica Apostólica Romana</b>.</li>
		<li>Queremos contribuir a <mark>Evangelizar la Cultura (ELC)</mark> con valores cristianos.</li>
		<li>Con este proyecto, lo hacemos difundiendo el buen cine alineado a ese fin.</li>
	</ul>
</div>
