<!-- Quiénes Somos -->
<div class="bloque">
	<ul type="dots">
		<li>Somos un equipo en formación, de personas laicas con un sacerdote asesor.</li>
		<li>Todos profesamos nuestra fe en la Iglesia <b>Católica Apostólica Romana</b>.</li>
		<li>Queremos contribuir a que <mark>Evangelicemos la Cultura (ELC)</mark> con valores cristianos.</li>
		<li>Con este proyecto, lo hacemos difundiendo el cine alineado a ese fin.</li>
	</ul>
</div>
