<!-- En qué consiste -->
<div class="bloque">
	<h2>En qué consiste este sitio</h2>
	<ul type="dots">
		<li>Somos <b>facilitadores</b> entre el <em>espectador</em> y quien <em>ofrece</em> la película.</li>
		<ul>
			<li><b>Orientamos</b> al usuario sobre qué película ver.</li>
			<li><b>Vinculamos</b> a sitios donde se pueden ver.</li>
		</ul>
		<li>Con tu usuario podés <b>personalizar</b> tus preferencias sobre las películas.</li>
	</ul>
</div>
