<!-- En qué consiste -->
<div class="bloque">
	<h2>En qué consiste este sitio</h2>
	<ul type="dots">
		<li><b>Orientamos</b> al usuario sobre qué película ver, afín a nuestro perfil.</li>
		<ul>
			<li>Nos especializamos en orientarlo con criterios simples, sin abrumar.</li>
			<li>También ofrecemos opciones y filtros para enfocar la búsqueda.</li>
		</ul>
		<li><b>Vinculamos</b> a sitios donde se pueden ver esas películas.</li>
		<ul>
			<li>Las películas se ven en los sitios a los que vinculamos, no en el nuestro.</li>
			<li>Sólo vinculamos a sitios con políticas de respeto a los Derechos de Autor.</li>
		</ul>
		<li>En tu usuario podés <b>personalizar</b> tus preferencias sobre las películas.</li>
		<ul>
			<li>Marcarlas como <em>para ver</em>, <em>ya la vi</em>, <em>no me interesa</em>.</li>
			<li>Calificarlas.</li>
		</ul>
	</ul>
</div>
<!-- Por qué -->
<div class="bloque">
	<h2>Por qué informamos links a otros sitios</h2>
	<ul type="dots">
		<li>Nuestra función es <b>vincular</b> al <em>espectador</em> con quien <em>ofrece ver</em> la película.</li>
		<li>Somos <b>facilitadores</b> entre ambos.</li>
	</ul>
</div>
