<div class="bloque">
	<h2>Perfil de las películas afines a nuestro sitio</h2>
	<ul type="dots">
		<li>Relacionadas con la <b>Iglesia Católica</b> y/o con algún <b>valor</b> positivo.</li>
		<li>Además:</li>
		<ul>
			<li>Sin <em>violencia</em> explícita e innecesaria para la trama.</li>
			<li>Sin <em>sensualidad</em> vulgar e innecesaria para la trama.</li>
		</ul>
	</ul>
</div>
<div class="bloque">
	<h2>Política de Data-Entry</h2>
	<ul type="dots">
		<li>Nuestra base de datos de información, es enriquecida por <b>aportes de los usuarios</b>.</li>
		<ul type="dots">
			<li><b>Revisamos</b> esta información antes de hacerla pública.</li>
			<li>Mediante mail, le damos <b>feedback</b> al usuario sobre la revisión.</li>
		</ul>
		<li>Para cada usuario, llevamos una estadística de sus aportes revisados.</li>
		<li>A mayor nivel de aprobación, mayor libertad tendrá para ingresarnos información.</li>
	</ul>
</div>
