<div class="bloque">
	<h2>Características de las películas afines a nuestro sitio</h2>
	<ul type="dots">
		<li>Relacionadas con la <b>Iglesia Católica</b> y/o con algún <b>valor</b> positivo.</li>
		<li>Sin <em>violencia</em> explícita e innecesaria para la trama.</li>
		<li>Sin <em>sensualidad</em> vulgar e innecesaria para la trama.</li>
	</ul>
</div>
