<div class="bloque">
	<h2>Perfil de las películas afines a nuestro sitio</h2>
	<ul type="dots">
		<li>Relacionadas con la <b>Iglesia Católica</b> y/o con algún <b>valor</b> positivo.</li>
		<li>Sin <em>violencia</em> explícita e innecesaria para la trama.</li>
		<li>Sin <em>sensualidad</em> vulgar e innecesaria para la trama.</li>
	</ul>
</div>
<div class="bloque">
	<h2>Política de Data-Entry</h2>
	<ul type="dots">
		<li>Nuestra base de datos de información, es enriquecida por <b>aportes de los usuarios</b>.</li>
		<ul type="dots">
			<li>Pueden <b>ingresar</b> películas y <b>editar</b> su información.</li>
			<li><b>Revisamos</b> esta información antes de hacerla pública.</li>
			<li>Mediante mail, le damos <b>feedback</b> al usuario sobre la revisión.</li>
		</ul>
		<li>Para cada usuario, llevamos una estadística de sus aportes aprobados y rechazados.</li>
		<ul>
			<li>Esto impacta en la <b>confianza</b> que tenemos en él.</li>
			<li>A mayor confianza, mayor libertad tendrá para ingresarnos información.</li>
		</ul>
	</ul>
</div>
