<div class="menuOpciones menuFondo ocultar">
	<!-- Agregar un producto -->
	<a href="/producto/agregar/confirma">
		<div class="flex-row align-center">
			<div class="icono"><i class="fa-solid fa-plus"></i></div>
			<div>Agregar un producto</div>
		</div>
	</a>
	<!-- Buscar productos sin links gratuitos -->
	<a href="#">
		<div class="flex-row align-center inactivo">
			<div class="icono"><i class="fa-solid fa-link"></i></div>
			<div>Productos sin links gratuitos</div>
		</div>
	</a>
	<!-- Revisiones -->
	<% if (locals.usuario && locals.usuario.rol_usuario.revisor_ents) { %>
		<hr>
		<a href="/revision/tablero-de-control">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-check"></i></div>
				<div>Revisar entidades</div>
			</div>
		</a>
	<% } %>
</div>