/* GENERAL */
#login {position:absolute; margin:0; height:100%; width:100%;z-index: 1;}
#login {justify-content:center; align-items: center;}

/* TAPAR EL FONDO */
#login #tapar-el-fondo {background-color:var(--gris-claro); opacity:70%;height:100%; width:100%;}
#login #tapar-el-fondo {position: absolute;left:0px;top:0px}

/* GENERAL DEL FORMULARIO */
#login form {background-color:var(--azul-frances); border-radius: 20px;}
#login form {padding: 20px;z-index: 2;align-items: stretch;}

/* PARTES DEL FORMULARIO */
#login form p {color: var(--amarillo-claro);margin-bottom: 10px;}
#login form p {font-weight: bold; font-size: 1.1em; text-align: center;}

#login form section div {padding: 5px 0px;}
#login form section label, #login form section input {padding: 3px 10px;margin-top: 10px;}
#login form section label {color: white;font-size: 1em;}
#login form section input {border: none;}
#login form section select {padding: 1px 5px;margin-top: 10px;}
#login form section input[type="file"] {color:white;padding: 0px 0px;}

/* BOTONES */
#login form #buttons {margin-top: 20px;}
#login form #buttons div {justify-content: space-evenly;}
#login form #buttons div {padding-left: 0px; padding-right: 0px;}
#login form #buttons div.margen-bottom-adicional {margin-bottom: 5px;}
#login form #buttons div button {padding: 2px 5px; margin-left: 5px; margin-right: 5px;}
#login form #buttons div button {font-size: 14px;font-weight: bold;color:white;}
#login form #buttons div button {border: solid 2px var(--amarillo-claro); background-color: var(--rojo);}
#login form #buttons div button[type="submit"] {background-color: var(--verde);}

#login form #buttons div button#registrarse {background-color: var(--azul);}
