/* CUADRO DE TEXTO - CUADRO */
#cuerpo-listado {justify-content:center;align-items: center;}
#cuerpo-listado #cuadro-de-texto {
    padding: 30px;
    border: 2px solid var(--azul-frances);
    background-color: var(--gris-claro);
    border-radius: 20px;
    width: 70%;
    box-shadow: 0px 0px 20px var(--azul);
}

/* CUADRO DE TEXTO - TEXTO */
#cuerpo-listado #cuadro-de-texto * {color:rgb(102,51,0);}
#cuerpo-listado #cuadro-de-texto h1, #cuerpo-listado #cuadro-de-texto h2 {font-size: 1.2rem;color:var(--azul);margin-bottom: 5px;}
#cuerpo-listado #cuadro-de-texto h2 {margin-top: 15px;}
#cuerpo-listado #cuadro-de-texto ul {margin-left: 20px;}
#cuerpo-listado #cuadro-de-texto ul li {margin-bottom: 5px;font-size: 1.1rem;}
