<form action="/registro" method="POST" class="flex-col">
    <h1><%= titulo %></h1>
    <section id="completar" class="flex-row"><!--Formulario a completar-->
        <div class="flex-col"><!--Labels-->
            <label for="nombre">Nombre</label>
        </div>
        <div class="flex-col"><!--Inputs-->
            <input type="text" name="nombre" placeholder="Nombre">
        </div>
    </section>
    <section id="buttons"><!--Buttons-->
        <div class="flex-row">
            <button type="submit">Enviar</button>
            <button onclick="retroceder()" type="button">Cancelar</button>
        </div>
    </section>
</form>
