<section id="Form" class="flex-col">
	<p id="tapar-el-fondo"></p>
	<form id="data_entry" action="<%= link %>" method="POST">
		<h1>Registro de Mail</h1>
		<section class="label-input flex-row">  <!--E-Mail-->
			<div class="form-grupo">
				<input type="text" class="input" name="email" placeholder="Ingresá tu Correo Electrónico" value="" autofocus>
				<% if (locals.errores && errores.email) { %><i class="fas fa-times-circle"><span class="mensajeError"><%= errores.email.msg %> </span></i><% } %>
			</div>
		</section>
		<section id="buttons" class="flex-row"><!--Botones-->
			<button type="submit">Aceptar</button>
			<a href="/"><button type="button">Cancelar</button></a>
		</section>
	</form>
</section>
