<form action="<%= link %>" method="POST">
    <h1><%= titulo %></h1>
    <!--Mail y Contraseña-->
    <section class="label-input flex-row">  <!--Mail-->
        <div class="formulario-grupo">
            <input type="text" class="input" name="email" placeholder="Ingresá tu Correo Electrónico"
                value="<%= locals.data_entry ? data_entry.email : "" %>">
            <% if (locals.errores && errores.email) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.email) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
    </section>
    <div class="flex-col">  <!--Error en el mail-->
        <% if (locals.errores && errores.email) { %>
            <p class="criterio error"><%= errores.email.msg %></p>
        <% } %>    
    </div>
    <section id="buttons" class="flex-row"><!--Botones-->
        <button type="submit">Aceptar</button>
        <button onclick="retroceder()" type="button">Cancelar</button>
    </section>
</form>   
