<section id="login" class="flex-col">
    <p id="tapar-el-fondo"></p>
    <form action="<%= link %>" method="POST" class="flex-col">
        <h1><%= titulo %></h1>
         <!--Mail y Contraseña-->
        <section class="flex-col">   <!--Mail y Contraseña-->
            <div class="formulario-grupo flex-col">  <!--Mail-->
                <input type="email" name="email" placeholder="Dirección de mail">
                <% if (titulo == "Registro") { %>
                    <% if (locals.errores) { %>
                        <% if (errores.email) { %>
                            <p class="criterio input-error"><%= errores.email.msg %></p>
                            <i class="fas fa-times-circle"></i>
                        <% } else { %>
                            <i class="fas fa-check-circle"></i>
                        <% } %>
                    <% } else { %>
                        <br>
                    <% } %>
                <% } %>
            </div>
            <div class="formulario-grupo flex-col">  <!--Contraseña-->
                <input type="password" name="contrasena" placeholder="Contraseña">
                <% if (titulo == "Registro") { %>
                    <% if (locals.errores) { %>
                        <% if (errores.contrasena) { %>
                            <p class="criterio input-error"><%= errores.contrasena.msg %></p>
                            <i class="fas fa-times-circle"></i>
                        <% } else { %>
                            <i class="fas fa-check-circle"></i>
                        <% } %>
                    <% } else { %>
                        <p class="criterio">Debe ser de 6 a 12 caracteres</p>
                    <% } %>
                <% } %>
            </div>
        </section>
        <section>   <!--Credenciales Inválidas-->
            <% if (titulo == "Login" && locals.errores && (errores.email || errores.contrasena)) { %>
                <p class="criterio input-error">Credenciales inválidas</p>
            <% } %>
        </section>
        <section id="buttons"><!--Botones-->
            <div class="flex-row">
                <button type="submit">Aceptar</button>
                <% if (titulo == "Login") { %><a href="/registro" ><button type="button" id="registrarse">No estoy registrado</button></a><% } %>
                <% if (titulo == "Registro") { %><button type="button">Cancelar</button><% } %>
            </div>
            <div class="flex-row">
                <% if (titulo == "Login") { %>
                    <button type="button">Cancelar</button>
                    <a href="#"><button type="button">Olvidé mi contraseña</button></a>
                <% } %>
            </div>
        </section>
    </form>   
</section>