#dataEntry {background-color: var(--verde-claro); border: var(--verde-oscuro) 7px solid; max-width: 80%; position: relative;}

#dataEntry h2 {background-color: var(--verde-oscuro);}
#dataEntry #gracias {position: absolute; right: 30px; width: 150px; border-radius: 10px;}

#dataEntry li {color: var(--verde-oscuro);}
#dataEntry ul {margin: 10px 0 30px; padding-left: 20px;}
#dataEntry ul li {margin-top: 10px; font-size: 1.1rem;}
#dataEntry ul li#partesAutomatico {border: 1px solid var(--verde-oscuro); width: fit-content; padding: 1px 5px; background-color: var(--verde-oscuro); color: var(--verde-claro);}
#dataEntry ul li ol {padding-left: 30px;}
#dataEntry ul li ol li {margin-top: 2.5px; font-size: 1rem;}

#dataEntry button, #dataEntry input[type="submit"] {max-width: 140px;}
