/* Formato general del cartel */
#cartel {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 11;}
#cartel {padding: 20px; border-radius: 15px;}
#cartel {color: white; border: 6px double white; background-color: var(--rojo-oscuro);}
#cartel {display: none;}

/* Alineación interna */
#cartel {display: flex; flex-direction: column; align-items: center; max-width: 500px;}

/* Partes internas */
#cartel .fa-triangle-exclamation {font-size: 4rem; color: var(--amarillo-oscuro);}
#cartel #mensaje {margin: 40px 20px; text-align: center; font-size: 1.2rem; line-height: 1.5;}
#cartel #mensaje span {font-weight: bold; font-style: italic; color: var(--amarillo-oscuro); font-size: inherit; line-height: inherit;}

/* Botones 'Cancelar', 'Entendido' y 'Continuar' */
#cartel #flechas { width: 45%; display: flex; flex-direction: row; justify-content: space-around;}
#cartel #flechas a {border-radius: 50%;}
#cartel #flechas a i {color: white; font-size: 2rem; border-radius: 50%; cursor: pointer; padding: 7px;}

/* Botón Entendido */
#cartel #flechas i.fa-thumbs-up {color: white;background-color: transparent; border: none;}