<section id="login" class="flex-col">
    <p id="tapar-el-fondo"></p>
    <form action="/" method="POST" class="flex-col">
        <p>INGRESÁ</p>
        <section class="flex-col"> <!--Mail y Contraseña-->
            <input type="email" name="email" placeholder="Dirección de mail" required>
            <input type="password" name="contrasena" placeholder="Contraseña" required>
        </section>

        <section id="buttons"><!--Botones-->
            <div class="flex-row margen-bottom-adicional">
                <button type="submit">Aceptar</button>
                <a href="/registro" ><button id="registrarse" type="button">No estoy registrado</button></a>
            </div>
            <div class="flex-row">
                <a href="#"><button type="button">Olvidé mi contraseña</button></a>
                <button type="reset">Borrar</button>
            </div>    
        </section>
    </form>   
</section>