<section id="sinopsis" class="labelInput">
	<div class="inputError">
		<textarea name="sinopsis" class="input" placeholder="Ingresá acá la sinopsis"><%= registro.sinopsis %></textarea>
		<%- include("MN-Errores", {nombre: "sinopsis", ocultarOK: true}) %>

		<!-- Aviso de cambio en el data-entry -->
		<i class="<%= iconos.faSolid %> <%= iconos.edicionCambiada %> ocultar"></i>
	</div>
</section>
