<%- include('0-Head') %>
<body>
	<%- include('1-Header') %>
	<main class="flex-row">
		<section id="imagen-derecha">
		<img alt="Introduzca aquí la imagen" src="/images/0-Base/Sin película.jpg" title="Introduzca aquí la imagen">
		</section>
		<section id="main-y-footer" class="flex-col grow border">
			<%- include('3-Footer') %>
			<!--**************************** CUERPO ************************-->
