#dataEntry {width: 683px;}

/* Encabezado del formulario */
#dataEntry #titulos {display: flex; justify-content: space-between;}
#dataEntry #titulos h1 {margin-top: 0;}
#dataEntry #titulos #links, 
#dataEntry #segundaColumna {display: flex; flex-direction: column; align-items: center; width: 200px;}

#dataEntry #titulos #links nav {display: flex; flex-direction: row; justify-content: space-around; width: 100%;}
#dataEntry #titulos #links nav a.logos {width: 30px; height: 30px; position: relative; }
#dataEntry #titulos #links nav a.logos img {width: 100%; height: 100%; position: absolute; object-fit: contain; border-radius: 8px;}

/* Cuerpo del formulario */
#dataEntry #datos {display: flex; flex-direction: row; justify-content: space-between;}
#dataEntry #datos {margin-top: 10px;}
#dataEntry #datos #primeraColumna {display: flex; flex-direction: column;}
#dataEntry .labelInput, #dataEntry #paises_id {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#dataEntry .labelInput, #dataEntry #paises_id {margin-top: 2px; margin-bottom: 2px;}
#dataEntry .labelInput label {margin-right: 10px;}

/* Partes específicas del formulario */
#dataEntry h1 {margin-bottom: 15px;}
#dataEntry .inputError :is(input.input, select[name="idiomaOriginal_id"], textarea) {width: 200px;}
#dataEntry .inputError select[name="idiomaOriginal_id"]:has(option[value=""]:checked) {color: var(--gris-oscuro);}
#dataEntry .inputError :is(input.input, textarea) {padding: 0px 5px;}
#dataEntry .inputError input.input.angosto {width: 90px;}
#dataEntry .inputError textarea {padding: 0px 5px; resize:vertical; max-height: 45px; min-height: 18px;}

/* Temas de input 'número' */
#dataEntry .inputError #numero {width: 90px; text-align: right;}
/* Quitar flechas del input - Chrome, Safari, Edge, Opera */
#dataEntry .inputError #numero::-webkit-outer-spin-button,
#dataEntry .inputError #numero::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
/* Quitar flechas del input - Firefox */
#dataEntry .inputError #numero[type=number] {-moz-appearance: textfield;}

/* País */
#dataEntry #paises_id {height: 19px;}
#dataEntry #paises_id .inputError {width: 200px;}
#dataEntry #paises_id .inputError input,
#dataEntry #paises_id .inputError select {position: absolute; top:0; transform: translateY(-50%); height: 18px;}
#dataEntry #paises_id .inputError #mostrarPaises {width: 180px; border-top-right-radius: 0; border-bottom-right-radius: 0; padding: 0 5px;}
#dataEntry #paises_id .inputError select {width: 100%; padding: 0;}

/* Imagen de la película */
#dataEntry #segundaColumna {height: 100%; justify-content: center;}
#dataEntry #segundaColumna img {height: 100%; width: 100%; object-fit: contain; border-radius: 30px;}

/* Flechas */
#dataEntry .flechas {margin-top: 20px; display: flex; flex-direction: row;}
#dataEntry .flechas button {background: transparent; border: none; padding: 0; border-radius: 50%;}

