/* Información */
#datosLargos #recuadro {max-width: 45vw;}
#recuadro #contenido {justify-content: space-around;}
#contenido #informacion {margin: 0 40px;}

/* Información - Datos Detalle */
#contenido #datosDetalle {margin-top: 10px;}

/* Botones */
#contenido #botones {margin: 40px 40px 30px; justify-content: space-around;}

/* Links */
#contenido #links {border-radius: 15px; border: var(--azul-oscuro) 1px solid; background: var(--amarillo-claro);}
#contenido #links {margin: 25px 0; padding: 15px 20px;}
#contenido #links {max-height: 150px; overflow-y: overlay;}

