/* Marco - Particularidades */
.marco#calificaciones {padding: 10px 25px; text-align: right;}
.marco#calificaciones h4 {width: 90px; margin-right: 10px;}
.marco#calificaciones > div:first-child {margin-top: 15px;}
.marco#calificaciones > div {margin-bottom: 15px; min-height: 20px;}
.marco#calificaciones > div:nth-child(3) {margin-bottom: 0;}
.marco#calificaciones div select {width: 168px; border-radius: 5px;}
