<section id="cuerpo-listado" class="flex-col grow"><!--LISTADO DE RUBROS-->
    <div id="cuadro-de-texto" class="flex-col">

        <h1>Quiénes Somos</h1>
        <ul>
            <li>Somos un equipo de personas laicas que pertenecemos a la Iglesia Católica Apostólica Romana, y que queremos contribuir a evangelizar la cultura.</li>
            <li>Necesitamos enriquecer el contenido de nuestra página con el conocimiento que nos puedan aportar nuestros usuarios.</li>
        </ul>

        <h2>Nuestra Misión</h2>
        <ul>
            <li>Brindar material edificante a quienes buscan vivir su fe católica con más devoción.</li>
            <li>Ayudar al "productor" de medios apostólicos, a dar a conocer sus obras respetando los derechos de autor.</li>
        </ul>

        <h2>Visión que tenemos</h2>
        <ul>
            <li>Que la relación con Dios sea natural en nuestra cultura.</li>
            <li>Que los laicos católicos afiancemos nuestro arraigo en Cristo.</li>
        </ul>
    </div>
</section>