<div id="home-menu" class="dropdown-content ocultar">
	<a href="/">Inicio</a>
	<hr>
	<a href="/nosotros">Quiénes somos</a>
	<a href="#">Nuestra Historia</a>
	<hr>
	<a href="#">Nuestra política sobre <i class="far fa-copyright"></i></a>
	<a href="#">Nuestro perfil de películas</a>
	<hr>
	<a href="#">Contactanos</a>
	<hr>
	<a href="#">Grupo ELC</a>
</div>
