<!-- Se crea el sector donde están el input y los resultados -->
<div class="menuOpciones ocultar">
	<input type="text" placeholder="Escribí más de 3 letras">
	<div id="displayResultados" class="ocultar"></div>
	<div id="escribiMas" class="ocultar">Por favor escribí algo más...</div>
</div>
