<div id="producto-menu" class="dropdown-content ocultar">
	<% if (entidad=="peliculas") { %>
		<a href="#">
			<div class="flex-row">
				<i class="fas fa-file-download"></i>
				<div>
					Convertila en un 
					<br>
					Capítulo de Colección
				</div>
			</div>
		</a>
		<hr>
		<% } %>
	<% if (entidad=="capitulos") { %>
		<a href="#">
			<div class="flex-row">
				<i class="fas fa-file-upload"></i>
				<div>
					Convertilo en una Película
					<br>
					y quitalo de la Colección
				</div>
			</div>
		</a>
		<hr>
	<% } %>
	<a href="#">
		<i class="fas fa-trash-alt"></i>
		Sugerí dar<%= (entidad=="capitulos" ? "lo" : "la") %> de baja
	</a>
	<hr>
	<a href="#">
		<div class="flex-row">
			<i class="fas fa-envelope"></i>
			<div>
				Hacenos un comentario
				<br>
				privado sobre est<%= (entidad=="capitulos" ? "e capítulo" : "a " + (entidad=="peliculas" ? "película" : "colección")) %>
			</div>
		</div>
	</a>
</div>
