<div class="menuOpciones menuFondo ocultar">
	<!-- Agregar un producto -->
	<a href="/producto/agregar/confirma">
		<div class="flex-row align-center">
			<div class="icono"><i class="fa-solid fa-plus"></i></div>
			<div>Agregar un producto</div>
		</div>
	</a>
	<!-- Buscar productos sin links gratuitos -->
	<a href="#">
		<div class="flex-row align-center inactivo">
			<div class="icono"><i class="fa-solid fa-up-right-from-square"></i></div>
			<div>Buscar productos sin links gratuitos</div>
		</div>
	</a>
	<!-- Revisiones -->
	<% if (locals.usuario && locals.usuario.rol_usuario.aut_gestion_prod) { %>
		<hr>
		<a href="/revision">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-check"></i></div>
				<div>Revisar entidades</div>
			</div>
		</a>
	<% } %>
</div>