<div id="icono-usuario" class="scale">
	<% if (locals.usuario) { %>
		<% if (usuario.avatar!="-") { %>
			<div id="imagenUsuario">
				<img src="/imagenes/1-Usuarios/<%= usuario.avatar %>" class="iconoMenu">
			</div>
		<% } else if (usuario.nombre != null) { %>
			<i id="letraInicial">
				<%= usuario.nombre.slice(0,1).toUpperCase() %>
			</i>
		<% } else { %>
			<i class="fa-solid fa-circle-user iconoMenu"></i>
		<% } %>
	<% } else { %>
		<i class="fa-solid fa-circle-question iconoMenu"></i>
	<% } %>
</div>
<div id="menu-usuario" class="menuOpciones menuFondo ocultar">
	<% if (locals.usuario) { %>
		<a href="/usuarios/detalle">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-user"></i></div>
				<div>Mi usuario</div>
			</div>
		</a>
		<a href="#">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-chart-bar"></i></div>
				<div>Mis estadísticas</div>
			</div>
		</a>
		<hr />
		<a href="/usuarios/logout">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-right-from-bracket"></i></div>
				<div>Logout</div>
			</div>
		</a>
	<% } else { %>
		<a href="/usuarios/login">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-right-to-bracket"></i></div>
				<div>Login</div>
			</div>
		</a>
		<a href="/usuarios/mail">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-user-plus"></i></div>
				<div>Registrarse</div>
			</div>
		</a>
	<% } %>
</div>
