<div class="menuOpciones menuFondo ocultar" id="menu-usuario">
	<% if (locals.usuario) { %>
		<a href="/usuarios/detalle">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-user"></i></div>
				<div>Mi usuario</div>
			</div>
		</a>
		<a href="#">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-chart-bar"></i></div>
				<div>Mis estadísticas</div>
			</div>
		</a>
		<hr />
		<a href="/usuarios/logout">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-right-from-bracket"></i></div>
				<div>Logout</div>
			</div>
		</a>
	<% } else { %>
		<a href="/usuarios/login">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-right-to-bracket"></i></div>
				<div>Login</div>
			</div>
		</a>
		<a href="/usuarios/mail">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-user-plus"></i></div>
				<div>Registrarse</div>
			</div>
		</a>
	<% } %>
</div>
