/* General */
#cuerpo {
	flex-direction: column;
	#centro {
		display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex-grow: 1;

		/* Zona de gráficos */
		#zonaDeGraficos {
			display: flex; flex-direction: row; justify-content: center; align-items: center; flex-grow: 1;
			height: 100%;

			#cuadro {
				display: flex; flex-direction: column; justify-content: center; align-items: center;
				width: 100%; max-width: 700px;
				height: min(450px, calc(var(--alturaViewPort) * 0.7));
				max-height: 100%;
				border-radius: 15px; background: var(--celeste-claro);
				#grafico {width: 100%; height: 100%; border-radius: 15px; overflow: hidden;}
			}
		}
	}
}
