/* Laptop */
@media (orientation: landscape) and (height > 600px) {
			/* Zona de Vitreaux */
	#cuerpo #centro {
		#zonaDeVitreaux {display: flex; flex-direction: column; justify-content: center;}
		#zonaDeGraficos {
			padding: 20px 50px;
			#cuadro {padding: 30px 20px;}
		}
	}

}

/* Ambos */
@media ((orientation: landscape) and (height > 600px) and (width <= 900px)) or (orientation: portrait) {
}
@media (orientation: portrait), (orientation: landscape) and (height <= 600px) {
	#cuerpo #centro #zonaDeVitreaux {display: none;}
}

/* Parado */
@media (orientation: portrait) {
	body {--anchoImgDer: 100vw;}
	#cuerpoFooter {position: absolute; height: 100%;}
	#cuerpoFooter #cuerpo {
		width: 100vw !important; max-width: 100vw;
		#centro {width: 90%; align-self: center;}
	}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px)  {
	#cuerpo {
		#tituloPrincipal #titulo {font-size: 1rem; padding: 4px 5px;}
		#centro #zonaDeGraficos {
			padding: 0px 30px;
			#cuadro {padding: 15px 20px;}
		}
	}
}
