<!-- Zona de Vitreaux -->
<%- include("CMP-Vitreaux") %>

<!-- Zona de Bienvenida -->
<div id="zonaDeBienvenida">
	<div id="cartelBienvenida">
		<h1>¡Bienvenido a nuestro sitio de <span>Recomendación de Películas</span>!</h1>
		<p>Es ideal para ver una película relacionada con la <b>Fe Católica</b> y/o con <b>Valores</b>.</p>
		<p>Además, podés agregar a nuestro catálogo las que no tengamos.</p>
		<p id="menuCapacitac">
			Si no conocés el sitio, te recomendamos
			<span id="introduccion" class="menuOpcion pointer">ver este video orientador</span>
		</p>
	</div>
	<div id="botones">
		<a href="/consultas">
			<button class="pointer">
				<img src="/publico/imagenes/Inicio/Movie.jpg">
				<p>Quiero <span>elegir</span> una<br>película</p>
			</button>
		</a>
		<a href="/institucional/quienes-somos">
			<button class="pointer">
				<img src="/publico/imagenes/Varios/Institucional-Imagen.jpg">
				<p>Un paseo <span>institucional</span><br>por nuestro sitio</p>
			</button>
		</a>
	</div>
</div>
