<!-- Nuestra Política -->
<div class="bloque">
	<h2>Derechos de Autor (DA)</h2>
	<ul type="dots">
		<li>Nuestro sitio contiene enlaces (links) a sitios web externos.</li>
		<ul>
			<li>Esos sitios son responsables de su contenido en todo momento.</li>
			<li>Sólo vinculamos a sitios con políticas <em>explícitas</em> de respeto a los DA.</li>
			<li>Damos de baja los links que nos enteramos que no los respetan.</a></li>
		</ul>
		<li>Podés descargar nuestra política en forma más detallada, haciendo click <a href="/publico/descargas/RespetoDerechosAutor.pdf" download><u>aquí</u></a>.</li>
		<li>Declaración de respeto a los DA de los portales de <em>subida libre</em> a los que vinculamos:</li>
	</ul>
	<div id="logosPortales" class="flexRow">
		<!-- Portales -->
		<% for (let linkProv of linksProvs.filter(n => n.urlCopyright)) { %>
			<a href="//<%= linkProv.urlCopyright %>" tabindex="-1" target='_blank'>
				<img src="/publico/imagenes/Logos-provs/<%= linkProv.avatar %>" title="<%= linkProv.nombre %>">
			</a>
		<% } %>
	</div>
</div>
