/* General */
main {overflow-y: hidden; display: flex; flex-direction: row-reverse;}
main{--anchoImgDer: 32vw}
main #cuerpoFooter {display: flex; flex-grow: 1; flex-direction: column-reverse;}

/* Imagen Derecha */
main #imgDerecha {display: flex; flex-direction: column; justify-content: center;}
main #imgDerecha img {max-width: var(--anchoImgDer); max-height: var(--altMain);}

/* Cuerpo */
main #cuerpoFooter #cuerpo {display: flex; flex-grow: 1; position: relative;}

/* Footer */
main #cuerpoFooter footer {display: flex; flex-direction: row; justify-content: space-around;}
main #cuerpoFooter footer {padding: .25em 5px; border-top: 2px solid var(--azul-frances);}
main #cuerpoFooter footer {font-family: var(--Calibri); font-size: 16px; font-weight: bold;}
main #cuerpoFooter footer p {line-height: 1;}
