/* Entidades */
main #familias {display: flex; flex-direction: row; justify-content: space-around; padding: 40px 0px 20px 0px;}

/* Bloques */
main #familias .bloques:nth-child(n+2) {margin-top: 20px;}

/* Bloques - Título */
.bloques {max-width: 30vw;}
.bloques .tituloSecundario {position: relative;}
.bloques .tituloSecundario h2 {padding: 5px 15px; border-radius: 15px; text-align: center;}
.bloques .tituloSecundario .ayudaMostrar p {margin-bottom: 3px;}
#cuerpo:has(.revisionEnts) .bloques .tituloSecundario h2 {background: var(--verde-oscuro); color: var(--gris-claro);}
#cuerpo:has(.mantenimiento) .bloques .tituloSecundario h2 {background: var(--marron); color: var(--gris-claro);}
#cuerpo:has(.revisionUs) .bloques .tituloSecundario h2 {background: var(--gris-oscuro); color: var(--gris-claro);}

/* Bloques - Registros */
.bloques .temas {padding: 0 10px; width: 385px; max-width: 100%}
.bloques .temas h3 {margin: 10px 0 2px;}
.bloques .temas .bloqueRegistros {overflow-y: hidden;}

/* Scroll */
#primeraColumna .temas {max-height: 60vh; overflow-y: auto;}
#segundaColumna .temas:not(:has(#grafico)) {max-height: 30vh; overflow-y: auto;}
#segundaColumna:has(#linksHD) .temas {max-height: 20vh;}

/* Particulares */
#porcentajeLinksAprobsEstaSem {position: absolute; right: 10px; top: 50%; translate: 0 -50%; color: var(--gris-claro);}