/* Formato general del cartel */
main .cartelCentro {width: max-content; min-width: 250px; max-width: min(600px, 95vw);}
main .cartelCentro {max-height: 95%; color: var(--gris-claro)}
main .cartelCentro {padding: 20px; border-radius: 15px; border: 6px double white;}
main .cartelCentro {background: var(--rojo-oscuro);}
main .cartelCentro.check {background: var(--verde-oscuro);}
main .cartelCentro.trabajando {background: var(--azul-oscuro);}

/* Partes internas */
.cartelCentro .inicio {font-size: 4rem; color: var(--amarillo-oscuro);}
.cartelCentro .inicio {margin-bottom: 40px;}
.cartelCentro #titulo {margin-bottom: 15px; font-size: 1.5rem;}
.cartelCentro #titulo:empty {margin: 0;}

/* Mensajes */
.cartelCentro #mensajes {margin-inline: 20px;}
.cartelCentro #mensajes li {text-align: left; line-height: 1.2; color: var(--celeste-claro);}
.cartelCentro #mensajes > li {font-size: 1.2rem;}
.cartelCentro #mensajes > li:nth-child(n+2) {margin-top: 6px;}
.cartelCentro #mensajes li :is(ul, ol) {padding-left: 10px;}
.cartelCentro #mensajes li :is(ul, ol) li {font-size: 1.15rem; margin-top: 3px;}
.cartelCentro #mensajes li b {color: var(--amarillo-oscuro);}
.cartelCentro #mensajes li em {color: var(--rojo-claro);}
.cartelCentro #mensajes li i {margin-right: 10px; font-size: 1rem; line-height: normal;}
.cartelCentro #mensajes li i.fa-circle {border: solid 1px transparent;}
.cartelCentro #mensajes li i.fa-solid.fa-circle {color: var(--amarillo-oscuro);}
.cartelCentro #mensajes span {font-weight: bold; font-style: italic;}

/* Botones 'Cancelar', 'Entendido' y 'Continuar' */
.cartelCentro #iconosCartel {display: flex; flex-direction: row; justify-content: space-around;}
.cartelCentro #iconosCartel {width: 45%; margin-top: 40px;}
.cartelCentro #iconosCartel * {border-radius: 50%;}
.cartelCentro #iconosCartel *:focus {outline: none;}
.cartelCentro #iconosCartel a i {font-size: 2rem;}
/* Íconos de retroceder y avanzar */
.cartelCentro #iconosCartel :where(.fa-circle-left) {color: var(--azul-oscuro);}
.cartelCentro #iconosCartel :where(.fa-circle-right) {color: var(--verde-oscuro);}
/* Íconos especiales */
.cartelCentro #iconosCartel :where(.fa-house, .fa-spell-check) {color: var(--azul-oscuro); background: snow; border: 1px solid snow;}
.cartelCentro #iconosCartel :where(.fa-circle-info, .fa-thumbs-up, .fa-pen) {color: var(--amarillo-oscuro);}

/* Particularidades de cartelGenerico */
#cartelGenerico:not(:has(#titulo:empty)) .inicio {margin-bottom: 0;}
#cartelGenerico #contenedorMensajes {padding-block: 10px}
#cartelGenerico #contenedorMensajes {max-height: 50svh; overflow-y: auto; scrollbar-width: none;}

/* Particularidades de cartelProgreso */
#cartelProgreso #contorno {border: solid 1px var(--amarillo-claro); height: 18px; width: 200px;}
#cartelProgreso #contorno {border-radius: 10px; overflow: hidden;}
#cartelProgreso #contorno #progreso {background: var(--amarillo-claro); width: 0; height: 100%;}

/* Media Query */
@media (orientation: portrait) {
	.cartelCentro .inicio {margin-bottom: 20px;}
	.cartelCentro #iconosCartel {margin-top: 20px;}
	.cartelCentro #mensajes {margin-inline: 10px;}
	#cartelGenerico #contenedorMensajes {max-height: 50svh;}
}
@media (height <= 350px) {
	/* Encabezado */
	.cartelCentro .inicio {margin-bottom: 5px;}
	#cartelGenerico #check {display: none;}
	#cartelGenerico #titulo {margin-top: 0; margin-bottom: 5px;}
	#cartelGenerico #iconosCartel {margin-top: 5px;}

	#cartelGenerico #contenedorMensajes {padding: 0;}
	.cartelCentro #mensajes {margin-top: 10px;}
}
