/* Formato general del cartel */
main .cartelCentro {
	width: max-content; min-width: 250px; max-width: min(600px, 95vw);
	max-height: 95%; color: var(--gris-claro);
	padding: 20px; border-radius: 15px; border: 6px double white;
	background: var(--rojo-oscuro);
	&.check {background: var(--verde-oscuro);}
	&.trabajando {background: var(--azul-oscuro);}

	/* Partes internas */
	.inicio {
		font-size: 4rem; color: var(--amarillo-oscuro);
		margin-bottom: 40px;
	}
	#titulo {margin-bottom: 15px; font-size: 1.5rem;}
	#titulo:empty {margin: 0;}

	/* Mensajes */
	#mensajes {
		margin-inline: 20px;
		& > li {
			font-size: 1.2rem;
			&:nth-child(n+2) {margin-top: 6px;}
		}
		li {
			text-align: left; line-height: 1.2; color: var(--celeste-claro);
			& :is(ul, ol) {
				padding-left: 10px;
				li {font-size: 1.15rem; margin-top: 3px;}
			}
			& b {color: var(--amarillo-oscuro);}
			& em {color: var(--rojo-claro);}
			& i {
				margin-right: 10px; font-size: 1rem; line-height: normal;
				&.fa-circle {border: solid 1px transparent;}
				&.fa-solid.fa-circle {color: var(--amarillo-oscuro);}
			}
		}
		span {font-weight: bold; font-style: italic;}
	}

	/* Botones 'Cancelar', 'Entendido' y 'Continuar' */
	#iconosCartel {
		display: flex; flex-direction: row; justify-content: space-around;
		width: 45%; margin-top: 40px;
		* {
			border-radius: 50%;
			&:focus {outline: none;}
		}
		a i {font-size: 2rem;}

		/* Íconos de retroceder y avanzar */
		:where(.fa-circle-left) {color: var(--azul-oscuro);}
		:where(.fa-circle-right) {color: var(--verde-oscuro);}

		/* Íconos especiales */
		:where(.fa-house, .fa-spell-check) {color: var(--azul-oscuro); background: snow; border: 1px solid snow;}
		:where(.fa-circle-info, .fa-thumbs-up, .fa-pen) {color: var(--amarillo-oscuro);}
	}
}

/* Particularidades de cartelGenerico */
#cartelGenerico {
	&:not(:has(#titulo:empty)) .inicio {margin-bottom: 0;}
	#contenedorMensajes {max-height: 50vh; padding-block: 10px; overflow-y: auto; scrollbar-width: none;}

}

/* Particularidades de cartelProgreso */
#cartelProgreso #contorno {
	border: solid 1px var(--amarillo-claro); height: 18px; width: 200px; border-radius: 10px; overflow: hidden;
	#progreso {background: var(--amarillo-claro); width: 0; height: 100%;}
}

/* Parado */
@media (orientation: portrait) {
	.cartelCentro {
		.inicio {margin-bottom: 20px;}
		#iconosCartel {margin-top: 20px;}
		#mensajes {margin-inline: 10px;}

	}
	#cartelGenerico #contenedorMensajes {max-height: 50svh;}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	/* Encabezado */
	.cartelCentro {
		.inicio {margin-bottom: 5px;}
		#mensajes {margin-top: 10px;}
	}
	#cartelGenerico {
		#check {display: none;}
		#titulo {margin-top: 0; margin-bottom: 5px;}
		#iconosCartel {margin-top: 5px;}
		#contenedorMensajes {padding: 0;}
	}
}
