#datosBreves {
	display: flex; flex-direction: column; justify-content: center; height: 100%;

	#recuadroDB {
		display: flex; flex-direction: column; justify-content: flex-start;
		border: var(--gris-oscuro) 3px solid; margin: 0;
		padding: 20px; border-radius: 15px; background: snow;
		max-width: var(--datosBreves); width: max-content; max-height: 80%;

		h3 {
			background: var(--gris-oscuro); color: snow; border-radius: 10px;
			padding: 3px 5px; text-align: center;  text-wrap: balance;
			&:nth-child(n+2) {margin-top: 20px;}
		}

		#calificacionesResultados {text-align: center}

		#texto {
			margin: 0 5px;
			p {
				margin-top: 10px;
				&.status span {padding: 2px 5px; margin-left: 2px; border-radius: 5px; font-weight: bold;}
			}
			&:has(#creado, #creadoAprob, #recuperar) p.status span {background: var(--verde-claro); color: var(--verde-oscuro);}
			&:has(#inactivar) p.status span {background: var(--rojo-claro); color: var(--rojo-oscuro);}
			&:has(#aprobado) p.status span {background: var(--verde-oscuro); color: snow;}
			&:has(#inactivo) p.status span {background: var(--rojo-oscuro); color: snow;}
		}
	}
}
