/* General */
main {height: var(--altMain);}
main {overflow-y: hidden; display: flex; flex-direction: row;}
main {--anchoImgDer: 32vw}

main #cuerpoFooterImgDer {display: flex; flex-direction: row; flex-grow: 1;}
#cuerpoFooterImgDer #cuerpoFooter {display: flex; flex-direction: column; flex-grow: 1;}

/* Cuerpo */
#cuerpoFooter #cuerpo {display: flex; flex-grow: 1; position: relative;} /* 23.6px es la altura del footer */

/* Footer */
#cuerpoFooter footer {display: flex; flex-direction: row; justify-content: space-around;}
#cuerpoFooter footer {padding: .25em 5px; border-top: 2px solid var(--azul-frances);}
#cuerpoFooter footer {font-family: var(--Calibri); font-size: 16px; font-weight: bold;}
#cuerpoFooter footer p {line-height: 1;}

/* Imagen Derecha */
#cuerpoFooterImgDer #imgDerecha {display: flex; flex-direction: column; justify-content: center;}
#cuerpoFooterImgDer #imgDerecha img {max-width: var(--anchoImgDer); max-height: var(--altMain);}
