/* General */
main {height: var(--altoMain);}
main {display: flex; flex-direction: row; overflow-y: hidden; position: relative;}
#cuerpoFooterImgDer, #cuerpoFooter, #cuerpoFooter #cuerpo {display: flex; flex-grow: 1; position: relative;}

/* Tapar el fondo */
main #todoElMain {position: absolute; left: 0px; top: 0px; height: 100%; width: 100%;}
main #tapaElFondo {position: absolute;} /* Hace falta cuando está sólo en el cuerpo, sin la imagen derecha */
main #tapaElFondo {background: var(--gris-claro); opacity: 70%; height: 100%; width: 100%;}

/* Consolidado, Cuerpo y Footer */
main #cuerpoFooterImgDer {flex-direction: row;}
#cuerpoFooterImgDer #cuerpoFooter {flex-direction: column;}
#cuerpoFooter #cuerpo {max-height: var(--altoCuerpo);}

/* Imagen Derecha */
#cuerpoFooterImgDer #imgDerecha {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#imgDerecha img {max-width: var(--anchoImgDer); max-height: var(--altoMain);}
