/* Botones */
#sectorIconos {display: flex; flex-direction: row; justify-content: space-around;}
#sectorIconos .iconos {margin: 0; display: flex; flex-direction: row; align-items: center;}

/* Iconos */
.iconos {display: flex; flex-direction: row;}
.iconos {margin: 0 auto; padding: 5px 5px; border-radius: 18px;}
.iconos {background: var(--backFlechas); border: 2px solid var(--bordeFlechas);}
.iconos i, .iconos img, .iconos a, .iconos button {font-size: 1.75rem; background: transparent; border: none;}
.iconos :where(i, img, button) {margin: 0 10px; border-radius: 50%; cursor: pointer;}
.iconos button :is(i) {margin: 0;}
.iconos .pack :where(i, img, button) {margin: 0 5px;}
.iconos .pack {margin: 0 5px; display: flex; flex-direction: row; align-items: center;}
.iconos .fa-circle-left, .iconos .fa-circle-right {color: var(--bordeFlechas); border: none;}
.iconos button, .iconos a {display: flex; flex-direction: row; align-items: center; height: min-content;}

/* Cambios de status */
#cambioStatus :is(.fa-circle-check, .fa-circle-xmark) {color: var(--azul-oscuro)}
.iconos#cambioStatus:not(:has(i)) {display: none}
