/* Formato del título */
:is(#cuerpo, #edicCuerpo) #tituloPrincipal #titulo {background: var(--backTitulo); color: var(--colorTitulo);}
:is(#cuerpo, #edicCuerpo) #tituloPrincipal #titulo {border-width: 2px; border-style: solid; border-color: transparent var(--bordeTitulo) var(--bordeTitulo) transparent}
:is(#cuerpo, #edicCuerpo) #tituloPrincipal #titulo {font-size: 1.25rem;font-family: var(--Arial); font-weight: bold;}
:is(#cuerpo, #edicCuerpo) #tituloPrincipal #titulo {padding: 8px 10px; margin: 0; line-height: 1;}
:is(#cuerpo, #edicCuerpo) #tituloPrincipal #titulo {border-bottom-right-radius: 10px;}

/* Formato del mensaje */
:is(#cuerpo, #edicCuerpo) :is(#tituloPrincipal, #tituloSecundario) {align-self: flex-start;}
