/* Contenedores */
#cuerpo #tituloPrincipal, #cuerpo #tituloSecundario, #cuerpo .inputError {position: relative;}

/* Formato común entre Ayuda y Errores */
#cuerpo .ayuda, .inputError .errores {line-height: 1rem; font-size: 1rem;}
#cuerpo .ayuda, .inputError .errores {position: absolute; right: -5px; top: 50%; translate: 100% -50%;}
#datosLargos #sinopsis .ayuda {right: -10px;}

/* Bordes */
.ayudaClick, .fa-circle-question, .fa-circle-check, .fa-circle-xmark, .fa-circle-left, .fa-circle-right, .link {border-radius: 50%;}
.fa-circle-left, .fa-circle-right, .fa-circle-check, .fa-circle-xmark, .fa-circle-question, .ayudaMostrar {border-width: 1px; border-style: solid}
.errores :is(.fa-circle-xmark, .fa-triangle-exclamation) .mensajeError {border-width: 2px; border-style: solid}

/* Donde se hace 'click' */
.ayudaClick, .errores :is(.fa-circle-xmark, .fa-circle-check, .fa-triangle-exclamation) {font-size: 1rem;}
.ayudaClick, .errores :is(.fa-circle-xmark, .fa-triangle-exclamation) {position: relative; cursor: pointer;}
.errores .fa-circle-check {cursor: default;}

/* Desplegables - Temas comunes */
.ayudaMostrar, .mensajeError, .ayudaMostrar::before, .mensajeError::before {position: absolute; cursor: default;}
.ayudaMostrar, .mensajeError {padding: 3px 7px; border-radius: 8px; max-width: min(250px, 90vw); width: max-content;}
.ayudaMostrar, .mensajeError {font-weight: normal; font-size: 1rem; line-height: 1.2rem; text-align: left;}
.ayudaMostrar::before, .mensajeError::before {border-width: 5px; content: ""; border-style: solid;}

/* Títulos - Temas particulares */
#tituloPrincipal .ayudaMostrar, #tituloSecundario .ayudaMostrar {max-width: min(350px, 90vw);}
#tituloPrincipal .ayudaMostrar {top: -7px; right: -7px; translate: 100% 0;}
#tituloPrincipal .ayudaMostrar::before {top: 7px; left: 0px; translate: -100% 0;}
#tituloPrincipal .ayudaMostrar::before {border-color: transparent var(--backAyuda) transparent transparent;}

/* Ayuda - Temas particulares */
.ayudaMostrar {right: -7px; top: 50%; translate: 100% -50%; }
.ayudaMostrar::before {left: 0px; top: 50%; translate: -100% -50%;}
.ayudaMostrar::before {border-color: transparent var(--backAyuda) transparent transparent;}
.ayudaMostrar li {padding: 3px 0; margin-left: 0;}

/* Errores - Temas particulares */
.mensajeError {display: none;}
.mensajeError {right: -7px; top: 50%; translate: 100% -50%;}
.mensajeError::before {left: -2px; top: 50%; translate: -100% -50%;}
.mensajeError::before {border-color: transparent var(--colorMensajeError) transparent transparent;}

/* Hover */
.errores :is(.fa-circle-xmark, .fa-triangle-exclamation):hover .mensajeError {display: inline;}
.errores .fa-circle-xmark.inactivo:hover .mensajeError {display: none;}

/* Mensajes */
.resultadoExitoso, .resultadoInvalido, .resultadoEnEspera, .sinResultado {padding: 3px 10px; color: white; font-weight: bold; text-align: center;}
.link {text-align: center; font-weight: bold; line-height: 1; padding: 1px; }

/* Colores */
.resultadoExitoso {background: var(--verde-oscuro);}
.resultadoInvalido {background: var(--rojo-oscuro);}
.resultadoEnEspera {background: var(--gris-oscuro);}
.ayudaClick {background: var(--colorAyuda); color: var(--backAyuda); border-color: var(--colorAyuda);}
.ayudaMostrar, .ayudaMostrar * {background: var(--backAyuda); color: var(--colorAyuda);}
.ayudaMostrar {border-color: var(--bordeAyuda);}
.mensajeError {color: var(--colorMensajeError); background: var(--backMensajeError); border-color: var(--colorMensajeError);}
.link {background: var(--gris-oscuro); color: var(--gris-claro);}
