/* Contenedores */
#cuerpo #tituloPrincipal, #cuerpo #tituloSecundario,
#cuerpo .inputError {position: relative; align-items: center;}

/* Formato común entre Ayuda y Errores */
#cuerpo .ayuda, .inputError .errores {right: -5px; line-height: 1rem; font-size: 1rem;}
#cuerpo .ayuda, .inputError .errores {position: absolute; top: 50%; translate: 100% -50%;}
#datosLargos #sinopsis .ayuda {right: -10px;}

/* Bordes */
.ayudaClick, .fa-circle-question, .fa-circle-check, .fa-circle-xmark, 
.fa-circle-left, .fa-circle-right, .link {border-radius: 50%;}
.fa-circle-left, .fa-circle-right, .fa-circle-check, .fa-circle-xmark, .fa-circle-question
.ayudaMostrar {border-width: 1px; border-style: solid}
.errores .fa-circle-xmark .mensajeError {border-width: 2px; border-style: solid}

/* Donde se hace 'click' */
.ayudaClick, .errores .fa-circle-xmark, .errores .fa-circle-check {font-size: 1rem;}
.ayudaClick, .errores .fa-circle-xmark {position: relative; cursor: pointer;}
.errores .fa-circle-check {cursor: default;}

/* Desplegables - Temas comunes */
.ayudaMostrar, .mensajeError, .ayudaMostrar::before, .mensajeError::before {position: absolute; cursor: default;}
.ayudaMostrar::before, .mensajeError::before {left: 0px; border-width: 5px; top: 50%; translate: -100% -50%; content: ""; border-style: solid;}
.ayudaMostrar, .mensajeError {right: -7px; top: 50%; translate: 100% -50%; }
.ayudaMostrar, .mensajeError {padding: 3px 7px; border-radius: 8px; max-width: 250px; width: max-content;}
.ayudaMostrar, .mensajeError {font-weight: normal; font-size: 1rem; line-height: 1.2rem; text-align: left;}

/* Desplegables Ayuda - Temas generales */
.ayudaMostrar li {padding: 3px 0; margin-left: 0;}

/* Desplegables Errores - Temas generales */
.mensajeError {display: none;}

/* Desplegables - Temas particulares */
#tituloPrincipal .ayudaMostrar, #tituloSecundario .ayudaMostrar {max-width: 350px;}
#tituloPrincipal .ayudaMostrar {top: -7px; transform: translateX(100%); translate: none;}
#tituloPrincipal .ayudaMostrar::before {top: 7px; transform: translateX(-100%); translate: none;}
.errores .fa-circle-xmark:hover .mensajeError {display: inline;}
.errores .fa-circle-xmark.inactivo:hover .mensajeError {display: none;}

/* Mensajes */
.resultadoExitoso, .resultadoInvalido, .resultadoEnEspera, .sinResultado {padding: 3px 10px; color: white; font-weight: bold; text-align: center;}
.link {text-align: center; font-weight: bold; line-height: 1; padding: 1px; }

/* Colores */
.resultadoExitoso {background: var(--verde-oscuro);}
.resultadoInvalido {background: var(--rojo-oscuro);}
.resultadoEnEspera {background: var(--gris-oscuro);}
.ayudaClick {background: var(--colorAyuda); color: var(--backAyuda); border-color: var(--colorAyuda);}
.ayudaMostrar, .ayudaMostrar * {background: var(--backAyuda); color: var(--colorAyuda);}
.ayudaMostrar {border-color: var(--bordeAyuda);}
.mensajeError {color: var(--colorMensajeError); background: var(--backMensajeError); border-color: var(--colorMensajeError);}
.link {background: var(--gris-oscuro); color: var(--gris-claro);}
.ayudaMostrar::before {border-color: transparent var(--backAyuda) transparent transparent;}
.mensajeError::before {border-color: transparent var(--colorMensajeError) transparent transparent;}
