#datosBreves {
	display: flex; flex-direction: column; justify-content: center; height: 100%;

	#recuadroDB {
		display: flex; flex-direction: column; justify-content: flex-start;
		border: var(--gris-oscuro) 3px solid; margin: 0;
		padding: 20px; border-radius: 15px; background: snow;
		max-width: var(--datosBreves); width: max-content; max-height: 80%;

		h3 {
			background: var(--azul-oscuro); color: snow; border-radius: 10px;
			padding: 3px 5px; text-align: center;  text-wrap: balance;
			&:nth-child(n+2) {margin-top: 20px;}
		}

		#calificacionesResultados {text-align: center}

		#texto {
			margin: 0 5px;
			&>div {
				margin-top: 10px; line-height: 1.2rem;
				&.status span {padding: 2px 5px; margin-left: 2px; border-radius: 5px; font-weight: bold;}
			}
			.status {
				display: flex; flex-direction: row; align-items: center; position: relative;
				.ayudaIconoForm {
					position: static; margin-left: 5px;
					.ayudaMensForm {
						top: -1px; right: 50%; translate: 50% -100%; max-width: 100%;
						padding-block: 0px;
						&::before {content: unset;}
						li {text-align: center;}
					}
				}
			}

			&:has(#creado, #creadoAprob, #recuperar) .status span {background: var(--verde-claro); color: var(--verde-oscuro);}
			&:has(#inactivar) .status span {background: var(--rojo-claro); color: var(--rojo-oscuro);}
			&:has(#aprobado) .status span {background: var(--verde-oscuro); color: snow;}
			&:has(#inactivo) .status span {background: var(--rojo-oscuro); color: snow;}
		}
	}
}
