<!-- Zona de Filtros -->
<%- include('CN-4Filtros') %>
<!-- Zona de Productos -->
<section id="encabMasPelis" class="flexCol grow">
	<!-- Encabezado -->
	<section id="encabezado" class="flexRow">
		<%- include('CN-3Encabezado') %>
	</section>
	<!-- Sector de películas -->
	<section id="zona-de-prods" >
		<div id="comencemos">
			<p>Asegurate de contestar los sectores en rojo</p>
			<button class="ocultar">Quiero ver los resultados</button>
		</div>
		<div id="vistaProds" class="ocultar">
			<%- include("CN-" + layoutElegido) %>
		</div>
	</section>
</section>
