<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Películas</title>
  <!--NORMALIZE--><link rel="stylesheet" href="/css/normalize.css">
  <!--SÍMBOLOS--><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!--FONTS--> <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  <!--ESTILOS PERSONALIZADOS-->
    <link rel="stylesheet" href="/css/0-HOME-0-BODY.css">
    <link rel="stylesheet" href="/css/0-HOME-1-HEADER.css">
    <link rel="stylesheet" href="/css/1-PELÍCULAS-MAIN.css">
    <link rel="stylesheet" href="/css/0-HOME-3-FOOTER.css">
    <link rel="stylesheet" href="/css/0-HOME-4-MEDIA-QUERIES.css">
    <link rel="stylesheet" href="/css/imprimir.css" media="print">
</head>
