<form id="filtros" class="flex-col" action="" method="GET">
  <div id="personalizado"> <!--Filtro Personalizado-->
    <h1 >Filtro Personalizado</h1>
    <select name="filtro-personalizado">
      <option value="SF" selected>Sin Filtro</option>
      <option value="DI">Diego e Inés</option>
      <option value="FM">Para ver en familia</option>
    </select>  
  </div>
  <div class="línea-divisoria"></div> <!--Línea Divisoria-->
  <div class="flex-col">  <!--Público Recomendado-->
    <h1>Público Recomendado</h1>
    <select name="público" >
      <option value="SF" selected>Sin Filtro</option>
      <option value="FM">Familia</option>
      <option value="MY">Mayores</option>
      <option value="MN">Menores</option>
    </select>
  </div>
  <div>  <!--ATP-->
    <h1>Aptas Todo Público</h1>
    <div class="ratio flex-row">
      <label><input type="radio" name="ATP" value="NO" checked> Sin Filtro</label>
      <label><input type="radio" name="ATP" value="SI"> Sólo ATP</label>
    </div>

  </div>
  <div>  <!--Centradas en la Fe Católica-->
    <h1>Fe Católica</h1>
    <div class="ratio flex-row">
      <label><input type="radio" name="Fe-Católica" value="SF" checked> Sin Filtro</label>
      <label><input type="radio" name="Fe-Católica" value="CFC"> Si</label>
      <label><input type="radio" name="Fe-Católica" value="VPC"> No</label>
    </div>
  </div>
  <div class="flex-col">  <!--Incluir Películas Descartadas-->
    <h1>Incluir Descartadas</h1>
    <select name="Descartadas">
      <option value="NO" selected>NO</option>
      <option value="SI">Sin Filtro</option>
      <option value="SD" >Sólo descartadas</option>
    </select>
  </div>
  <div class="flex-col">    <!--Década de Estreno-->
    <h1>Época de Estreno</h1>
    <select name="época">
      <option value="SF" selected>Sin Filtro</option>
      <option value="1969">Antes de 1970</option>
      <option value="1999">1970 - 1999</option>
      <option value="2014">2000 - 2014</option>
      <option value="2015">2015 - Presente</option>
    </select>
  </div>
  <div id="búsqueda" class="flex-row"> <!--BÚSQUEDA-->
    <input type="text" placeholder="Texto de búsqueda">
  </div>
  <div class="línea-divisoria"></div>
  <div id="final" class="flex-row"><!--Íconos y botones-->
    <i class="fas fa-save"></i>
    <button class="botones" type="reset">Limpiar Filtros</button>
  </div>
</form>
