/* GENERAL */
#registro {position:absolute; margin:0; height:100%; width:100%;z-index: 1;}
#registro {justify-content:center; align-items: center;}

/* TAPAR EL FONDO */
#registro #tapar-el-fondo {background-color:var(--gris-claro); opacity:70%;height:100%; width:100%;}
#registro #tapar-el-fondo {position: absolute;left:0px;top:0px}

/* GENERAL DEL FORMULARIO */
#registro form {background-color:var(--azul-frances); border-radius: 20px;}
#registro form {padding: 20px;z-index: 2;align-items: stretch;}

/* PARTES DEL FORMULARIO */
#registro form p {color: var(--amarillo-claro);margin-bottom: 10px;}
#registro form p {font-weight: bold; font-size: 1.1em; text-align: center;}
#registro form section label {color: white;font-size: 1em;}
#registro form #completar div {padding: 5px 0px;}
#registro form #completar label, form #completar input {padding: 3px 10px;margin-top: 10px;}
#registro form #completar input {border: none;}
#registro form #completar select {padding: 1px 5px;margin-top: 10px;}

/* PORTALES DE PELÍCULAS */
#registro form #portal {border-top: solid 2px var(--gris-claro);margin-top: 15px;}
#registro form #portal {border-bottom: solid 2px var(--gris-claro);padding: 0px 10px 10px 10px;}
#registro form #portal #titulo {margin-top:10px;}
#registro form #portal #portales {padding: 2px 0px; justify-content: space-between;}
#registro form #portal #portales div {font-size: .9rem;}
#registro form #portal #portales div input {margin: 2px;}

/* BOTONES */
#registro form #buttons {margin-top: 20px;}
#registro form #buttons div {justify-content: space-evenly;}
#registro form #buttons div {padding-left: 0px; padding-right: 0px;}
#registro form #buttons div.margen-bottom-adicional {margin-bottom: 5px;}
#registro form #buttons div button {padding: 2px 5px; margin-left: 5px; margin-right: 5px;}
#registro form #buttons div button {font-size: 14px;font-weight: bold;color:white;}
#registro form #buttons div button {border: solid 2px var(--amarillo-claro); background-color: var(--rojo);}
#registro form #buttons div button[type="submit"] {background-color: var(--verde);}
