/* Partes específicas del formulario */
#dataEntry form {display: flex; flex-direction: column;}

/* Sector de Data Entry */
#dataEntry #datos {display: flex; flex-direction: column; align-items: flex-start;}
#dataEntry #datos select {padding: 0px 2px;}

/* Mensajes de ayuda */
#dataEntry .ayudaClick {align-self: center; transform: translateY(0); margin-left: 10px; position: static;}
#dataEntry .ayudaMostrar {max-width: 300px; right: -10px;}

/* Submit button */
#dataEntry #flechas {margin-top: 20px; display: flex; justify-content: space-around; align-items: center;}
#dataEntry #flechas button {background-color: transparent; border: none; padding: 0; border-radius: 50%;}
#dataEntry #flechas button .fa-circle-check {position: static; transform: none;}