#dataEntry {width: 794px; height: 456px}

/* Partes particulares */
#dataEntry #encabezado {display: flex; flex-direction: column;}
#dataEntry #encabezado #tituloSecundario h2 {margin-bottom: 5px;}
#dataEntry #resultadoDesamb {width: 700px; overflow-x: auto; display: flex; flex-direction: row;}
#dataEntry #resultadoDesamb li {list-style-type: none}
#dataEntry form {position: relative;}

/* Resultados */
#dataEntry button {padding: 0; border-radius: 15px; overflow: hidden; height: 200px;}
#dataEntry button {margin: 30px 20px 20px; border: none; text-align: left; width:290px;}
#dataEntry #prod_nuevo {background-color: var(--verde-intermedio);}
#dataEntry #ingr_manual {background-color: var(--rojo-claro);}
#dataEntry #prod_yaEnBD {background-color: var(--celeste-oscuro);}
#dataEntry #prod_nuevo:hover {background-color: var(--verde-oscuro); color: var(--amarillo-claro);}
#dataEntry #ingr_manual:hover {background-color: var(--rojo-oscuro); color: var(--amarillo-claro);}
#dataEntry #prod_yaEnBD:hover {background-color: var(--azul-oscuro); color: var(--celeste-oscuro);}

/* Partes del resultado */
#dataEntry #imagenChica, #dataEntry #texto {height: 100%;}
#dataEntry #texto {display: flex; flex-direction: column; justify-content: space-between;}
#dataEntry #infoPeli {margin: 10px 15px;}
#dataEntry #infoPeli, #infoPeli p, #infoPeli p strong, #infoPeli p em {color: inherit;}
#dataEntry #coleccion {font-weight: normal; margin-top: 0; background-color: var(--rojo-claro); padding: 2px 15px;}
#dataEntry #prod_nuevo:hover #coleccion {background-color: var(--rojo-oscuro); color: var(--amarillo-claro);}
#dataEntry #coleccion #colec_nombre {font-weight: bold; font-style: italic}
#dataEntry .interlineadoChico {margin-top: 5px;}
#dataEntry .fa-circle-xmark {top: 15px; transform: translateX(-5px);}
#dataEntry .fa-circle-xmark .mensajeError {max-width: 300px;}

/* Barra de desplazamiento */
::-webkit-scrollbar {outline: transparent;}
::-webkit-scrollbar-track {background: var(--celeste-oscuro); border-radius: 10px;}
::-webkit-scrollbar-thumb {background: var(--gris-oscuro); border-radius: 10px;}
/* ::-webkit-scrollbar-button {background: red;} */

/* Flechas */
#dataEntry #flechas {margin-top: 20px;}
