#dataEntry {width: 695px; height: 502px;}

/* Cuerpo del formulario */
#dataEntry #datos {display: flex; flex-direction: row; margin-top: 10px;}
#dataEntry #primeraColumna {min-width: 281px; min-height: 326px; margin-right: 70px; display: flex; flex-direction: column; justify-content: center;}
#dataEntry .label-input {display: flex; flex-direction: row; justify-content: space-between; margin-top: 3px;}
#dataEntry .label-input.ocultar {display: none;}

/* Partes específicas del formulario */
#dataEntry h1 {margin-bottom: 15px;}
#dataEntry h3 {margin-bottom: 0; color: var(--verde-oscuro);}
#dataEntry .label-input label {margin: 2px 15px 0 0; font-weight: bold; min-height: 19px;}
#dataEntry .label-input .inputError {margin-left: 5px;}
#dataEntry .label-input .inputError .input {align-self: center; width: 150px;}
#dataEntry .label-input .inputError input {padding: 0px 5px;}
#dataEntry .label-input .inputError select {padding: 0;}
#dataEntry .label-input .inputError .linkRCLV {width: 15px; position: absolute; transform: translateY(-50%); top: 50%; line-height: 1; color: var(--gris-oscuro);}
#dataEntry .label-input .inputError .linkRCLV.alta {right: -40px; font-size: 1rem;}
#dataEntry .label-input .inputError .linkRCLV.edicion {right: -60px; font-size: 1.15rem;}
#dataEntry #bloqueRCLV {min-height: 104px;}

/* Mensajes */
#dataEntry .ayudaMostrar {max-width: 400px;}
#dataEntry .fa-circle-xmark, #dataEntry .fa-circle-check {right: -40px;}
#dataEntry .RCLV .fa-circle-xmark, #dataEntry .RCLV .fa-circle-check {right: -60px;}
#dataEntry .mensajeError {max-width: 200px;}

/* Anchos específicos de inputs */
#dataEntry .label-input .inputError select.angosto {width: 70px}	

/* Imagen de la película */
#dataEntry #imagenPeli {position: relative; height: 100%; width: 250px;}
#dataEntry #imagenPeli img {position: absolute; border-radius: 15px; width: auto; height: auto; max-width: 100%; max-height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); object-fit: contain;}

/* Flechas */
#dataEntry #flechas {margin-top: 20px;}
#dataEntry #flechas button {background-color: transparent; border: none; padding: 0; border-radius: 50%;}
#dataEntry #flechas button .fa-circle-check {position: static; transform: none;}
