/* General */
#dataEntry {background-color: var(--verde-claro); color: var(--verde-oscuro); border: var(--verde-oscuro) 7px solid; max-width: 80%; display: flex; flex-direction: column;}

/* Título */
#dataEntry #gracias {margin-bottom: 20px; height: 80px; border-radius: 10px; align-self: center;}

/* Texto */
#dataEntry #datos {padding-left: 20px;}
#dataEntry #datos .texto {margin: 5px 0; font-size: 1.2rem;}
#dataEntry #datos #liConAyuda {display: flex; flex-direction: row; align-items: center; justify-content: flex-start;}
#dataEntry #datos #liConAyuda .ayudaClick {margin-left: 10px;}
#dataEntry #datos #liConAyuda .ayudaClick .ayudaMostrar {max-width: 350px;}
#dataEntry #datos #liConAyuda .ayudaClick .ayudaMostrar #subPuntos {margin-left: 20px; margin-bottom: 5px;}
#dataEntry #datos #liConAyuda .ayudaClick .ayudaMostrar #subPuntos li {padding-top: 0;}
#dataEntry #datos #partesAutomatico {background-color: var(--verde-oscuro); width: fit-content; padding: 1px 5px; border-radius: 5px;}
#dataEntry #datos #partesAutomatico span {color: var(--verde-claro);}

/* Flechas */
#dataEntry #flechas {margin: 30px auto 0; padding: 7px 15px; border-radius: 15px; display: flex; flex-direction: row; width: auto;}
#dataEntry #flechas {background-color: var(--azul-oscuro);}
#dataEntry #flechas a {margin: 0 15px;}
#dataEntry #flechas a:first-child {margin-left: 0;}
#dataEntry #flechas a:last-child {margin-right: 0;}
#dataEntry #flechas a i {color: var(--gris-claro); font-size: 1.25rem; cursor: pointer;}
