/* Formato General */
#dataEntry {max-width: 650px; background-color: var(--azul-oscuro); border-color: var(--amarillo-claro)}
#dataEntry #subtitulo {color: var(--amarillo-claro); font-size: 1.4rem; font-weight: bold;}

/* Formato del contenido */
#dataEntry p, 
#dataEntry li, 
#dataEntry p strong, 
#dataEntry p strong em, 
#dataEntry p em, 
#dataEntry p u,
#dataEntry span
	{font-size: 1.15rem; line-height: 1.3; margin-top: 10px; text-align: justify; color: var(--amarillo-claro);}
#dataEntry ol {margin-left: 30px;}
#dataEntry span {margin-left: 10px;}

/* Submit button */
#dataEntry #final {justify-content: space-evenly; margin-top: 20px;}
#dataEntry #final button {font-size: 1.2rem; border-color: var(--amarillo-claro);}
#dataEntry button {align-self: center;}
#dataEntry button#continuar {background-color: var(--verde-oscuro);}
#dataEntry button#salir {background-color: var(--rojo-oscuro);}
