/* Partes específicas del formulario */
#dataEntry form {display: flex; flex-direction: column; justify-content: space-between;}

/* Sector de Data Entry */
#dataEntry #datos {display: flex; flex-direction: column; align-items: flex-start;}
#dataEntry #datos textarea, #dataEntry input {width: 250px; padding: 2px 5px; }

/* Mensajes de error */
#dataEntry .input-error {position: relative; display: flex;}
#dataEntry .mensajeAyuda {max-width: 300px;}
#dataEntry .mensajeError {max-width: 300px;}
#dataEntry .mensajeError a {color: inherit;}

/* Mensajes de ayuda */
#dataEntry .fa-question-circle {align-self: center; transform: translateY(0); margin-left: 10px; position: static;}
#dataEntry .mensajeAyuda {max-width: 300px; right: -10px;}
#dataEntry .mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}

/* Submit button */
#dataEntry #flechas {margin-top: 20px; display: flex; justify-content: space-evenly; align-items: center;}
#dataEntry #flechas button {background-color: transparent; border: none; padding: 0; border-radius: 50%;}
#dataEntry #flechas button .fa-check-circle {position: static; transform: none;}