/* General */
#dataEntry {max-width: 80%; position: relative}

/* Título */
#dataEntry h2 {margin-bottom: 10px;}
#dataEntry #running {position: absolute; right: 30px; max-width: 150px; max-height: 80px}

/* Texto */
#dataEntry ul {padding-left: 20px;}
#dataEntry ul li {margin: 3px 0; font-size: 1.2rem;}
#dataEntry ul li .fa-circle-question {position: relative; transform: none; margin-left: 5px; right: 0;}
#dataEntry ul li .fa-circle-question .mensajeAyuda {right: -10px; font-size: 1rem; max-width: 350px;}
#dataEntry ul li .fa-circle-question .mensajeAyuda li {margin-left: 20px; font-size: 1rem;}

/* Datos del producto */
#dataEntry #datosProd {margin-top: 15px; display: flex; flex-direction: row; width: 85%; align-self: center;}
#dataEntry img#afiche {max-height: 180px; border-radius: 10px; margin-right: 15px;}
#dataEntry #referenciasProd {display: flex; flex-direction: column; justify-content: center; max-width: 450px;}
#dataEntry #referenciasProd p {margin: 3px;}

#dataEntry #flechas {margin-top: 30px; display: flex; flex-direction: row;}
#dataEntry #flechas button {background-color: transparent; border: none; padding: 0; border-radius: 50%;}
#dataEntry #flechas button .fa-circle-check {position: static; transform: none;}
