/* General */
#dataEntry {background-color: var(--verde-claro); color: var(--verde-oscuro); border: var(--verde-oscuro) 7px solid; max-width: 80%; display: flex; flex-direction: column;}

/* Título */
#dataEntry #gracias {margin-bottom: 20px; height: 80px; border-radius: 10px; align-self: center;}

/* Texto */
#dataEntry ul {padding-left: 20px;}
#dataEntry ul li {margin: 5px 0; font-size: 1.2rem;}
#dataEntry ul li .fa-circle-question {position: relative; transform: none; margin-left: 5px; right: 0; color: inherit;}
#dataEntry ul li .fa-circle-question .mensajeAyuda {right: -10px; font-size: 1rem; max-width: 400px; color: var(--gris-claro);}
#dataEntry ul li .fa-circle-question .mensajeAyuda li {margin-left: 20px; font-size: 1rem;}
#dataEntry ul li .fa-circle-question .mensajeAyuda li ul li {margin: 0px}

#dataEntry ul li#partesAutomatico {background-color: var(--verde-oscuro); width: fit-content;}
#dataEntry ul li#partesAutomatico {padding: 1px 5px; border-radius: 5px;}
#dataEntry ul li#partesAutomatico span {color: var(--verde-claro);}

/* Flechas */
#dataEntry #flechas {margin: 30px auto 0; padding: 7px 15px; border-radius: 15px; display: flex; flex-direction: row; width: auto;}
#dataEntry #flechas {background-color: var(--azul-oscuro);}
#dataEntry #flechas a {margin: 0 15px;}
#dataEntry #flechas a:first-child {margin-left: 0;}
#dataEntry #flechas a:last-child {margin-right: 0;}
#dataEntry #flechas a i {color: var(--gris-claro); font-size: 1.25rem; cursor: pointer;}
