/* General */
#datos {--anchoRecuadro: 732px;}
#encabezado #vinculadas {text-align: right;}

/* Información */
#contenido #informacion #cuadroDeResultados {position: relative;}

/* Productos */
#listado #prodsNuevos {padding: 0 15px !important;}
#prodsNuevos #infoPeli {display: flex; flex-direction: column; justify-content: space-between; height: 100%;}

/* ppp */
#prodsNuevos #infoPeli #ppp i {font-size: 1.25rem;}
#prodsNuevos button:hover #infoPeli #ppp i {color: inherit;}
#ppp #texto {margin-left: 5px; text-wrap: nowrap; border-radius: 10px;}
#ppp #texto {background: var(--amarillo-claro); border: var(--verde-oscuro) 2px solid; color: var(--verde-oscuro);}
#ppp #texto {padding: 0px 5px; line-height: 1.06;}
