/* Datos */
#datos {--anchoRecuadro: 715px;}
#cuerpo #datos #datosLargos {max-width: max(50vw, 745px);}

/* Recuadro */
#recuadro #encabezado {align-self: stretch; flex-direction: column; align-items: unset;}
#recuadro #contenido {margin: 0 40px;}

/* Información */
#contenido #informacion {margin: 20px 0;}
#contenido #informacion #cuadroDeResultados {position: relative;}

/* Productos */
#listado li#prodsNuevos {padding-top: 15px; padding-bottom: 15px;}

/* Flechas */
#contenido #botones {margin: 20px;}