/* Ambos */
@media (orientation: portrait), (orientation: landscape) and (height <= 600px) {
	#listado #prodsNuevos {
		padding: 0 7.5px;
		&:first-child {padding-left: 0;}
		&:last-child {padding-right: 0;}
	}

	/* oculta los triangulitos de desplazamiento */
	#cuadroDeResultados i.mover {display: none;}
}

/* Parado */
@media (orientation: portrait) {
	#recuadroDL #contenido {margin: 15px 5px;}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	#recuadroDL #contenido {margin: 15px 15px;}
}
