/* Temas generales */
#cuerpoFooterImgDer {
	#imgDerecha {
		position: relative;
		&.inputError .agregados:has(a[href=""]) {display: none;}
	}
	#cuerpoFooter #cuerpo {
		background: transparent; flex-direction: column;

		/* Temas generales del formulario */
		#datos {
			justify-content: space-evenly; align-items: center;
			#dataEntry {
				/* General */
				padding: 30px 40px; border-radius: 20px;
				display: flex; flex-direction: column; width: fit-content;
				background: var(--gris-claro); border: var(--gris-oscuro) 7px solid;
				.inputError {
					align-self: flex-start;
					.errores {left: -5px; translate: -100% -50%; right: auto;}
				}
				.altoFila {height: 28px;}
				.margenDer {margin-right: 5px;}
				.margenIzq {margin-left: 15px;}
				.margenDebajo {margin-bottom: 5px;}
				.borderTop {margin-top: 12px; padding-top: 9px; border-top: solid 1px gray;}
				.input.angosto {width: 50px; margin-left: 10px; text-align: center;}
				:is(.input, #posiblesRepetidos, #sectorDiasDelAno #calendario)
					{border: .7px solid var(--azul-oscuro); border-radius: 5px; background: white;}
				label[for] {padding-left: 3px;}

				/* Primer bloque */
				#inicio {
					display: flex; flex-direction: row; justify-content: space-between;
					/* Particular */
					#primeraCol {
						margin-right: 50px; min-width: 210px; z-index: 7;

						/* Nombres */
						#sectorNombre {
							label {margin-right: 7px;}
							.input {padding-left: 5px; width: 235px;}
						}
						#sectorFecha {
							h3 {align-self: flex-start; margin-top: 1px;}
							:is(select[name=tipoFecha], select[name=dia], select[name=anoFM], #inputDias) {margin-left: 15px;}
							nav {
								margin-left: 10px; width: 50px;
								&:has(a[href=""]) {display: none;}
								a img {max-height: 20px; border: 1px dotted var(--gris-oscuro); border-radius: 50%;}
							}
							.caracteres {align-self: flex-end;}
							textarea {padding: 2px 5px; height: 34px; resize: none;}
							#diasDeDuracion {
								margin-top: 7px;
								input {
									width: 30px; text-align: center;
									&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
								}
							}

						}
					}
					#segundaCol {
						display: flex; flex-direction: column; min-width: 210px;
						#sectorRepetidos {
							display: flex; flex-direction: column; flex-grow: 1;
							#posiblesRepetidos {
								display: flex; flex-direction: column; overflow-y: auto; overflow-x: hidden;
								margin-top: 5px; padding: 5px; height: 100%;
								li {
									padding: 3px 0; display: flex; flex-direction: row;
									input {padding-right: 5px;}
								}
							}
							.sinCasos {justify-content: center; align-items: center; color: var(--verde-oscuro); font-weight: bold;}
						}
						#sectorDiasDelAno {
							display: flex; flex-direction: column; flex-grow: 1;
							#calendario {
								height: 100%; margin-top: 5px; padding: 5px 10px;
								overflow-y: auto; overflow-x: hidden; scroll-behavior: smooth;
								table {
									border-collapse: collapse; width: 90%;
									tr td {padding: 1px 0;}
								}
							}
						}
						:is(#sectorCarpetaAvatars select, #sectorPrioridad select) {width: 108px;}
						#sectorPrioridad {
							margin-top: 5px;
							.ayuda ul[type="dots"] {padding: 7px;}
						}
						#sectorGenero {
							margin-top: 10px;
							.opciones {
								margin-left: 10px;
								.ayuda ul {max-width: 200px;}
							}
						}

					}
				}

				/* Siguientes bloques */
				#sectorEpoca {
					&:not(
						:not(:has(.opciones input#pst:checked)), /* epocaOcurrencia = 'pst' */
						:has(.opciones input.noPST:checked) /* ninguna otra opción está 'checked' */
					) .invisible {visibility: visible;}

					.opciones {
						justify-content: center;
						.ayuda {position: static; translate: 5px 0px;}
						input {align-self: center;}
					}
				}
				#sectorRCLIC {
					.pregunta {font-size: 1.10rem;}
					.radioBtn {width: 70px; justify-content: space-between;}
					.personajes .radioBtn {margin-left: 10px;}
					.hechos .radioBtn {margin-right: 10px;}
				}
				#sectorLeyenda {
					.inputError {align-self: center; margin-right: 30px; line-height: 0;}
					select {background: transparent !important; border: none !important;}
				}

				/* PreguntasRCLIC (personajes) */
				.personajes:has(#categoria_id input#CFC:checked) #preguntasRCLIC.invisible {visibility: unset;} /* la categoría es 'CFC' */
				&:has(#sectorGenero input:checked) #preguntasRCLIC .segunGenero_id.invisible {visibility: unset;} /* contestó 'genero' */

				/* PreguntasRCLIC (hechos) */
				&:has(.hechos #soloCFC input#SI:checked) #preguntasRCLIC.invisible {visibility: visible;} /* --> si soloCFC='SI' */

				/* Temas de ayuda */
				ul#ayudaNombrePers {max-width: min(400px, 90vw);}
				ul#ayudaNombrePers li span {font-variant: small-caps; text-decoration: underline;}

				/* Submit button */
				.iconos {margin: 20px 0 0;}
				.iconos label[for="eliminaEdicion"] {color: var(--rojo-oscuro);}
			}
		}
	}
}
