/* Datos */
#datos {--anchoRecuadro: 715px;}
#cuerpo #datos #datosLargos {max-width: max(50vw, 745px);}

/* Recuadro */
#recuadro #encabezado {align-self: stretch; flex-direction: column; align-items: unset;}
#recuadro #contenido {margin: 0 40px 20px;}
#recuadro #contenido #informacion {margin: 20px 0;}
#recuadro #contenido #informacion #cuadroDeResultados {position: relative;}

#listado li {--altoLi: min(15px, calc((100vh - 52px - 200px - 24px)/2)); padding: var(--altoLi) 10px;}
