<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-Iconos.css">
<div id="mobileVert" class="iconos">
	<i id="muestraInfo" class="fa-solid fa-circle-info" tabindex="-1" title="Ver su información"></i>
	<i id="muestraCalif" class="fa-solid fa-chart-line" tabindex="-1"></i>
</div>
