<% if (["detalle", "calificar"].includes(codigo)) { %>
	<div id="mobile" class="iconos">
		<% if (tema == "prodRud" && codigo == "detalle") { %>
			<i id="muestraDL" class="fa-solid fa-circle-info"></i>
		<% } %>
		<i id="muestraDB" class="fa-solid <%- tema == "prodRud" ? 'fa-chart-line' : 'fa-child' %>"></i>
	</div>
<% } %>

<div id="href" class="iconos">
	<%- include("Iconos-5MobileHref") %>
	<% if (locals.interesDelUsuario) { %>
		<i id="ppp" class="<%= interesDelUsuario.icono %>" title="<%= interesDelUsuario.nombre %>"></i>
	<% } %>
</div>
