/* General */
#cuerpoFooter #cuerpo {
	background: transparent; flex-direction: row; justify-content: space-between; max-height: 100%;
	#centro {
		#arriba {
			display: flex; flex-direction: column;
			#tituloPrincipal {
				text-align: center; align-self: stretch;
				#titulo {border-left-color: var(--bordeTitulo); border-bottom-right-radius: 0;}
				.ayuda {translate: 0 -50%; right: 10px;}
			}
			#timer {position: static; margin-left: auto;}
		}
		#medio {
			display: flex; flex-direction: column; justify-content: space-evenly; flex-grow: 1;
			width: 100%;
			.contOpcionAvatar {
				max-width: 40%; border-radius: 20px; border: 4px solid;
				&#aprobar {border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none;}
				&#aprobar {transform-origin: left; background: var(--verde-claro); border-color: var(--verde-oscuro);}
				&#mostrarMotivos {border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: none;}
				&#mostrarMotivos {transform-origin: right; background: var(--rojo-claro); border-color: var(--rojo-oscuro);}
				button {border: none; background: transparent; outline: none;}
			}
			#info {padding: 15px 20px; width: fit-content;}
			#info :is(h2, ul) {text-align: left;}
			#info ul:has(li) {margin-top: 5px;}
			#info ul li {font-size: 1.1rem;}
			#fichaTecnica {
				padding: 15px 20px; border-radius: 20px; width: fit-content; max-width: 30vw; align-self: center;
				background: var(--gris-claro); border: var(--gris-oscuro) 4px solid;
				p {line-height: 1.5; font-size: 1.15rem;}
			}
		}
	}
	.imagenes {
		position: relative;
		display: flex; flex-direction: column; justify-content: center;
		img {max-width: var(--anchoImgDer); max-height: var(--altoMain);}
		.agregados {
			position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);
			background: var(--verde-claro); border: var(--verde-oscuro) 1px solid;
			margin: 0 auto; padding: 5px 10px; border-radius: 10px; width: max-content;
			img {max-width: 25px; max-height: 25px; border-radius: 8px; margin: 2px 3px 0;}
		}
	}
}
