<section class="labelInput flexRow">
	<% if (codigo == "altaMail") { %>
		<div class="inputError">
			<input name="email" class="input" type="text" autocomplete="off" autofocus placeholder="Ingresá tu dirección de Correo Electrónico">
			<%- include("CMP-Errores", {nombre: "email", ocultarOK: true}) %>
		</div>
	<% } else { %>
		<p><%= dataEntry.email %></p>
	<% } %>
</section>
<% if (codigo == "altaMail") { %>
	<!-- Política para el uso de la información privada -->
	<ul id="politicaInfo" type="disc">
		<li>No compartimos los mails con otras entidades.</li>
		<li>No enviamos mensajes comerciales a nuestros usuarios.</li>
	</ul>
<% } %>
