<!--Nombre-->
<div class="labelInput">
	<div class="relative margenInf">
		<label for="nombre">Nombre Civil</label>
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick desplClick">
				<ul type="none" class="ayudaMostrar ocultar desplMostrar">
					<li>Como figura en tu documento</li>
				</ul>
			</i>
		</div>
	</div>
	<div class="inputError">
		<% nombre = dataEntry ? dataEntry.nombre : "" %>
		<input id="nombre" type="text" class="input" name="nombre" placeholder="Nombre Civil" value="<%= nombre %>">
		<%- include("CMP-Errores", {nombre: "nombre", display: true}) %>
	</div>
</div>
