<!--Fecha de Nacimiento-->
<div class="labelInput">
	<label for="fechaNacim" class="margenInf">Fecha de Nacimiento</label>
	<div class="inputError">
		<input id="fechaNacim" type="date" name="fechaNacim" class="input" value="<%= dataEntry.fechaNacim %>">
		<%- include("CMP-Errores", {nombre: "fechaNacim", display: true}) %>
	</div>
</div>
