<div type="text" id="credenciales" class="errores" >
	<button class="mensajeError<%- (locals.errores && !errores.credenciales) ? ' ocultar' : '' %>">
		<%- locals.errores && errores.credenciales ? errores.credenciales : "" %>
	</button>
</div>
