/* General */
#cuerpo {position: absolute; margin: 0; height: 100%; width: 100%;}
#cuerpo {display: flex; flex-direction: column; justify-content: center; align-items: center;}

/* General del formulario */
#cuerpo form {background-color: var(--gris-oscuro); border-radius: 10px;}
#cuerpo form {padding: 20px; z-index: 11; min-width: 360px;}

/* Partes del formulario */
#cuerpo form h1 {color: var(--amarillo-claro); margin-bottom: 25px;}
#cuerpo form h1 {font-weight: bold; font-size: 1.3em; text-align: center;}
#cuerpo form .label-input {justify-content: space-between; margin: 20px 10px 0px 10px; align-items: center}

/* Input del formulario */
#cuerpo form label {color: white; margin-right: 20px; }
#cuerpo form label {text-align: left;}
#cuerpo form .input {width: 200px; height: 27px; border: none; border-radius: 15px; padding: 3px 10px; text-align: left;}
#cuerpo form select {text-align: left;}
#cuerpo #eye {right: 10px; position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}

/* Íconos y Mensajes de error */
.mensajeError, .mensajeError::before, 
.mensajeAyuda, .mensajeAyuda::before,
.fa-circle-check, .fa-circle-question, 
.fa-circle-xmark {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
#cuerpo .form-grupo {position: relative;}
#cuerpo .form-grupo .fa-circle-check, #cuerpo .form-grupo .fa-circle-xmark {left: -20px;}
#cuerpo .mensajeError {left: 20px; max-width: 200px;}
#cuerpo .mensajeError::before {left: -12px;}

/* Botones */
#cuerpo form #buttons {margin: 15px auto 5px;}
#cuerpo form #buttons {padding-top: 5px; justify-content: space-evenly;}
#cuerpo form #buttons button {padding: 2px 5px;}
#cuerpo form #buttons button {font-size: 1rem;font-weight: bold; color: white;}
#cuerpo form #buttons button {border: solid 2px var(--amarillo-claro); border-radius: 7px;}
#cuerpo form #buttons button[type="submit"] {background-color: var(--verde-oscuro);}
#cuerpo form #buttons button[type="button"] {background-color: var(--azul-oscuro);}
#cuerpo form #buttons button#cancelar {background-color: var(--rojo-oscuro);}
