/* Botón de imagen */
input#inputImagen {display:none}
#Form form #labelImagen {color: var(--azul-oscuro); background-color: white;}
#Form form #divImagen label {cursor: pointer; margin-right: 0px; line-height: normal;}

/* Imagen */
#Form form #divImagen {width: 200px;align-items: center;}
#preview img {border-radius: 15px; max-width: 200px; max-height: 150px;}