/* General */
#Form {position:absolute; margin:0; height:100%; width:100%;z-index: 10;}
#Form {justify-content:center; align-items: center;}

/* Tapar el fondo */
#Form #tapar-el-fondo {background-color:var(--gris-claro); opacity:70%;height:100%; width:100%;}
#Form #tapar-el-fondo {position: absolute;left:0px;top:0px}

/* General del formulario */
#Form form {background-color:var(--gris-oscuro); border-radius: 10px;}
#Form form {padding: 20px; z-index: 11; min-width: 300px;}

/* Partes del formulario */
#Form form h1 {color: var(--amarillo-claro); margin-bottom: 25px;}
#Form form h1 {font-weight: bold; font-size: 1.3em; text-align: center;}
#Form form .label-input {justify-content: space-between;margin: 20px 10px 0px 10px;align-items:center}

/* Input del formulario */
#Form form label {color: white; margin-right: 20px; }
#Form form label {text-align: left;}
#Form form .input {border: none;border-radius: 15px; padding: 3px 10px; text-align: center;}
#Form form .input, #Form form select {width: 200px; height: 27px;}
#Form form select {text-align-last: center;}
#Form form .input[type = "date"] {text-align: right}

/* Íconos de error */
#Form .form-grupo .fas {background-color: white; border-radius: 50%; font-size: 1em;}
#Form .form-grupo .fa-times-circle {color: var(--rojo-oscuro);}
#Form .form-grupo .fa-check-circle {color: var(--verde-oscuro);}
#Form .form-grupo #eye {right: 5px}

/* Mensajes de error */
#Form .form-grupo .mensajeError {display: none; z-index: 12;}
#Form .form-grupo .mensajeError {font-size: 1rem; font-weight: normal; width:200px;}
#Form .form-grupo .mensajeError {border-radius: 6px;padding: 1px 5px; margin-top: 3px;}
#Form .form-grupo .mensajeError {color: var(--azul); background-color: var(--amarillo-claro); border: red solid 2px;}
#Form .form-grupo .mensajeError {right: -200px; top: 2px;}
#Form .form-grupo .fa-times-circle:hover .mensajeError {display: inline;}

/* Íconos y Mensajes de error */
#Form .form-grupo {position: relative;}
#Form .form-grupo .fas, #Form .form-grupo .mensajeError {position: absolute;}
#Form .form-grupo .fas {right: -20px; top: 5px;}

/* Botones */
#Form form #buttons {margin: 15px auto 5px;}
#Form form #buttons {padding: 5px 0px 0px 0px; margin-bottom: 5px; justify-content: space-evenly;}
#Form form #buttons button {padding: 2px 5px;}
#Form form #buttons button {font-size: 1rem;font-weight: bold;color:white;}
#Form form #buttons button {border: solid 2px var(--amarillo-claro);border-radius: 7px;}
#Form form #buttons button[type="submit"] {background-color: var(--verde-oscuro);}
#Form form #buttons button[type="button"] {background-color: var(--azul);}
#Form form #buttons button#cancelar {background-color: var(--rojo-oscuro);}
