/* GENERAL */
#login {position:absolute; margin:0; height:100%; width:100%;z-index: 1;}
#login {justify-content:center; align-items: center;}

/* TAPAR EL FONDO */
#login #tapar-el-fondo {background-color:var(--gris-claro); opacity:70%;height:100%; width:100%;}
#login #tapar-el-fondo {position: absolute;left:0px;top:0px}

/* GENERAL DEL FORMULARIO */
#login form {background-color:var(--gris-oscuro); border-radius: 10px;}
#login form {padding: 20px;z-index: 2;min-width: 300px;}

/* PARTES DEL FORMULARIO */
#login form h1 {color: var(--amarillo-claro);margin-bottom: 15px;}
#login form h1 {font-weight: bold; font-size: 1.1em; text-align: center;}
#login form .formulario-grupo {position: relative;}
#login form .formulario-grupo input {text-align: center;}

#login form #buttons {margin-top: 15px;}
#login form #buttons div {padding: 5px 0px 0px 0px; margin-bottom: 5px; justify-content: space-evenly;}
#login form .criterio {color:var(--celeste-claro); text-align: center;}

/* BOTONES */
#login form input {padding: 3px 10px;margin: 10px 0;}
#login form input {border: none;border-radius: 15px;}
#login form #buttons button {padding: 2px 5px; margin: 3px 5px;border-radius: 7px;}
#login form #buttons button {font-size: 14px;font-weight: bold;color:white;}
#login form #buttons button {border: solid 2px var(--amarillo-claro); background-color: var(--rojo);}
#login form #buttons button[type="submit"] {background-color: var(--verde);}
#login form #buttons button#registrarse {background-color: var(--azul);}
