/* Botón de imagen*/
input#inputImagen {display:none}

#Form form #divImagen {width: 200px; }

#Form form #labelImagen {
	color: var(--azul);
	background-color: rgb(255, 255, 255);
	line-height: normal;
	margin-right: 0px;
}

#Form form #divImagen label {cursor: pointer;}

#preview img {border-radius: 15px;}