<section class="flex-row grow" id="cuerpo">
   <!--********************** CONTADOR ****************************-->
  <button type="text" id="contador-de-películas">Contador</button>
  <%- include('PEL-1FILTROS') %>
  <!--*************** COMIENZO - ZONA DE PELÍCULAS ****************-->
  <section id="cuerpo-listado" class="flex-col grow">
    <!--CRITERIO PARA MOSTRAR (LISTADO-ECC-VPC)-->
    <select id="título" name="criterio">
      <option class="cursiva" value="SF">Elegí una opción...</option>
      <option value="LP">Todas las Películas</option>
      <optgroup class="cursiva" label="Un paseo por..."> 
        <option class="not-cursiva" value="CFC">Películas Centradas en la Fe Católica (CFC)</option>
        <option class="not-cursiva" value="VPC">Películas con Valores (VPC)</option>
      </optgroup> 
    </select>
    <!--LISTADO-->
    <!--CFC-->
    <!--VPC-->
  </section>
  <!--************************** FIN ****************************-->
</section>
