<header>
	<!-- Home y Agregar -->
	<section>
		<!-- Home -->
		<div class="grupos">
			<i id="home-icono" class="fas fa-home scale"></i>
			<%- include("1-MenuHome") %>
		</div>
		<!-- Crear/Menú de Película -->
		<div class="grupos">
			<% if (typeof detalle != "undefined") { %>
				<i id="pelis-icono" class="fas fa-video"></i>
				<%- include("2-MenuPelis") %> <% } else { %>
			<div id="pelis-icono" class="scale">
				<a href="/producto/agregar/palabras-clave">
					<i class="fas fa-video"></i>
					<i id="plus">+</i>
				</a>
			</div>
			<% } %>
		</div>
		<!-- Búsqueda rápida -->
		<div id="busquedaRapida" class="grupos">
			<i class="fas fa-search scale"></i>
			<!-- Se crea el sector donde están el input y los resultados -->
			<div id="inputMasResultados" class="ocultar">
				<input type="text" placeholder="Escribí más de 3 letras">
				<div id="displayResultados" class="ocultar"></div>
				<div id="escribiMas" class="ocultar">Por favor escribí algo más...</div>
			</div>
		</div>
	</section>
	<!-- Título del Encabezado -->
	<p id="titulo">Evangelicemos la Cultura</p>
	<section>
		<!-- Música de fondo -->
		<div class="grupos">
			<i id="musica-icono" class="fas fa-music scale"></i>
			<audio src="/audio/Música-de-fondo.mp3"></audio>
		</div>
		<!-- Usuario -->
		<div class="grupos"><%- include("4-MenuUsuario") %></div>
	</section>
</header>
