<style>
	#cuerpo {align-items: flex-start; height: 100%;}
	#zona-de-vitreaux {padding-left: 30px; width: 220px; height: 100%; justify-content: center;}
</style>
<div id="zona-de-vitreaux" class="flex-col"><img alt="Vitreaux" src="/imagenes/0-Base/Vitraux.jpg" title="Vitreaux"></div>
