<section id="tapar-el-fondo" class="ocultar">
</section>
<section id="cartelAdvertencia">
	<i class="fa-solid fa-triangle-exclamation"></i>
	<p>Se perderán los cambios si no los guardás</p>
	<div id="flechas">
		<i class="fas fa-arrow-alt-circle-left" title="Cancelar"></i>
		<i class="fas fa-check-circle" title="Continuar"></i>
	</div>
</section>
