<meta charset="UTF-8">
<meta name="viewport" content="width=device-width", initial-scale=1.0>

<!-- Título de la pestaña --><title><%= titulo %></title>
<!-- Íconos<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> -->
<!-- Íconos --><script src="https://kit.fontawesome.com/ece34fc5dd.js" crossorigin="anonymous"></script>
<!-- FONTS--><link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<!-- NORMALIZE--><link rel="stylesheet" href="/formatoDeVistas/0-Base/0-Normalize.css">
<!-- FAVICON --><link rel="shortcut icon" href="#">

<!-- ESTILOS PERSONALIZADOS-->
<link rel="stylesheet" href="/formatoDeVistas/0-Base/0-Clases.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Base/0-Colores.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Base/0-Fonts.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Secciones/menusHeader/Quick-Search.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Secciones/menusHeader/Menus.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Secciones/Header.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Secciones/Main.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Secciones/Footer.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Secciones/Varios.css">
<!-- <link rel="stylesheet" href="/formatoDeVistas/0-Base/imprimir.css" media="print">-->

<!-- LOGOS EN LA PESTAÑA DE INTERNET-->
<link rel="icon" href="/imagenes/0-Base/Sagrada Familia.jpg">
<link rel="shortcut icon" href="#">

<!-- Scripts -->
<script src="/FE-javascript/0-Header/menuDesplegable.js"></script>
<script src="/FE-javascript/0-Header/quickSearch.js"></script>
<script src="/FE-javascript/0-Header/musica.js"></script>

<!-- Scripts y Estilos Personalizados -->