/* Formato del cuerpo */
#cuerpo {align-items: center; justify-content: center; position: relative; padding-top: 35px;}
#cuerpo {display: flex; flex-direction: column; flex-grow: 1;}

/* Formato del titulo principal */
#cuerpo #titulo {position: absolute; top: 0; left: 0;}
#cuerpo #titulo {border-bottom-right-radius: 10px; background-color: var(--amarillo-claro);}

/* Formato del formulario */
#dataEntry {padding: 30px 40px; border-radius: 20px;}
#dataEntry {background-color: var(--gris-claro);border: var(--gris-oscuro) 7px solid; 
	box-shadow: 0px 0px 10px rgb(100, 100, 100);}

/* Título y ayuda del formulario */
#dataEntry #tituloConAyuda {align-self: flex-start; position: relative;}
#dataEntry #tituloConAyuda h2 {margin-top: 0;}
#dataEntry #tituloConAyuda .mensajeAyuda {max-width: 350px;}
#dataEntry #tituloConAyuda .mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}

/* Partes específicas del formulario */
#dataEntry h2 {align-self: flex-start; color: white; background-color: var(--azul-oscuro); 
	padding: 5px 10px; border-radius: 10px;}
#dataEntry h3 {margin: 15px 0 3px;  align-self: flex-start;}
#dataEntry input, #dataEntry textArea, #dataEntry select {border-width: .7px; border-radius: 5px;}
#dataEntry input:disabled, #dataEntry select:disabled, #dataEntry textarea:disabled {background-color: var(--amarillo-claro); opacity: 1;}
#dataEntry input, #dataEntry select, #dataEntry textarea {background-color: white;}
#dataEntry textarea {resize:vertical; max-height: 100px; min-height: 22px;}

/* Todos los mensajes */
#dataEntry .mensajeError, #dataEntry .mensajeAyuda {z-index: 1; line-height: 1.2rem;}

/* Mensajes de ayuda */
#dataEntry .fa-circle-question {right: -20px;}
#dataEntry .mensajeAyuda {right: -25px; padding: 7px 10px; transform: translate(100%, -50%);}

/*  Mensajes de error*/
#dataEntry .fa-circle-xmark, #dataEntry .fa-circle-check {right: -20px;}
#dataEntry .fa-circle-xmark {z-index: 1;}

/* Procesando información */
#dataEntry #resultado {margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: fit-content;}
#dataEntry #resultado {font-style: normal; border-radius: 10px;}

/* Resultados */
/* Todos */
.mensajeError, .mensajeError::before, 
.mensajeAyuda, .mensajeAyuda::before,
.fa-circle-check, .fa-circle-question, 
.fa-circle-xmark {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
.resultadoEnEspera, .sinResultado {padding: 3px 10px; color: white; font-weight: bold;}
/* Exito */
/* Neutro */
.resultadoEnEspera {background-color: var(--gris-oscuro);}
.mensajeAyuda, .mensajeAyuda u {background-color: var(--gris-oscuro); color: var(--gris-claro);}
.mensajeAyuda::before {content: ""; left: -10px; border: 5px solid; border-color: transparent var(--gris-oscuro) transparent transparent;}
/* Error */
.mensajeError {left: 20px;}
.mensajeError::before {left: -12px;}

/* Botones */
#dataEntry button, #dataEntry input[type="submit"] {color: white; background-color: var(--verde-oscuro); padding: 3px 10px; border-radius: 10px; font-weight: bold;}
#dataEntry i {cursor: pointer;}
#dataEntry i span {cursor: default;}

/* Flechas */
#dataEntry #flechas {justify-content: space-around; margin-left:auto; margin-right:auto; width:100%; max-width: 500px}
#dataEntry #flechas i {font-size: 2rem;}
#dataEntry #flechas a i {color: var(--gris-oscuro);}
#dataEntry .flechaSinLink {color: var(--celeste-oscuro); cursor: default;}

/* Submit button */
#dataEntry button em {color: var(--amarillo-claro); background-color: inherit;}
