<!-- Inicio -->
<% if (codigo == "inicio") { %>
	<section id="cuerpo"  class="flex-row">
		<%- include("Inicio") %>
	</section>
<% } %>
<!-- Nosotros -->
<% if (codigo == "nosotros") { %><%- include("Nosotros") %><% } %>
<!-- RCLV -->
<% if (codigo.includes("historicos")) { %>
	<section id="cuerpo" class="flex-col">
		<%- include('RCLV') %>
	</section>
<% } %>
