<!-- Inicio -->
<% if (codigo == "inicio") { %>
	<section id="cuerpo" class="flex-row">
		<%- include("Inicio") %>
	</section>
<% } %>
<!-- Nosotros -->
<% if (codigo == "nosotros") { %><%- include("Nosotros") %><% } %>
