<%- include("2-Vitreaux") %> 
<section id="zona-de-bienvenida" class="flex-row grow">
	<div class="flex-row">
		<a href="/listado/sugeridas"><button>Quiero que me recomienden una película o colección, en función del momento del año</button></a>
		<a href="/listado/incorporacion"><button>Quiero elegir una película o colección, con filtros personalizados</button></a>
		<a href="/cfc"><button>Un paseo por nuestras peliculas <em><strong>Centradas en la Fe Católica</strong></em> (CFC)</button></a>
		<a href="/vpc"><button>Un paseo por nuestras peliculas que sin ser CFC, tienen <em><strong>Valores Presentes en nuestra Cultura</strong></em> (VPC)</button></a>
	</div>
</section>
