<!-- Vitreaux -->
<div id="zona-de-vitreaux">
	<img alt="Vitreaux" src="/imagenes/0-Base/Vitraux.jpg" title="Vitreaux">
</div>

<!-- Zona de Bienvenida -->
<section id="zona-de-bienvenida" class="flex-row grow">
	<div class="flex-row">
		<a href="/productos/sugeridas/incorporacion">
			<button>
				<img src="/imagenes/8-Inicio/Recomendame.jpg" alt=""><br>
				Quiero que me recomienden una película o colección
			</button>
		</a>
		<a href="/productos/listado/incorporacion">
			<button>
				<img src="/imagenes/8-Inicio/Filtro.jpg" alt=""><br>
				Quiero elegir una película o colección, con filtros personalizados
			</button>
		</a>
		<a href="/productos/cfc">
			<button>
				<img src="/imagenes/8-Inicio/Cruz.jpg" alt=""><br>
				Un paseo por nuestras peliculas <em><strong>Centradas en la Fe Católica</strong></em> (CFC)
			</button>
		</a>
		<a href="/productos/vpc">
			<button>
				<img src="/imagenes/8-Inicio/Valores.jpg" alt=""><br>
				Un paseo por nuestras peliculas que sin ser CFC, tienen <em><strong>Valores Presentes en nuestra Cultura</strong></em> (VPC)
			</button>
		</a>
	</div>
</section>
