<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!--NORMALIZE--><link rel="stylesheet" href="/css/normalize.css">
  <!--SÍMBOLOS--><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!--FONTS--> <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  <!--ESTILOS PERSONALIZADOS-->
    <link rel="stylesheet" href="/css/0-HOME-0-BODY.css">
    <link rel="stylesheet" href="/css/0-HOME-1-HEADER.css">
    <link rel="stylesheet" href="/css/0-HOME-2-MAIN.css">
    <link rel="stylesheet" href="/css/0-HOME-3-FOOTER.css">
    <link rel="stylesheet" href="/css/0-HOME-4-MEDIA-QUERIES.css">
    <link rel="stylesheet" href="/css/imprimir.css" media="print">
</head>
<body>
  <header>
    <!--<a href="/audio/Música-de-fondo.mp3" target="framename"><i class="fas fa-music"></i></a>-->
    <!--<audio autoplay src="/audio/Música-de-fondo.mp3"></audio>-->
    <p>El Consejero Católico</p>
  </header>
  <main>
    <section id="Main-y-Footer">
      <section id="Main">
        <section id="Saludo">
          <button>Bienvenido Diego</button>
        </section>
        <section id="Cuerpo">
          <p><button id="Título">Menú de Opciones</button></p>
          <p><button id="Subtítulo">Subtítulo</button></p>
          <div>
            <a href="/peliculas"><p><button class="Activo">Películas</button></p></a>
            <p><button class="Pasivo">Mensajería</button></p>
            <p><button class="Pasivo">Conferencias</button></p>
          </div>
        </section>
      </section>
      <footer>
        <i class="fas fa-home"></i>
        <p>Quiénes Somos</p>
        <p>Contactanos</p>
      </footer>    
    </section>
    <section id="Sagrada-Familia">
      <img src="/img/Sagrada Familia.jpg" alt="Sagrada Familia">
    </section>
  </main>
</body>
</html>