<%- include('./parciales/0-0PRE-HEAD') %>
<head>
  <%- include('./parciales/0-1HEAD') %>
  <title>Home</title>
</head>
<body>
  <header>
    <%- include('./parciales/1-HEADER') %>
    <!--<a href="/audio/Música-de-fondo.mp3" target="framename"><i class="fas fa-music"></i></a>-->
    <!--<audio autoplay src="/audio/Música-de-fondo.mp3"></audio>-->
  </header>
  <main>
    <section id="Main-y-Footer">
      <section id="Main">
        <section id="Saludo">
          <button type="button">Bienvenido Diego</button>
        </section>
        <section id="Cuerpo">
          <p><button id="Título">Menú de Opciones</button></p>
          <p><button id="Subtítulo">Subtítulo</button></p>
          <div>
            <a href="/peliculas"><p><button class="Activo">Películas</button></p></a>
            <p><button class="Pasivo">Mensajería</button></p>
            <p><button class="Pasivo">Conferencias</button></p>
          </div>
        </section>
      </section>
      <%- include('./parciales/3-FOOTER') %>
    </section>
    <section id="Sagrada-Familia">
      <img src="/images/Sagrada Familia.jpg" alt="Sagrada Familia">
    </section>
  </main>
</body>
</html>