<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado</title>
</head>
<body>
	<div>
		<% for (let n of listado) { %>
			<p><%= n.id %>, <%= n.nombre %>, <%= n.pais.nombre %>, <%= n.rol_usuario.nombre %></p>
		<% } %>
	</div>
</body>
</html>