<!DOCTYPE html> 
<head> 
<title>How do I insert link in select tag in HTML?</title> 
<meta name="keywords" content=""> 
<meta name="description" content=""> 
</head> 
<body> 
<p>Please select city : </p>
<select name="select-city" onchange="location = this.value;"> 
<option value="">Select-City</option> 
 <option value="https://en.wikipedia.org/wiki/New_Delhi">New Delhi</option> 
 <option value="https://en.wikipedia.org/wiki/New_York">New York</option> 
 <option value="https://en.wikipedia.org/wiki/Bern">Bern</option> 
 <option value="https://en.wikipedia.org/wiki/Beijing">Beijing</option> 
</select> 
</body> 
</html> 