<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-Flechas.css">
<div class="iconos">
	<i class="fa-solid fa-video"></i>
</div>
<div class="iconos">
	<i class="fa-solid fa-circle-info" tabindex="-1" title="Ver su información"></i>
	<i class="fa-solid fa-chart-line" tabindex="-1"></i>
</div>
<div class="iconos">
	<i id="ppp" class="<%= interesDelUsuario.icono %>" tabindex="-1" title="<%= interesDelUsuario.nombre %>"></i>
</div>