/* Ancho */
@media (max-width: 1470px) {
	#cuerpo #zona-de-vitreaux {display: none;}
}
@media (max-width: 1200px) {
	body main #imgDerecha {display: none;}
}
@media (min-width: 701px) {
	#zona-de-bienvenida #botones {flex-direction: row;}
}
@media (max-width: 700px) {
	#zona-de-bienvenida #cartelBienvenida {display: none;}
}
@media (max-width: 550px) and (min-height: 550px) {
	#zona-de-bienvenida #botones {flex-direction: column; height: 100%;}
}

/* Altura */
@media (min-height: 351px) and (min-width: 551px) {
	#zona-de-bienvenida #botones a {scale: 1.1;}
}
@media (max-height: 600px) {
	#zona-de-bienvenida #cartelBienvenida {display: none;}
}
@media (min-height: 701px) {
	#zona-de-bienvenida #cartelBienvenida {scale: 1.25;}
}

