/* Cuerpo */
#cuerpo {flex-direction: column;}

/* CUADRO DE TEXTO - CUADRO */
#cuerpo #cuadro-de-texto {top: 50%; left: 50%; translate: -50% -50%; position: absolute;}
#cuerpo #cuadro-de-texto {display: flex; flex-direction: column; scale: 1.2;}
#cuerpo #cuadro-de-texto {padding: 30px; border-radius: 20px; width: max-content;}
#cuerpo #cuadro-de-texto {border: 2px solid var(--azul-frances); background: var(--gris-claro); box-shadow: 0px 0px 20px var(--azul-oscuro);}

/* CUADRO DE TEXTO - TEXTO */
#cuerpo #cuadro-de-texto .bloque:nth-child(n+2) {margin-top: 15px;}
#cuerpo #cuadro-de-texto .bloque :where(p, ul li) {margin-top: 8px; font-size: 1.1rem; color: var(--marron);}
#cuerpo #cuadro-de-texto .bloque ul ul li {margin-top: 2px;}

/* Miscelaneas */
mark {background: var(--marron); color: snow; border-radius: 5px; padding: 0 5px; font-weight: bold;}
.flechas {margin-top: 30px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: baseline;}
.flechas i {font-size: 2rem;}