/* GENERAL */
header {position: relative;}
header p {background-color: var(--azul);color: var(--amarillo-claro);
    display: flex;justify-content: center;align-items:center;
    font-family: Monotype Corsiva;font-size: xxx-large;font-weight: bold;}

.rubro, .user-id {position: absolute;top: 20px;z-index: 1;color: var(--celeste-claro);transform:scale(1.6)}
.rubro {left: 20px;}
.user-id {right: 20px;}
