/* Datos */
#datos {display: flex; flex-direction: row; flex-grow: 1;}

/* Datos Largos */
#datosLargos {margin: 20px 0 5px; padding: 40px 40px 20px;}
#datosLargos {display: flex; flex-direction: column; justify-content: space-around; flex-grow: 1;}
#datosLargos h1 {font-size: 1.5rem;}
#datosLargos #contenido {height: 300px; overflow-y: auto; background-color: var(--gris-intermedio); padding: 0 5px;}
#datosLargos #contenido h2 {margin-top: 15px;}
#datosLargos #contenido #ingrs {margin-top: 5px;}
#datosLargos #contenido p {line-height: 1;}
#datosLargos #contenido .campoTitulo {font-size: 1.1rem; font-weight: bold;}
#datosLargos #contenido #reemps .infoMostrar .orig, 
#datosLargos #contenido #reemps .infoMostrar .edic {padding: 2px 4px; border-radius: 5px;}
/* Ocultar la 'side-bar' */
#datosLargos #contenido::-webkit-scrollbar {display: none; /* Safari and Chrome */}
#datosLargos #contenido {-ms-overflow-style: none; /* Internet Explorer 10+ */scrollbar-width: none; /* Firefox */}
#datosLargos .fa-trash-can {color: var(--rojo-oscuro);}

/* Datos Largos - Ingresos */
#datosLargos #contenido #ingrs tr:nth-of-type(even) {background-color: var(--amarillo-claro);}
#datosLargos #contenido #ingrs tr .campoTitulo {width: 150px;}
#datosLargos #contenido #ingrs tr .infoMostrar {position: relative; width: fit-content; padding: 0 10px 0 50px;}
#datosLargos #contenido #ingrs tr .motivos select {background-color: inherit;}

/* Datos Largos - Reemplazos */
#datosLargos #contenido #reemps .infoMostrar .edic {background-color: var(--gris-oscuro); color: white; width: fit-content;}
#datosLargos #contenido #reemps .infoMostrar .edic .fa-solid {border: 1px solid white; margin-left: 5px;}
#datosLargos #contenido #reemps .infoMostrar.ocultar {display: block;}

/* Datos Breves */
#datosBreves {display: flex; flex-direction: column; justify-content: center; width: max-content; }
#datosBreves .titulo {width:160px; padding: 3px 10px; font-size: 1.1rem;}
#datosBreves .titulo {font-weight: bold; background-color: var(--gris-oscuro); color: snow; border-radius: 10px; text-align: center;}
#datosBreves #texto {margin-right: 15px;}
#datosBreves .datosProducto, #datosBreves #texto .datosUsuario {margin-top: 10px;}
#datosBreves #texto .titulo {margin-top: 20px;}
#datosBreves #texto p.status span {padding: 2px 5px; margin-left: 2px; border-radius: 5px; font-weight: bold;}
#datosBreves #texto p#status1 span {background-color: var(--gris-oscuro); color: snow;}
#datosBreves #texto p#status2 span {background-color: var(--naranja-oscuro); color: snow;}
#datosBreves #texto p#status3 span {background-color: var(--verde-oscuro); color: snow;}
#datosBreves #texto p#status4 span {background-color: var(--rojo-oscuro); color: snow;}

/* Comandos - Particularidades */
#cuerpo #flechas i {font-size: 2rem; transition: 300ms;}
#cuerpo #flechas i:hover {transform: scale(1.3);}
#cuerpo #flechas .fa-circle-left {color: var(--gris-oscuro);}
