#cuerpoFooter {display: flex; flex-direction: column-reverse;}
#cuerpoFooter #cuerpo {background-color: transparent;}

/* Sección información */
#cuerpo #informacion {display: flex; flex-direction: row; flex-grow: 1; position: relative;}
#cuerpo #informacion {align-self: flex-start; justify-content: center; width: 100%;}

/* Sección ficha técnica */
#fichaTecnica {position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
#fichaTecnica {padding: 25px; max-width: 30vw; }
#fichaTecnica div {background-color: var(--gris-claro);border: var(--gris-oscuro) 4px solid; box-shadow: 0px 0px 10px rgb(100, 100, 100);}
#fichaTecnica div {padding: 15px 20px; border-radius: 20px;}
#fichaTecnica div p {line-height: 1.5;}

/* Partes específicas de las imágenes */
#informacion #imgSugerida {width: 40vw;}
#informacion #imgSugerida h2 {background-color: var(--verde-oscuro);}
#informacion #imgActual {width: 20vw; position: absolute; right: 0; top: 0; height: 50%;}
#informacion #imgActual h2 {background-color: var(--rojo-oscuro);}

/* Partes comunes de las imágenes */
#informacion .tituloMasImagen {display: flex; flex-direction: column;}
#informacion .tituloMasImagen h2 {border-radius: 10px; padding: 3px 10px; font-weight: normal; margin: 10px; align-self: center; color: var(--celeste-claro);}
#informacion .tituloMasImagen .contenedorImagen {position: relative; height: 100%; width: 100%;}
#informacion .tituloMasImagen .contenedorImagen img {position: absolute; transform: translateX(-50%); left: 50%;}
#informacion .tituloMasImagen .contenedorImagen img {border-radius: 10px; max-height: 100%; max-width: 100%;}

/* Flechas */
#flechas i {font-size: 2rem;}
