#cuerpoFooter {width: 70vw;}

/* Datos */
#datos {display: flex; flex-direction: row; flex-grow: 1;}

/* Datos Largos */
#datosLargos {display: flex; flex-direction: column; justify-content: space-around; padding: 40px 40px 20px; position: relative; flex-grow: 1;}
#datosLargos #contenido h1 {font-size: 1.5rem;}
#datosLargos #contenido h1 em {font-size: 1.1rem;}
#datosLargos #contenido .datosAdicionales {margin-top: 10px;}

/* Sinopsis - General y Texto*/
#datosLargos #contenido #sinopsis {border: var(--gris-oscuro) 5px solid; box-shadow: 0px 0px 10px rgb(100 100 100);}
#datosLargos #contenido #sinopsis {margin: 10px 15px 5px; padding: 15px 20px; border-radius: 15px; background-color: var(--amarillo-claro);}
#datosLargos #contenido #sinopsis nav {font-size: 1.1rem; max-height: 93px;}
/* Sinopsis - Ayuda */
#datosLargos #contenido #sinopsis .ayuda .ayudaMostrar {max-width: 300px;}

/* Datos Breves */
#datosBreves {width: max-content; }
#datosBreves h3 {width: 160px;}

/* Comandos - Particularidades */
#cuerpo #flechas i {font-size: 2rem; transition: 300ms;}
#cuerpo #flechas i:hover {transform: scale(1.3);}
