#cartelMotivosRechazo {position: absolute; top: 50%; left: 50%; translate: -50% -50%; z-index: 11;}
#cartelMotivosRechazo {background-color: var(--rojo-oscuro); padding: 20px; border-radius: 20px;}
#cartelMotivosRechazo {border: var(--naranja) 5px solid; box-shadow: 0px 0px 10px rgb(100 100 100);}
#cartelMotivosRechazo {width: 300px; text-align: center;}
#cartelMotivosRechazo p {color: snow; font-size: 1.2rem;}
#cartelMotivosRechazo select {margin-top: 20px; margin-bottom: 20px; border-radius: 10px; padding: 0 5px;}
#cartelMotivosRechazo .flechas {display: flex; flex-direction: row; justify-content: space-evenly;}
#cartelMotivosRechazo .flechas button {border: none; border-radius: 50%;}
#cartelMotivosRechazo .flechas i {font-size: 2rem;}
#cartelMotivosRechazo .flechas i.fa-circle-left {color: var(--azul-oscuro);}
#cartelMotivosRechazo .flechas i.rechazar {color: var(--rojo-oscuro);}
