/* Segunda Columna */
#sectorLogos a.logos {width: 30px; height: 30px; position: relative; }
#sectorLogos a.logos img {width: 100%; height: 100%; position: absolute; object-fit: contain; border-radius: 8px;}
