/* Datos */
#datos #datosBreves {min-width: 210px;}

/* Datos Largos */
#datosLargos {display: flex; flex-direction: column; justify-content: space-evenly; flex-grow: 1;}
#datosLargos {padding: 0 40px;}
#datosLargos h1 {font-size: 1.5rem;}
#datosLargos #contenido {max-height: 50vh; min-height: 35vh; overflow-y: auto; background: var(--verde-claro);}
#datosLargos #contenido {padding: 0 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
#datosLargos #contenido h2 {margin-top: 15px; font-variant: small-caps}
#datosLargos #contenido #ingrs {margin-top: 5px;}
#datosLargos #contenido p {line-height: 1;}
/* Ocultar la 'side-bar' */
#datosLargos #contenido::-webkit-scrollbar {display: none; /* Safari and Chrome */}
#datosLargos #contenido {-ms-overflow-style: none; /* Internet Explorer 10+ */scrollbar-width: none; /* Firefox */}
#datosLargos .fa-trash-can {color: var(--rojo-oscuro);}
#datosLargos .aprobRech {display: flex; flex-direction: row; flex-wrap: nowrap; width: 40px; justify-content: space-around;}

/* Datos Largos - Ingresos */
#datosLargos #contenido #ingrs tr:nth-of-type(even) {background: var(--amarillo-claro);}
#datosLargos #contenido #ingrs tr .infoMostrar {position: relative; width: fit-content; padding: 0 10px;}
#datosLargos #contenido #ingrs tr #cartelRechazo select {background: inherit;}

/* Datos Largos - Reemplazos */
#datosLargos #reemps .infoMostrar :is(.orig, .edic) {padding: 2px 4px; border-radius: 5px; font-style: italic;}
#datosLargos #reemps .infoMostrar .orig {background: var(--amarillo-claro);}
#datosLargos #reemps .infoMostrar .edic {background: var(--gris-oscuro); color: white; width: fit-content;}
#datosLargos #reemps .infoMostrar .edic .fa-solid {border: 1px solid white; margin-left: 5px;}
#datosLargos #reemps .infoMostrar.ocultar {display: block;}
#datosLargos #reemps #cartelRechazo {position: static; translate: 0 0; padding: 0; width: fit-content; background: transparent}
#datosLargos #reemps #cartelRechazo select {margin: 0;}
