/* Aspectos generales */
#dataEntry {
	min-height: 180px;
	#tituloSecundario {margin-bottom: 20px;}

	/* Partes específicas del formulario */
	#datos {
		.inputError {
			input {width: 250px; padding: 5px 5px; }
			.ayudaMensForm {max-width: none;}
		}

		/* Submit button */
		#submit {
			align-self: center; font-size: 2rem; font-weight: bold; border-radius: 50%;
			&.verde {color: var(--verde-oscuro)}
			&.naranja {color: var(--naranja-oscuro)}
		}
	}
	#fuentesDeInfo {margin: 10px 0 0 15px; font-style: italic;}
}
