/* Aspectos generales */
#dataEntry {display: flex; flex-direction: column;}

/* Encabezado */
#dataEntry #encabezado {display: flex; flex-direction: column; margin-bottom: 10px}
#dataEntry #encabezado #tituloSecundario h2 {margin-bottom: 5px;}
#dataEntry #encabezado #tituloSecundario .ayudaMensForm {max-width: none;}
#dataEntry #encabezado #tituloSecundario ul li {max-width: 350px;}

/* Cuadro de resultados */
#dataEntry #cuadroDeResultados {
	max-width: 86vw; position: relative;
	#ingrManual, #ingrManual * {cursor: pointer;}
}

/* Iconos */
#dataEntry .iconos {margin-top: 20px;}
