/* Ayuda */
#cuerpo {
	/* Cuerpo del formulario */
	#dataEntry {
		#tituloSecundario {margin-bottom: 10px;}
		#datos {
			display: flex; flex-direction: row;
			h3 {color: var(--verde-oscuro); margin-top: 0; margin-right: 5px;}

			/* Partes específicas del formulario */
			.inputError {
				&.altoFila {height: 25px;}
				.ayudaMostrar {max-width: 400px;}
				#radioBtnTitulo {width: 170px;}
			}
			.labelSelect {
				display: flex; flex-direction: row; justify-content: space-between;
				margin-top: 5px;
				label {margin: 0 15px 0 0; font-weight: bold;}
				select {padding: 0; margin-left: 5px;}
				.ayuda {left: -5px; right: auto; translate: -100% -50%;}
			}

			/* Columnas */
			#primeraColumna {
				margin-right: 70px;
				#checkBoxes {
					justify-content: space-between; align-items: center;
					label {padding-left: 5px; line-height: normal; font-weight: bold;}
				}
			}
			#segundaColumna {
				margin-right: 25px; width: 290px;
				hr {margin: 10px 0;}
				.errores {translate: -100% -50%; left: -5px; right: auto; position: absolute;}
				#checkBox {
					display: flex; flex-direction: row; align-items: center;
					label {padding-left: 5px; line-height: normal;}
				}
				#selectsRCLV {
					select {width: 150px;}
					.linkRCLV {
						position: absolute; transform: translateY(-50%); top: 50%;
						width: 15px; cursor: pointer; line-height: 1; color: var(--gris-oscuro);
						&.alta {right: -20px; font-size: 1rem;}
						&.edicion {right: -40px; font-size: 1.15rem;}
					}
				}
			}
		}

		/* Iconos */
		.iconos {
			margin-top: 20px;
			button {background: transparent; border: none; padding: 0; border-radius: 50%;}
		}
	}
}
