/* Partes específicas del formulario */
#dataEntry form {display: flex; flex-direction: column; justify-content: space-between;}

/* Sector de Data Entry */
#dataEntry #datos {display: flex; flex-direction: column; align-items: flex-start;}
#dataEntry #datos textarea, #dataEntry input {width: 250px; padding: 2px 5px; }

#dataEntry .inputError {display: flex;}

/* Submit button */
#dataEntry .iconos {margin-top: 20px; display: flex; justify-content: space-evenly; align-items: center;}
#dataEntry .iconos button {background: transparent; border: none; padding: 0; border-radius: 50%;}
