<!-- Aprobar y Rechazar -->
<td class="aprobRech">
	<i class="fa-solid fa-circle-check"></i>
	<i class="fa-solid fa-circle-xmark rechazar"></i>
</td>
<td class="campoTitulo"><%= campo.titulo %></td>
<td class="campoNombre ocultar"><%= campo.nombre %></td>
<!-- Data-entry -->
<td class="infoMostrar"><em><%= campo.mostrarEdic %></em></td>