<div id="info" class="pointer">
    <h2 >Prefiero esta imagen</h2>
    <!-- Aceptar -->
    <ul type="dots" id="beneficios"></ul>
    <!-- Rechazar -->
    <ul type="dots" id="perjuicios"></ul>
</div>
