<section id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
</section>

<section id="centro">
	<!-- Zona de Vitreaux -->
	<%- include("CMP-Vitreaux") %>
	
	<!-- Zona de Gráficos -->
	<div id="zonaDeGraficos">
		<div id="cuadro" class="bordeConSombra">
			<div id="grafico"></div>
		</div>
	</div>
</section>
