<%- include("FM-TituloPrincipal") %>
<section id="centro">
	<!-- Zona de Vitreaux -->
	<%- include("CMP-Vitreaux") %>

	<!-- Zona de Gráficos -->
	<div id="zonaDeGraficos">
		<div id="cuadro" class="bordeConSombra">
			<div id="grafico"></div>
			<div id="algunosDatos"></div>
		</div>
	</div>
</section>
