/* Formato del cuerpo */
.cuerpo {align-items: center;justify-content: center;}
.cuerpo #titulo {margin: 0px;}

#data_entry {margin-top: 15px; padding: 30px 40px; border-radius: 20px;}
#data_entry {background-color: var(--gris-claro);border: var(--gris-oscuro) 7px solid; 
	box-shadow: 0px 0px 10px rgb(100, 100, 100);}

/* Partes específicas del formulario */
#data_entry h2 {align-self: flex-start; color: white; background-color: var(--azul-oscuro); 
	padding: 5px 10px; border-radius: 10px;}
#data_entry h3 {margin: 15px 0 3px;  align-self: flex-start;}
#data_entry input, #data_entry textArea, #data_entry select {border-width: .7px; border-radius: 5px;}

/*  Mensajes de error*/
#data_entry .fa-times-circle, #data_entry .fa-check-circle {position: absolute; font-size: 1rem;}
#data_entry .fa-times-circle {color: var(--rojo-oscuro);}
#data_entry .fa-check-circle {color: var(--verde-oscuro);}
.fas {z-index: 1;}
#data_entry .mensajeError, #data_entry .mensajeAyuda 
	{position: absolute; font-size: 1rem; z-index: 1; font-weight: normal; border-radius: 6px;}
#data_entry .mensajeError {display: none; width: max-content; padding: 3px 7px; 
	color: var(--azul-oscuro); background-color: var(--amarillo-claro); border: red solid 2px;}
#data_entry .fa-times-circle:hover .mensajeError {display: inline;}

/* Mensajes de ayuda */
#data_entry .fa-question-circle {font-size: 1em; margin-left: 2px; margin-right: 5px;}
#data_entry .mensajeAyuda {padding: 7px 10px; line-height: 1.25rem;}

/* Procesando información */
#data_entry #resultado {margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: fit-content;}
#data_entry #resultado {font-style: normal; border-radius: 10px;}

/* Botones */
#data_entry button {color: white; background-color: var(--gris-oscuro);}
#data_entry button {padding: 3px 10px; border-radius: 10px; font-weight: bold;}
#data_entry i {cursor: pointer;}

/* Flechas */
#data_entry #flechas i {font-size: 2rem;}
#data_entry #flechas a i {color: var(--gris-oscuro);}
#data_entry #flechas i#sinLink {color: var(--celeste-oscuro); cursor: default;}
