/* Formato General */
#data_entry {max-width: 650px; background-color: var(--azul-oscuro); border-color: var(--amarillo-claro)}
#data_entry #subtitulo {color: var(--amarillo-claro); font-size: 1.4rem; font-weight: bold;}

/* Formato del contenido */
#data_entry p, 
#data_entry li, 
#data_entry p strong, 
#data_entry p strong em, 
#data_entry p em, 
#data_entry p u,
#data_entry span
	{font-size: 1.15rem; line-height: 1.3; margin-top: 10px; text-align: justify; color: var(--amarillo-claro);}
#data_entry ol {margin-left: 30px;}
#data_entry span {margin-left: 10px;}

/* Submit button */
#data_entry #final {justify-content: space-evenly; margin-top: 20px;}
#data_entry #final button {font-size: 1.2rem; border-color: var(--amarillo-claro);}
#data_entry button {align-self: center;}
#data_entry button#continuar {background-color: var(--verde-oscuro);}
#data_entry button#salir {background-color: var(--rojo-oscuro);}
