/* Partes específicas del formulario */
#data_entry {min-height: 410px;}
#data_entry form {display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1;}

/* Mensajes de error */
#data_entry .fa-times-circle, #data_entry .fa-check-circle {left: -20px;}
#data_entry #enColeccion .fa-times-circle, #data_entry #enColeccion .fa-check-circle 
	{position: static; transform: none; margin-right: 5px; align-self: center;}

#data_entry .mensajeError {left: 0px; top: 15px; max-width: 300px}

/* Mensajes de ayuda */
#data_entry .fa-question-circle {align-self: center;}
#data_entry .mensajeAyuda {width: fit-content; margin-left: 20px; top: 0;}
#data_entry .mensajeAyuda li {margin-left: 18px;}

/* Sectores de Input */
#data_entry #enColeccion {text-align: right;}
#data_entry textarea, #data_entry input {margin-right: 5px; width: 250px; padding: 2px 5px; }
#data_entry select {padding: 0px; padding-right: 2px;}
#data_entry textarea {resize:vertical; max-height: 100px; min-height: 22px;}

/* Submit button */
#data_entry #flechas {margin: 20px 50px 0;}
#data_entry #flechas button {align-self: center;}
