<section id="login" class="flex-col">
    <p id="tapar-el-fondo"></p>
    <form action="/home" method="POST" class="flex-col">
        <p>INGRESÁ</p>
        <div><!--Dirección de mail-->
            <input type="email" name="e-mail" placeholder="Dirección de mail" required>
        </div>
        <div><!--Contraseña-->
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <div id="button" class="flex-row"><!--Botones-->
            <button type="submit">Aceptar</button>            
            <a href="/registro" id="registrarse"><button type="button">No estoy registrado</button></a>
        </div>
        <div id="button" class="flex-row"><!--Buttons-->
            <a href="#"><button type="button">Olvidé mi contraseña</button></a>
            <button type="reset">Borrar</button>
        </div>
        <div id="google-y-facebook" class="flex-row">
            <img src="/images/0-Base/Logo-Google.png" width="40" alt="Google">
            <img src="/images/0-Base/Logo-Facebook.png" width="40"alt="Facebook">
        </div>
    </form>   
</section>