<div class="ayuda">
	<i class="fa-solid fa-circle-question ayudaIconoForm ayudaClick">
		<ul type="none" class="ayudaMensForm ayudaMensMostrar ocultar">
			<li><%- mensaje %></li>
		</ul>
	</i>
</div>
