<!-- Ayuda -->
<div class="ayuda">
	<i class="fa-solid fa-circle-question ayudaIconoForm ayudaClick">
		<% const tipoTexto = !!locals.mensaje %>
		<ul type="<%- tipoTexto || (mensajes.length == 1) ? 'none' : 'dots' %>" class="ayudaMensForm ayudaMensMostrar ocultar">
			<% if (tipoTexto) { %>
				<li><%- mensaje %></li>
			<% } else for (let mensaje of mensajes) { %>
				<li><%- mensaje %></li>
			<% } %>
		</ul>
	</i>
</div>
