<!-- Cartel -->
<section id="cartelProgreso" class="cartelCentro oculta absoluteCentro flexColAlign">
	<p id="titulo"><%= tarea %></p>
	<div id="contorno">
		<div id="progreso"></div>
	</div>
</section>
