<!-- Cartel -->
<section id="cartelProgreso" class="cartelCentro trabajando ocultar absoluteCentro">
	<!-- Íconos -->
	<i id="trabajando" class="fa-solid fa-tools inicio"></i>

	<!-- Título -->
	<p id="titulo"><%= tarea %></p>

	<div id="contorno">
		<div id="progreso"></div>
	</div>

</section>
