/* Header */

header {position: relative; background-color: var(--azul-oscuro);}
header p {display: flex; justify-content: center; align-items:center;}
header p a {font-family: Monotype Corsiva; font-size: 3rem; font-weight: bold;}
header p a {color: var(--amarillo-claro); text-decoration: none;}

/* Formato de Íconos */
header i, header .fa-question-circle {color: var(--celeste-claro); font-size: 1.8rem; line-height: normal;}
header #usuario-icono #letraInicial, header #plus {color: var(--azul-oscuro); font-weight: bold;}
header #usuario-icono #letraInicial {font-size: 1.6rem;}

/* Ubicación vertical de los íconos */
header .centradoVertical {position: absolute; top: 50%; cursor: pointer;}
header .centradoVertical {transform: translateY(-50%); transition: 500ms;}
header .centradoVertical:hover {transform: translateY(-50%) scale(1.2);}

/* Íconos a la izquierda */
header #home-icono {left: 40px;}
header #home-menu {left: 30px;}
header #pelis-icono {left: 100px}
header #pelis-icono a {position: relative;}
header #pelis-icono a i {position: absolute; transform: translateY(-50%);}
header #pelis-icono a #plus {z-index: 3; left: 3px}
header #pelis-menu {left: 90px;}

/* Íconos a la derecha */
header #musica-icono {right: 130px;}
header #usuario-icono {right: 40px; border-radius: 50%; overflow: hidden; }
header #usuario-icono #imagenUsuario {display: flex; justify-content: center; align-items: center; height: 3rem; width: 3rem;}
header #usuario-icono #imagenUsuario img {height: 120%; width: 120%; object-fit: cover;}
header #usuario-icono #letraInicial {background-color: var(--celeste-claro); padding: 0 8px;}
header #usuario-menu {right: 20px;}
header #usuario-menu .fa-sign-in-alt, 
	header #usuario-menu .fa-registered, 
	header #usuario-menu .fa-sign-out-alt,
	header #usuario-menu .fa-user,
	header #usuario-menu .fa-chart-bar
		{font-size: inherit; color: -webkit-link; font-weight: bold; margin-right: 10px;}
header #usuario-menu .fa-sign-out-alt {transform: rotate(180deg);}

/* Menús varios */
header .dropdown-content {position: absolute; top: 55px;}
header .dropdown-content {padding: 4px 0; border-radius: 10px; background-color: var(--gris-claro); z-index: 2;}
header .dropdown-content a {padding: 4px 16px; display: block;}
