/* Configuración general */
header {height: 10vh; background-color: var(--azul-oscuro); justify-content: space-between; position: relative;}
header, header section, header section .grupos {display: flex; flex-direction: row; align-items: center;}
header section {margin: 0 15px;}

/* Formato del Título */
header p {font-family: Monotype Corsiva; color: var(--amarillo-claro); font-size: 3rem; position: absolute; left: 50%; transform: translateX(-50%);}

/* Formato de íconos */
header section .grupos {margin: 0 15px;}
header section .grupos i {color: var(--celeste-claro); font-size: 1.8rem; line-height: normal; cursor: pointer;}
header #usuario-icono #letraInicial, header #plus {color: var(--azul-oscuro); font-weight: bold;}
header section .grupos .scale {transition: 300ms;}
header section .grupos .scale:hover {transform: scale(1.3);}

/* Formato de Menús */
header section .grupos a {color: var(--azul-oscuro);}
header section .grupos .dropdown-content {position: absolute; top: 50px;}
header section .grupos .dropdown-content {padding: 4px 0; border-radius: 10px; background-color: var(--gris-claro); z-index: 1;}
header section .grupos .dropdown-content a {padding: 4px 16px; display: block;}
header section .grupos .dropdown-content .fas,
header section .grupos .dropdown-content .far {color: inherit; font-size: inherit;}

/* Ícono de agregar producto */
header section .grupos #pelis-icono {position: relative;}
header section .grupos #pelis-icono #plus {z-index: 1; position: absolute; top:50%; transform: translateY(-50%); left: 3px;}

/* Íconos de búsqueda rápida */
header section .grupos#busquedaRapida {position: relative;}
header section .grupos#busquedaRapida input {border-radius: 5px; padding: 3px; width: 150px;}
header section .grupos#busquedaRapida input {position: absolute; bottom: -25px;}

/* Íconos de usuario */
header #usuario-icono {border-radius: 50%; overflow: hidden; }
header #usuario-icono #imagenUsuario {height: 3rem; width: 3rem; cursor: pointer;}
header #usuario-icono #imagenUsuario img {height: 100%; width: 100%; object-fit: cover;}
header #usuario-icono #letraInicial {background-color: var(--celeste-claro); padding: 0 8px; font-size: 1.6rem;}
header #usuario-menu {right: 30px;}
header #usuario-menu .fas {font-size: inherit; color: -webkit-link; font-weight: bold; margin-right: 10px;}
header #usuario-menu .fas.fa-sign-out-alt {transform: rotate(180deg);}
