<!-- Nuestra Misión -->
<div class="bloque">
	<h2>Nuestra Misión</h2>
	<ul type="dots">
		<li>Hacerle accesible a la mayor cantidad posible de personas, las películas y colecciones<br>que cumplan con estas condiciones o alguna de ellas:</li>
		<ul type="dots">
			<li>Que contribuyan a conocer mejor a <b>la Iglesia Católica</b>.</li>
			<li>Que tengan <b>valores</b> afines.</li>
		</ul>
		<li>
			Promover la <b>producción</b> y <b>distribución</b> de este tipo de películas y colecciones, <br>
			mediante su difusión y desalentando la violación de los <a href="/derechos-de-autor"><em>derechos de autor</em></a>
			.
		</li>
	</ul>
</div>
<!-- Visión que tenemos -->
<div class="bloque">
	<h2>Nuestra Visión</h2>
	<ul type="dots">
		<li>Que la relación con Dios sea natural y espontánea en nuestra cultura.</li>
		<li>Que las personas afiancemos nuestro arraigo en Cristo y en la Iglesia por Él fundada.</li>
	</ul>
</div>
