<!-- Quiénes Somos -->
<div class="bloque">
	<h2>Nuestra historia</h2>
	<ul type="disc">
		<li>Enero de 2006: recibimos de regalo la película 'Karol - El hombre que se convirtió en papa'.</li>
		<li>Años 2006-2020: investigación sobre películas con valores afines a la Fe Católica.</li>
		<li>Año 2021: empieza la programación del sitio web para dar a conocer esas películas.</li>
		<li>30/sep/23: se publica en internet nuestro sitio web, originalmente con el dominio <em>elc.lat</em></li>
		<li>27/sep/24: se registra con certeza el primer caso de una visita desconocida.</li>
	</ul>
</div>
