<div id="home-menu" class="dropdown-content ocultar">
	<a href="/peliculas">Inicio</a>
	<hr>
	<a href="/nosotros">Acerca de Nosotros</a>
	<a href="#">Nuestra Historia</a>
	<a href="#">Nuestra política sobre <i class="far fa-copyright"></i></a>
	<hr>
	<a href="#">Contactanos</a>
	<hr>
	<a href="#">Grupo ELC</a>
</div>
