<div id="usuario-icono" class="centradoVertical">
	<% if (locals.usuario) { %>
		<% if (usuario.avatar!="-") { %>
			<div id="imagenUsuario">
				<img src="/imagenes/1-Usuarios/<%= usuario.avatar %>" class="usuario-iconos"/>
			</div>
		<% } else if (usuario.nombre != null) { %>
			<i id="letraInicial" class="usuario-iconos">
				<%= usuario.nombre.slice(0,1).toUpperCase() %>
			</i>
		<% } else { %>
			<i class="fas fa-user-circle usuario-iconos"></i>
		<% } %>
	<% } else { %>
		<i class="fas fa-question-circle usuario-iconos"></i>
		<p>www</p>
	<% } %>
</div>
<div id="usuario-menu" class="dropdown-content ocultar">
	<% if (locals.usuario) { %>
		<a href="/usuarios/detalle"><i class="fas fa-user"></i>Mi usuario</a>
		<a href="#"><i class="far fa-chart-bar"></i>Mis estadísticas</a>
		<hr />
		<a href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
	<% } else { %>
		<a href="/usuarios/login"><i class="fas fa-sign-in-alt"></i>Login</a>
		<a href="/usuarios/mail"><i class="fas fa-registered"></i>Registrarse</a>
	<% } %>
</div>
