<div id="usuario-button" class="pointer">
	<% if (locals.usuario) { %>
		<% if (locals.usuario.avatar!="-") { %> 
			<img
				src="/imagenes/2-Usuarios/<%= locals.usuario.avatar %>"
				class="desplegableUsuario absolute"
				id="imagenUsuario"
			/>
		<% } else if (locals.usuario.nombre != null) { %>
			<div class="absolute">
				<i class="desplegableUsuario icono"><%= locals.usuario.nombre.slice(0,1) %></i>
			</div>
		<% } else { %>
			<i class="desplegableUsuario fas fa-user-circle icono absolute"></i>
		<% } %>
	<% } else { %>
		<i class="desplegableUsuario fas fa-question-circle icono absolute"></i>
	<% } %>
</div>
<div id="menu-usuario" class="dropdown-content ocultar">
	<% if (locals.usuario) { %>
		<a href="/usuarios/detalle">Mi usuario</a>
		<a href="#">Mis estadísticas</a>
		<hr />
		<a href="/login/logout">Logout</a>
	<% } else { %>
		<a href="/login">Login</a>
		<a href="/usuarios/mail">Registrarse</a>
	<% } %>
</div>
