<div id="usuario-button" class="pointer">
	<% if(locals.usuario && locals.usuario.avatar) { %>
	<img
		src="/imagenes/2-Usuarios/<%= locals.usuario.avatar %>"
		class="desplegableUsuario"
		id="imagenUsuario"
	/>
	<% } else { %>
	<i class="desplegableUsuario fas fa-user-circle icono"></i>
	<% } %>
</div>
<div id="menu-usuario" class="dropdown-content ocultar">
	<% if (locals.usuario) { %>
		<a href="/usuarios/detalle">Mi usuario</a>
		<a href="#">Mis estadísticas</a>
		<hr />
		<a href="/login/logout">Logout</a>
	<% } else { %>
		<a href="/login">Login</a>
		<a href="/usuarios/registro-mail">Registrarse</a>
	<% } %>
</div>
