/* Formato general del cartel */
#cartelAdvertencia {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 11;}
#cartelAdvertencia {padding: 20px; border-radius: 15px;}
#cartelAdvertencia {color: white; border: 6px double white; background-color: var(--rojo-oscuro);}

/* Alineación interna */
#cartelAdvertencia {display: flex; flex-direction: column; align-items: center;}

/* Partes internas */
#cartelAdvertencia .fa-triangle-exclamation {font-size: 2rem; margin-bottom: 15px; color: var(--amarillo-oscuro);}
#cartelAdvertencia p {font-size: 1.2rem;}

/* Botones 'Cancelar' y 'Continuar' */
#cartelAdvertencia #flechas {margin-top: 40px; width: 45%; display: flex; flex-direction: row; justify-content: space-between;}
#cartelAdvertencia .fas {background-color: white; border: 1px solid white;}
#cartelAdvertencia .fas {font-size: 2rem; border-radius: 50%; cursor: pointer;}