<!-- Rechazo -->
<link rel="stylesheet" href="/publico/formatos/3-RevisionEnts/RE9-EdicionAvatarRech.css">
<form method="POST" id="cartelRechazo" class="ocultar absoluteCentro" action="<%= urlActual %>&rechazo=true">
	<h2>Gracias.</h2>
	<p><em>Por favor explicanos el motivo<br>por el que rechazás la sugerencia</em></p>
	<select name="motivo_id">
		<option value="" selected>Elegí una opción</option>
		<% for (motivo of motivos) { %>
		<option value="<%= motivo.id %>"><%= motivo.descripcion %></option>
		<% } %>
	</select>
	<div class="flechas">
		<i class="fa-solid fa-circle-left" title="Cancelar"></i>
		<button type="submit" class="inactivo">
			<i class="fa-solid fa-circle-right rechazar" title="Rechazar"></i>
		</button>
	</div>
</form>
<script src="/publico/javascript/3-RevisionEnts/RE9-EdicionAvatarRech.js"></script>
