<!-- Rechazo -->
<form method="POST" id="cartelRechazo" class="ocultar absoluteCentro" action="<%= urlActual %>&rechazar=true">
	<h2>Gracias.</h2>
	<p><em>Por favor explicanos el motivo<br>por el que rechazás la sugerencia</em></p>
	<select name="motivo_id">
		<option value="" selected>Elegí una opción</option>
		<% for (motivo of motivos) { %>
		<option value="<%= motivo.id %>"><%= motivo.descripcion %></option>
		<% } %>
	</select>
	<div class="iconos">
		<i class="fa-solid fa-circle-left" title="Cancelar"></i>
		<button type="submit" class="inactivo">
			<i class="fa-solid fa-circle-right rechazar" title="Rechazar"></i>
		</button>
	</div>
</form>
