/* Formato del cuerpo */
#cuerpo {align-items: center; justify-content: center; position: relative;}
#cuerpo {display: flex; flex-grow: 1; padding-top: 20px;}

/* Formato del título */
#cuerpo #titulo {position: absolute; top: 0; left: 0; border-bottom-right-radius: 10px;}

/* Temas generales del formulario */
#dataEntry {margin-top: 15px; padding: 30px 40px; border-radius: 20px;}
#dataEntry {background-color: var(--gris-claro);border: var(--gris-oscuro) 7px solid; box-shadow: 0px 0px 10px rgb(100, 100, 100);}

/* Temas generales de dataEntry */
#dataEntry #primeraCol {margin-right: 50px; width: 193px;}
#dataEntry #segundaCol {display: flex; flex-direction: column; width: 206px;}
#dataEntry h4 {line-height: 1; font-weight: normal;}
#dataEntry .flexRowAlign {display: flex; flex-direction: row; align-items: center;}
#dataEntry .flexRowAlign label {margin-left: 3px; line-height: .8;}
#dataEntry select {border-width: .7px; border-radius: 5px; background-color: white;}
#dataEntry .borderTop {margin-top: 15px; padding-top: 10px; border-top: solid 1px gray;}
#dataEntry .margenBottomTitulo {margin-bottom: 5px;}
#dataEntry input[type='number']::-webkit-outer-spin-button, #dataEntry input[type='number']::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;} /* Quitar flechas del input - Chrome, Safari, Edge, Opera */
#dataEntry input[type=number] {-moz-appearance: textfield;} /* Quitar flechas del input - Firefox */
#dataEntry input, #dataEntry #posiblesRepetidos {border-width: .7px; border-radius: 5px; background-color: white;}

/* Temas específicos de dataEntry */
#dataEntry h4, #dataEntry select {margin-left: 10px;}
#dataEntry #preguntas #opcionesContemp {width: 70px;}
#dataEntry .input[name="nombre"] {width: 100%; padding-left: 5px;}
#dataEntry #genero div {margin-left: 12px;}
#dataEntry #valoresFecha {height: 80px;}
#dataEntry #valoresFecha a {margin-left: 10px; border-radius: 50%; position: relative; width: 20px; height: 20px; overflow: hidden; border: 1px dotted var(--gris-oscuro);}
#dataEntry #valoresFecha a img {position: absolute; object-fit: contain; height: 100%; width: 100%;}
#dataEntry .input[name='ano'] {width: 50px; margin-left: 10px; text-align: center;}

/* Temas específicos de dataEntry - Posibles Repetidos */
#dataEntry #posiblesRepetidos {height: 70px; border: 1px var(--azul-oscuro) solid; margin-top: 5px; display: flex; flex-direction: column; padding: 5px; overflow-y: auto; overflow-x: hidden;}
#dataEntry #posiblesRepetidos li {list-style-position: outside; padding: 3px 0; display: flex; flex-direction: row;}
#dataEntry #posiblesRepetidos li input {margin-right: 5px;}
#dataEntry .sinCasos {justify-content: center; align-items: center; color: var(--verde-oscuro); font-weight: bold;}

/* Temas específicos de dataEntry - RCLI */
#RCLI #ocultarEnProcCan {align-items: flex-end; padding: 8px 0;}

/* Todos los mensajes */
#dataEntry .mensajeError, #dataEntry .mensajeAyuda {z-index: 1; line-height: 1.2rem;}

/* Mensajes de ayuda */
#dataEntry .fa-circle-question {right: -20px;}
#dataEntry .mensajeAyuda {right: -25px; padding: 7px 10px; transform: translate(100%, -50%); max-width: 350px;}
#dataEntry .mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}

/*  Mensajes de error*/
#dataEntry .fa-circle-xmark, 
#dataEntry .fa-circle-check {left: -20px;}
#dataEntry .fa-circle-xmark {z-index: 1;}
#dataEntry .mensajeError {max-width: 200px;}

/* Submit button */
#dataEntry #flechas {margin-top: 20px; display: flex; flex-direction: row; justify-content: space-evenly;}
#dataEntry #flechas .flechaSinLink {color: var(--celeste-oscuro); cursor: default;}
#dataEntry #flechas button {background-color: transparent; border: none; padding: 0; border-radius: 50%;}
#dataEntry #flechas button .fa-circle-check {position: static; transform: none;}
#dataEntry #flechas i {font-size: 2rem;}
#dataEntry #flechas a i {color: var(--gris-oscuro)}

/* Resultados */
/* Todos */
.mensajeError, .mensajeError::before, .mensajeAyuda, .mensajeAyuda::before,
.fa-circle-check, .fa-circle-question, .fa-circle-xmark {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
.mensajeError, .mensajeAyuda {font-weight: normal; width: max-content; border-radius: 6px;}
.fa-circle-check, .fa-circle-xmark {background-color: var(--gris-claro); border-radius: 50%;}
/* Exito */
.fa-circle-check {color: var(--verde-oscuro); cursor: default;}
/* Neutro */
.resultadoEnEspera {background-color: var(--gris-oscuro);}
.fa-circle-question {color: var(--gris-oscuro);}
.link {background-color: var(--gris-oscuro); color: var(--gris-claro); text-align: center; border-radius: 50%; font-weight: bold; line-height: 1; padding: 1px; }
.mensajeAyuda, .mensajeAyuda u {background-color: var(--gris-oscuro); color: var(--gris-claro);}
.mensajeAyuda::before {content: ""; left: -10px; border: 5px solid; border-color: transparent var(--gris-oscuro) transparent transparent;}
/* Error */
.fa-circle-xmark {color: var(--rojo-oscuro);}
.fa-circle-xmark:hover .mensajeError {display: inline;}
.mensajeError {display: none; color: var(--azul-oscuro); background-color: var(--amarillo-claro); border: var(--rojo-oscuro) solid 2px; left: 20px; padding: 3px 7px;}
.mensajeError::before {content: ""; left: -12px; border: 5px solid; border-color: transparent var(--rojo-oscuro) transparent transparent;}
