<li>
	<button type="text" class="flex-row pointer" id= "ingrManual" autofocus>
		<img class="imagenChica" src="/imagenes/0-Base/AvatarGenericoProd.jpg" alt="Ingresaré los datos a mano" title="Ingresaré los datos a mano">
		<div id="infoPeli" class="flex-col">
			<p>No tenemos películas sobre ese registro en nuestra Base de Datos.</p>
		</div>
	</button>
</li>
