<li>
	<button type="text" class="flexRow pointer" id= "ingrManual" autofocus>
		<img class="imagenChica" src="<%= localhost %>/imagenes/0-Base/Avatar/Prod-Avatar-Generico.jpg" alt="Ingresaré los datos a mano" title="Ingresaré los datos a mano">
		<div id="infoPeli" class="flexCol">
			<p>No tenemos películas sobre ese <%= entidadNombre %> en nuestra Base de Datos.</p>
		</div>
	</button>
</li>
