/* Flexbox */
.align-center {align-items: center;}
.flex-col {display: flex;flex-direction: column;}
.flex-row {display: flex;flex-direction: row;}
.grow {flex-grow: 1;}
.space-between {justify-content: space-between;}
.space-evenly {justify-content: space-evenly;}
.space-around {justify-content: space-around;}
.wrap {flex-wrap: wrap;}

/* Mensajes */
/* Estandarizaciones */
.mensajeError, .mensajeAyuda {font-weight: normal; width: max-content; border-radius: 6px;}
.fa-check-circle, .fa-times-circle {background-color: var(--gris-claro); border-radius: 50%;}
/* Específicos */
.mensajeError::before {content: ""; border: 5px solid; border-color: transparent var(--rojo-oscuro) transparent transparent;}
.mensajeError {color: var(--azul-oscuro); background-color: var(--amarillo-claro); border: var(--rojo-oscuro) solid 2px; padding: 3px 7px; display: none;}
.fa-times-circle {color: var(--rojo-oscuro); cursor: pointer;}
.fa-times-circle:hover .mensajeError {display: inline;}
.fa-check-circle {color: var(--verde-oscuro); cursor: pointer;}
.fa-question-circle {color: var(--gris-oscuro); cursor: pointer;}

/* Otras */
.absolute {position: absolute}
.relative {position: relative;}
.pointer {cursor: pointer;}
.border {border: red 1px solid}
.ocultar {display: none;}
.invisible {visibility: hidden;}
.bloqueado {background-color: var(--celeste-oscuro);}
.botonSinLink {opacity: .5; border-color: transparent; cursor: default;}
