/* FONTS */
body {--Calibri: Calibri, 'Trebuchet MS', sans-serif}
body {--Arial: Arial, Helvetica, sans-serif}

/* GENERAL */
*, body, optgroup, button, select, option, input, i {
	font-family: var(--Calibri);
	font-size: 14px;
}

body, optgroup, button, select, option, input, i {
	color:var(--azul-oscuro);
}
