<section class="cuerpo">
    <p><button class="titulo">Menú de Opciones</button></p>
    <div>
      <a href="/peliculas"><p><button class="subtitulo activo">Películas</button></p></a>
      <p><button class="subtitulo pasivo">Mensajería</button></p>
      <p><button class="subtitulo pasivo">Conferencias</button></p>
    </div>
</section>
