/* Temas generales */
#cuerpo {position: relative; display: flex; flex-direction: row; flex-grow: 1; align-items: flex-start;}

/* Contador de Películas */
#cuerpo #contador-de-peliculas {padding: 3px 5px;border-style: none;border-radius: 5px;}
#cuerpo #contador-de-peliculas {position: absolute; right: 0px; top: 0px;}
#cuerpo #contador-de-peliculas {border: solid 2px gray;}
#cuerpo #contador-de-peliculas {font-size: 1.1rem; font-weight: bold;}

/* Filtros */
/* #cuerpo #zona-de-vitreaux {border: red 2px solid;} */

/* CRITERIO PARA MOSTRAR (LISTADO-ECC-VPC) */
#cuerpo #zona-de-pelis {align-items: flex-start; margin-left: 40px;}

/* Menú de Opciones */
#cuerpo #menu-opciones,
#cuerpo #menu-tipos {margin-top: 30px; padding: 8px 16px; font-size: 1.25rem; font-weight: bold;}
#cuerpo #menu-opciones,
#cuerpo #menu-tipos {border-radius: 10px; background-color: var(--gris-claro);}
