/* Aspectos generales */
#dataEntry {display: flex; flex-direction: column;}

/* Encabezado */
#dataEntry #encabezado {display: flex; flex-direction: column; margin-bottom: 10px}
#dataEntry #encabezado #tituloSecundario h2 {margin-bottom: 5px;}
#dataEntry #encabezado #tituloSecundario .ayudaMostrar {max-width: none;}
#dataEntry #encabezado #tituloSecundario ul li {max-width: 350px;}

/* Cuadro de resultados */
#dataEntry #cuadroDeResultados {max-width: 86vw; position: relative;}
#dataEntry #cuadroDeResultados {background: var(--celeste-claro); border-radius: 10px;}

/* Flechas */
#dataEntry .flechas {margin-top: 20px;}
