/* Información */
#datos #datosLargos {position: absolute; max-height: 100%;}
#datosLargos #datosLargos {max-width: 100%;}
#recuadro #contenido {justify-content: space-around;}
#contenido #informacion {margin: 30px 40px 0;}
#informacion #tituloInfoDetalle {margin-left: 0px; margin-bottom: 5px; width: min-content;}
#informacion #tituloInfoDetalle h3 {width: max-content;}
#tituloInfoDetalle ul p {margin-top: 3px;}
#tituloInfoDetalle ul b {color: snow;}

/* Marco */
#contenido .marco {border-radius: 15px; border: var(--azul-oscuro) 1px solid; background: var(--amarillo-claro);}

/* Botones */
#contenido #botones {margin: 30px}
