/* Ancho */
@media (width <= 675px) {
	#datos {min-width: 100vw;} /* limita el ancho mínimo al de la pantalla */
	#datos #datosLargos {margin: 0;} /* quita todos los márgenes */
	#datosLargos #recuadro {max-width: calc(100vw - 2px) !important} /* limita el ancho máximo al de la pantalla */
	#recuadro #encabezado {padding-left: 20px; padding-right: 20px;}

	/* Temas de ayuda */
	#tituloPrincipal .ayudaMostrar {top: auto; right: auto; bottom: -3px; translate: -50% 100%;}
	#tituloPrincipal .ayudaMostrar::before {top: 0px; left: 50%; translate: 3px -100%;}
	#tituloPrincipal .ayudaMostrar::before {border-color: transparent transparent var(--backAyuda) transparent;}
}
@media (width <= 500px) {
	#recuadro #contenido {margin-left: 20px; margin-right: 20px;}
}
@media (width <= 430px) {
	#ayudaLinks .ayudaMostrar {top: auto; right: auto; bottom: -3px; translate: -65px 100%;}
	#ayudaLinks .ayudaMostrar::before {top: 0px; left: 65px; translate: 3px -100%;}
	#ayudaLinks .ayudaMostrar::before {border-color: transparent transparent var(--backAyuda) transparent;}
}