<div class="desplMostrar menuMostrar menuFondo ocultar">
	<% if (usuario.rolUsuario.autTablEnts) { %>
		<!-- Tablero de Revisión -->
		<a href="/revision/tablero-de-control" class="menuOpcion">
			<i class="fa-solid fa-video icono"></i>
			<span>Tablero de Revisión</span>
		</a>
		<!-- Tablero de Mantenimiento -->
		<a href="/mantenimiento" class="menuOpcion">
			<i class="fa-solid fa-tools icono"></i>
			<span>Tablero de Mantenimiento</span>
		</a>
	<% } %>

	<% if (usuario.rolUsuario.revisorUs && false) { %>
		<hr>
		<!-- Tablero de Usuarios -->
		<a href="/revision/usuarios/tablero-de-control" class="menuOpcion">
			<i class="fa-solid fa-user-check icono"></i>
			<span>Tablero de Usuarios</span>
		</a>
	<% } %>
</div>
