<div id="iconoUsuario" <% if (locals.usuario) { %>title="Hola <%= locals.usuario.apodo %>"<% } %>>
	<% if (locals.usuario) { %>
		<div id="imagenUsuario">
			<% const avatarUsuario = usuario.avatar ? ("/sinVersion/1-Usuarios/Avatar/"+ usuario.avatar) : "publico/imagenes/Avatar/Usuario-SinRostro.jpg" %>
			<img src="<%= avatarUsuario %>" class="desplClick">
		</div>
	<% } else { %>
		<a href="/usuarios/login">
			<i class="fa-regular fa-circle-user iconoHeader" title="Login/Registrarse"></i>
		</a>
	<% } %>
</div>
