<% if (locals.usuario && usuario.rolUsuario && usuario.rolUsuario.revisorEnts) { %>
	<!-- Todos los revisores o superior -->
	<div class="desplMostrar menuMostrar menuFondo ocultar">
		<a href="/graficos/peliculas-cfc-vpc" class="menuOpcion">
			<i class="fa-solid fa-chart-pie icono"></i>
			<span>Películas - CFC / VPC</span>
		</a>
		<a href="/graficos/peliculas-publico" class="menuOpcion">
			<i class="fa-solid fa-chart-pie icono"></i>
			<span>Películas - Público</span>
		</a>
		<a href="/graficos/peliculas-epoca-estreno" class="menuOpcion">
			<i class="fa-solid fa-chart-simple icono"></i>
			<span>Películas - Época de estreno</span>
		</a>
		<hr />
		<a href="/graficos/links-vencimiento" class="menuOpcion">
			<i class="fa-solid fa-chart-simple icono"></i>
			<span>Links - Vencimiento Semanal</span>
		</a>
		<a href="/graficos/links-por-proveedor" class="menuOpcion">
			<i class="fa-solid fa-chart-pie icono"></i>
			<span>Links - Por Proveedor</span>
		</a>
		<hr />
		<a href="/graficos/rangos-sin-efemerides" class="menuOpcion">
			<i class="fa-solid fa-chart-simple icono"></i>
			<span>RCLVs - Rangos sin Efemérides</span>
		</a>
	</div>
<% } %>