<div id="menuMobile" class="desplMostrar menuMostrar menuFondo ocultar">
	<!-- Búsqueda rápida -->
	<div class="menuOpcion mm_busquedaRapida soloAngosto">
		<div class="mm_busquedaRapida">
			<i class="fa-solid icono fa-magnifying-glass mm_busquedaRapida"></i>
		</div>
		<span class="mm_busquedaRapida">Búsqueda rápida</span>
	</div>
	<hr class=" soloAngosto">
	<!-- Quiero elegir una película -->
	<a href="/consultas" class="menuOpcion">
		<div>
			<img src="/publico/imagenes/Varios/Movie.jpg" height="20">
		</div>
		<span>Quiero elegir una película</span>
	</a>
	<hr>
	<!-- Demostración -->
	<div class="menuOpcion mm_demo ocultar">
		<div>
			<i class="fa-solid fa-play icono mm_demo"></i>
		</div>
		<span class="mm_demo">Ejemplo de uso</span>
	</div>
	<hr class="ocultar">
	<!-- Quiénes somos -->
	<a href="/institucional/quienes-somos" class="menuOpcion">
		<div>
			<i class="fa-solid icono fa-people-group"></i>
		</div>
		<span>ELC - Quiénes somos</span>
	</a>
</div>
