<div id="icono_usuario" class="scale" <% if (locals.usuario) { %>title="Hola <%= locals.usuario.apodo %>"<% } %>>
	<% if (locals.usuario) { %>
		<div id="imagenUsuario">
			<% const avatarUsuario = usuario.avatar ? ("1-Usuarios/Avatar/"+ usuario.avatar) : "0-Base/Avatar/Usuario-SinRostro.jpg" %>
			<img src="/imagenes/<%= avatarUsuario %>" class="desplClick">
		</div>
	<% } else { %>
		<a href="/usuarios/login">
			<i class="fa-regular fa-circle-user iconoHeader" title="Login/Registrarse"></i>
		</a>
	<% } %>
</div>
