<div class="desplMostrar menuMostrar menuFondo ocultar">
	<% for (let prop in vistasInstitucs) { %>
		<a href="/institucional/<%= campo %>" class="menuOpcion">
			<i class="fa-solid icono <%= vistasInstitucs[prop].icono %>"></i>
			<span><%= vistasInstitucs[prop].titulo %></span>
		</a>
		<% if (vistasInstitucs[prop].hr) { %><hr><% } %>
	<% } %>

	<!-- <hr>
	<a href="#" class="menuOpcion">
		<span class="icono" id="ELC">ELC</span>
		<span>Grupo ELC</span>
	</a> -->
	<!-- <a href="#" class="menuOpcion inactivo">
		<i class="fa-solid fa-person-walking icono"></i>
		<span>Nuestra Historia</span>
	</a> -->
</div>
