<div id="menuMobile" class="mostrarClick menuForm menuFondo ocultar">
	<% if (locals.tema != "consultas" && (locals.tema != "institucional" || locals.codigo != "inicio")) { %>
		<!-- Quiero elegir una película -->
		<a href="/consultas" class="menuOpcion">
			<div>
				<img src="/publico/imagenes/Varios/Movie.jpg" height="20">
			</div>
			<span>Quiero elegir una película</span>
		</a>
		<hr>
	<% } %>

	<!-- Búsqueda rápida -->
	<div class="menuOpcion mm_busquedaRapida soloAngosto">
		<i class="fa-solid icono fa-magnifying-glass mm_busquedaRapida"></i>
		<span class="mm_busquedaRapida">Búsqueda rápida</span>
	</div>
	<% if (locals.tema != "institucional" || locals.codigo != "inicio") { %>
		<hr class=" soloAngosto">
	<% } %>

	<!-- Demostración -->
	<div class="menuOpcion mm_demo ocultar">
		<i class="fa-solid fa-play icono mm_demo"></i>
		<span class="mm_demo">Ejemplo de uso</span>
	</div>
	<hr class="ocultar">
	<% if (locals.tema != "institucional" || locals.codigo != "inicio") { %>
		<!-- Quiénes somos -->
		<a href="/institucional/quienes-somos" class="menuOpcion">
			<i class="fa-solid icono fa-people-group"></i>
			<span>ELC - Quiénes somos</span>
		</a>
	<% } %>
</div>
