<% if (locals.usuario) { %>
	<div id="menuUsuario" class="mostrarClick menuForm menuFondo ocultar menuDerecha">
		<% for (let menu of menuUsuario) { %>

			<% if (menu.permInputs && (!locals.usuario || !usuario.rolUsuario.permInputs)) { continue } %>

			<% if (menu.hr) { %><hr><% } %>

			<a href="<%= menu.href %>" class="menuOpcion">
				<i class="<%= iconos.faSolid %> <%= menu.icono %> icono"></i>
				<span><%= menu.titulo %></span>
			</a>

		<% } %>
	</div>
<% } %>
