#contenido {
	position: relative;
	#informacion {
		#correccion {
			display: flex; flex-direction: row;
			.columna {
				display: flex; flex-direction: column;
				width: 240px;
				h3 {
					padding: 5px 10px; align-self: center; border-radius: 15px;
					background: var(--azul-oscuro); color: var(--gris-claro);
				}
				h4 {margin-top: 10px; margin-bottom: 3px;}
			}

			#actual #motivo {font-style: italic;}
			#nuevo {
				margin-left: 20px;
				select {border-radius: 7px;}
				textarea {
					padding: 10px; border-radius: 10px;
					height: 80px; width: 220px; resize: none;
				}
			}
		}
		#sectorIconos {margin-top: 20px; justify-self: flex-end; margin-bottom: 20px;}
	}
}