#encabezado #nombres {color: var(--azul-oscuro)}
#contenido {
	position: relative;
	#informacion #correccion {
		display: flex; flex-direction: row; justify-content: space-between;
		width: 460px;
		.columna {
			display: flex; flex-direction: column; justify-content: space-between;
			h3 {
				padding: 5px 10px; align-self: center; border-radius: 15px;
				background: var(--azul-oscuro); color: var(--gris-claro);
			}
			h4 {margin-top: 10px; margin-bottom: 3px;}
			.motivo {font-style: italic;}
			textarea {
				padding: 10px; border-radius: 10px;
				height: 80px; width: 220px; resize: none;
			}
			#sectorIconos {margin-top: 20px; justify-self: flex-end; margin-bottom: 20px;}
		}

	}
}