<div id="tapaElFondo"></div>
<div id="dataEntry" class="encimaDelFondo">
	<form method="POST">
		<!-- Título y Ayuda -->
		<div id="tituloPrincipal">
			<h1><%= titulo %></h1>
			<%- include('US19-AyudaTitulo') %>
		</div>

		<!-- Datos Perennes-->
		<%- include("US13-DatosPerennes") %>

		<!--Flechas-->
		<section class="flechas">
			<!-- Salir -->
			<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left" title="Salir"></i></a>
			<!-- Submit -->
			<button type="submit" class="inactivo"><i class="fa-solid fa-circle-check" title="Aceptar"></i></button>
		</section>
	</form>
</div>
