/* CONFIGURAR SECCIONES */
#main-y-footer {flex-grow: 1;justify-content:space-between;}
#cuerpo {margin-left: 40px;}
#cuerpo {position: relative;flex-grow: 1;}
#cuerpo #rubro {margin-left: 40px;margin-top: 30px;}

/* CONFIGURAR BOTONES */
#cuerpo button {padding: 3px 5px;border-style: none;border-radius: 5px;}
#cuerpo #título {margin-top: 40px;padding: 7px;}
#cuerpo #título {background-color:var(--amarillo-claro);}
#cuerpo #título {font-family: var(--Arial);font-size: 18px;font-weight: bold;}

/* CONFIGURAR IMAGEN */
#sagrada-familia img {height: 100%; }
