/* GENERAL */
footer {
    padding: .25em 5px;
    display: flex;
    font-size: 16px;
    font-family: var(--Calibri);
    font-weight: bold;
    justify-content: space-around;
    border-top: 2px solid rgb(31, 73, 125);    
}