#cuerpo-y-footer {width: 70vw;}

/* Cuerpo */
#cuerpo {background-color: var(--gris-claro); display: flex; flex-direction: column; flex-grow: 1;}
#cuerpo {position: relative;}

/* Título */
#cuerpo #tituloConAyuda {position: relative; align-self: flex-start;}
#cuerpo #tituloConAyuda #titulo {background-color: var(--gris-oscuro); color: var(--gris-claro); border-bottom-right-radius: 10px;}
/* Título - Ayuda */
#cuerpo .mensajeAyuda {max-width: 350px;}
#cuerpo #iconoAyuda, #cuerpo .mensajeAyuda {position: absolute;}
#cuerpo #iconoAyuda {right: -5px; top: 50%; transform: translate(100%,-50%);}
#cuerpo .mensajeAyuda {right: -25px; top: 5px; transform: translateX(100%); border: 1px var(--amarillo-claro) solid;}
#cuerpo .mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}

/* Encabezado */
#cuerpo #encabezado {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#cuerpo #encabezado {border-bottom: solid 1px var(--azul-oscuro); padding: 5px 10px; background-color: var(--celeste-claro);}
#cuerpo #encabezado #nombres h1 {margin: 0; }
#cuerpo #encabezado #nombres h1 {font-size: 1.5rem; padding-bottom: 3px;}
/* #cuerpo #encabezado #nombres h1 em {font-size: 1.1rem;} */
#cuerpo #encabezado #nombres h2 {color: var(--gris-oscuro); font-weight: normal; font-size: 1rem;}
#cuerpo #encabezado #colCap {text-align: right;}
#cuerpo #encabezado #colCap #colecciones,
#cuerpo #encabezado #colCap #tempCapI,
#cuerpo #encabezado #colCap #tempCapS {display: flex; flex-direction: row; justify-content: flex-end; align-items: center; line-height: 1;}
#cuerpo #encabezado #colCap #tempCapI {margin-bottom: 2px;}
#cuerpo #encabezado #colCap #colecciones i,
#cuerpo #encabezado #colCap #tempCapI i {color: white; background-color: var(--gris-oscuro); cursor: pointer; margin-right: 15px; align-self: center; line-height: 1; border-radius: 15px;}
#cuerpo #encabezado #colCap #colecciones i {padding: 5px; font-size: .9rem;}
#cuerpo #encabezado #colCap #tempCapI i {padding: 3px 5px 2px; font-size: .9rem;}
#cuerpo #encabezado #colCap #tempCapS .pack {line-height: 1; margin-right: 5px;}
#cuerpo #encabezado #colCap #tempCapS .pack i {color: var(--gris-oscuro); font-size: 1.1rem; margin-right: 3px;}
#cuerpo #encabezado #colCap #tempCapS #temporada {margin-right: 8px; border-radius: 5px;}
#cuerpo #encabezado #colCap #tempCapS #capitulo {border-radius: 5px;}

/* Imagen */
#imagen, #imagen #imagenProducto {width: 30vw; background-color: var(--gris-claro); position: relative}
#imagen img {height: 100%; width: 100%; object-fit: contain; position: absolute;}

/* Ayuda */
.mensajeAyuda {padding: 7px 10px; z-index: 2;}
.mensajeAyuda {background-color: var(--gris-oscuro); color: var(--gris-claro);}

/* Comandos y Flechas */
#cuerpo #comandos, #cuerpo #flechas {background-color: var(--azul-oscuro);}
#cuerpo #comandos, #cuerpo #flechas {display: flex; flex-direction: row; justify-content: space-between;}
#cuerpo #comandos, #cuerpo #flechas {margin: 0 auto; padding: 7px 5px; border-radius: 15px;}
#cuerpo #comandos i, #cuerpo #flechas i {color: white; font-size: 1.25rem;}

/* Comandos - Particularidades */
#cuerpo #comandos {background-color: var(--verde-oscuro);}

/* Flechas - Particularidades */
#cuerpo #flechas i, #cuerpo #flechas .pack {margin: 0 15px;}
#cuerpo #flechas .pack i {margin: 0 0px;}
