#cuerpoFooter {width: 70vw;}

/* Cuerpo */
#cuerpo {background-color: var(--gris-claro); display: flex; flex-direction: column; flex-grow: 1;}
#cuerpo {position: relative;}

/* Encabezado */
#cuerpo #encabezado {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#cuerpo #encabezado {border-bottom: solid 1px var(--azul-oscuro); padding: 5px 10px; background-color: var(--celeste-claro);}
#cuerpo #encabezado #nombres h2 {margin: 0; }
#cuerpo #encabezado #nombres h2 {padding-bottom: 3px;}
#cuerpo #encabezado #nombres h3 {color: var(--gris-oscuro); font-weight: normal; font-size: 1rem;}
#cuerpo #encabezado #colCap {text-align: right;}
#cuerpo #encabezado #colCap #colecciones,
#cuerpo #encabezado #colCap #tempCapI,
#cuerpo #encabezado #colCap #tempCapS {display: flex; flex-direction: row; justify-content: flex-end; align-items: center; line-height: 1;}
#cuerpo #encabezado #colCap #tempCapI {margin-bottom: 2px;}
#cuerpo #encabezado #colCap #colecciones i,
#cuerpo #encabezado #colCap #tempCapI i {color: white; background-color: var(--gris-oscuro); cursor: pointer; margin-right: 15px; align-self: center; line-height: 1; border-radius: 15px;}
#cuerpo #encabezado #colCap #colecciones i {padding: 5px; font-size: .9rem;}
#cuerpo #encabezado #colCap #tempCapI i {padding: 3px 5px 2px; font-size: .9rem;}
#cuerpo #encabezado #colCap #tempCapS .pack {line-height: 1; margin-right: 5px;}
#cuerpo #encabezado #colCap #tempCapS .pack i {color: var(--gris-oscuro); font-size: 1.1rem; margin-right: 3px;}
#cuerpo #encabezado #colCap #tempCapS #temporada {margin-right: 8px; border-radius: 5px;}
#cuerpo #encabezado #colCap #tempCapS #capitulo {border-radius: 5px;}

/* Imagen */
#imagen, #imagen #imagenProducto {width: 30vw; background-color: var(--gris-claro); position: relative}
#imagen img {height: 100%; width: 100%; object-fit: contain; position: absolute;}

/* Comandos y Flechas */
#cuerpo #comandos, #cuerpo #flechas {background-color: var(--azul-oscuro);}
#cuerpo #comandos, #cuerpo #flechas {display: flex; flex-direction: row; justify-content: space-between;}
#cuerpo #comandos, #cuerpo #flechas {margin: 0 auto; padding: 7px 5px; border-radius: 15px;}
#cuerpo #comandos i, #cuerpo #flechas i {color: white; font-size: 1.25rem;}

/* Comandos - Particularidades */
#cuerpo #comandos {background-color: var(--verde-oscuro);}

/* Flechas - Particularidades */
#cuerpo #flechas i, #cuerpo #flechas .pack {margin: 0 15px;}
#cuerpo #flechas .pack i {margin: 0;}
