/* Temas generales */
main form {display: flex; flex-direction: row-reverse; flex-grow: 1; position: relative;}
main form #cuerpo .inputError {display: flex; flex-direction: row;}
main form #imagen.inputError {display: flex; flex-direction: column;}

/* Zona del formulario */
main form #cuerpo #edicionForm {display: flex; flex-direction: column; flex-grow: 1;}
main form #cuerpo #edicionForm {justify-content: space-between; padding: 15px 70px 10px 50px;}

/* Imagen */
form #imagen .fa-solid, form #imagen .mensajeError, form #imagen .ayudaMostrar {left: 50%; }
form #imagen .fa-solid {font-size: 2rem; background-color: white; border-radius: 50%; transform: translate(-50%,-50%);}
form #imagen .ayudaMostrar {top: 53%; transform: translateX(-50%);}
form #imagen .mensajeError {bottom: -20%; transform: translateX(-50%);}
form #imagen .mensajeError::before {border-color: transparent transparent var(--rojo-oscuro) transparent;}
form #imagen .mensajeError::before {left: 50%; top: -12px; transform: translateX(-50%);}

/* Partes del formulario */
#datos {display: flex; flex-direction: row; justify-content: space-between;}
#datos #primeraColumna {width: 40%;}
#datos #segundaColumna {width: 45%;}
#datos #primeraColumna .label-input .inputError .input {width: 200px;}
#datos #primeraColumna .label-input .inputError .input.angosto {width: 70px}
#datos #primeraColumna .label-input .inputError .input.numero {width: 70px; text-align: right;}
#datos #segundaColumna .label-input .inputError .input {width: 240px;}

/* Partes específicas del formulario */
#datos .label-input .inputError .input,
#datos .label-input .inputError input#mostrarPaises {border-width: .7px; border-radius: 5px; background-color: white;}
#datos .inputError {margin-left: 5px;}
#datos h3 {margin-top: 15px; color: var(--verde-oscuro);}
#datos h3:first-child {margin-top: 0;}
#datos .label-input {display: flex; flex-direction: row; justify-content: space-between; margin-top: 3px;}
#datos .label-input label {margin: 2px 20px 0 0; font-weight: bold; min-height: 19px;}
#datos .label-input .inputError .input {align-self: center;}
#datos .label-input .inputError input {padding: 0px 5px;}
#datos .label-input .inputError select {padding: 0;}
#datos .label-input .inputError .input:disabled, 
#datos .label-input#paises_id input#mostrarPaises:disabled,
#datos .label-input#paises_id select:disabled {background-color: var(--amarillo-claro); opacity: 1; color: inherit;}

/* País */
#datos #paises_id {align-items: center;}
#datos #paises_id .inputError {width: 200px; min-width: 200px;}
#datos #paises_id .inputError input#mostrarPaises,
#datos #paises_id .inputError select {position: absolute; top:0; transform: translateY(-50%); height: 18px; border-radius: 5px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
#datos #paises_id .inputError #mostrarPaises {width: 180px; z-index: 1; padding: 0 5px;}
#datos #paises_id .inputError select {width: 100%; padding: 0;}

/* RCLV */
#datos .label-input .inputError .linkRCLV {width: 15px;}
#datos .label-input .inputError #alta.linkRCLV {right: -40px;}
#datos .label-input .inputError #edicion.linkRCLV {right: -60px;}

/* Sinopsis */
#datos .label-input#sinopsis .inputError {width: 100%; margin-left: 0;} 
#datos #segundaColumna #sinopsis textarea {width: 100%; height: 84px; padding: 5px 10px; resize: none;}
#datos #segundaColumna #sinopsis textarea.input::-webkit-scrollbar {display: none;}

.linkRCLV {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
#edicion.linkRCLV {font-size: 1.15rem;}

/* Mensajes de aviso de cambio de data-entry */
.inputError .fa-arrow-right-long {left: -5px; position: absolute; transform: translate(-100%, -50%); top: 50%;}
.inputError .fa-arrow-right-long {color: var(--verde-oscuro);}
form #imagen.inputError .fa-arrow-right-long {left: 5px; transform: translateY(-50%);}

/* Comandos - Particularidades */
#cuerpo #comandos {padding: 0;}
#cuerpo #comandos .pack {margin: 0 20px;}
#cuerpo #comandos .pack {display: flex; flex-direction: row; align-items: center;}
#cuerpo #comandos .pack i.fa-slash {transform: rotate(85deg); cursor: default; padding: 5px 0px; border: none;}
#cuerpo #comandos .pack i {padding: 5px; border-radius: 50%; border: 2px solid transparent; margin: 2px 0;}
#cuerpo #comandos .pack i.activar.activo {border-color: var(--amarillo-oscuro);}
.inactivo, .inactivoErrores, .inactivoVersion {opacity: .5; border-color: transparent; cursor: default;}
#cuerpo #comandos .pack i, #cuerpo #flechas i {font-size: 1rem;}