/* Cuerpo */
#cuerpo {flex-direction: row;}
#cuerpo #peliculas {display: flex; flex-direction: column; flex-grow: 1;}

/* Datos */
#cuerpo #peliculas #datos {display: flex; flex-direction: column; flex-grow: 1;}
#cuerpo #peliculas #datos {justify-content: space-around; padding: 20px 40px 20px;}

/* Datos Largos */
#datosLargos #contenido .datosAdicionales {margin-top: 10px;}

/* Datos Breves */
#datosBreves {display: flex; flex-direction: column; justify-content: center; width: max-content; }
#datosBreves #texto {margin-right: 15px;}
#datosBreves #texto p {margin-top: 10px;}
#datosBreves #texto p.status span {padding: 2px 5px; margin-left: 2px; border-radius: 5px; font-weight: bold;}
#datosBreves #texto p#status1 span {background-color: var(--naranja-oscuro); color: snow;}
#datosBreves #texto p#status2 span {background-color: var(--verde-oscuro); color: snow;}
#datosBreves #texto p#status3 span {background-color: var(--rojo-oscuro); color: snow;}


/* Comandos - Particularidades */
#cuerpo #comandos i {margin: 0 15px;}
