/* General */
#cuerpo {position: absolute; margin: 0; height: 100%; width: 100%;}
#cuerpo {display: flex; flex-direction: column; justify-content: center; align-items: center;}

/* General del formulario */
#cuerpo form {background-color: var(--gris-oscuro); border-radius: 10px;}
#cuerpo form {padding: 20px; z-index: 11; min-width: 360px;}

/* Partes del formulario */
#cuerpo form h1 {color: var(--amarillo-claro); margin-bottom: 25px;}
#cuerpo form h1 {font-weight: bold; font-size: 1.3em; text-align: center;}
#cuerpo form .label-input {justify-content: space-between; margin: 20px 10px 0px 10px; align-items: center}

/* Input del formulario */
#cuerpo form label {color: white; margin-right: 30px; }
#cuerpo form label {text-align: left;}
#cuerpo form .input {width: 200px; height: 27px; border: none; border-radius: 15px; padding: 3px 10px; text-align: left;}
#cuerpo form select {text-align: left;}
#cuerpo #eye {right: 10px; position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}

/* Íconos y Mensajes de error */
.mensajeError, .mensajeError::before, .mensajeAyuda, .mensajeAyuda::before,
.input-error .fa-circle-check, .input-error .fa-circle-xmark,
.fa-circle-question {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
#cuerpo .input-error {position: relative;}
#cuerpo .input-error .fa-circle-check, #cuerpo .input-error .fa-circle-xmark {left: -20px;}
#cuerpo .mensajeError {left: 20px; max-width: 200px;}
#cuerpo .mensajeError::before {left: -12px;}

/* Flechas */
#cuerpo form #flechas {margin: 15px auto 5px; padding-top: 5px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;}
#cuerpo form #flechas * {border-radius: 50%;}
#cuerpo form #flechas .icono {font-size: 1.75rem; border: solid 2px var(--amarillo-claro); background-color: var(--gris-claro);}
#cuerpo form #flechas button.inactivo {cursor: default;}
