#cuerpo #tituloPrincipal {justify-content: center;}
#cuerpo .ayudaMostrar {background-color: var(--gris-mas-oscuro);}

#cuerpo form label {margin-right: 0; align-self: flex-start; margin-bottom: 3px;}
#cuerpo form #columna1 .input {width: 150px}
#cuerpo form #columna2 {margin-left: 20px;}
#cuerpo form #columna2 .ayudaClick {color: var(--rojo-oscuro);}
#cuerpo form #columna2 #credencialesInvalidas {display: flex; flex-direction: row; justify-content: center; align-items: center;}
#cuerpo form #columna2 #credencialesInvalidas.ocultar {display: none;}
#cuerpo form #columna2 #credencialesInvalidas .resultadoInvalido {margin: 0; margin-top: 15px;}
