/* Rutina */
#cuerpo form #rutina {margin-bottom: 15px;}

/* Credenciales inválidas*/
#cuerpo form .resultadoInvalido {border-radius: 7px; margin: 5px auto 0px; font-style: italic;}

/* Íconos especiales */
#flechas .fa-key {color: var(--rojo-oscuro);}

#cuerpo form #flechas a, #cuerpo form #flechas button {overflow: hidden; border: 2px solid;}
#cuerpo form #flechas a {border-color: var(--azul-oscuro)}
#cuerpo form #flechas a.rojo {border-color: var(--rojo-oscuro)}
#cuerpo form #flechas button {border-color: var(--verde-oscuro)}
