/* Rutina */
#cuerpo form #rutina {margin-bottom: 15px;}

/* Credenciales inválidas*/
#cuerpo form .resultadoInvalido {border-radius: 7px; margin: 5px auto 0px; font-style: italic;}

/* Íconos especiales */
#flechas .fa-key {color: var(--rojo-oscuro);}
