<!-- Zona de Filtros -->
<section id="configCons">
	<%- include('CN-2Filtros') %>
</section>
<!-- Encabezado + Productos -->
<section id="encabMasPelis" class="ocultar">
	<!-- Encabezado -->
	<div id="encabezado">
		<%- include('CN-1Encabezado') %>
	</div>
	<!-- Zona de Productos -->
	<div id="zonaDeProds">
		<div id="vistaProds">
			<div id="scroll">
				<ul id="botones"></ul>
				<div id="listados"></div>
			</div>
			<div id="comencemos">
				<img src="<%= localhost %>/imagenes/0-Base/Varios/Cortinas.jpg">
				<button id="rojo" class="ocultar">
					Asegurate de contestar<br>los sectores en rojo
				</button>
				<button id="verde" class="scale pointer ocultar">
					Quiero ver los resultados
				</button>
				<button id="azul" class="ocultar">
					No tenemos resultados para esa configuración de consulta
				</button>
			</div>
		</div>
	</div>
	<%- include("CMP-3Footer", {mostrar: true}) %>
</section>
