<!-- Zona de Filtros -->
<section id="configCons">
	<%- include('CN-2Filtros') %>
</section>
<!-- Encabezado + Productos -->
<section id="encabMasPelis" class="flexCol grow">
	<!-- Encabezado -->
	<section id="encabezado" class="flexRow">
		<%- include('CN-1Encabezado') %>
	</section>
	<!-- Zona de Productos -->
	<section id="zonaDeProds">
		<div id="comencemos">
			<button id="rojo" class="ocultar">
				Asegurate de contestar<br>los sectores en rojo
			</button>
			<button id="verde" class="scale pointer ocultar">
				Quiero ver los resultados
			</button>
		</div>
		<div id="vistaProds" class="oculta">
			<%- include("CN-ZP-1TodasLasPelis") %>
			<%- include("CN-ZP-3PelisPor") %>
		</div>
	</section>
</section>
