<!-- Zona de Filtros -->
<section id="configCons">
	<%- include('CN-2Filtros') %>
</section>
<!-- Encabezado + Productos -->
<section id="encabMasPelis" class="ocultar">
	<!-- Encabezado -->
	<div id="encabezado">
		<%- include('CN-1Encabezado') %>
	</div>
	<!-- Zona de Productos -->
	<div id="zonaDeProds">
		<div id="vistaProds">
			<div id="scroll">
				<ul id="productos"></ul>
				<div id="pelisPor"></div>
				<%- include("CN-ZP-12Producto") %>
			</div>
		</div>
		<div id="comencemos">
			<button id="rojo" class="ocultar">
				Asegurate de contestar<br>los sectores en rojo
			</button>
			<button id="verde" class="scale pointer ocultar">
				Quiero ver los resultados
			</button>
			<button id="azul" class="scale pointer ocultar">
				No tenemos resultados que<br>respondan a esos criterios
			</button>
		</div>
	</div>
	<%- include("CMP-3Footer", {mostrar: true}) %>
</section>
