#cuerpo #zona-de-bienvenida {align-self:center; justify-content: center;}
#cuerpo #zona-de-bienvenida div {width: 450px; flex-wrap: wrap; align-items: center; justify-content: space-between;}
#cuerpo #zona-de-bienvenida div button {width: 190px; margin: 20px 0; padding: 12px; border-radius: 15px;}
