/* Formato del cuerpo */
.cuerpo {align-items: center;justify-content: center;}
.cuerpo #titulo {margin: 0px;}

#data_entry {margin-top: 15px; padding: 30px 40px; border-radius: 20px;}
#data_entry {background-color: var(--gris-claro);border: var(--gris-oscuro) 7px solid; 
	box-shadow: 0px 0px 10px rgb(100, 100, 100);}
#data_entry #cuerpo {display: flex; flex-direction: row}
	
/* Partes específicas del formulario */
#data_entry .campo {margin-top: 15px;}
#data_entry .campo:first-child {margin-top: 0;}
#data_entry .tituloCampo {margin-bottom: 3px}
#data_entry #cuerpo #columnaMedio {width: 50px}
#data_entry input, #data_entry select {border-width: .7px; border-radius: 5px;}
#data_entry #posiblesDuplicados {min-height: 100px; border: 1px red solid; margin-top: 5px;}
#data_entry #valoresFecha {min-height: 80px; justify-content: space-around;}
#data_entry input[name="nombre"] {width: 100%;}
#data_entry .mesDia {display: flex; flex-direction: row; align-items: center;}
#data_entry #segundaCol {display: flex; flex-direction: column; width: 180px;}

/* Todos los mensajes */
#data_entry .mensajeError, #data_entry .mensajeAyuda {z-index: 1; line-height: 1.2rem;}
#data_entry .link {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}

/* Mensajes de ayuda */
#data_entry .fa-question-circle {right: -20px;}
#data_entry .mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}
#data_entry .mensajeAyuda {right: -25px; padding: 7px 10px; transform: translate(100%, -50%);}

/*  Mensajes de error*/
#data_entry .fa-times-circle, #data_entry .fa-check-circle {left: -20px;}
#data_entry .fa-times-circle {z-index: 1;}

/* Flechas */
#data_entry #flechas {margin-top: 20px;}
#data_entry .flechaSinLink {color: var(--celeste-oscuro); cursor: default;}

/* Submit button */
#data_entry button {color: white; background-color: var(--gris-oscuro); padding: 3px 10px; border-radius: 10px; font-weight: bold;}
#data_entry button em {color: var(--amarillo-claro); background-color: inherit;}
#data_entry i {cursor: pointer;}
