/* Laptop */
@media (orientation: landscape) and (height > 600px) {
	#cuerpoFooter #cuerpo {
		height: calc(100% - var(--altoFooter));
		#datos {
			height: calc(100% - 37px); /* 37px: tituloPrincipal */
			#datosLargos {
				max-height: 90%;
				#recuadroDL {
					max-width: max(var(--anchoRecuadro), calc(var(--anchoCuerpo) - 220px - 6vw)); /* 220px: datosBreves, 6vw: márgenes */
					#contenido {
						margin: 0 40px;
						#informacion {
							margin-top: 30px;
							#tituloInfoDetalle {
								margin-bottom: 5px; width: min-content;
								h3 {width: max-content;}
							}
						}
						#sectorIconos {margin: 30px 0}
					}
				}
			}
		}
	}

	/* Sectores a ocultar */
	#imgDerecha #sectorIconos {display: none !important;}
}

/* Ambos */
@media (orientation: portrait), (orientation: landscape) and (height <= 600px) {
	/* Información */
	#cuerpoFooter #cuerpo, #cuerpo #datos {height: 100% !important; max-height: 100%;}
	:is(#datos :is(#datosLargos, #datosBreves), #mobile i).toggle {display: none !important;}
	#datos #datosBreves.esconderPorStartUp {position: absolute; left: 0; translate: -100% 0;}

	/* Sector Imagen Derecha */
	#imgDerecha {position: relative;}

	/* Sectores a ocultar */
	#cuerpoFooter :is(#sectorIconos, footer), #datosLargos #tituloInfoDetalle {display: none !important;}
}

/* Parado */
@media (orientation: portrait) {
	/* Ancho, alto, posición */
	body {--anchoImgDer: 100vw;}
	#cuerpoFooter #cuerpo, #cuerpo #datos {position: absolute !important;}
	#cuerpoFooter #cuerpo, #cuerpo #datos, #cuerpoFooterImgDer #imgDerecha {width: 100vw !important;}
	#cuerpoFooter #cuerpo, #cuerpo #datos, #cuerpoFooterImgDer #imgDerecha, #imgDerecha img {max-width: 100vw; max-height: none;}

	/* Temas de ayuda */
	#tituloPrincipal .ayuda {
		position: static; translate: none; margin-top: 10px; margin-left: 10px;
		.ayudaMostrar {top: -2px; right: -5px; max-width: min(350px, 85vw);}
		i {font-size: 1.5rem;}
	}

	/* Información */
	#datos #datosLargos, #datosBreves #recuadroDB {max-height: 80%;}
	:is(#datosLargos #recuadroDL, #datosBreves #recuadroDB) {z-index: 1}
	#datosLargos #recuadroDL {max-width: calc(100vw - 1vw);} /* 6vw: márgenes */

	/* Sectores a ocultar */
	#datosLargos #links {display: none !important;}
	#imgDerecha #sectorIconos .iconos#mobile :is(a) {display: none;}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	/* Ancho, alto, posición */
	body {--anchoImgDer: 29vw;}
	#cuerpoFooterImgDer #imgDerecha {min-width: 144px;} /* 144px es el ancho del 'sectorFiltros' */

	/* Información */
	#datos #datosLargos {
		max-height: 100%;
		#recuadroDL {max-width: calc(var(--anchoCuerpo) - 3vw);} /* 3vw: márgenes */
	}
	#datosBreves #recuadroDB {max-height: 95%;}

	/* Sectores a ocultar */
	#cuerpoFooter #tituloPrincipal, #datosLargos #encabezado {display: none !important;}
	#imgDerecha #sectorIconos .iconos#href #ppp {display: none;}
}
