/* Ancho */
@media (width <= 1450px) {
	#cuerpoFooterImgDer #imgDerecha img {max-width: 100vw;} /* libera el ancho de la imagen derecha */
	#datos #datosBreves {max-height: 100%; max-width: 99vw;} /* libera el ancho de 'datosBreves' */

	/* Achica márgenes y paddings */
	#datos :is(#datosLargos, #datosBreves) {margin-right: 2.5vw;}
	#datos #datosLargos {margin-left: 2.5vw;}
	#recuadro #encabezado {padding: 10px 20px;}
	#contenido #informacion {margin: 12px 20px 0;}
}
@media (width <= 715px) {

}
@media (width <= 675px) {
	#cuerpo #datos {min-width: 100vw;} /* limita el ancho mínimo al de la pantalla */
	#datosLargos #recuadro {max-width: calc(100vw - 2px)} /* limita el ancho máximo al de la pantalla */
	#datos #datosLargos {margin: 0;} /* quita todos los márgenes */
}

/* Alto */
@media (height < 780px) {
	#cuerpo #tituloPrincipal {display: none;}
	#datos #datosLargos {height: 100%;}
}