/* Parado */
@media (orientation: portrait) {
	/* Ancho, alto, posición */
	#cuerpoFooter #cuerpo, #cuerpo #datos {position: absolute !important;}
	#cuerpoFooter #cuerpo, #cuerpo #datos {width: 100vw !important; max-width: 100vw; height: 100% !important; max-height: 100%;}

	/* Información */
	:is(#datosLargos #recuadroDL, #datosBreves #recuadroDB) {z-index: 1}

	/* Sectores a ocultar */
	#cuerpoFooter :is(#datosLargos :is(#encabezado, #tituloInfoDetalle, #links, #sectorIconos), footer) {display: none !important;}
	#datos :is(#datosLargos, #datosBreves).toggle {display: none;}
	#datos :is(#datosLargos, #datosBreves).esconder {position: absolute; left: 0; translate: -100% 0;}
}

@media (orientation: landscape) and (min-height: 600px) {
	/* Información */
	#datosLargos #recuadroDL #contenido {margin: 0 40px; justify-content: space-around;}
	#datosLargos #contenido #informacion {margin-top: 30px;}

	/* tituloInfoDetalle */
	#datosLargos #informacion #tituloInfoDetalle {margin-bottom: 5px; width: min-content;}
	#datosLargos #informacion #tituloInfoDetalle h3 {width: max-content;}

	/* íconos */
	#datosLargos #contenido #sectorIconos {margin: 30px 0}

	/* Sectores a ocultar */
	#imgDerecha #sectorIconos {display: none;}
}

/* Acostado - Celu */
@media (orientation: landscape) and (max-height: 600px) {
	/* Sectores a ocultar */
	#cuerpoFooter footer, #datosLargos :is(#encabezado, #sectorIconos) {display: none !important;}
	#datos :is(#datosLargos, #datosBreves).toggle {display: none;}
	#datos :is(#datosLargos, #datosBreves).esconder {position: absolute; left: 0; translate: -100% 0;}
	#imgDerecha #sectorIconos .iconos:has(#ppp) {display: none;}
}

/* Ancho */
@media (max-width: 1450px) {
	#imgDerecha img {max-width: 100vw;} /* libera el ancho de la imagen derecha */
	#datosBreves #recuadroDB {max-height: 95%;} /* libera el ancho de 'datosBreves' */

	/* Achica márgenes y paddings */
	#datos {--margenes: max(0px, min(2.5vw, calc(50vw - var(--anchoRecuadro)/2)))}
	#datos #datosLargos {margin-left: var(--margenes);}
}

/* Alto */
@media (orientation: landscape) and (max-height: 600px) {
	#cuerpo #tituloPrincipal {display: none;}
	#datos #datosLargos {height: 100%;}
	#recuadroDL #encabezado {padding-top: 10px; padding-bottom: 10px;}
	#contenido #informacion {margin: auto 0;}
}