/* Ancho */
@media (width <= 1400px) {
	#recuadro #encabezado {padding: 10px 20px;}
	#contenido #informacion {margin: 12px 20px 0;} /* Achica los márgenes de la información del contenido */
	#cuerpoFooterImgDer #cuerpo {width: max-content;}
	#datos :is(#datosLargos, #datosBreves) {margin: 0 20px;}
	#cuerpoFooterImgDer #imgDerecha img {max-width: 100vw;}
	#datos #datosBreves {max-height: 100%; max-width: none;}
}
@media (width <= 950px) {
	#cuerpoFooterImgDer #cuerpo, #cuerpo #datos {width: max-content;}
	#datos #datosLargos {margin-left: 2.5vw;}
	#datos #datosBreves {margin: 0 20px;}
}
@media (width <= 675px) {
	#datos #datosLargos {margin: 0;}
	#datosLargos #recuadro {width: calc(100vw - 2px)}
}
