/* Cuadro de Resultados */
#cuadroDeResultados #listado {overflow-x: auto; display: flex; flex-direction: row; scroll-behavior: smooth;}
#cuadroDeResultados #listado li form {position: relative;}

/* Íconos para mover */
#cuadroDeResultados .mover {position: absolute; font-size: 3rem; cursor: pointer; top: 50%;}
#cuadroDeResultados .mover.fa-caret-left {translate: -100% -50%; left: 0;}
#cuadroDeResultados .mover.fa-caret-right {translate: 100% -50%; right: 0;}

/* Botones para productos */
#listado li {list-style-type: none; padding: 20px;}
#listado button {padding: 0; border-radius: 15px; overflow: hidden; height: 200px;}
#listado button {text-align: left; width: 290px; border-width: 1px;}
#listado #prodsNuevos button {background: var(--verde-intermedio);}
#listado #prodsNuevos button:hover {background: var(--verde-oscuro); color: var(--amarillo-claro);}
#listado :is(#ingrManual button, button.rojo) {background: var(--rojo-claro);}
#listado :is(#ingrManual button:hover, button.rojo:hover) {background: var(--rojo-oscuro); color: var(--amarillo-claro);}
#listado #prodsYaEnBD button {background: var(--celeste-oscuro);}
#listado #prodsYaEnBD button:hover {background: var(--azul-oscuro); color: var(--celeste-oscuro);}

/* Partes del botón */
#listado button .imagenChica {height: 100%;}
#listado button #infoPeli {margin: 10px 15px;}
button #infoPeli #nombreCastellano {font-weight: bold;}
button #infoPeli #nombreOriginal {font-style: italic;}
button #infoPeli .interlineadoChico {margin-top: 5px;}

/* Barra de desplazamiento */
#cuerpo::-webkit-scrollbar {outline: transparent;}
::-webkit-scrollbar-track {background: var(--celeste-oscuro); border-radius: 10px;}
::-webkit-scrollbar-thumb {background: var(--gris-oscuro); border-radius: 10px;}
/* ::-webkit-scrollbar-button {background: red;} */
