/* Colores */
#cuerpo #encabezado:not(:has(.inactivar, .recuperar)) #encabezado :is(#nombres h3, #colCap #tempCapS .pack i) {color: var(--gris-oscuro);}

/* Encabezado */
#cuerpo #encabezado {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#cuerpo #encabezado {padding: 10px 20px; border-bottom: solid 1px var(--azul-oscuro);}
#cuerpo #encabezado {background: var(--celeste-claro);}

/* Ancho, dependiendo de si tiene capítulos */
#cuerpo #encabezado:has(#colCap) > #nombres {max-width: 70%; margin-right: 40px;}
/* #cuerpo #encabezado :is(#colCap) {max-width: 50%;} */

/* Otros */
#cuerpo #encabezado #nombres h2 {margin: 0; }
#cuerpo #encabezado #nombres h2 {padding-bottom: 3px;}
#cuerpo #encabezado #nombres h3 {font-weight: normal; font-size: 1rem;}
#cuerpo #encabezado #colCap {text-align: right;}
#cuerpo #encabezado #colCap #colecciones a div {border: 1px solid var(--azul-oscuro); background: var(--gris-claro);}
#cuerpo #encabezado #colCap #colecciones a div {padding: 5px 10px; border-radius: 10px; text-align: center;}
#cuerpo #encabezado #colCap #tempCapI {margin-bottom: 2px; max-width: max-content;}
#cuerpo #encabezado #colCap #tempCapI button {padding: 2px 5px; border-radius: 5px; font-weight: bold; background: var(--gris-oscuro); color: snow; border: none;}
#cuerpo #encabezado #colCap #tempCapS {display: flex; flex-direction: row; justify-content: flex-end; align-items: center;}
#cuerpo #encabezado #colCap #tempCapS .pack {line-height: 1; margin-right: 5px; white-space: nowrap;}
#cuerpo #encabezado #colCap #tempCapS .pack i {font-size: 1.1rem; }
#cuerpo #encabezado #colCap #tempCapS .pack i:first-child {margin-right: 3px;}
#cuerpo #encabezado #colCap #tempCapS :is(#temporada, #capitulo) {border-radius: 5px;}
#cuerpo #encabezado #colCap #tempCapS #temporada {margin-right: 8px;}
#cuerpo #encabezado #colCap #tempCapS select#capitulo {width: 20px;}
