/* Formato General */
#cuerpo #dataEntry {margin: auto; padding: 30px 40px; border-radius: 20px;}
#cuerpo #dataEntry {border: var(--gris-oscuro) 7px solid;}
#cuerpo #dataEntry {max-width: 65%; background: var(--azul-oscuro);}
#cuerpo #dataEntry h2 {font-size: 1.5rem; font-weight: bold;}

/* Formato del contenido */
#dataEntry * {color: var(--verde-claro);}
#dataEntry p, #dataEntry p *, #dataEntry li {font-size: 1.25rem; text-align: justify;}
#dataEntry p, #dataEntry ol li.ol {line-height: 1.3; margin-top: 10px;}
#dataEntry ol, #dataEntry ul li {line-height: 1.15; margin-top: 3px; margin-left: 30px;}
#dataEntry ol * {color: var(--amarillo-claro);}
#dataEntry ul li {font-style: italic;}
#dataEntry li {text-align: left;}

/* Submit button */
#dataEntry .iconos {margin: 20px auto 0;}
#dataEntry .iconos i {font-size: 1.75rem; color: var(--amarillo-oscuro);}
#dataEntry .iconos i {border-radius: 50%; padding: 5px;}
