<div class="flechas">
	<!-- Salir -->
	<% if (locals.origen) { %>
		<a href="<%= '/inactivar-captura/?entidad=' + (locals.prodEntidad?prodEntidad:entidad) + (locals.prodID||locals.id ? ('&id=' + (locals.prodID?prodID:id)) : '') + '&origen=' + origen %>">
			<i class="fa-solid fa-circle-left" tabindex="-1" title="Ir a la vista de Origen"></i>
		</a>
	<% } %>
	<!-- Detalle -->
	<% if ((codigo != "detalle" && locals.id)&&(tema == "prod_rud" || tema == "links_crud" || tema == "revisionEnts")) { %>
		<a href="<%= '/' + familia + '/detalle/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'"></i>
		</a>
	<% } %>
	<!-- Edición -->
	<% if ((codigo != "edicion" && locals.id)&&(tema == "prod_rud" || tema == "links_crud")) { %>
		<a href="<%= '/' + familia + '/edicion/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i>
		</a>
	<% } %>
	<!-- Links -->
	<% if (tema == "prod_rud" && locals.id) { %>
		<a href="<%= '/links/abm/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-link" tabindex="-1" title="Ir a la vista 'Links'"></i>
		</a>
	<% } %>
</div>
