<% if (tema == "prod_rud" && codigo == "detalle") { %>
    <div class="flechas inactivo">
        <i class="fa-solid fa-user-graduate" tabindex="-1" title="Califica<%= (entidad=="capitulos" ? "lo" : "la") %>"></i>
        <i class="fa-solid fa-heart" tabindex="-1" title="Mi interés en <%= (entidad=="capitulos" ? "el capítulo" : "la " + (entidad=="peliculas" ? "película" : "colección")) %>"></i>
        <i class="fa-solid fa-book-open" tabindex="-1" title="Hacer o ver comentarios"></i>
    </div>
<% } %>
