<% if (tema == "rclv_crud") { %>
	<!-- VISTA CRUD AGREGAR/EDICION RCLV - Para Aprobar -->
	<div class="flechas">
		<!-- Aprobar -->
		<button type="submit" autofocus class="inactivo">
			<i class="fa-solid fa-circle-check" title="Guardar"></i>
		</button>
	</div>
<% } %>

<% if (locals.statusCreado) { %>
	<!-- VISTA REVISION ALTA - Para Aprobar o ir a la vista Rechazar -->
	<div class="flechas">
		<!-- Aprobar -->
		<button type="submit" autofocus>
			<i class="fa-solid fa-circle-check" title="Aprobar"></i>
		</button>
		<!-- Rechazar -->
		<a href="<%= '/revision/' + familia + '/rechazo/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Rechazar"></i>
		</a>
	</div>
<% } %>

<% if (locals.userIdentVal && locals.statusEstable) { %>
	<!-- VISTA DETALLE - Para ir a las vistas de Inactivar o Recuperar -->
	<!-- Usuario validado, vista 'Detalle' y status 'Estable' -->
	<div class="flechas">
		<!-- Inactivar -->
		<% if (locals.status_id == aprobado_id) { %>
			<a href="<%= '/' + familia + '/inactivar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Ir a 'Inactivar'"></i>
			</a>
		<% } %>
		<!-- Recuperar -->
		<% if (locals.status_id == inactivo_id) { %>
			<a href="<%= '/' + familia + '/recuperar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-check" tabindex="-1" title="Ir a 'Recuperar'"></i>
			</a>
		<% } %>
		<!-- Color azul para las vistas de Detalle -->
		<style>.flechas :is(.fa-circle-check, .fa-circle-xmark) {color: var(--azul-oscuro)}</style>
	</div>
<% } %>

<% if (tema == "crud") {  %>
	<!-- VISTAS CRUD INACTIVAR Y RECUPERAR - Para completar el feedback y enviar a Revisión -->
	<!-- Confirma el cambio de status -->
	<button type="submit" class="flechas inactivo">
		<i class="fa-solid fa-circle-right" tabindex="-1" title="Confirma el cambio de status"></i>
	</button>
<% } %>

<% if (tema == "revisionEnts" && codigo == "inactivar-o-recuperar") {  %>
	<!-- VISTAS CRUD INACTIVAR Y RECUPERAR - Para completar el feedback y enviar a Revisión -->
	<div class="flechas">

		<!-- Rechaza el cambio de status -->
		<label for="rechazo" class="inactivo">
			<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Rechazar"></i>
		</label>
		<input type="submit" id="rechazo" formaction="&rechazo=true" formmethod="post">

		<!-- Confirma el cambio de status -->
		<button type="submit" class="flechas">
			<i class="fa-solid fa-circle-right" tabindex="-1" title="Confirma el cambio de status"></i>
		</button>

	</div>
<% } %>

