<!-- VISTA DETALLE - Para ir a las vistas de Inactivar o Recuperar -->
<!-- VISTA REVISION ALTA - Para Aprobar o ir a la vista de Inactivar -->

<% if (locals.userIdentVal && locals.statusEstable || locals.statusCreado) { %>
	<!-- Usuario validado -->
	<!-- Vista Detalle y statusEstable -->
	<!-- Vista RevisionAlta y StatusCreado-->
	<div class="flechas">
		<!-- Aprobar -->
		<% if (locals.statusCreado) { %>
			<button type="submit" autofocus tabindex="2">
				<i class="fa-solid fa-circle-check" title="Aprobar"></i>
			</button>
		<% } %>
		<!-- Recuperar -->
		<% if (locals.status_id == inactivo_id) { %>
			<a href="<%= '/crud/recuperar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-check" tabindex="-1" title="Ir a 'Recuperar'"></i>
			</a>
		<% } %>
		<!-- Inactivar -->
		<% if (locals.status_id == aprobado_id || statusCreado) { %>
			<a href="<%= '/crud/inactivar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Ir a 'Inactivar'"></i>
			</a>
		<% } %>
		<!-- Color azul para las vistas de Detalle -->
		<% if (locals.statusEstable) { %>
			<style>.flechas :is(.fa-circle-check, .fa-circle-xmark) {color: var(--azul-oscuro)}</style>
		<% } %>
	</div>
<% } %>

<!-- VISTAS INACTIVAR Y RECUPERAR - Para completar el feedback y confirmar -->
<% if (tema == "crud") {  %>
	<!-- Confirma el cambio de status -->
	<button type="submit" class="flechas inactivo">
		<i class="fa-solid fa-circle-right" tabindex="-1" title="Confirma el cambio de status"></i>
	</button>
<% } %>
