<!-- VISTA AGREGAR/EDICION RCLV - Para Aprobar -->
<% if (tema == "rclv_crud") { %>
	<div class="flechas">
		<!-- Aprobar -->
		<button type="submit" autofocus class="inactivo">
			<i class="fa-solid fa-circle-check" title="Guardar"></i>
		</button>
	</div>
<% } %>

<!-- VISTA REVISION ALTA - Para Aprobar o ir a la vista Rechazar -->
<% if (locals.statusCreado) { %>
	<div class="flechas">
		<!-- Aprobar -->
		<button type="submit" autofocus>
			<i class="fa-solid fa-circle-check" title="Aprobar"></i>
		</button>
		<!-- Rechazar -->
		<a href="<%= '/revision/' + familia + '/rechazo/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Rechazar"></i>
		</a>
	</div>
<% } %>

<!-- VISTA DETALLE - Para ir a las vistas de Inactivar o Recuperar -->
<% if (locals.userIdentVal && locals.statusEstable) { %>
	<!-- Usuario validado, vista 'Detalle' y status 'Estable' -->
	<div class="flechas">
		<!-- Inactivar -->
		<% if (locals.status_id == aprobado_id) { %>
			<a href="<%= '/crud/inactivar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Ir a 'Inactivar'"></i>
			</a>
		<% } %>
		<!-- Recuperar -->
		<% if (locals.status_id == inactivo_id) { %>
			<a href="<%= '/crud/recuperar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-check" tabindex="-1" title="Ir a 'Recuperar'"></i>
			</a>
		<% } %>
		<!-- Color azul para las vistas de Detalle -->
		<style>.flechas :is(.fa-circle-check, .fa-circle-xmark) {color: var(--azul-oscuro)}</style>
	</div>
<% } %>

<!-- VISTAS INACTIVAR Y RECUPERAR - Para completar el feedback y confirmar -->
<% if (tema == "crud") {  %>
	<!-- Confirma el cambio de status -->
	<button type="submit" class="flechas inactivo">
		<i class="fa-solid fa-circle-right" tabindex="-1" title="Confirma el cambio de status"></i>
	</button>
<% } %>
