<link rel="stylesheet" href="/formatos/0-Compartido/Main/Flechas.css">
<div class="flechas">
	<% if (locals.origen && (!origen.startsWith("DT") || codigo != "detalle")) { %>
		<!-- Salir -->
		<a href="<%= '/inactivar-captura/?entidad=' + (locals.prodEntidad?prodEntidad:entidad) + (locals.prodID||locals.id ? ('&id=' + (locals.prodID?prodID:id)) : '') + '&origen=' + origen %>">
			<i class="fa-solid fa-circle-left" tabindex="-1" title="Liberar y salir"></i>
		</a>
	<% } %>
	<% if (codigo != "detalle" && locals.id) { %>
		<!-- Detalle -->
		<a href="<%= '/' + familia + '/detalle/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'"></i>
		</a>
	<% } %>
	<% if ((codigo != "edicion" && locals.id) && (tema != "revisionEnts")) { %>
		<!-- Edición -->
		<a href="<%= '/' + familia + '/edicion/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i>
		</a>
	<% } %>
	<% if ((tema == "prod_agregar" || tema == "prod_rud") && locals.id) { %>
		<!-- Links -->
		<a href="<%= '/links/abm/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-link" tabindex="-1" title="Ir a la vista 'Links'"></i>
		</a>
	<% } %>
</div>
