<% if (tema == "revisionEnts" && codigo == "producto/alta") { %>
    <div class="flechas">
		<button type="submit" autofocus tabindex="2">
			<i class="fa-solid fa-circle-check" title="Aprobar"></i>
		</button>
		<i id="mostrarMotivos" class="fa-solid fa-circle-xmark" tabindex="3" title="Rechazado"></i>
    </div>
<% } %>
