<div class="flexRowAlign opciones relative">
	<input type="radio" name="genero_id" value="<%= genero.id %>" id="<%= genero.id %>" <% if (dataEntry.genero_id==genero.id) { %>checked<% } %>>
	<label for="<%= genero.id %>"><%= genero.nombre %></label>
</div>
