<link rel="stylesheet" href="/formatos/2.0-Familias-CRUD/FM-Encabezado.css">
<div id="tituloSecundario">
	<h2>Películas sobre <em><%= canonNombre %><%= RCLVnombre %></em></h2>
	<!-- Ayuda -->
	<div class="ayuda ocultar">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
			</ul>	
		</i>
	</div>
</div>
<p>Películas vinculadas: <%= prodsDelRCLV.length %></p>
