<div id="cuadroDeResultados">
	<i class="fa-solid fa-caret-left mover inactivo"></i>
	<ul id="listado">
		<% if (prodsDelRCLV.length) { %><%- include('RCLV-1DT-Prods') %>
		<% } else { %><%- include('RCLV-1DT-SinCasos') %><% } %>
	</ul>
	<i class="fa-solid fa-caret-right mover inactivo"></i>
</div>
