/* General */
#cuerpo {flex-direction: column;}
#cuerpo #centro {display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex-grow: 1;}

/* Zona de Vitreaux */
#cuerpo #zonaDeVitreaux {display: flex; flex-direction: column; justify-content: center;}

/* Zona de gráficos */
#cuerpo #zonaDeGraficos {padding: 20px 50px; height: 100%;}
#cuerpo #zonaDeGraficos {display: flex; flex-direction: row; justify-content: center; align-items: center; flex-grow: 1;}
#zonaDeGraficos #cuadro {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#zonaDeGraficos #cuadro {width: 100%; height: 70vh; max-width: 700px; max-height: 450px;}
#zonaDeGraficos #cuadro {padding: 30px 20px; border-radius: 15px; background: var(--celeste-claro);}
#zonaDeGraficos #cuadro #grafico {width: 100%; height: 80%;}
