/* Formato de Menús */
header section .grupos a {color: var(--azul-oscuro);}
header section .grupos .dropdown-content {position: absolute; top: 42px; border: 1px solid rgba(0,0,0,.15);}
header section .grupos .dropdown-content {padding: 4px 0; border-radius: 10px; background-color: var(--gris-claro); z-index: 1;}
header section .grupos .dropdown-content a {padding: 4px 16px; display: block;}
header section .grupos .dropdown-content .fas,
header section .grupos .dropdown-content .far {color: inherit; font-size: inherit;}
