/* Laptop */
@media (orientation: landscape) and (height > 600px) {
	#cuerpoFooterImgDer {
		#cuerpo {
			#vistaDeResults {#scroll #botones:has(li) {flex-wrap: wrap;}}
			#iconosDelTitulo #ayudaOpciones {display: none;}
			#layoutAyuda #ayudaOpciones i.ayudaClick {font-size: 1.2rem;}
		}
		#imgDerecha {position: relative;}
	}
}

/* Ambos */
@media (orientation: portrait), (orientation: landscape) and (height <= 600px) {
	#cuerpoFooterImgDer #cuerpoFooter {width: 100vw;}
	#vistaDeResults:has(#scroll #botones li) {--anchoPaddDin: min(var(--anchoPaddEst), calc((100vw - 290px)/2))} /* 290px es el ancho de un botón; es el mínimo entre el estándar y el calculado */

	/* Sector resultados */
	#vistaDeResults #scroll:has(#botones li) {overflow-x: auto;}
	#botones li:first-child {margin-left: 0;}
	#botones li:last-child {margin-right: 0;}
}

/* Parado */
@media (orientation: portrait) {
	/* Alturas y anchos */
	#cuerpoFooterImgDer {
		#cuerpo {
			/* General */
			:is(#encabMasPelis, #encabMasPelis #zonaDisponible) {position: absolute; height: 100%; width: 100%;}

			/* Sector Configuración de la Consulta */
			#configCons {
				position: absolute; transform-origin: left; transform: scaleX(0); max-height: var(--altoCuerpo);
				#toggleFiltros {display: none;} /* oculta el botón muestra/oculta filtros */

				/* Sector filtros */
				#configFiltros #palabrasClave i {scale: 1.5;}

			}

			/* Sector Encabezado más películas */
			#encabMasPelis {
				justify-content: space-between;

				/* Encabezado */
				#tituloPrincipal {
					#toggleFiltrosGlobal {display: flex;} /* ícono para mostrar las preferencias */
					#layoutAyuda #ayudaOpciones {display: none;} /* oculta la ayuda al lado del título */
					#iconosDelTitulo #ayudaOpciones {
						i.ayudaClick {font-size: 1.6rem;}
						.ayudaMostrar {
							max-width: 82vw; top: -20px;
							&::before {top: 25px;}
						}
					}
				}
				#zonaDisponible #vistaDeResults {
					max-height: 80%; z-index: 1;
					&:not(:has(#scroll :is(li, table))) {background: transparent; box-shadow: none;}
					#actualizar {display: none;} /* oculta el botón de actualizar prods */
					img#telonFondo {display: none;} /* oculta el telón de fondo */
					&.toggle {display: none;} /* oculta los resultados y el cartelRCLV */
				}
				footer {z-index: 1; background: var(--gris-claro);}
			}
		}

		/* Imagen derecha */
		#imgDerecha {
			position: absolute; top: 50%; left: 50%; translate: -50% -50%;
			img {max-width: 100vw; max-height: none;}
			a:has(#cartelRCLV).toggle {display: none;} /* oculta los resultados y el cartelRCLV */
		}
	}

}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	/* Vista de resultados */
	#zonaDisponible #vistaDeResults {
		min-width: min(330px, 100%) !important;
		max-height: 100% !important;
		&:has(#scroll #botones li) {padding-top: 0; padding-bottom: 0;}
	}

	/* Ocultar */
	#cuerpoFooterImgDer :is(#cuerpo :is(#configCons, #encabMasPelis :is(#encabezado, #vistaDeResults #actualizar)), #imgDerecha)
		{display: none !important;}
}
