/* Ancho */
@media (width <= 1350px) {
	/* #cuerpoFooter #encabMasPelis {width: 100vw;} */
	#cuerpoFooterImgDer #cuerpoFooter {width: 100vw;}
	#cuerpoFooterImgDer #imgDerecha img {max-width: 100vw;}
}
@media (width <= 950px) {
	/* cuerpo, encabMasPelis, encabezado */
	#tituloPrincipal #mostrarFiltros {display: flex;}
	#tituloPrincipal #mostrarFiltros .fa-chevron-right {display: inline-block;}
	#tituloPrincipal #mostrarFiltros .fa-chevron-left {display: none;}

	/* Filtros */
	#cuerpo #configCons {position: absolute; left: 35px; transform-origin: left; transform: scaleX(0);}
	#configCons #configCampos .ocultaFiltro {display: block !important;} /* muestra los campos individuales */
	#configCons #muestraOcultaFiltros {display: none;} /* oculta el botón muestra/oculta */

	#vistaDeResults #actualizar {display: none;}
}
@media (width <= 620px) {#vistaDeResults:has(#scroll #botones li) {--anchoPaddDin: min(var(--anchoPaddEst), calc((100vw - 290px)/2))}} /* Altera el ancho de los padding */
@media (width <= 430px)  {#encabezado #tituloPrincipal #entidadOrden {flex-direction: column;}} /* Entidad y Orden en formato columna */

/* Ayuda */
@media (width <= 740px) {
	#tituloPrincipal .ayudaMostrar {top: 21px; transform: none;}
	#tituloPrincipal .ayudaMostrar::before {top: 0; left: auto; transform: none; translate: 0 -100%; border-color: transparent transparent var(--backAyuda) transparent;}
}
@media (width <= 415px) {
	#tituloPrincipal .ayudaMostrar {translate: -50% 0; left: calc(-181px + 50vw); max-width: min(350px, calc(100vw - 10px));}
	#tituloPrincipal .ayudaMostrar::before {left: calc(min(350px, calc(100vw - 10px))/2 - 50vw + 181px + 3px);}
}
@media (415px < width <= 740px) {
	#tituloPrincipal .ayudaMostrar {right: 0;}
	#tituloPrincipal .ayudaMostrar::before {right: 3px;}
}

/* Alto */
@media (height <= 365px) {
	#zonaDisponible #vistaDeResults {max-height: 100%;}
	#zonaDisponible #vistaDeResults #actualizar {display: none;}
}
@media (height > 365px) {
	#zonaDisponible #vistaDeResults {max-height: 90%;}
	#zonaDisponible:has(#scroll #botones li) #vistaDeResults {padding-top: 15px; padding-bottom: 15px;}
}
@media (height <= 400px) {#encabMasPelis #encabezado {display: none;}} /* Oculta el encabezado */

/* Alto y Ancho */
@media (height <= 650px) or (width <= 640px) {
	#vistaDeResults #scroll:has(#botones li) {overflow-x: auto;}
	#botones li:first-child {margin-left: 0;}
	#botones li:last-child {margin-right: 0;}
}
@media (height > 650px) and (width > 640px) {
	#vistaDeResults #scroll #botones:has(li) {flex-wrap: wrap;}
}
