/* Cuerpo */
main #cuerpoFooterImgDer {visibility: hidden;}
#cuerpoFooter #cuerpo {flex-direction: row; max-height: 100%;}

/* Configuración de la consulta */
#cuerpo #configCons {display: flex; flex-direction: column; width: 220px; min-width: 220px;}

/* Encabezado más películas */
#cuerpo #encabMasPelis {display: flex; flex-direction: column; align-items: flex-start; flex-grow: 1;}
/* #cuerpo #encabMasPelis.ocultar {display: none;} */

/* Encabezado más películas - Encabezado */
#encabMasPelis #encabezado {display: flex; flex-direction: row; justify-content: space-between; width: 100%;}

/* Encabezado más películas - Zona de productos */
#encabMasPelis #zonaDisponible {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#encabMasPelis #zonaDisponible {width: 100%; flex-grow: 1; position: relative;}

/* Vista de Resultados */
#zonaDisponible #vistaDeResults {position: absolute; min-height: min(180px, 90%);}
#zonaDisponible #vistaDeResults {display: flex; flex-direction: column; justify-content: center;}
#zonaDisponible #vistaDeResults {border-radius: 15px; overflow: hidden; background: var(--celeste-claro);}
#zonaDisponible #vistaDeResults {min-width: min(400px, 100%); max-width: min(660px, 100%); }

/* Dentro de Vista de Resultados */
#vistaDeResults #esperandoResultados {transition: .3s;}
#vistaDeResults #actualizar {position: absolute; top: 15px; right: 20px}
#vistaDeResults #actualizar i {background: var(--verde-oscuro); color: var(--colorAyuda); border-radius: 50%; cursor: pointer;}
#vistaDeResults #actualizar i {font-size: 0.8rem; padding: 5px 5px 4px 4px}

/* Vista de Resultados - Carteles */
#vistaDeResults #carteles {position: absolute; translate: -50% -50%; left: 50%; top: 50%}
#vistaDeResults #carteles {display: flex; flex-direction: column;}
#vistaDeResults #carteles .cartel {padding: 10px 15px; border-radius: 10px; margin: auto;}
#vistaDeResults #carteles .cartel {border: solid 2px;}
#vistaDeResults #carteles .cartel span {color: var(--azul-oscuro); font-weight: bold; font-variant: small-caps;}
#vistaDeResults #carteles .cartel span {cursor: pointer; text-decoration: underline;}

/* Vista de Resultados - Carteles "Botón" */
#vistaDeResults #carteles button.cartel {font-size: 2rem; font-weight: bold; font-style: italic;}
#vistaDeResults #carteles :is(button#quieroVer, .cartel.especial) {background: var(--verde-claro); color: var(--verde-oscuro); border-color: var(--verde-oscuro);}
#vistaDeResults #carteles :is(button#asegurate, button#loginNecesario) {background: var(--rojo-claro); color: var(--rojo-oscuro); border-color: var(--rojo-oscuro);}

/* Vista de Resultados - Carteles "Especiales" */
#carteles .cartel.especial {scale: 1.5; overflow: hidden;}
#carteles .cartel.especial #cierra {top: -2px; right: -2px; translate: 0 0; padding: 2px 5px; color: var(--gris-oscuro); scale: 0.8;}
#carteles .cartel.especial #cierra:hover {color: snow; background: var(--rojo-oscuro); border-bottom-left-radius: 5px; transition: 0.7s;}
#carteles .cartel.especial div:not(p) {margin: 10px 0 5px;}

/* Vista de Resultados - Carteles "Especiales" - Párrafo y Tabla */
#carteles .cartel.especial div p {color: var(--azul-oscuro); margin: 5px 0 10px; font-weight: bold; text-align: center;}
#carteles .cartel.especial div table {border-collapse: collapse; margin-left: auto; margin-right: auto;}
#carteles .cartel.especial div table tr td {padding: 2px 0;}
#carteles .cartel.especial div table tr td:first-of-type {padding-right: 10px;}

/* Vista de Resultados - Varios */
#vistaDeResults #ppp {font-size: 1.25rem;}

/* Footer */
#encabMasPelis footer {align-self: stretch;}
