/* General */
#encabezado #izquierda {align-items: flex-start;}

/* Orden y Entidad */
#encabezado #tituloPrincipal {flex-wrap: wrap; align-items: left;}
#encabezado #tituloPrincipal select {padding: 3px 6px; font-size: 1.1rem; font-weight: bold;}
#encabezado #tituloPrincipal select[name=entidad_id] {border-bottom-right-radius: 7px;}
#encabezado #tituloPrincipal select {background: var(--rojo-oscuro); color: snow;}
#encabezado #tituloPrincipal select:valid {background: var(--verde-oscuro);}
#encabezado #tituloPrincipal select optgroup {background: var(--azul-frances) ;}
#encabezado #tituloPrincipal select option {background: var(--gris-claro); color: var(--azul-oscuro); font-style: normal;}

/* Ayuda y Actualizar */
#encabezado #tituloPrincipal #ayudaOrden {align-self: center; margin-left: 10px;}
#encabezado #tituloPrincipal #ayudaOrden i.ayudaClick {font-size: 1.2rem;}
#encabezado #tituloPrincipal #ayudaOrden ul li span {color: var(--amarillo-claro); text-decoration: underline; font-variant: small-caps}

/* Contador */
#encabezado #contadorDeProds {padding: 3px 5px; border: solid 2px gray; border-bottom-left-radius: 5px;}
#encabezado #contadorDeProds {font-size: 1.1rem; font-weight: bold; width: max-content;}
