/* Filtros Cabecera */
#configCons #cabecera {
	/* General */
	background: var(--gris-oscuro); padding: 0 20px; display: flex; flex-direction: column;
	:is(select, input[type="text"]) {margin-top: 20px; border-radius: 5px; border-width: 1px; cursor: pointer;}
	:is(select, option, input) {color: var(--azul-oscuro); background: var(--amarillo-claro);}

	/* Nuevo Nombre */
	#configNueva input {padding-left: 5px; height: 20.8px; width: 100%;}
	#configNueva :not(:is(.nuevo, .edicion)) {display: none;}

	/* Nombre Actual */
	select {font-weight: bold;}

	/* Botonera */
	#iconosBotonera {
		justify-content: space-around; margin-block: 15px; width: 100%; align-self: center; justify-content: space-around;
		i {
			font-size: 1.1rem;
			&:not(#sinFiltros) {cursor: pointer; color: snow;}
		}
	}
}
