#vistaDeResults:has(#scroll #botones li) {
	--anchoPaddEst: 20px;
	--altMargen: min(30px, calc((var(--altoCuerpo) - var(--altoBoton)) / 2));
	padding-block: var(--altMargen);

	#scroll #botones {
		display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap;
		row-gap: var(--altMargen);
		li {
			list-style-type: none;
			button {
				padding: 0; border-radius: 15px; overflow: hidden; height: var(--altoBoton); width: var(--anchoBoton);
				border-width: 1px; text-align: left; background: var(--celeste-oscuro);
				&:not(.cfc):hover {
					background: var(--azul-oscuro); color: var(--celeste-oscuro);
					i#ppp {color: inherit;}
				}
				&:focus {box-shadow: 0 0 10px var(--azul-oscuro)}
				&.cfc {
					background: var(--amarillo-claro);
					&:hover {background: var(--amarillo-oscuro);}
				}

				/* Partes del resultado */
				.imagenChica {max-height: 100%; max-width: 140px; align-self: center}
				#informacion {
					justify-content: space-between; height: 100%; padding: 6px 0;
					#infoSup #iconos #crueldad {margin-left: 10px; color: var(--rojo-oscuro);}
					.infoFormato {
						padding: 0 15px;
						.interlineadoChico:not(:first-child) {margin-top: 5px;}
						:is(#nombreCastellano, #nombre) {font-weight: bold; font-style: italic;}
					}
				}
			}
		}
	}
}
