/* Resultados */
#vistaDeResults:has(#scroll #sectorIconos li) {--anchoPaddEst: 20px; --anchoPaddDin: min(var(--anchoPaddEst), calc(50vw - 300px));}
#vistaDeResults:has(#scroll #sectorIconos li) {padding-left: var(--anchoPaddDin); padding-right: var(--anchoPaddDin);}
#vistaDeResults #scroll #sectorIconos {display: flex; flex-direction: row;}

/* Botones para productos */
#sectorIconos li {list-style-type: none;}
#sectorIconos li {--altoLi: min(15px, calc((100vh - 52px - 200px - 24px)/2)); margin: var(--altoLi) 10px;}
#sectorIconos li button {padding: 0; border-radius: 15px; overflow: hidden; height: 200px; width: 290px;}
#sectorIconos li button {border-width: 1px; text-align: left; background: var(--celeste-oscuro);}
#sectorIconos li button.cfc {background: var(--amarillo-claro);}
#sectorIconos li button:hover {background: var(--azul-oscuro); color: var(--celeste-oscuro);}
#sectorIconos li button.cfc:hover {background: var(--amarillo-oscuro); color: var(--azul-oscuro);}
#sectorIconos li button:focus {box-shadow: 0 0 10px var(--azul-oscuro)}

/* Partes del resultado */
button .imagenChica {max-height: 100%; max-width: 140px; align-self: center}
button #informacion {justify-content: space-between; height: 100%; padding: 6px 0;}
button #informacion .infoFormato {padding: 0 15px;}
button #informacion .infoFormato .interlineadoChico:not(:first-child) {margin-top: 5px;}
button #informacion .infoFormato :is(#nombreCastellano, #nombre) {font-weight: bold; font-style: italic;}
button:hover #informacion #infoSup i#ppp {color: inherit;}