/* Datos Adicionales */
#radioBtnOpcs {width: 75px; justify-content: space-between;}
#radioBtnOpcs label[for], #tipoActuacion label[for] {padding-left: 3px;}
#tipoActuacion {width: 100%; justify-content: space-between;}

