/* Parado */
@media (orientation: portrait) {
	#cuerpoFooterImgDer #cuerpoFooter {display: none;}
	#centro #marcoInfo {max-width: 85%;} /* ancho de 'parado' */
	#marcoInfo #etiquetas p {width: min-content;} /* ajusta el ancho de las etiquetas al mínimo */
}

/* Acostado */
@media (orientation: landscape) {
	#imgDerecha :is(#tituloPrincipal, #ayudaLinks, #centro :is(#marcoInfo, #recuadroDB), footer) {display: none !important;} /* oculta temas de portrait */
	#datos #marcoInfo {max-width: 100%;} /* ancho de 'acostado' */
}
/* Laptop */
@media (orientation: landscape) and (min-height: 601px) {
	#imgDerecha :is(#centro #links, #conjuntoIconos) {display: none;}
	#links :is(.ayudaClick, nav :is(button, select)) {font-size: 1.07rem;}
	#links nav :is(button, select) {height: 20px;}
	}
/* Celu acostado */
@media (orientation: landscape) and (max-height: 600px) {
	/* Adecua temas de laptop */
	#datos #datosLargos :is(#encabezado, #informacion :is(#tituloInfoDetalle, #links), #botones) {display: none;}
	#datos #datosBreves.toggle {display: none;}
	#cuerpoFooter #cuerpo {max-height: none}
	#datosLargos #recuadroDL {max-width: calc(100vw - 32vw - 2vw) !important;} /* 32vw: anchoImagen, 6vw: márgenes */
	#recuadroDL #contenido {margin: 0 30px;}
	#datos #marcoInfo {margin: 5px 0;}

	/* Adecua temas de celu parado */
	#imgDerecha #conjuntoIconos {position: absolute; translate: -50% 0; left: 50%; bottom: 10px; width: 100%;}
	#imgDerecha #conjuntoIconos .iconos:has(#ppp) {display: none;}

}