/* General */
#imgDerecha {position: relative;}
#imgDerecha :is(#links, #sectorIconos) {position: absolute; left: 50%;}

/* Links */
#imgDerecha #links {top: 50%; translate: -50% -50%;}

/* Links - Ayuda */
#imgDerecha #ayudaLinks {margin-bottom: 10px;}
#imgDerecha #ayudaLinks .ayudaMostrar {translate: -50% -100%; top: -7px; left: 8px; right: auto;}
#imgDerecha #ayudaLinks .ayudaMostrar {max-width: min(275px, 75vw);}
#imgDerecha #ayudaLinks .ayudaMostrar::before {translate: -50% 100%; left: 50%; bottom: 0; right: auto; top: auto;}
#imgDerecha #ayudaLinks .ayudaMostrar::before {border-color: var(--backAyuda) transparent transparent transparent;}

/* Links */
#imgDerecha :is(#links, #links nav) {flex-direction: column;}

#imgDerecha #links nav {align-items: center;}
#imgDerecha #links nav :is(a, select) {margin-top: 10px;}
#imgDerecha #links nav > *:first-child {margin-top: 0;}

/* Conjunto de iconos */
#imgDerecha #sectorIconos {bottom: 10px; translate: -50% 0; width: 100%;}
#imgDerecha #sectorIconos {display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;}
#imgDerecha #sectorIconos .iconos {margin: 0;}
