@media (orientation: portrait) {
	#cuerpoFooterImgDer #cuerpoFooter {display: none;}
	#cuerpoFooterImgDer #imgDerecha {justify-content: stretch;}
	#centro #marcoInfo {max-width: 85%;}
}


/* Celu acostado */
@media (orientation: landscape) {
	#imgDerecha :is(#tituloPrincipal, #ayudaLinks, #centro #marcoInfo, footer) {display: none;}
	#datos #marcoInfo {max-width: 100%;}
}
@media (orientation: landscape) and (min-height: 601px) {
	#imgDerecha :is(#centro #links, #conjuntoIconos) {display: none;}
}
@media (orientation: landscape) and (max-height: 600px) {
	#datos #datosLargos #botones .iconos {display: none;}
	#datos #datosBreves.toggle {display: none;}
	#imgDerecha #conjuntoIconos {position: absolute; translate: -50% 0; left: 50%; bottom: 10px; width: 100%;}
	#imgDerecha #conjuntoIconos .iconos:has(#ppp) {display: none;}
}
