@media (orientation: portrait) {
	#cuerpoFooterImgDer #cuerpoFooter {display: none;}
	#cuerpoFooterImgDer #imgDerecha {justify-content: stretch; border: 1px solid black;}
}

@media (orientation: landscape) {
	#imgDerecha #tituloPrincipal {display: none;}
}

/* Alto */
@media (orientation: landscape) and (min-height: 701px) {
}
@media (orientation: landscape) and (max-height: 700px) {
	#datos #botones .flechas {display: none;}
	#imgDerecha #conjuntoIconos {display: none;}
}
