/* General */
#cuerpo #datos {--anchoRecuadro: 675px;}

/* Links */
#links {
	display: flex; align-items: center;
	:is(.ayudaClick, :is(button, nav select)) {font-size: 1.3rem;}
	nav {
		display: flex;
		select {
			padding: 0px 4px; font-style: normal; text-align: center;
			&.varios {background: var(--gris-claro); color: var(--gris-oscuro); border-color: var(--gris-oscuro);}
			option {
				font-weight: bold;
				&.enCast {background: var(--verde-oscuro); color: var(--gris-claro);}
				&.subtCast {background: gold; color: var(--gris-oscuro);}
				&.otroIdioma {background: var(--rojo-oscuro); color: var(--gris-claro);}
			}
			-webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: ''; /* para ocultar la flecha */
		}
	}
	:is(button, nav select) {
		font-weight: bold; height: 24px;
		border: 4px solid; border-radius: 13px; box-sizing: content-box;
		&.enCast {background: var(--verde-claro); color: var(--verde-oscuro); border-color: var(--verde-oscuro);}
		&.subtCast {background: var(--amarillo-intermedio); color: var(--gris-oscuro); border-color: gold;}
		&.otroIdioma {background: var(--rojo-claro); color: var(--rojo-oscuro); border-color: var(--rojo-oscuro);}
	}
	button {padding: 0px 9px; text-wrap: nowrap;}
}

/* Links - Ayuda */
#ayudaLinks .ayudaMostrar {
	& > p em {color: var(--amarillo-oscuro);}
	ul {list-style-type: none;}
	i {
		border: 1.5px solid snow; font-size: small; border-radius: 50%;
		&.enCast {color: var(--verde-oscuro);}
		&.subtCast {color: gold;}
		&.otroIdioma {color: var(--rojo-oscuro);}
		&.elegi {color: var(--gris-oscuro);}
	}

}

/* Marco de Detalle */
#marcoInfo {
	display: flex; flex-direction: column;

	/* Etiquetas */
	&:has(#etiquetas .etiqueta.rclv.resaltar) #datosInfo {border-top-right-radius: 0;}
	#etiquetas .etiqueta {
		border: 1px solid var(--gris-oscuro); border-bottom: none;
		padding: 1px 3px; cursor: pointer; width: max-content;
		font-weight: normal; color: var(--azul-oscuro); background: var(--celeste-claro);
		border-top-left-radius: 5px; border-top-right-radius: 5px;
		&.resaltar {
			font-weight: bold; cursor: default;
			background: var(--azul-oscuro); color: var(--celeste-claro);
		}
	}

	/* Información */
	#datosInfo {
		padding: 10px 15px;
		border: var(--gris-oscuro) 2px solid; background: var(--amarillo-claro);
		border-radius: 10px; border-top-left-radius: 0;
		.datosParcial {
			flex-direction: column;
			a {text-decoration: underline;}
			b {color: var(--gris-oscuro);}
			&#masInfo {
				flex-direction: row; justify-content: space-between;
				#infoGral {column-count: 2; column-gap: 25px; column-rule: solid 1px;}
			}
			&#actores {
				color: var(--gris-oscuro);
				p span {font-weight: normal; color: var(--azul-oscuro);}
			}
		}
	}
}
