@media (orientation: landscape) and (height > 600px) {
	#recuadroDL {
		min-width: 500px;
		#contenido {
			padding-inline: 10px;
			/* Links */
			#informacion #links {
				flex-direction: row; justify-content: flex-start; padding: 10px 20px; margin-bottom: 20px;
				:is(.ayudaIconoForm, button, select) {font-size: 1.1rem;}
				.ayuda.links {
					margin-right: 10px;
					.ayudaMensForm {max-width: min(275px, 75vw); translate: 100% 0; top: -25px; bottom: auto;}
					.ayudaMensForm::before {left: 0; top: 25px; translate: -100% 0; right: auto;}
				}
				:is(button, select) {height: 20px;}
				nav {
					flex-direction: row;
					:is(a, select) {margin-right: 10px;}
					button#primerCap {
						padding: 2px 5px; border-radius: 5px; background: var(--gris-oscuro);
						font-weight: bold; color: snow; border: none;
					}
				}
				#violencia {
					flex-grow: 1; text-align: center;
					color: var(--rojo-oscuro);
					:is(i .ayudaMensForm, button) {border-color: var(--rojo-oscuro); background: var(--rojo-claro);}
					i {
						color: inherit; margin-right: 7px;
						.ayudaMensForm::before {border-right-color: var(--rojo-oscuro);}
						.ayudaMensForm p {color: var(--rojo-oscuro);}
					}

				}
			}
		}
	}

	/* Sectores a ocultar */
	#imgDerecha #links {display: none;}
}
