/* General */
#datos {--anchoRecuadro: 675px;}

/* Links */
.marco#links {display: flex; flex-direction: column; align-items: flex-start;}
.marco#links {padding: 5px 20px;}
.marco#links h4 {width: 50px; margin-right: 5px;}
.marco#links:has(h4#coleccion) h4 {width: 60px;}
.marco#links > div {margin: 5px 0; min-height: 20px;}
.marco#links button {padding: 2px 5px; border-radius: 5px; font-weight: bold; background: var(--gris-oscuro); color: snow; border: none;}

/* Links - Ayuda */
.marco#links #ayudaLinks {margin-right: 10px;}
#ayudaLinks .ayudaMostrar {max-width: min(275px, 75vw); translate: 100% 0; top: -25px; bottom: auto;}
#ayudaLinks .ayudaMostrar::before {left: 0; top: 25px; translate: -100% 0; right: auto;}
#ayudaLinks .ayudaMostrar > p em {color: var(--amarillo-oscuro);}
#ayudaLinks .ayudaMostrar ul {list-style-type: none;}
#ayudaLinks .ayudaMostrar i.enCast {color: var(--verde-oscuro);}
#ayudaLinks .ayudaMostrar i.subtCast {color: gold;}
#ayudaLinks .ayudaMostrar i.otroIdioma {color: var(--rojo-oscuro);}
#ayudaLinks .ayudaMostrar i {border: 1.5px solid snow; font-size: small; border-radius: 50%;}

/* Links */
.marco#links nav {align-items: stretch; height: 28px;}
.marco#links nav :is(a, select) {margin-right: 10px; font-weight: bold; box-sizing: content-box;}
.marco#links nav :is(a, select) {border: 4px solid; border-radius: 13px;}
.marco#links nav select {padding: 0 4px; font-style: normal;}
.marco#links nav a {padding: 0 9px;}
.marco#links nav :is(a, select).enCast {background: var(--verde-claro); color: var(--verde-oscuro); border-color: var(--verde-oscuro);}
.marco#links nav :is(a, select).subtCast {background: var(--amarillo-intermedio); color: var(--gris-oscuro); border-color: gold;}
.marco#links nav :is(a, select).otroIdioma {background: var(--rojo-claro); color: var(--rojo-oscuro); border-color: var(--rojo-oscuro);}
.marco#links nav select.varios {background: var(--gris-claro); color: var(--gris-oscuro); border-color: var(--gris-oscuro);}
.marco#links nav select option {font-weight: bold;}
.marco#links nav select option.enCast {background: var(--verde-oscuro); color: var(--gris-claro);}
.marco#links nav select option.subtCast {background: gold; color: var(--gris-oscuro);}
.marco#links nav select option.otroIdioma {background: var(--rojo-oscuro); color: var(--gris-claro);}

/* Marco de Detalle */
#marcoDetalle {margin-top: 20px; display: flex; flex-direction: column; width: fit-content;}
/* Marco de Detalle - Etiqueta */
#marcoDetalle #etiquetas p {border: 1px solid var(--gris-oscuro); border-bottom: none;}
#marcoDetalle #etiquetas p {padding: 1px 3px; margin-right: 1px; cursor: pointer;}
#marcoDetalle #etiquetas p {font-weight: normal; color: var(--azul-oscuro); background: var(--celeste-claro);}
#marcoDetalle #etiquetas p {border-top-left-radius: 5px; border-top-right-radius: 5px;}
#marcoDetalle #etiquetas p.resaltar {background: var(--amarillo-claro); font-weight: bold; cursor: default;}
/* Marco de Detalle - Información */
#marcoDetalle #datosDetalle {padding: 10px 15px; border-radius: 10px; border-top-left-radius: 0;}
#marcoDetalle #datosDetalle {border: var(--gris-oscuro) 2px solid; background: var(--amarillo-claro);}
#marcoDetalle #datosDetalle {min-width: 40vw;}
#datosDetalle .datosParcial {flex-direction: column;}
#datosDetalle .datosParcial#masInfo {flex-direction: row; justify-content: space-between;}
#datosDetalle .datosParcial#masInfo #infoGral {column-count: 2; column-gap: 25px; column-rule: solid 1px;}
#datosDetalle .datosParcial a {text-decoration: underline;}
#datosDetalle .datosParcial b {color: var(--gris-oscuro);}
#datosDetalle .datosParcial#actores {color: var(--gris-oscuro);}
#datosDetalle .datosParcial#actores p span{font-weight: normal; color: var(--azul-oscuro);}

/* Barra de desplazamiento */
/* ::-webkit-scrollbar {outline: transparent;} */
/* ::-webkit-scrollbar-track {background: var(--celeste-oscuro); border-radius: 10px;} */
/* ::-webkit-scrollbar-thumb {background: var(--gris-intermedio); border-radius: 10px;} */
