/* Temas generales */
#cuerpoFooter #cuerpo {background: var(--gris-claro); max-height: 100%;}
.ayudaMostrar .fa-circle-xmark {color: var(--rojo-oscuro); background: var(--backIcono); font-size: .7rem;}
#cuerpo form {display: flex; flex-direction: row-reverse; flex-grow: 1; position: relative;}
form #formCuerpoFooter {display: flex; flex-direction: column-reverse; flex-grow: 1; position: relative;}
#formCuerpoFooter #formCuerpo {display: flex; flex-direction: column; flex-grow: 1;}

/* Zona del formulario */
#formCuerpo #edicionForm {display: flex; flex-direction: column; justify-content: space-around; align-self: center; flex-grow: 1;}
#formCuerpo #edicionForm {margin: 15px 70px; min-width: 790px; max-width: 810px; width: 100%;}
#formCuerpo #edicionForm .altoFila {height: 21px;}

/* Partes del formulario */
#edicionForm #datos {display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px;}
.labelInput .inputError .input {width: 100%;}
.errores .fa-triangle-exclamation {color: var(--naranja-oscuro); background: transparent; cursor: pointer;}
#primeraColumna {width: 350px;}
#primeraColumna .inputError {width: 100%;}
#primeraColumna .labelInput .inputError {max-width: 200px;}
#primeraColumna .labelInput .inputError:has(.angosto, .numero) {max-width: 70px;}
#segundaColumna {width: 380px; display: flex; flex-direction: column;}
#segundaColumna .labelInput .inputError:not(:has(textarea)) {width: 240px;}
#segundaColumna .labelInput .inputError:has(select[name="epocaOcurrencia_id"]) {width: 150px}
#segundaColumna .labelInput .inputError {width: 100%;}

/* Partes específicas del formulario */
#datos .columna {display: flex; flex-direction: column; justify-content: space-between;}
#datos .columna h3 {margin-top: 15px; color: var(--verde-oscuro); width: 100%;}
#datos .columna h3:first-child {margin-top: 0;}
#datos .columna .labelInput:has(h3) {margin-top: 15px;}

#datos .labelInput {display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 5px;}
#datos .labelInput label {margin-right: 20px; font-weight: bold;}
#datos .labelInput .inputError {display: flex; flex-direction: row; margin-left: 5px;}
#datos .labelInput .inputError :is(.input, input#mostrarPaises) {border-width: .7px; border-radius: 5px; background: white;}
#datos .labelInput .inputError .ayuda {right: -5px;}
#datos .labelInput .inputError .input {align-self: center;}
#datos .labelInput .inputError .input.numero {text-align: right;}
#datos .labelInput .inputError input {padding: 0px 5px;}
#datos .labelInput .inputError select {padding: 0;}
/* #datos .labelInput .inputError .input:disabled, #datos .labelInput#paises_id */
#datos :is(input#mostrarPaises:disabled, select:disabled) {background: var(--amarillo-claro); opacity: 1; color: inherit;}
#datos .flexRowAlign #siNoTitulo {width: 210px;}

/* País */
#datos #paises_id {align-items: center;}
#datos #paises_id .inputError {width: 200px;}
#datos #paises_id .inputError :is(input#mostrarPaises, select)
{position: absolute; top:0; transform: translateY(-50%); height: 18px; border-radius: 5px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
#datos #paises_id .inputError #mostrarPaises {max-width: 180px; width: 100%; padding: 0 5px;}
#datos #paises_id .inputError select {width: 100%; padding: 0;}

/* Sinopsis */
#datos .labelInput#sinopsis {display: flex; flex-direction: column; flex-grow: 1;}
#datos .labelInput#sinopsis .inputError {margin-left: 0; flex-grow: 1; max-width: unset;}
#datos #sinopsis textarea {padding: 5px 10px; resize: none; height: 100%; min-height: 50px;}
#datos #sinopsis textarea.input::-webkit-scrollbar {display: none;}

/* RCLV */
#datos .labelInput .inputError .linkRCLV {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
#datos .labelInput .inputError .linkRCLV {width: 15px; cursor: pointer;}
#datos .labelInput .inputError #alta.linkRCLV {right: -40px;}
#datos .labelInput .inputError #edicion.linkRCLV {right: -60px; font-size: 1.15rem;}

/* Tipos de actuación */
#datos #tipoActuacion #tipos {max-width: 240px; flex-wrap: wrap;}

/* Mensajes de aviso de cambio de data-entry */
.inputError .fa-arrow-right-long {left: -5px; position: absolute; translate: -100% -50%; top: 50%;}
.inputError .fa-arrow-right-long {color: var(--verde-oscuro);}
form #imgDerecha.inputError .fa-arrow-right-long {left: 5px; transform: translateY(-50%);}

/* Comandos - Particularidades */
.flechas i.activarVersion {background: var(--azul-oscuro); color: var(--gris-claro);}
.flechas i.activarVersion {padding: 4px; margin-top: 1px; margin-bottom: 1px; font-size: 1.25rem;}
.flechas i.activarVersion.activo {background: var(--verde-oscuro);}
/* Slash */
.flechas div:has(> .fa-slash) {width: 15px; display: flex; flex-direction: row; justify-content: center;}
.flechas i.fa-slash {rotate: 80deg; cursor: default; padding: 0; border: none; margin: 0;}