/* Temas generales */
#cuerpoFooterImgDer {
	background: var(--gris-claro);
	#imgDerecha {
		position: relative;
		.fa-arrow-right-long {left: 5px; transform: translateY(-50%);}
	}
	#cuerpoFooter #cuerpo {
		flex-direction: column;
		#tituloPrincipal .ayudaMensForm .fa-solid {
			font-size: 0.8rem;
			&.fa-triangle-exclamation {color: var(--naranja-oscuro);}
			&.fa-circle-xmark {color: var(--rojo-oscuro); background: var(--backIcono);}
		}
		/* Zona del formulario */
		#datos {
			display: flex; flex-direction: column; justify-content: space-around; align-self: center; flex-grow: 1;
			margin: 15px 70px; min-width: 790px; max-width: 810px; width: 100%;
			.altoFila {height: 21px;}
			#encabezado {border-radius: 15px;}
			#info {
				display: flex; flex-direction: row; justify-content: space-between; padding: 10px 15px;

				/* Partes del formulario */
				.labelInput .inputError :where(.input, select) {width: 100%;}
				.errores .fa-triangle-exclamation {color: var(--naranja-oscuro); background: var(--gris-claro); border: var(--gris-claro) 1px solid;}
				.ayudaMensForm {
					.fa-circle-xmark {color: var(--rojo-oscuro); background: var(--backIcono); font-size: .7rem;}
					.fa-triangle-exclamation {font-size: .8rem;}
				}
				.columna {
					display: flex; flex-direction: column; justify-content: space-between;
					h3 {
						margin-top: 15px; color: var(--verde-oscuro); width: 100%;
						&:first-child {margin-top: 0;}
					}
					.labelInput {
						display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 5px;
						&:has(h3) {margin-top: 15px;}
						label {margin-right: 20px; font-weight: bold;}
						.inputError {
							display: flex; flex-direction: row; margin-left: 5px; width: 100%;
							:is(.input, #mostrarPaises) {color: black;}
							.ayuda {right: -5px;}
							.input, select {align-self: center; background: white; border: .7px var(--gris-oscuro) solid; border-radius: 5px;}
							.input.numero {text-align: right;}
							input {padding: 0px 5px;}
							select {padding: 0;}
						}
					}

					/* Disabled */
					input[type="text"]:read-only, :disabled {background-color: var(--amarillo-claro) !important; opacity: 1;}
					/* input:disabled {accent-color: var(--amarillo-oscuro) !important;} radio-buttons y checkboxes */
				}

				/* Columnas */
				#primeraColumna {
					width: 350px;
					.labelInput {
						/* General */
						.inputError {
							max-width: 200px;
							&:has(.angosto, .numero) {max-width: 70px;}
						}

						&#paises_id {
							align-items: center;
							.inputError #mostrarPaises {
									position: absolute; top: 50%; translate: 2px -50%;
									max-width: 177px; width: 100%; padding: 1px 2px;
									background-color: var(--gris-claro);
									border-top-left-radius: 5px; border-bottom-left-radius: 5px;
									&:empty:not(:focus):before {content: attr(data-text); font-style: italic;}
							}
						}
					}
				}

				#segundaColumna {
					width: 380px; display: flex; flex-direction: column;

					#radioBtnTitulo {width: 210px;}
					.labelInput {
						.inputError {
							width: 240px;
							&:has(select[name="epocaOcurrencia_id"]) {width: 150px}
							:is(#publico_id, #epocaOcurrencia_id) {right: -23px;}

							/* RCLV */
							.linkRCLV {
								position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;
								width: 15px; cursor: pointer;
								&#alta {right: -40px;}
								&#edicion {right: -60px; font-size: 1.15rem;}
							}
						}

						&#sinopsis {
							flex-grow: 1;
							.inputError {margin-left: 0; flex-grow: 1; max-width: unset; height: 100%;}
							textarea {
								padding: 5px 10px; resize: none; height: 100%; min-height: 50px;
								&::-webkit-scrollbar {display: none;}
							}
						}
					}
				}
			}
			#sectorIconos .iconos {
				div:has(> .fa-slash) {width: 15px; display: flex; flex-direction: row; justify-content: center;}
				i.fa-slash {rotate: 80deg; cursor: default; padding: 0; border: none; margin: 0; font-size: 1.25rem;}
				i.activaVersion.activo {background: var(--verde-oscuro); color: var(--amarillo-claro); font-size: 1.2rem; padding: 4px;}
			}
		}
	}
}


/* Mensajes de aviso de cambio de data-entry */
.inputError .fa-arrow-right-long {left: -5px; position: absolute; translate: -100% -50%; top: 50%;}
.inputError .fa-arrow-right-long {color: var(--verde-oscuro);}
