/* Ambos */
@media (orientation: portrait), (orientation: landscape) and (max-height: 600px) {
	/* Información */
	#recuadroDL #contenido {margin: 20px;}

	#calificaciones #individuales > div {flex-direction: column; align-items: flex-start; text-align: left;}

	#cuerpoFooter #sectorIconos:has(#guardarCambios) {display: flex !important;}
}

/* Parado */
@media (orientation: portrait) {
	.marco #calificaciones {flex-direction: column;}
	#calificaciones #consolidado {margin: 25px 0 0;}
}

/* Acostado */
@media (orientation: landscape) and (max-height: 600px) {
	form.marco {flex-direction: row;} /* confirmar, a la derecha del resultado */
	.marco #calificaciones {flex-direction: row;} /* resultado, a la derecha de las calificaciones */
}
