/* General */
#cuerpo #datos {--anchoRecuadro: 520px;}

/* Titulo principal */
#tituloInfoDetalle .ayudaMensForm {max-width: min(195px, 75vw); translate: 100% 0; top: -2px;}
#tituloInfoDetalle .ayudaMensForm::before {left: 0; top: 4px; translate: -100% 0;}

/* Marco */
form.marco {
	display: flex; flex-direction: column; align-items: center;
	padding: 25px;

	#calificaciones {
		display: flex; align-items: center;

		/* Marco - Individuales */
		#sectorIndivs {
			& > div {
				display: flex; justify-content: flex-end;
				margin-bottom: 15px; min-height: 20px; width: 100%;
				&:last-child {margin-bottom: 0;}
			}
			div {
				h4 {
					margin-right: 10px;
					i {font-size: 0.9rem;}
				}
				select {width: 100%; max-width: 170px; border-radius: 5px;}
			}
		}

		/* Marco - Consolidado */
		#sectorResultado {
			display: flex; flex-direction: column; align-items: center;
			margin-left: 30px; margin-right: 5px;
			#consolidado {
				text-align: center; min-width: max-content;
				border-radius: 5px; border: var(--azul-oscuro) solid 1px; overflow: hidden;
				#resultado {background: var(--azul-oscuro); color: white; font-size: 1.1rem; padding: 2px 5px;}
				#valor {font-size: 2rem; background: white; padding: 2px;}
			}
		}
	}
}
