/* Ambos */
@media (orientation: portrait), (orientation: landscape) and (height <= 600px) {
	#imgDerecha :is(#links, #sectorIconos).toggle {display: none;}
	#calificaciones #individuales > div {flex-direction: column; align-items: flex-start; text-align: left;}
	#contenido #sector2 #sectorIconos {display: flex !important; margin: 25px 0 0;} /* debe tener 3 ids, por prioridades */
}

/* Parado */
@media (orientation: portrait) {
	body {
		--altoFooter: 0px;
		footer {display: none;}
	}
	#recuadroDL #contenido {
		margin: 15px 20px;
		.marco {
			padding-block: 20px !important;
			#calificaciones {
				flex-direction: column;
				#individuales .ayudaMostrar {
					max-width: 50vw; top: -7px; translate: 100% 0;
					&::before {top: 7px; translate: -100% 0;}
				}
				#sector2 {margin: 20px 0 0;}
			}
		}
	}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	#recuadroDL #contenido {margin: 20px;}
	form.marco {flex-direction: row;} /* confirmar, a la derecha del resultado */
	.marco #calificaciones {flex-direction: row;} /* resultado, a la derecha de las calificaciones */
}
