body {
	background: url("/publico/imagenes/Varios/Color-de-fondo.jpg"); background-size: cover; background-attachment: fixed;
	width: 100vw; height: 100vh;

	--altoHeader: max(52px, min(8vh, 60px));
	--altoMain: calc(100vh - var(--altoHeader));
	--altoFooter: 23.6px;
	--altoCuerpo: calc(var(--altoMain) - var(--altoFooter));
	--anchoImgDer: 32vw;
	--anchoCuerpo: calc(100vw - var(--anchoImgDer));
}

*, body {margin: 0px; padding: 0; box-sizing: border-box;}
