/* Laptop */
@media (orientation: landscape) and (height > 600px) {
	body {
		--alturaViewPort: 100vh;
		--altoFooter: 23.6px;
	}
}

/* Parado */
@media (orientation: portrait) {
	body {
		--alturaViewPort: 100svh;
		--altoFooter: 23.6px;
	}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	body {
		--alturaViewPort: 100vh;
		--altoFooter: 0px;
	}
	#cuerpoFooterImgDer footer {display: none;}
}

/* Variables */
body {
	--anchoImgDer: 32vw;
	--altoHeader: max(52px, min(calc(var(--alturaViewPort) * 0.08), 60px));
	--altoMain: calc(var(--alturaViewPort) - var(--altoHeader));
	--altoCuerpo: calc(var(--altoMain) - var(--altoFooter));
	--anchoCuerpo: calc(100vw - var(--anchoImgDer));

}

/* Formatos */
body {
	background: url("/publico/imagenes/Varios/Color-de-fondo.jpg"); background-size: cover; background-attachment: fixed;
	height: var(--alturaViewPort);
	width: 100vw;
}

body, * {margin: 0px; padding: 0; box-sizing: border-box;}
