/* Desplazamiento - Desplazar el contenido*/
.sectorConDesplV {overflow-y: auto;}

/* Animaci贸n - Estados */
@keyframes aparece        {0% {opacity: 0}           100% {opacity: 1}}
@keyframes desaparece     {0% {opacity: 1}           100% {opacity: 0; display: none}}
@keyframes aumenta        {0% {scale: 0}             100% {scale: 1}}
@keyframes aumentaX       {0% {transform: scaleX(0)} 100% {transform: scaleX(1);}}
@keyframes flechaDer      {0% {transform: rotate(180deg)} 100% {transform: rotate(360deg);}}
@keyframes disminuye      {0% {scale: 1}             100% {scale: 0}}
@keyframes disminuyeX     {0% {transform: scaleX(1)} 100% {transform: scaleX(0);}}
@keyframes flechaIzq      {0% {transform: rotate(0deg)} 100% {transform: rotate(180deg);}}
@keyframes agrandaAchica  {0% {scale: 1}             100% {scale: 1.1}}

/* Animaci贸n - Duraci贸n */
.aparece {animation: aparece .5s;}
.desaparece {animation: desaparece.5s;}
.aumenta {animation: aumenta .3s;}
.aumentaX {animation: aumentaX .3s;}
.flechaDer {animation: flechaDer .3s;}
.disminuye {animation: disminuye .5s;}
.disminuyeX {animation: disminuyeX .3s;}
.flechaIzq {animation: flechaIzq .3s;}
.agrandaAchica {animation: agrandaAchica .7s 6 alternate;}

/* Animaci贸n - Estilos */
.aparece, .desaparece, .aumenta, .aumentaX, .flechaDer, .disminuye, .disminuyeX, .flechaIzq
	{animation-timing-function: ease-in; animation-fill-mode: forwards;}

/* Hover - scale */
.iconos button, .iconos i, #cuerpo a, #flechasCartel a, .scale {transition: 300ms;}
#cuerpo a:has(i, img):hover, .iconos :is(button, i):hover, #flechasCartel a:hover, .scale:hover {scale: 1.3;}
.iconos button:has(.inactivoVersion, .inactivo):hover {scale: 1;}
.iconos :is(i.inactivoVersion, i.inactivo, button i):hover {scale: 1;}
