/* Flexbox */
.flexCol {display: flex; flex-direction: column;}
.flexRow {display: flex; flex-direction: row;}
.flexRowReverse {display: flex; flex-direction: row-reverse;}
.flexRowAlign {display: flex; flex-direction: row; align-items: center;}
.flexColAlign {display: flex; flex-direction: column; align-items: center;}
.grow {flex-grow: 1;}
.spaceBetween {justify-content: space-between;}
.spaceAround {justify-content: space-around;}
.spaceEvenly {justify-content: space-evenly;}

/* Íconos clave */
.fa-solid {line-height: normal;}
.fa-circle-check, .fa-circle-xmark, .fa-circle-left,
.fa-circle-right {background: var(--backIcono); border-color: var(--backIcono);}
.fa-circle-check, .fa-heart-circle-check, .fa-chart-simple.fa-rotate-90.true {color: var(--verde-oscuro);}
/* .fa-heart-circle-check {color: var(--gris-oscuro);} */
.fa-circle-xmark, .fa-trash-can, .fa-heart-circle-xmark {color: var(--rojo-oscuro);}

/* Inactivo */
.inactivo, .inactivoVersion {opacity: .65 !important;}
.inactivo, .inactivo *, .inactivoVersion, button:has(.inactivo, .inactivoVersion) {cursor: not-allowed !important;}
/* .inactivo, .inactivoVersion, button:has(.inactivo, .inactivoVersion) {border-color: transparent !important;} */

/* Maneras de Ocultar */
.ocultar, .ocultaInactivo, .ocultaTipo, .ocultaOK_imagen, .ocultaAyudaRCLV, .ocultaAvatar,
.ocultaCfc, .ocultaOcurrio, .ocultaFiltros, .ocultaFiltro {display: none !important}
.invisible {visibility: hidden;}

/* Otras */
.absolute {position: absolute}
.absoluteCentro {position: absolute; top: 50%; left: 50%; translate: -50% -50%;}
.relative {position: relative;}
.pointer {cursor: pointer;}
.border {border: red 1px solid}
.rojo {color: var(--rojo-oscuro);}
.verde {color: var(--verde-oscuro);}
.negrita {font-weight: bold;}
.bloqueado {background: var(--celeste-oscuro);}
.bordeConSombra {box-shadow: 0px 0px 10px rgb(100 100 100)}
.sinFlechas {-webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';}
