<section class="label-input">
	<label><%= campo.titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="input-error">
		<p class="">
			<%= campo.mostrarEdic %>
		</p>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark <%= campo.nombreDelCampo %>">
		</i>
	</div>
</section>
