<div class="campoTitulo"><%= campo.titulo %></div>
<div class="campoNombre ocultar"><%= campo.nombreDelCampo %></div>
<section class="infoMostrar">
	<div class="orig"><%= campo.mostrarOrig %></div>
	<div class="edic">
		<%= campo.mostrarEdic %>
		<i class="fa-solid fa-circle-check"></i>
		<i class="fa-solid fa-circle-xmark"></i>
	</div>
	<!-- Aprobar y Rechazar -->
</section>
