<% if (inputOK) { %>
	<div class="ocultar ayudaMensForm ayudaMensMostrar">
		<p>Podrás editar este campo al terminar el ingreso a nuestra base de datos.</p>
	</div>
	<%- include("CMP-Ayuda", {parrafo: "Podrás editar este campo al terminar el ingreso a nuestra base de datos."}) %>
<% } %>