<div id="checkBox" class="flexRow">
	<input id="<%= nombre %>" type="checkbox" name="<%= nombre %>" <% if (dataEntry[nombre]) { %>checked<% } %>>
	<label for="<%= nombre %>">No lo voy a responder por ahora</label>
</div>
