<section class="label-input" id="sinopsis">
	<div class="input-error">
		<textarea
			name="sinopsis" class="input" placeholder="Ingresa aquí la sinopsis"
		><%= producto.sinopsis %></textarea>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark ocultar">
			<span class="mensajeError"></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar"></i>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
