<section class="label-input">
	<label><%= campo.titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="inputError">
		<input type="text" name="<%= campo.nombre %>" value="<%= producto[campo.nombre] %>" autofocus autocomplete="off" 
			class="input <% if (campo.numero) { %>numero<% } %>"
			<% if (campo.numero) { %>placeholder="sólo números"<% } %>
		>
		<%- include("CMP-Errores") %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
