<section class="label-input" id="sinopsis">
	<div class="inputError">
		<textarea
			name="sinopsis" class="input" placeholder="Ingresa aquí la sinopsis"
		><%= producto.sinopsis %></textarea>
		<%- include("CMP-Errores") %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
