<h2>Links</h2>
<div id="links" class="flexCol">
	<!-- Película -->
	<% if (entidad != "colecciones") { %>
		<div class="flexRow">
			<h3>Película</h3>
			<nav>
				
			</nav>
		</div>
	<% } %>
	<!-- Trailer -->
	<h3>Trailer</h3>
	<nav>
		
	</nav>
</div>
<div id="datosDetalle">
	<div id="sinopsis" class="datosParcial">

	</div>
	<div id="masInfo" class="datosParcial">

	</div>
</div>