<!-- Contenido que se desplaza -->
<nav> 
	<!-- Calificaciones -->
	<h3>Calificaciones</h3>
	<% if (registro.calificacion) { %>
		<p id="calificacionesResultados"></p>
		<div id="calificacionesGrafico"></div>
	<% } else { %>
		<p style="text-align: center; margin-top: 10px; font-style: italic;">- Sin calificaciones aún -</p>
	<% } %>
	<!-- Texto -->
	<h3>Datos del Registro</h3>
	<div id="texto">
		<% for (campo of bloqueDer) { %>
			<p <% if (campo.titulo.startsWith("Status")) { %>class="status" id="status<%= campo.id %>"<% } %>>
				<b><%= campo.titulo %>:</b> <span><%= campo.valor %></span>
				<% if (campo.RCLV_entidad) { %>
					<% let datosRCLV = "entidad=" + campo.RCLV_entidad + "&id=" + campo.RCLV_id %>
					<a href="/rclv/detalle/?<%= datosRCLV %>">
						<i class="fa-solid fa-circle-info"></i>
					</a>
				<% } %>
			</p>
		<% } %>
	</div>
</nav>
