<nav class="flexRowAlign">
    <% for (const link of linksProd) { %>
        <!-- Variables -->
        <% const castellano = link.castellano ? "En castellano" : link.subtitulos ? "Subtitulos en castellano" : "En otro idioma" %>
        <% const gratuito = " - " + (link.gratuito ? 'Link gratuito' : 'Link pago') %>
        <% const calidad = " - " + link.calidad + 'px' %>
        <% const completoParte = link.completo ? " - Completo" : link.parte != '-' ? (' - Parte ' + link.parte) : '' %>
        <a href="//<%= link.url %>" target="_blank">
            <img 
                src="/archSinVersion/LK-Logos/<%= link.prov.avatar %>" 
                class="<%= link.idioma + (link.statusRegistro_id != aprobado_id && link.creadoPor_id != usuario.id ? ' inactivo' : '') %>"
                title="<%= castellano + gratuito + calidad + completoParte %>" 
            >
        </a>
    <% } %>
</nav>
