<div id="ayudaLinks">
	<i class="fa-solid fa-circle-question ayudaClick desplClick">
		<div class="ayudaMostrar ocultar desplMostrar">
			<p><em>Color del borde de los logos (simil semáforo):</em></p>
			<ul type="dots">
				<li><i class="fa-solid fa-circle enCast"></i> en idioma <b>castellano</b></li>
				<li><i class="fa-solid fa-circle subtCast"></i> <b>subtitulos</b> en castellano</li>
				<li><i class="fa-solid fa-circle otroIdioma"></i> en <b>otro</b> idioma</li>
			</ul>
			<p>Si colocás el mouse sobre la imagen de algún link, te damos información específica de él</p>
		</div>
	</i>
</div>
