<section class="labelInput" id="sinopsis">
	<div class="inputError">
		<textarea
			name="sinopsis" class="input" placeholder="Ingresa aquí la sinopsis"
		><%= registro.sinopsis %></textarea>
		<%- include("CMP-Errores", {nombre: "sinopsis"}) %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
