<% const {titulo, nombre, numero} = campo %>
<section class="label-input">
	<label><%= titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="inputError">
		<input type="text" name="<%= nombre %>" value="<%= registro[nombre] %>" autofocus autocomplete="off" 
			class="input <% if (numero) { %>numero<% } %>"
			<% if (numero) { %>placeholder="sólo números"<% } %>
			placeholder="Ingresá el texto"
		>
		<%- include("CMP-Errores", {nombre}) %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
