<h1 class="titulo" id="titulo">Confirmá el agregado a nuestra Base de Datos</h1>
<form action="<%= link %>" method="POST" id="dataEntry" class="flex-col">
	<section class="flex-col">
		<h2>Paso 5 de 5: Confirma</h2>
		<img id="running" src="/imagenes/8-Agregar/Confirma.svg" alt="Confirma">
		<ul>
			<li>Estamos listos para agregar el registro a nuestra Base de Datos</li>
			<li>
				Una vez que confirmes la operación, no hay "marcha atrás"
				<i class="fas fa-question-circle">
					<span class="mensajeAyuda ocultar">El registro quedará para siempre en nuestra BD, y tu usuario asociado a él.</span>
				</i>
			</li>
			<li>
				Damos una puntuación por la calidad y responsabilidad de la información aportada
				<i class="fas fa-question-circle">
					<ol type="dots" class="mensajeAyuda ocultar">
						<li>Que la película/colección esté alineada con nuestro perfil (2 puntos).</li>
						<li>La precisión de la información manual aportada (2 puntos).</li>
						<li>Que los links de trailer (1 punto) y de película (2 puntos) respeten los derechos de autor.</li>
						<p>El puntaje nos permite evaluar al usuario como potencial <em>Revisor de Altas de Registros</em> de otros usuarios.</p>
					</ol>
				</i>
			</li>
		</ul>
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas" class="flex-row">
		<a href="/producto/agregar/datos-personalizados" tabindex="-1"><i class="fas fa-arrow-alt-circle-left"></i></a>
		<button type="submit" autofocus>Confirma</button>
		<% if (false) { %>
			<a href="#" tabindex="-1"><i class="fas fa-arrow-alt-circle-right"></i></a>
		<% } else { %>
			<i class="fas fa-arrow-alt-circle-right flechaSinLink"></i>
		<% } %>
	</section>	
</form>
