<section id="imagen" class="inputError">
	<!-- Imagen que se ve en la vista -->
	<label for="inputImagen" id="avatarVisible">
		<img src="<%= avatar %>" class="pointer">
	</label>
	<input name="avatar" type="file" id="inputImagen" accept="image/*" class="input ocultar">
	<!-- Almacenaje de la imagen nueva -->
	<label id="avatarNuevo" class="ocultar">
		<img src="<%= avatar %>" class="ocultar">
	</label>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick despl_click">
			<ul type="dots" class="ayudaMostrar ocultar despl_mostrar">
				<li>Haciendo <em>click</em> en la imagen podés reemplazarla por otra.</li>
				<li>La extensión de la imagen debe ser <em><strong>JPG</strong></em> o <em><strong>PNG</strong></em></li>
			</ul>
		</i>
	</div>
	<%- include("CMP-Errores", {display: true}) %>
	<!-- Aviso de cambio en el data-entry -->
	<i class="fa-solid fa-arrow-right-long ocultar"></i>
</section>
