/* Contexto */
#subCuerpo {flex-grow: 1; justify-content: space-evenly;}
#subCuerpo #datos {margin: 0 50px; background-color: var(--gris-intermedio); height: 70%;}
#subCuerpo #datos {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#subCuerpo #datos {padding: 20px; border-radius: 20px;}
#subCuerpo #datos {border: var(--gris-oscuro) 7px solid; box-shadow: 0px 0px 10px rgb(100 100 100);}
#subCuerpo #datos * {line-height: 1;}

/* Datos a validar */
#subCuerpo #datos #feedback {display: flex; flex-direction: column; padding: 0 20px;}
#subCuerpo #datos #feedback h2 {font-size: 1.5rem; text-decoration: underline;margin-bottom: 5px;}
#subCuerpo #datos #feedback select {margin-bottom: 15px;}
#subCuerpo #datos #feedback select option {font-style: italic;}
#subCuerpo #datos #feedback #texto {display: flex; flex-direction: column;}
#subCuerpo #datos #feedback #texto .campos {margin: 5px 0; margin-left: 52px; position: relative;}
#subCuerpo #datos #feedback #texto .campos p {font-size: 1.2rem;}

/* Documento */
#subCuerpo #datos #documento {width: 60%; height: 100%; position: relative;}
#subCuerpo #datos #documento img {height: 100%; width: 100%; object-fit: contain; position: absolute; }

/* Íconos */
#subCuerpo #datos .iconos {position: absolute; top: 50%; transform: translateY(-57%);}
#subCuerpo #datos .iconos {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#subCuerpo #datos .iconos {border-radius: 10px; left: -55px; width: 45px;}
#subCuerpo #datos .iconos .fa-solid {font-weight: bold; font-size: 1.15rem;}
#subCuerpo #datos .iconos .fa-solid.sinDecision {font-size: 1rem; color: white; background-color: var(--gris-oscuro); border: 1.5px solid var(--gris-oscuro);}
/* #subCuerpo #datos #motivo_rech_docum {} */

/* Flechas */
#subCuerpo #flechas button {border: none;}

.bordeRojo {border: red 1px solid;}
