/* Contexto */
#subCuerpo {flex-grow: 1; justify-content: space-evenly;}
#subCuerpo #datos {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#subCuerpo #datos {border: var(--gris-oscuro) 7px solid; background: var(--verde-claro);}
#subCuerpo #datos {margin: 0 50px; padding: 20px; height: 70%; border-radius: 20px;}
#subCuerpo #datos * {line-height: 1;}

/* Datos a validar */
#subCuerpo #datos #feedback {display: flex; flex-direction: column; padding: 0 20px;}
#subCuerpo #datos #feedback h2 {text-decoration: underline;margin-bottom: 5px;}
#subCuerpo #datos #feedback select {margin-bottom: 15px;}
#subCuerpo #datos #feedback #texto {display: flex; flex-direction: column;}
#subCuerpo #datos #feedback #texto .campos {margin: 5px 0; margin-left: 52px; position: relative;}
/* #subCuerpo #datos #feedback #texto .campos p {font-size: 1.2rem;} */

/* Documento */
#subCuerpo #datos #documento {width: 60%; height: 100%; position: relative;}
#subCuerpo #datos #documento img {height: 100%; width: 100%; object-fit: contain; position: absolute; }

/* Íconos */
#subCuerpo #datos .iconos {position: absolute; top: 50%; transform: translateY(-57%);}
#subCuerpo #datos .iconos {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#subCuerpo #datos .iconos {border-radius: 10px; left: -55px; width: 45px;}
#subCuerpo #datos .iconos label:has(.sinDecision) {border-radius: 50%; border: 1px solid black;}
#subCuerpo #datos .iconos .fa-solid {font-weight: bold; font-size: 1.15rem;}
#subCuerpo #datos .iconos .fa-solid.sinDecision {font-size: 1rem; color: white; background: var(--gris-oscuro);}
/* #subCuerpo #datos #motivo_rech_docum {} */

/* Flechas */
#subCuerpo .flechas button {border: none;}

.bordeRojo {border: red 1px solid;}
