<section id="cuerpo">
	<%- codigo == "tableroControl" ? include("RE0-Tablero-Control") : "" %>
	<%- codigo == "RCLV" ? include("RE2-RCLV") : "" %>
	<%- codigo == "links" ? include("RE3-Links") : "" %>
</section>
