#dataEntry {width: 754px; height: 456px}
#dataEntry #cuadroDeResultados {width: 660px; position: relative; margin-top: 10px;}

/* Partes particulares */
#dataEntry #encabezado {display: flex; flex-direction: column;}
#dataEntry #encabezado #tituloSecundario h2 {margin-bottom: 5px;}
#dataEntry #encabezado #tituloSecundario .ayudaMostrar {max-width: none;}

/* Flechas */
#dataEntry #flechas {margin-top: 20px;}
