#dataEntry {width: 754px; height: 456px}

/* Partes particulares */
#dataEntry #encabezado {display: flex; flex-direction: column;}
#dataEntry #encabezado #tituloSecundario h2 {margin-bottom: 5px;}
#dataEntry #encabezado #tituloSecundario .ayudaMostrar {max-width: none;}

/* Desambiguar */
#dataEntry #cuadroDeResultados {width: 660px; position: relative; margin-top: 10px;}
#dataEntry #cuadroDeResultados #resultadosDesamb {display: flex; flex-direction: row; overflow-x: auto;}
#dataEntry #cuadroDeResultados #resultadosDesamb li {list-style-type: none}

/* Íconos para mover */
#cuadroDeResultados .mover {position: absolute; font-size: 1.75rem; cursor: pointer; top: 50%;}
#cuadroDeResultados .mover.fa-caret-left {transform: translate(-100%, -50%); left: 0;}
#cuadroDeResultados .mover.fa-caret-right {transform: translate(100%, -50%); top: 50%; right: 0;}
/* Íconos para productos */
/* #resultadosDesamb form {position: relative;} */
#resultadosDesamb button {margin: 20px; padding: 0; border-radius: 15px; overflow: hidden; height: 200px;}
#resultadosDesamb button {border: none; text-align: left; width: 290px;}
#resultadosDesamb button#prod_nuevo {background-color: var(--verde-intermedio);}
#resultadosDesamb button#prod_nuevo:hover {background-color: var(--verde-oscuro); color: var(--amarillo-claro);}
#resultadosDesamb button#ingr_manual {background-color: var(--rojo-claro);}
#resultadosDesamb button#ingr_manual:hover {background-color: var(--rojo-oscuro); color: var(--amarillo-claro);}
#resultadosDesamb button#prod_yaEnBD {background-color: var(--celeste-oscuro);}
#resultadosDesamb button#prod_yaEnBD:hover {background-color: var(--azul-oscuro); color: var(--celeste-oscuro);}

/* Partes del resultado */
#dataEntry button .imagenChica, #dataEntry #texto {height: 100%;}
#dataEntry #texto {display: flex; flex-direction: column; justify-content: space-between;}
#dataEntry #texto, #dataEntry #texto * {color: inherit;}
#dataEntry #infoPeli {margin: 10px 15px;}
#dataEntry #coleccion {font-weight: normal; margin-top: 0; background-color: var(--rojo-claro); padding: 2px 15px;}
#dataEntry #prod_nuevo:hover #coleccion {background-color: var(--rojo-oscuro); color: var(--amarillo-claro);}
#dataEntry #coleccion #colec_nombre {font-weight: bold; font-style: italic}
#dataEntry .interlineadoChico {margin-top: 5px;}

/* Barra de desplazamiento */
::-webkit-scrollbar {outline: transparent;}
::-webkit-scrollbar-track {background: var(--celeste-oscuro); border-radius: 10px;}
::-webkit-scrollbar-thumb {background: var(--gris-oscuro); border-radius: 10px;}
/* ::-webkit-scrollbar-button {background: red;} */

/* Flechas */
#dataEntry #flechas {margin-top: 20px;}
