/* Aspectos generales */
#dataEntry {display: flex; flex-direction: column;}
#dataEntry #cuadroDeResultados {width: 990px; position: relative; margin-top: 10px;}
#dataEntry #tituloSecundario ul li {max-width: 350px;}

/* Partes particulares */
#dataEntry #encabezado {display: flex; flex-direction: column;}
#dataEntry #encabezado #tituloSecundario h2 {margin-bottom: 5px;}
#dataEntry #encabezado #tituloSecundario .ayudaMostrar {max-width: none;}

/* Flechas */
#dataEntry #flechas {margin-top: 20px;}
