/* Formato General */
#cuerpo #dataEntry {padding: 30px 40px; border-radius: 20px; z-index: 11;}
#cuerpo #dataEntry {border: var(--gris-oscuro) 7px solid; box-shadow: 0px 0px 10px rgb(100, 100, 100);}
#cuerpo #dataEntry {max-width: 650px; background-color: var(--azul-oscuro);}
#cuerpo #dataEntry * {color: var(--verde-claro);}
#cuerpo #dataEntry #subtitulo, #cuerpo #dataEntry #subtitulo * {font-size: 1.5rem; font-weight: bold;}

/* Formato del contenido */
#dataEntry p, #dataEntry p *, #dataEntry li {font-size: 1.25rem; text-align: justify;}
#dataEntry p, #dataEntry ol li.ol {line-height: 1.3; margin-top: 10px;}
#dataEntry ol, #dataEntry ul {margin-left: 30px;}
#cuerpo #dataEntry ol * {color: var(--amarillo-claro);}
#dataEntry ul li {font-style: italic;}

/* Submit button */
#dataEntry #flechas {margin-top: 20px;}
#cuerpo #dataEntry #flechas i {border: solid 2px var(--gris-claro);}
#cuerpo #dataEntry #flechas i.fa-circle-left {color: var(--azul-oscuro)}
#cuerpo #dataEntry #flechas i.fa-circle-right {color: var(--verde-oscuro);}
