<div id="ayudaOpciones">
	<i class="fa-solid fa-circle-question ayudaClick desplClick">
		<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
			<p>Para las opciones de <b>Cuatro Películas</b>, los resultados con fondo amarillo tienen relación con la <em>Iglesia Católica</em>.</p>
			<% for (let ayuda of ayudas) { %>
				<li><span><%= ayuda.nombre %></span>: <%= ayuda.comentario %>.</li>
			<% } %>
		</ul>
	</i>
</div>
