<%- include("CMP-Ayuda", {ayudaClass: "consulta", parrafo: "Para las opciones de <b>Cuatro Películas</b>, los resultados con fondo amarillo tienen relación con la <em>Iglesia Católica</em>.", mensajes: ayudas.map(ayuda => "<span>" + ayuda.nombre + "</span>: " + ayuda.comentario + ".")}) %>
