<button id="cartelRCLV" type="button" class="toggle cartel absoluteCentro">
	<% const delLa = comp.obtieneDesdeEntidad.delLa(RCLV_entidad) %>
	<% const familia = comp.obtieneDesdeEntidad.entidadNombre(RCLV_entidad) %>
	Detalle <%= delLa %><br><%= familia %>
</button>
