<div id="cartelUsSinPPP" class="cartel especial ocultar bordeConSombra">
    <i id="cierra" class="fa-solid fa-xmark absolute pointer"></i>
    <div>
        <p>Te conviene marcar tus <i class="fa-regular fa-heart"></i></p>
        <%- include("CN-CartelTablaPPP") %>
    </div>
</div>
