<div id="cartelOrdenPPP" class="cartel especial ocultar bordeConSombra">
    <div>
        <p>No tenés <i class="fa-regular fa-heart"></i> para mostrar</p>
        <%- include("CN-CartelTablaPPP") %>
    </div>
</div>
