<% if (RCLV_entidad == "epocasDelAno") destino += '&hoyLocal=' + hoyLocal + "&origen=CN" %>
<a href="<%= destino %>" class="toggle absoluteCentro" tabindex="-1">
	<button id="cartelRCLV" type="button" class="cartel">
		<% const delLa = comp.obtieneDesdeEntidad.delLa(RCLV_entidad) %>
		<% const familia = comp.obtieneDesdeEntidad.entidadNombre(RCLV_entidad) %>
		Detalle <%= delLa %><br><%= familia %>
	</button>
</a>
