<table>
    <% for (let pppOpcion of pppOpcsSimples.filter(n => !n.sinPrefb)) { %>
        <tr>
            <td><i class="<%= pppOpcion.icono %>"></i></td>
            <td><%= pppOpcion.nombre %></td>
        </tr>
    <% } %>
</table>
