/* Formato del cuerpo */
#data_entry #columnaMedio {width: 60px}

/* Cuerpo del formulario */
#data_entry .label-input.flex-row .formulario-grupo, 
#data_entry .formulario-grupo select,
#data_entry .formulario-grupo input {align-self: flex-end;}
#data_entry .label-input, .formulario-grupo {justify-content: space-between;}

/* Partes específicas del formulario */
#data_entry h1 {margin-bottom: 15px;}
#data_entry .label-input label {margin-top: 10px; margin-right: 5px; font-weight: bold;}
#data_entry .formulario-grupo {position: relative; display: flex;}
#data_entry .formulario-grupo p {margin: 7px 5px 0px 10px;}
#data_entry .formulario-grupo .input-numero {width: 50px; text-align: right;}
#data_entry .formulario-grupo select {width: 100px}
#data_entry .fa-times-circle {right: -20px; top: 5px;}
#data_entry .mensajeError {position: absolute; right: 0px; top: 15px; width: 200px}
#data_entry button {margin-top: 20px;}
#data_entry #imagenPeli {margin-top: 10px;}
#data_entry #imagenPeli img {max-width: 170px;max-height: 250px;}