<h1 class="titulo" id="titulo">Confirmá el agregado a nuestra Base de Datos</h1>
<form action="<%= link %>" method="POST" id="data_entry" class="flex-col">
	<section class="flex-col">
		<h2>¡Gracias por la información aportada!</h2>
		<ul>
			<li>Estamos listos para agregar la PELÍCULA/COLECCIÓN (el registro) a nuestra Base de Datos (BD)</li>
			<li>
				Una vez que confirmes la operación en este paso,
				<ol>
					<li>No hay vuelta atrás: el registro quedará para siempre en nuestra BD y tu usuario quedará asociado a él como su creador.</li>
					<li>Sólo vos podrás ver el registro hasta que un administrador de nuestra BD lo apruebe.</li>
				</ol>
			</li>
			<li>
				Damos una puntuación por la calidad y responsabilidad de la información aportada. Lo que más valoramos es:
				<ol>
					<li>Que la película/colección esté alineada con nuestro perfil (2 puntos) (link) </li>
					<li>La precisión de la información "manual" aportada (2 puntos)</li>
					<li>El aporte de los links de trailer (1 punto) y película/colección (2 puntos), y que respeten los derechos de autor (link)</li>
					<li>El puntaje nos permite evaluar al usuario como potencial "Revisor de Altas" de otros usuarios</li>
				</ol>
			</li>
		</ul>
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas" class="flex-row space-between">
		<a href="/agregar/productos/datos-duros" tabindex="-1"><i class="fas fa-arrow-alt-circle-left"></i></a>
		<button type="submit">Avanzar</button>
		<% if (false) { %>
			<a href="#" tabindex="-1"><i class="fas fa-arrow-alt-circle-right"></i></a>
		<% } else { %>
			<i class="fas fa-arrow-alt-circle-right flechaSinLink"></i>
		<% } %>
	</section>	
</form>
