<td class="campoTitulo"><%= campo.titulo %>:</td>
<td class="campoNombre ocultar"><%= campo.nombre %></td>
<!-- Data-entry Aprobar/Rechazar -->
<td class="infoMostrar">
	<div class="flexRowAlign">
		<div class="edic aprobar pointer"><%= campo.mostrarEdic %></div>
		<i class="fa-solid fa-circle-xmark rechazar pointer"></i>
	</div>
</td>