/* GENERAL */
*, body {margin: 0px;padding: 0;box-sizing: border-box;}
*, body, optgroup, button, select, option {font-family: var(--Calibri); font-size: 16px;color:var(--azul);}
select, option {cursor: pointer;}

/* BACKGROUND IMAGE */
body {background-image: url("/images/0-Base/Color de fondo.png");background-size: cover;background-attachment: fixed;}

/* COLORES */
body {--azul: RGB(37,64,97);--azul-frances: RGB(31,73,125);--celeste-claro: RGB(220,230,242);}
body {--amarillo-claro:RGB(255,255,204);--verde:RGB(79,98,40);--gris-claro: RGB(242,242,242);}
body {--rojo: RGB(192,80,77);--gris-oscuro: #757575}

/* FONTS */
body {--Calibri:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
body {--Arial: Arial, Helvetica, sans-serif}

/* ALTURAS DE HEADER Y MAIN */
header p {height: 9vh;}
main, main #sagrada-familia {height:91vh;}

/* ESTILOS Y CLASES */
.flex-col {display: flex;flex-direction: column;}
.flex-row {display: flex;flex-direction: row;}
.grow {flex-grow: 1;}
.between {justify-content: space-between;}
.around {justify-content: space-around;}
.cursiva {font-style: italic;}
.not-cursiva {font-style: normal;}
.cursor_pointer {cursor: pointer;}
.dropdown-content {display: none;}
.mostrar {display: block;}
