/* COLORES */
body {
	--amarillo-claro:RGB(255,242,204);
	--azul: RGB(37,64,97);
	--azul-frances: RGB(31,73,125);
	--celeste-claro: RGB(220,230,242);
	--celeste-oscuro: #C7D7EA;
	--gris-claro: RGB(242,242,242);
	--gris-oscuro: #757575;
	--naranja-oscuro: #F57C00;
	--rojo: RGB(192,80,77);
	--rojo-claro: RGB(255,189,189);
	--verde:RGB(79,98,40);
	--verde-claro: RGB(226,240,217)
}