/* COLORES */
body {
	--amarillo-claro:RGB(255,255,204);
	--azul: RGB(37,64,97);
	--azul-frances: RGB(31,73,125);
	--celeste-claro: RGB(220,230,242);
	--gris-claro: RGB(242,242,242);
	--gris-oscuro: #757575;
	--naranja-oscuro: #F57C00;
	--rojo: RGB(192,80,77);
	--verde:RGB(79,98,40);

}