body {
	--amarillo-claro:rgb(255,242,204);
	--azul-oscuro: rgb(37,64,97);
	--azul-frances: rgb(31,73,125);
	--celeste-claro: rgb(220,230,242);
	--celeste-oscuro: #C7D7EA;
	--gris-claro: rgb(242,242,242);
	--gris-oscuro: rgb(100, 100, 100);
	--naranja-oscuro: #F57C00;
	--rojo-claro: rgb(255,189,189);
	--rojo-oscuro: rgb(209, 65, 40);
	--verde-claro: rgb(217, 223, 205);
	--verde-intermedio: rgb(188, 199, 167);
	--verde-oscuro:rgb(79,98,40);
}
