/* GENERAL */
*, body {margin: 0px;padding: 0;box-sizing: border-box;}
select, option {cursor: pointer;}

/* BACKGROUND IMAGE */
body {
	background-image: url("/imagenes/0-Base/Color de fondo.png");
	background-size: cover;
	background-attachment: fixed;
}

/* ALTURAS DE HEADER Y MAIN */
header p {height: 10vh;}
main, main #imagen-derecha {height:90vh;}

/* Clases particulares para todo el site */
.boton-desplegable {cursor: pointer;}
hr {margin: 2px 0; overflow: hidden; border-top: 1px solid rgba(0,0,0,.15)}
i {font-style: normal;}
