/* Header */
header {position: relative;background-color: var(--azul);}
header p {display: flex;justify-content: center;align-items:center;}
header p a {font-family: Monotype Corsiva;font-size: xxx-large;font-weight: bold;}
header p a {color: var(--amarillo-claro);text-decoration: none;}

/* Íconos de Usuario, Rubro y Servicio */
header .icono, header #imagenUsuario {position: absolute;}
header .icono {color: var(--celeste-claro); transform:scale(1.8); top:40%;}
/* Íconos a la izquierda */
header #home {left:40px;}
header .fa-video {left: 102px}
header #plus {left: 100px; z-index: 3; color: var(--azul);}

/* Íconos a la derecha */
header #usuario {right:40px;}
header #imagenUsuario {right:30px;}
header #imagenUsuario {height: 80%;border-radius: 100%; top: 10%; border: 1.5px solid white;}

/* Menús de Usuario y Rubro */
header .dropdown-content {position: absolute;top: 55px;}
header .dropdown-content {border-radius: 10px; background-color: var(--gris-claro); z-index: 2;}
header .dropdown-content a {padding: 8px 16px;text-decoration: none; display: block;}
header #menu-usuario {right: 20px;}
header #menu-rubro {left: 20px;}



/* Footer */
footer {justify-content: space-around;}
footer {padding: .25em 5px; border-top: 2px solid var(--azul-frances);}
footer {font-family: var(--Calibri); font-size: 16px; font-weight: bold;}
footer a {text-decoration: none}
