/* CONFIGURAR SECCIONES */
main.flex-row {flex-direction: row-reverse;}
main #main-y-footer {flex-direction: column-reverse;justify-content:space-between;}

/* CONFIGURAR IMAGEN */
#sagrada-familia img {height: 100%;}

/* ESTILOS Y CLASES */
main h1 {font-size: 16px;margin: 0px;}

/* Configuración del cuerpo */
main .cuerpo {align-items:flex-start;border: red 2px solid;}
main .cuerpo {position: relative;}

main .cuerpo .titulo {margin-top: 40px;margin-left:40px; padding: 8px 10px;}
main .cuerpo .titulo {border-style: none;border-radius: 5px;}
main .cuerpo .titulo {font-family: var(--Arial);font-size: 18px;font-weight: bold;}
main .cuerpo .titulo {background-color:var(--amarillo-claro);}

main .cuerpo .subtitulo {margin-top: 30px; margin-left: 40px; padding: 8px 10px;}
main .cuerpo .subtitulo {border-style: none;border-radius: 5px;}
main .cuerpo .subtitulo {font-family: var(--Calibri);font-size: 16px;font-weight: bold;}
main .cuerpo .subtitulo {color:var(--azul)}
