/* CONFIGURAR SECCIONES */
#cuerpo-listado {align-items:flex-start;margin-left: 40px;}
#cuerpo-listado #rubro {margin-left: 40px;margin-top: 30px;}

/* CONFIGURAR BOTONES */
#cuerpo-listado button {padding: 3px 5px;border-style: none;border-radius: 5px;}
#cuerpo-listado #título {margin-top: 40px;padding: 7px;}
#cuerpo-listado #título {background-color:var(--amarillo-claro);}
#cuerpo-listado #título {font-family: var(--Arial);font-size: 18px;font-weight: bold;}

/* BOTONES DE RUBRO */
#cuerpo-listado #rubro button {font-family: var(--Calibri);color:var(--gris-claro)}
#cuerpo-listado #rubro button {font-size: 16px;font-weight: bold;padding: 10px 20px;}
#cuerpo-listado button.activo {background-color: var(--verde);}
#cuerpo-listado button.pasivo {display:none;}
