<div id="tapaElFondo"></div>
<div id="dataEntry" class="flexCol encimaDelFondo bordeConSombra">
	<h2 id="subtitulo">Estimad<%= usuario.sexo.letra_final %> <%= usuario.nombre %>:</h2>
	<p>El contenido de nuestra base de datos es algo <b><u>diferencial</u></b> de nuestro sitio.</p>
	<p>Al ingresar películas/colecciones, por favor tené en cuenta que:</p>
	<ol>
		<li class="ol">La película o colección cumpla siempre con <u>alguna</u> de estas características:
			<ul type="dots">
				<li>Que esté relacionada con la Fe Católica</li>
				<li>Que tenga valores que contribuyan a construir una sociedad mejor, independientemente de su religión.</li>
			</ul>
		</li>
		<li class="ol">Se espera de vos que conozcas la película, y puedas opinar sobre ella.</li>
		<li class="ol">Seas lo más preciso que puedas con la información que ingreses.</li>
	</ol>
	<p style="text-align: center;">¡Gracias!</p>
	<div class="iconos">
		<!-- Submit -->
		<a href="<%= urlActual %>" tabindex="-1">
			<i class="fa-solid fa-solid fa-thumbs-up" title="Entendido" autofocus></i>
		</a>
	</div>
</div>