/* Íconos de búsqueda rápida e inputMasResultados */
header #busquedaRapida {position: relative;}
header #busquedaRapida .menu_mostrar {position: absolute; top: 35px;}
header #busquedaRapida .menu_mostrar input, 
header #busquedaRapida .menu_mostrar #displayResultados {border: 1px solid var(--azul-oscuro); border-radius: 5px;}
header #busquedaRapida .menu_mostrar input {padding: 2px 5px; }
header #busquedaRapida .menu_mostrar #displayResultados {border-top-left-radius: 0; background-color: whitesmoke; overflow: hidden;}
header #busquedaRapida .menu_mostrar #displayResultados table,
header #busquedaRapida .menu_mostrar #displayResultados table thead,
header #busquedaRapida .menu_mostrar #displayResultados table thead th,
header #busquedaRapida .menu_mostrar #escribiMas, 
header #busquedaRapida .menu_mostrar #displayResultados p {width: max-content;}
header #busquedaRapida .menu_mostrar #displayResultados table {border-collapse: collapse;}
header #busquedaRapida .menu_mostrar #displayResultados p,
header #busquedaRapida .menu_mostrar #displayResultados table tbody tr:nth-of-type(even) {background-color: var(--celeste-claro);}
header #busquedaRapida .menu_mostrar #displayResultados table tbody tr td {padding: 2px 5px;}
header #busquedaRapida .menu_mostrar #displayResultados table tbody tr td:nth-of-type(2) {text-align: center;}
header #busquedaRapida .menu_mostrar #escribiMas {background-color: var(--gris-claro); font-style: italic; padding: 2px 7px; border-radius: 5px;}

