<header>
	<!-- Home y Agregar -->
	<section>
		<!-- Menú de Home -->
		<div class="grupos">
			<i class="fa-solid fa-house scale iconoMenu iconos" title="Menú de Inicio"></i>
			<%- include("CMP-1MenuHome") %>
		</div>
		<!-- Búsqueda rápida -->
		<div id="busquedaRapida" class="grupos">
			<i class="fa-solid fa-magnifying-glass scale iconoMenu iconos" title="Búsqueda rápida"></i>
			<%- include("CMP-2MenuBusqueda") %>
		</div>
		<!-- Agregar un Producto -->
		<div class="grupos" style="margin-right: 40px;">
			<a href="/producto/agregar/confirma" tabindex="-1">
				<div id="crear-prod-icono" class="scale" title="Agregar un Producto">
					<i class="fa-solid fa-video iconos"></i>
					<i class="fa-solid fa-plus iconos adentro"></i>
				</div>
			</a>
		</div>
		<!-- Revisar Entidades -->
		<% if (locals.usuario && locals.usuario.rol_usuario.revisor_ents) { %>
			<div class="grupos">
				<a href="/revision/tablero-de-control" tabindex="-1">
					<div id="crear-prod-icono" class="scale" title="Revisar Entidades">
						<i class="fa-solid fa-video iconos revision"></i>
						<i class="fa-solid fa-check iconos adentro"></i>
					</div>
				</a>
			</div>
		<% } %>
		<!-- Revisar Usuarios -->
		<% if (locals.usuario && locals.usuario.rol_usuario.revisor_us) { %>
			<div class="grupos">
				<a href="/revision/usuarios/tablero-de-control" tabindex="-1">
					<i class="fa-solid fa-user-check scale iconos revision" title="Revisar Usuarios"></i>
				</a>
			</div>
		<% } %>
	</section>
	<!-- Título del Encabezado -->
	<p id="titulo">ELC - Películas</p>
	<section>
		<!-- Música de fondo -->
		<div class="grupos">
			<i id="icono-musica" class="fa-solid fa-music scale iconos"></i>
			<audio src="/audio/Música-de-fondo.mp3"></audio>
		</div>
		<!-- Usuario -->
		<div class="grupos">
			<%- include("CMP-IconoUsuario") %>
			<%- include("CMP-4MenuUsuario") %>
		</div>
	</section>
</header>
