<header>
	<!-- Home y Agregar -->
	<section>
		<!-- Menú de Home -->
		<div class="grupos">
			<i class="fa-solid fa-house scale despl_click iconoHeader" title="Menú de Inicio"></i>
			<%- include("CMP-1MenuHome") %>
		</div>
		<!-- Búsqueda rápida -->
		<div id="busquedaRapida" class="grupos">
			<i class="fa-solid fa-magnifying-glass scale despl_click iconoHeader" title="Búsqueda rápida"></i>
			<%- include("CMP-2MenuBusqueda") %>
		</div>
		<!-- Agregar un Producto -->
		<a href="/producto/agregar/confirma" tabindex="-1" class="grupos margenDerecho">
			<div class="scale iconoComb" title="Agregar un Producto">
				<i class="fa-solid fa-video iconoHeader"></i>
				<i class="fa-solid fa-plus iconoHeader adentro"></i>
			</div>
		</a>
		<!-- Mantenimiento -->
		<% if (locals.usuario && !locals.usuario.rol_usuario.revisor_ents) { %>
			<a href="/revision/mantenimiento" tabindex="-1" class="grupos">
				<i class="fa-solid fa-tools scale iconoHeader revision" title="Mantenimiento de Entidades"></i>
			</a>
		<% } %>
		<!-- Revisar Entidades -->
		<% if (locals.usuario && locals.usuario.rol_usuario.revisor_ents) { %>
			<a href="/revision/tablero-de-control" tabindex="-1" class="grupos">
				<div class="scale iconoComb" title="Revisar Entidades">
					<i class="fa-solid fa-video iconoHeader revision"></i>
					<i class="fa-solid fa-check iconoHeader adentro"></i>
				</div>
			</a>
		<% } %>
		<!-- Revisar Usuarios -->
		<% if (locals.usuario && locals.usuario.rol_usuario.revisor_us) { %>
			<a href="/revision/usuarios/tablero-de-control" tabindex="-1" class="grupos">
				<i class="fa-solid fa-user-check scale iconoHeader revision" title="Revisar Usuarios"></i>
			</a>
		<% } %>
	</section>
	<!-- Título del Encabezado -->
	<a href="/" id="tituloHeader" tabindex="-1"><p>ELC - Películas</p></a>
	<section>
		<!-- Música de fondo -->
		<div class="grupos">
			<i id="icono_musica" class="fa-solid fa-music scale iconoHeader"></i>
			<audio src="/audio/Música-de-fondo.mp3"></audio>
		</div>
		<!-- Usuario -->
		<div class="grupos">
			<%- include("CMP-4IconoUsuario") %>
			<%- include("CMP-4MenuUsuario") %>
		</div>
	</section>
</header>
