<!-- Etiquetas Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Recomendación de películas centradas en la Fe Católica y/o con valores">
<meta name="keywords" content="peliculas catolicas, peliculas con valores, películas católicas, películas con valores">
<meta name="copyright" content="ELC">

<!-- NORMALIZE--><link rel="stylesheet" href="/formatos/0-Compartido/Normalize.css">
<!-- Font Awesome --><link href="/formatos/fontawesome-free-6.1.1-web/css/fontawesome.css" rel="stylesheet">
<!-- Font Awesome --><link href="/formatos/fontawesome-free-6.1.1-web/css/solid.css" rel="stylesheet">
<!-- Font Awesome --><link href="/formatos/fontawesome-free-6.1.1-web/css/regular.css" rel="stylesheet">

<!-- FONTS--><link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<!-- Título en la pestaña --><title><%= locals.tituloEspecial ? tituloEspecial : locals.titulo ? titulo : locals.informacion && informacion.titulo ? informacion.titulo: "Error" %></title>
<!-- Logo en la pestaña --><link rel="icon" href="/imagenes/Varios/Institucional-Imagen.jpg">

<!-- ESTILOS PERSONALIZADOS-->
<link rel="stylesheet" href="/formatos/0-Compartido/0-Body.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Clases.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Tags.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Animaciones.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Colores.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Fonts.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Z-Index.css">
<!-- Header -->
<link rel="stylesheet" href="/formatos/0-Compartido/Header/0-Header.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Header/Iconos.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Header/Menus.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Header/QuickSearch.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Header/1-HR-MediaQuerie.css">
<!-- Main -->
<link rel="stylesheet" href="/formatos/0-Compartido/Main/0-Main.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Main/Titulos.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Main/ErroresAyuda.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Main/TodoElMain.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Main/Videos.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Header/1-MN-MediaQuerie.css">
<!-- <link rel="stylesheet" href="/formatos/0-Compartido/imprimir.css" media="print">-->

<!-- Scripts -->
<script src="/javascript/0-Header/QuickSearch.js"></script>
<script src="/javascript/0-Compartido/ClickMostrar.js"></script>
<script src="/javascript/0-Compartido/Funciones.js"></script>
<script src="/javascript/0-Compartido/Videos.js"></script>
<!-- <script src="/javascript/0-Header/musica.js"></script> -->

<!-- Scripts y Estilos Personalizados -->