<!-- Etiquetas Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width", initial-scale=1.0>
<meta name="description" content="Recomendación de películas con valores, especificando aquellas centradas en la Fe Católica">
<meta name="keywords" content="peliculas catolicas, peliculas con valores, películas católicas, películas con valores">
<meta name="copyright" content="ELC">

<!-- NORMALIZE--><link rel="stylesheet" href="/formatoDeVistas/0-Base/Normalize.css">
<!-- Font Awesome --><link href="/formatoDeVistas/fontawesome-free-6.1.1-web/css/fontawesome.css" rel="stylesheet">
<!-- Font Awesome --><link href="/formatoDeVistas/fontawesome-free-6.1.1-web/css/solid.css" rel="stylesheet">

<!-- FONTS--><link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<!-- Título en la pestaña --><title><%= titulo %></title>
<!-- Logo en la pestaña --><link rel="icon" href="/imagenes/0-Base/Sagrada Familia.jpg">

<!-- ESTILOS PERSONALIZADOS-->
<link rel="stylesheet" href="/formatoDeVistas/0-Base/Clases.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Base/Colores.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Base/Fonts.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Base/Tags.css">
<!-- ESTILOS DEL BODY -->
<link rel="stylesheet" href="/formatoDeVistas/0-Body/0-Body.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Body/1-Header.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Body/menusHeader/Quick-Search.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Body/menusHeader/Menus.css">
<link rel="stylesheet" href="/formatoDeVistas/0-Body/2-Main.css">
<!-- <link rel="stylesheet" href="/formatoDeVistas/0-Base/imprimir.css" media="print">-->

<!-- Scripts -->
<script src="/FE-javascript/0-Compartido/Desplegables.js"></script>
<script src="/FE-javascript/0-Header/quickSearch.js"></script>
<script src="/FE-javascript/0-Header/musica.js"></script>

<!-- Scripts y Estilos Personalizados -->