<li id="ingrManual">
	<a href="/producto/agregar/ingreso-manual">
		<button type="text" class="flexRow pointer">
			<img class="imagenChica" src="/publico/imagenes/Avatar/Prod-Generico.jpg" alt="Ingresaré los datos a mano" title="Ingresaré los datos a mano">
			<div id="infoPeli" class="flexCol">
				<p>Ingresaré los datos manualmente</p>
			</div>
		</button>
	</a>
</li>
