<li id="prodsNuevos" class="ocultar">
	<form>
		<!-- Campos para luego enviar a Datos Duros -->
		<input class="ocultar" type="text" name="TMDB_entidad">
		<input class="ocultar" type="text" name="TMDB_id">
		<!-- Los siguientes campos se agregan porque las colecciones no tienen este dato en el detalle -->
		<input class="ocultar" type="text" name="nombreOriginal">
		<input class="ocultar" type="text" name="idiomaOriginal_id">
		<!-- Info a mostrar -->
		<button type="submit" class="flexRow pointer">
			<!-- Imagen -->
			<img class="imagenChica" src="">
			<!-- Datos del producto -->
			<div id="infoPeli">
				<p id="nombreOriginal"></p>
				<p id="nombreCastellano" class="interlineadoChico"></p>
				<br>
				<p id="anoEstreno" class="interlineadoChico"></p>
				<p id="capitulos" class="interlineadoChico"></p>
			</div>
		</button>
	</form>
</li>
