<li id="prodsYaEnBD" class="ocultar">
	<a href="/producto/detalle/?entidad=">
		<!-- Info a mostrar -->
		<button type="text" class="flexRow pointer">
			<!-- Imagen -->
			<img class="imagenChica" src="">
			<!-- Datos del producto -->
			<div id="infoPeli" class="flexCol">
				<p id="nombreCastellano" class="interlineadoChico"></p>
				<p id="nombreOriginal"></p>
				<br>
				<p id="anoEstreno" class="interlineadoChico"></p>
			</div>
		</button>
	</a>
</li>
