<div class="ayuda">
	<i class="fa-solid fa-circle-question ayudaClick desplClick">
		<ul type="none" class="ayudaMostrar desplMostrar<%- dataEntry.actores ? ' ocultar' : '' %>">
			<li><%= dataEntry.sinopsis %></li>
		</ul>
	</i>
</div>
