<div class="ayuda">
	<i class="fa-solid fa-circle-question ayudaClick desplClick">
		<ul type="none" class="ayudaMostrar desplMostrar<%- dataEntry.actores ? ' ocultar' : '' %>">
			<li>Si la película es un documental o dibujo animado, lo que pongas en <em>Actuación</em> será reemplazado más adelante por el sistema.</li>
		</ul>
	</i>
</div>
