<div id="checkBox" class="flexRow">
	<input id="<%= nombre %>" type="checkbox" name="<%= nombre %>" tabindex="-1" <% if (dataEntry && dataEntry[nombre]) { %>checked<% } %>>
	<label for="<%= nombre %>"><%= titulo %></label>
</div>
