<div id="checkbox" class="flexRow">
	<!-- Input -->
	<input id="<%= nombre %>" type="checkbox" name="<%= nombre %>" tabindex="-1" <% if (dataEntry && dataEntry[nombre]) { %>checked<% } %>>
	<label for="<%= nombre %>">No lo voy a responder por ahora</label>
</div>
