<div id="tituloPrincipal">
	<h1 id="titulo">
		<%= locals.agregaste ? "Agregaste" : "Agregá" %> un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.entidadNombre %> a nuestra Base de Datos
	</h1>
</div>
