<div id="flechas">
	<% if (vista != "/producto/detalle/") { %><i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'"></i><% } %>
	<% if (vista != "/producto/edicion/") { %><i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i><% } %>
	<% if (vista != "/producto/links/") { %><i class="fa-solid fa-globe" tabindex="-1" title="Ir a la vista 'Links'"></i><% } %>
	<% if (entidad != "peliculas") { %><i class="fa-solid fa-layer-group" tabindex="-1" title="Ver el Detalle de un<%= entidad == "colecciones" ? " Capítulo" : "a Colección" %>"></i><% } %>
</div>
