<div id="flechas">
	<% if (vista != "/producto/detalle/") { %><i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'"></i><% } %>
	<% if (vista != "/producto/edicion/") { %><i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i><% } %>
	<% if (vista != "/producto/links/") { %><i class="fa-solid fa-film" tabindex="-1" title="Ir a la vista 'Links'"></i><% } %>
</div>
