<section class="label-input" id="textarea">
	<div class="input-error">
		<textarea 
			name="sinopsis" rows="8" class="input" placeholder="Ingresa aquí la sinopsis"
		><%= registro.sinopsis %></textarea>
		<!-- Ayuda -->
		<%- (registro.sinopsis && !errores.sinopsis) ? include("39-DD-Mensajes") : "" %>
		<!-- Errores -->
		<i class="fas fa-times-circle<%- !errores.sinopsis ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores.sinopsis %></span>
		</i>
	</div>
</section>
