<section class="label-input" id="sinopsis">
	<div class="input-error">
		<textarea
			name="sinopsis" class="input" placeholder="Ingresa aquí la sinopsis"
		><%= registro.sinopsis %></textarea>
		<!-- Errores -->
		<i class="fas fa-times-circle<%- !errores.sinopsis ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores.sinopsis %></span>
		</i>
		<i class="fas fa-check-circle ocultar"></i>
	</div>
</section>
