<section id="cuerpo" class="flex-row">
	<!-- Vitreaux -->
	<div id="zona-de-vitreaux">
		<img alt="Vitreaux" src="/imagenes/0-Base/Vitraux.jpg" title="Vitreaux">
	</div>
	
	<!-- Zona de Bienvenida -->
	<div id="zona-de-bienvenida" class="flex-row grow">
		<div class="flex-row">
			<a href="/consultas/sugeridas/incorporacion">
				<button>
					<img src="/imagenes/8-Inicio/Recomendame.jpg" alt="">
					<p>Quiero que me recomienden una película o colección</p>
				</button>
			</a>
			<a href="/consultas/listado/incorporacion">
				<button>
					<img src="/imagenes/8-Inicio/Filtro.jpg" alt="">
					<p>Quiero elegir una película o colección, con filtros personalizados</p>
				</button>
			</a>
			<a href="/consultas/cfc">
				<button>
					<img src="/imagenes/8-Inicio/Cruz.jpg" alt="">
					<p>Un paseo por nuestras peliculas <em><strong>Centradas en la Fe Católica</strong></em> (CFC)</p>
				</button>
			</a>
			<a href="/consultas/vpc">
				<button>
					<img src="/imagenes/8-Inicio/Valores.jpg" alt="">
					<p>Un paseo por nuestras peliculas que sin ser CFC, tienen <em><strong>Valores Presentes en nuestra Cultura</strong></em> (VPC)</p>
				</button>
			</a>
		</div>
	</div>
</section>
