<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
</div>
<div id="cuadro-de-texto">
	<!-- Quiénes Somos -->
	<div class="bloque">
		<h2>Quiénes Somos</h2>
		<ul>
			<li>Somos un equipo de personas laicas, pertenecientes a la Iglesia <strong>Católica Apostólica Romana</strong>.</li>
			<li>Queremos contribuir a <mark>Evangelizar la Cultura</mark>, difundiendo el buen cine alineado a ese fin.</li>
		</ul>
	</div>
	<!-- Cómo lo hacemos -->
	<div class="bloque">
	</div>
</div>

