<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
</div>
<div id="cuadro-de-texto">
	<!-- Nuestra Misión -->
	<div class="bloque">
		<h2>Nuestra Misión</h2>
		<ul>
			<li><strong>Principal</strong>: hacer accesible al gran público, todas las películas que tengan relación con:</li>
			<ul>
				<li>La Iglesia Católica.</li>
				<li>Valores que contribuyen a construir una sociedad mejor.</li>
			</ul>
			<li>Ayudar a sus <strong>productores</strong> y <strong>distribuidores</strong>, a difundirlas respetando los <a href="/derechos-de-autor"><em><u>derechos de autor</u></em></a>.</li>
			<li>Disuadir la violación a los derechos de autor.</li>
		</ul>
	</div>
	<!-- Visión que tenemos -->
	<div class="bloque">
		<h2>Nuestra Visión</h2>
		<ul>
			<li>Que la relación con Dios sea natural en nuestra cultura.</li>
			<li>Que las personas afiancemos nuestro arraigo en Cristo y en la Iglesia por Él fundada.</li>
		</ul>
	</div>
</div>

