<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
</div>
<div id="cuadro-de-texto">
	<!-- Quiénes Somos -->
	<div class="bloque">
		<h2>Quienes Somos</h2>
		<ul>
			<li>Somos un equipo de personas laicas que pertenecemos a la Iglesia Católica Apostólica Romana, y que queremos contribuir a evangelizar la cultura.</li>
			<li>En este emprendimiento, queremos hacerlo a través de la difusión del cine alineado a ese fin.</li>
		</ul>
	</div>
</div>

