<div id="tituloPrincipal">
	<h1 id="titulo">Nuestra Política sobre Derechos de Autor</h1>
</div>
<div id="cuadro-de-texto">
	<!-- Acerca de Nosotros -->
	<div class="bloque">
		<h2>Nuestra política</h2>
		<ul>
			<li>Nuestro sitio web contiene enlaces (links) a sitios web externos.</li>
			<li>No queremos vincular a ningún link que viole el respeto a los Derechos de Autor (DA).</li>
		</ul>
	</div>
	<!-- Nuestra Misión -->
	<div class="bloque">
		<h2>Por qué publicamos links que vinculen a otros sitios</h2>
		<p>Porque es parte de nuestra misión ofrecerle:</p>
		<ul>
			<li>Al público: la posibilidad de ver una película afín a nuestro perfil.</li>
			<li>A quien tiene los derechos de autor: difundir su material afín a nuestro perfil.</li>
		</ul>
	</div>
	<!-- Visión que tenemos -->
	<div class="bloque">
		<h2>Cómo respetamos los Derechos de Autor</h2>
		<ul>
			<li>Sólo usamos enlaces a sitios con políticas de respeto a los Derechos de Autor.</li>
			<li>Estos sitios son responsables de su contenido en todo momento.</li>
			<li>Damos de baja los links que no los respetan, apenas nos enteramos.</a></li>
			<li>Podés descargar nuestra política en forma más detallada, haciendo click <a href="/descargas/RespetoDerechosAutor.pdf" download><u>aquí</u></a>.</li>
		</ul>
	</div>
</div>

