<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
</div>
<div id="cuadro-de-texto">
	<div class="bloque">
		<h2>Nuestros Valores</h2>
		<ul>
			<li>Valores comunes a Wikipedia:</li>
			<ul class="secundario">
				<li>El sitio es gratuito para los usuarios.</li>
				<li>El sitio no tiene publicidad.</li>
				<li>Sus ingresos provienen de donaciones y de entidades interesadas en el servicio brindado.</li>
			</ul>
			<li>Sólo ofrecemos links que vinculen a sitios con políticas de respeto a los derechos de autor.</li>
			<li>No brindamos información privada de los usuarios, a ninguna entidad.</li>
			<li>No son afines a nuestro perfil, películas con:</li>
				<ul>
					<li>Sensualidad vulgar.</li>
					<li>Violencia explícita e innecesaria para la trama.</li>
				</ul>
		</ul>
	</div>

</div>

