<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
</div>
<div id="cuadro-de-texto">
	<div class="bloque">
		<!-- Perfil -->
		<div class="bloque">
			<h2>Nuestro Perfil de Películas</h2>
			<p>Todas las películas que cumplen con alguna de estas características:</p>
			<ul>
				<li>Están relacionadas con la Fe Católica.</li>
				<li>Tienen valores que contribuyen a construir una sociedad mejor.</li>
			</ul>
		</div>
		<!-- Consideraciones -->
		<div class="bloque">
			<h2>Consideraciones</h2>
			<p>No son afines a nuestro perfil, películas con:</p>
			<ul>
				<li>Desnudos, escenas de sexo o sensualidad vulgar.</li>
				<li>Violencia explícita e innecesaria para la trama.</li>
			</ul>
		</div>
	</div>
</div>

