<div id="tituloPrincipal">
	<h1 id="titulo">Nuestra Política sobre Derechos de Autor</h1>
</div>
<div id="cuadro-de-texto">
	<!-- Nuestra Política -->
	<div class="bloque">
		<h2>Nuestra Política</h2>
		<ul>
			<li>Nuestro sitio web contiene enlaces (links) a sitios web externos.</li>
			<li>Estos sitios son responsables de su contenido en todo momento.</li>
			<li>Podés descargar nuestra política en forma más detallada, haciendo click <a href="/descargas/RespetoDerechosAutor.pdf" download><u>aquí</u></a>.</li>
		</ul>
	</div>
	<!-- Por qué -->
	<div class="bloque">
		<h2>Por qué publicamos links que vinculen a otros sitios</h2>
		<ul>
			<li>Porque es parte de nuestra misión ofrecerle:</li>
			<ul>
				<li>Al <strong>público</strong>, la posibilidad de ver una película afín a nuestro perfil.</li>
				<li>Al <strong>productor</strong> y al <strong>distribuidor</strong>, la difusión de sus películas.</li>
			</ul>
		</ul>
	</div>
	<!-- Cómo -->
	<div class="bloque">
		<h2>Cómo respetamos los Derechos de Autor</h2>
		<ul>
			<li>Sólo usamos links a sitios con políticas de respeto a los Derechos de Autor.</li>
			<li>Damos de baja los links que nos enteramos que no los respetan.</a></li>
		</ul>
	</div>
</div>

