<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
</div>
<div id="cuadro-de-texto">
	<!-- Nomenclatura -->
	<div class="bloque">
		<h2>Nomenclatura</h2>
		<ul>
			<li><strong>Data-Entry</strong>: es el ingreso de información de un usuario, accesible a otras personas.</li>
			<li><strong>Productos</strong>: es lo que el usuario quiere ver (películas, colecciones, capítulos).</li>
			<li><strong>Relación con la vida</strong>: el <em>personaje histórico</em>, <em>hecho histórico</em> o <em>valor</em> con el que está relacionado cada producto.</li>
			<li><strong>Links</strong>: son los enlaces que permiten ver el trailer o el contenido de un producto.</li>
		</ul>
	</div>
	<!-- Criterios -->
	<div class="bloque">
		<h2>Criterios</h2>
		<ul>
			<li>Nuestra base de datos de productos, RCLVs y links es enriquecida por aportes de los usuarios.</li>
			<ul>
				<li>Revisamos la información antes de que esté accesible al público.</li>
				<li>En un mail diario, le informamos al usuario el resultado de la revisión.</li>
			</ul>
			<li>Llevamos una estadística por usuario de sus aportes aprobados y rechazados. Esto impacta en la cantidad máxima de registros que le permitimos ingresar antes de ser revisados.</li>
			<li>Podemos aplicar sanciones de inhabilitación, si el usuario actúa sin responsabilidad.</li>
		</ul>
	</div>
</div>

