/* BACKGROUND IMAGE */
body {
	background: url("/imagenes/Varios/Color-de-fondo.png");
	background-size: cover;
	background-attachment: fixed;
}

*, body {margin: 0px; padding: 0; box-sizing: border-box;}

body header {height: 60px;}
body main {height: calc(100vh - 60px);}