/* BACKGROUND IMAGE */
body {
	background: url("/imagenes/Varios/Color-de-fondo.png");
	background-size: cover;
	background-attachment: fixed;
}

*, body {margin: 0px; padding: 0; box-sizing: border-box;}

body header {--altHeader: 60px; height: var(--altHeader);}
body main {--altMain: calc(100vh - var(--altHeader)); height: var(--altMain);}
