/* Configuración general */
header {height: 9vh; background: var(--azul-oscuro); justify-content: space-between;}
header, header section {display: flex; flex-direction: row; align-items: center;}
header section {margin: 0 15px;}

/* Título */
header #tituloHeader {position: absolute; left: 50%; transform: translateX(-50%);}
header #tituloHeader * {font-family: Monotype Corsiva; color: var(--amarillo-claro); font-size: 3rem;}
