/* Flexbox */
.flexCol {display: flex; flex-direction: column;}
.flexRow {display: flex; flex-direction: row;}
.flexRowReverse {display: flex; flex-direction: row-reverse;}
.flexRowAlign {display: flex; flex-direction: row; align-items: center;}
.grow {flex-grow: 1;}
.spaceBetween {justify-content: space-between;}
.spaceAround {justify-content: space-around;}

/* Íconos clave */
.fa-solid {line-height: normal;}
.fa-circle-check, .fa-circle-xmark, .fa-circle-left, 
.fa-circle-right {background: var(--backIcono); border-color: var(--backIcono);}
.fa-circle-check {color: var(--verde-oscuro);}
.fa-circle-xmark {color: var(--rojo-oscuro);}
.inactivo, .inactivo *, .inactivoErrores, .inactivoErrores *, .inactivoVersion, .inactivoVersion * 
{opacity: .5 !important; cursor: not-allowed !important;}
.inactivo *, .inactivoErrores *, .inactivoVersion * {border-color: transparent !important;}

/* Maneras de Ocultar */
.ocultar, .ocultaInactivo, .ocultaTipo, .ocultaOK_imagen, .ocultaAyudaRCLV, 
.ocultaCfc, .ocultaOcurrio {display: none;}
.invisible {visibility: hidden;}

/* Otras */
.absolute {position: absolute}
.relative {position: relative;}
.pointer {cursor: pointer;}
.border {border: red 1px solid}
.rojo {color: var(--rojo-oscuro);}
.negrita {font-weight: bold;}
.bloqueado {background: var(--celeste-oscuro);}
.bordeConSombra {box-shadow: 0px 0px 10px rgb(100 100 100)}