/* Flexbox */
.align-center {align-items: center;}
.flex-col {display: flex; flex-direction: column;}
.flex-row {display: flex; flex-direction: row;}
.flex-row-reverse {display: flex; flex-direction: row-reverse;}
.grow {flex-grow: 1;}
.space-between {justify-content: space-between;}
.space-evenly {justify-content: space-evenly;}
.space-around {justify-content: space-around;}
.justify-center {justify-content: center;}
.wrap {flex-wrap: wrap;}

/* Íconos clave */
.fa-solid {line-height: normal;}
.fa-circle-check, .fa-circle-xmark, .fa-circle-left, 
.fa-circle-right {background-color: var(--backIcono); border-color: var(--backIcono);}
.fa-circle-check {color: var(--verde-oscuro);}
.fa-circle-xmark {color: var(--rojo-oscuro);}
.inactivo, .inactivo *, .inactivoErrores, .inactivoErrores *, .inactivoVersion, 
.inactivoVersion * {opacity: .5; border-color: transparent; cursor: not-allowed;}

/* Otras */
.absolute {position: absolute}
.relative {position: relative;}
.pointer {cursor: pointer;}
.border {border: red 1px solid}
.ocultar, .inactivo_ocultar, .ocultarTipo {display: none}
.invisible {visibility: hidden;}
.bloqueado {background-color: var(--celeste-oscuro);}
.inactivo {opacity: .5; border-color: transparent;}
.rojo {color: var(--rojo-oscuro); font-weight: bold;}
