/* Títulos */
h1 {font-size: 1.25rem;}
h2 {font-size: 1.20rem;}
h3 {font-size: 1.10rem;}

/* Formularios */
select, option, a, button[type="submit"] {cursor: pointer;}
select:disabled, input:disabled, textarea:disabled {cursor: default;}

/* Varios */
hr {margin: 2px 0; overflow: hidden; border-top: 1px solid rgba(0,0,0,.15)}
i {font-style: normal;}
a {text-decoration: none; color: inherit;}
i, a, em, strong, u {font-size: inherit;}
p, li {line-height: 1.2rem;}
span {font-size: inherit;}
label {line-height: 1;}
select option[value=''] {display: none;}
