/* Títulos */
h1 {font-size: 1.30rem;}
h2 {font-size: 1.20rem;}
h3 {font-size: 1.10rem;}
h4 {font-size: 1.00rem;}

/* Formularios */
select, option, optgroup, input, textarea, label img, label {font-size: inherit; color: inherit; line-height: inherit;}
select optgroup {margin-top: 3px;}
select option {font-style: normal;}
select option[value=''] {display: none;}
input[type="radio"], input[type="checkbox"] {scale: .8; cursor: pointer;}
input[type="radio"] {vertical-align: middle;}
input[type="submit"] {display: none;}
::placeholder, select:has(option[value=""]:checked) {font-style: italic;}
:disabled {cursor: default;}
label[for] {cursor: pointer;}

/* Listas */
ul[type="dots"] {list-style-position: outside;}
ul[type="dots"] li {margin-left: 15px;}
ul ul {padding-left: 30px;}

/* Varios */
button, span, em, b, u, a, i {font-size: inherit; color: inherit; line-height: inherit;}
/* button:has(i) {border: none; outline: none;} */
hr {margin: 2px 0; overflow: hidden; border-top: 1px solid rgba(0,0,0,.15)}
p, li {line-height: 1.2rem;}
.bordeRojo {border: 1px solid red;}

/* Anchor */
a {text-decoration: none;}
a:has(img) {font-size: 1px;}