/* Triviales */
body :is(
    header section .grupos .iconoComb .adentro
    main #cuerpo .ayuda, 
    main #cuerpo .inputError .errores, 
    main #cuerpo #centro #medio,
    main #cuerpo #paises_id .inputError #mostrarPaises,
) {z-index: 1;}

/* Header */
header {z-index: 10;}

/* Máxima prioridad */
header .menuMostrar {z-index: 16;}
header #cierraVideo {z-index: 15;}
header video {z-index: 14;}
main :is(#cartel, .encimaDelFondo) {z-index: 13;}
main #tapaElFondo {z-index: 12;}

/* Cuerpo */
main #cuerpo :is(#tituloPrincipal, #tituloSecundario) {z-index: 8;}
main #cuerpo #primeraColumna {z-index: 7;}
main #cuerpo #cartelRechazo {z-index: 9;}

/* Ayuda */
main #cuerpo .inputError .ayuda {z-index: 3;}
main #cuerpo .ayuda .ayudaMostrar, .ayudaMostrar {z-index: 5;}

/* Errores */
main #cuerpo form #imgDerecha .errores {z-index: 4;}
main #cuerpo .inputError .errores {z-index: 6}
main #cuerpo .errores .mensajeError {z-index: 7;}
