<% if (registro.statusRegistro_id != inactivo_id) { %>
	<!-- Links -->
	<div id="tituloInfoDetalle" class="relative">
		<% const ao = comp.obtieneDesdeEntidad.ao(locals.entidad) %>
		<h3>Links para verl<%= ao %></h3>
	</div>
	<%- include("PR1-Detalle-2Links") %>
<% } %>
<!-- Información -->
<%- include("PR1-Detalle-3Info") %>
