<h1 id="titulo"><%= titulo %></h1>
<div id="datos">
	<div id="contenido">
		<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
		<%- include("0-Revisar-Encabezado") %>
		<!-- Sinopsis -->
		<div id="sinopsis">
			<nav><%= producto.sinopsis %></nav>
			<!-- Ayuda -->
			<i class="fa-solid fa-circle-question"></i>
			<ul type="none" class="mensajeAyuda ocultar">
				<li>Si el contenido de la sinopsis excede el recuadro, podés deslizarlo con la ruedita del mouse</li>
			</ul>
		</div>
	</div>
</div>