<!-- Quiénes Somos -->
<div class="bloque">
	<h2>Quiénes Somos</h2>
	<ul type="dots">
		<li>Somos un equipo de personas laicas, pertenecientes a la Iglesia <b>Católica Apostólica Romana</b>.</li>
		<li>Queremos contribuir a <mark>Evangelizar la Cultura</mark> con valores auténticamente cristianos.</li>
		<li>En este proyecto, lo hacemos difundiendo el buen cine alineado a ese fin.</li>
	</ul>
</div>
<!-- Cómo lo hacemos -->
<div class="bloque">
</div>

