<!-- Nuestra Misión -->
<div class="bloque">
	<h2>Nuestra Misión</h2>
	<ul type="dots">
		<li>Hacerle accesible a la mayor cantidad posible de personas, las películas y colecciones que cumplan con estas condiciones o alguna de ellas:</li>
		<ul type="dots">
			<li>Que contribuyan a conocer mejor a la Iglesia Católica.</li>
			<li>Que tengan valores inspiradores para una sociedad mejor.</li>
		</ul>
		<li>Promover la producción de este tipo de películas y colecciones mediante su difusión, y desalentando la vilación a los <a href="/derechos-de-autor"><em>derechos de autor</em></a>.</li>
	</ul>
</div>
<!-- Visión que tenemos -->
<div class="bloque">
	<h2>Nuestra Visión</h2>
	<ul type="dots">
		<li>Que la relación con Dios sea natural en nuestra cultura.</li>
		<li>Que las personas afiancemos nuestro arraigo en Cristo y en la Iglesia por Él fundada.</li>
	</ul>
</div>
