<!-- En qué consiste -->
<div class="bloque">
	<h2>En qué consiste este sitio</h2>
	<ul type="dots">
		<li>Informamos qué películas existen afines a nuestro perfil.</li>
		<ul>
			<li>Agrupadas por personaje o hecho histórico, tema, evento o época del año.</li>
			<li>También sugerimos cuál ver en función de la fecha del año.</li>
		</ul>
		<li>Vinculamos a los sitios donde se pueden ver esas películas.</li>
		<ul>
			<li>Sólo ofrecemos links que vinculen a sitios con políticas de respeto a los Derechos de Autor.</li>

		</ul>
	</ul>
</div>
<div class="bloque">
	<h2>Otros Valores</h2>
	<ul type="dots">
		<li>Las películas con alguna de las siguientes características, <u>no son afines</u> a nuestro sitio:</li>
			<ul>
				<li>Sensualidad vulgar.</li>
				<li>Violencia explícita e innecesaria para la trama.</li>
				<li>Que no dejen algún valor positivo ni tengan relación con la Iglesia Católica.</li>
			</ul>
	</ul>
</div>
