<!-- En qué consiste -->
<div class="bloque">
	<h2>En qué consiste este sitio</h2>
	<ul type="dots">
		<li><b>Orientamos</b> al usuario sobre qué película ver, afín a nuestro perfil.</li>
		<ul>
			<li>Nos especializamos en orientarlo con criterios simples, sin abrumar.</li>
			<li>También ofrecemos opciones y filtros para que encuentre una película en particular.</li>
		</ul>
		<li><b>Vinculamos</b> a sitios donde se pueden ver esas películas.</li>
		<ul>
			<li>Las películas se ven en los sitios a los que vinculamos, no en el nuestro.</li>
			<li>Sólo vinculamos a sitios que tienen políticas de respeto a los Derechos de Autor.</li>
		</ul>
		<li>El usuario podrá <b>personalizar</b> sus preferencias (en construcción).</li>
		<ul>
			<li>Marcar como <em>favoritas</em>, <em>no me interesa</em>.</li>
			<li>Marcar como <em>para ver</em>, <em>ya la vi</em>.</li>
		</ul>
	</ul>
</div>
