<!-- Valores comunes a Wikipedia -->
<div class="bloque">
	<h2>Valores comunes a Wikipedia</h2>
	<ul type="dots">
		<li>El sitio es gratuito para los usuarios y no tiene publicidad.</li>
		<li>Sus fuentes de ingresos son:</li>
		<ul>
			<li>Donaciones.</li>
			<li>Contribuciones de entidades interesadas en el servicio que brindamos.</li>
		</ul>
	</ul>
</div>
<!-- Uso de la información privada -->
<div class="bloque">
	<h2>Uso de la información privada</h2>
	<ul type="dots">
		<li>No brindamos a ninguna entidad externa, la información privada de nuestros usuarios.</li>
		<li>No enviamos mensajes a nuestros usuarios con fines comerciales.</li>
	</ul>
</div>
<div class="bloque">
	<h2>Nuestros valores en las películas</h2>
	<ul type="dots">
		<li>Las películas con alguna de las siguientes características, <u>no son afines</u> a nuestro sitio:</li>
			<ul>
				<li>Con sensualidad vulgar.</li>
				<li>Con violencia explícita e innecesaria para la trama.</li>
				<li>Que no dejen algún valor positivo ni tengan relación con la Iglesia Católica.</li>
			</ul>
	</ul>
</div>
