<!-- Nuestra Política -->
<div class="bloque">
	<h2>Nuestra Política sobre Derechos de Autor (DA)</h2>
	<ul type="dots">
		<li>Nuestro sitio contiene enlaces (links) a sitios web externos.</li>
		<ul>
			<li>Esos sitios son responsables de su contenido en todo momento.</li>
			<li>Sólo vinculamos a sitios con políticas <em>explícitas</em> de respeto a los DA.</li>
			<li>Damos de baja los links que nos enteramos que no los respetan.</a></li>
		</ul>
		<li>Podés descargar nuestra política en forma más detallada, haciendo click <a href="/descargas/RespetoDerechosAutor.pdf" download><u>aquí</u></a>.</li>
	</ul>
</div>
<!-- Por qué -->
<div class="bloque">
	<h2>Por qué informamos links a otros sitios</h2>
	<ul type="dots">
		<li>Porque nuestra función es <b>vincular</b> al <em>espectador</em> con quien <em>ofrece ver</em> la película.</li>
		<li>Nosotros somos <b>facilitadores</b> entre ambos.</li>
	</ul>
</div>
