<!-- Criterios -->
<div class="bloque">
	<h2>Nuestra Política de Data-Entry</h2>
	<ul type="dots">
		<li>Nuestra base de datos de información, es enriquecida por <b>aportes de los usuarios</b>.</li>
		<ul type="dots">
			<li><b>Revisamos</b> esta información antes de hacerla pública.</li>
			<li>Mediante mail, le damos <b>feedback</b> sobre la revisión de sus aportes.</li>
		</ul>
		<li>Para cada usuario, llevamos una estadística de sus aportes aprobados y rechazados.</li>
		<ul>
			<li>Esto impacta en la <b>confianza</b> que tenemos él.</li>
			<li>A mayor confianza, mayor será la libertad para ingresarnos información.</li>
		</ul>
	</ul>
</div>
