<!-- Criterios -->
<div class="bloque">
	<h2>Nuestra Política de Data-Entry</h2>
	<ul type="dots">
		<li>Nuestra base de datos de información, es enriquecida por aportes de los usuarios.</li>
		<ul type="dots">
			<li>Revisamos esta información antes de hacerla accesible al público.</li>
			<li>En un mail diario, le informamos a cada usuario el resultado de la revisión.</li>
		</ul>
		<li>Llevamos una estadística por usuario de sus aportes aprobados y rechazados.</li>
		<li>Esto impacta en la confianza que depositamos en cada usuario para ingresarnos información.</li>
		<li>Si un usuario hace un mal uso de su responsabilidad, podemos aplicar sanciones de inhabilitación.</li>
	</ul>
</div>
