<% if (locals.userIdentVal && locals.status_id && (status_id == aprobado_id || status_id == inactivo_id)) { %>
	<div class="flechas">
		<!-- Inactivar -->
		<% if (status_id == aprobado_id) { %>
			<a href="<%= '/crud/inactivar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Ir a 'Inactivar'"></i>
			</a>
		<% } %>
		<!-- Recuperar -->
		<% if (status_id == inactivo_id) { %>
			<a href="<%= '/crud/recuperar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-check" tabindex="-1" title="Ir a 'Recuperar'"></i>
			</a>
		<% } %>
	</div>
<% } else if (tema == "crud") { %>
	<!-- Confirmar -->
	<button type="submit" class="flechas inactivo">
		<i class="fa-solid fa-circle-check" tabindex="-1" title="Confirma el cambio de status"></i>
	</button>
<% } %>
<style>
	.flechas:has(.fa-circle-xmark) {border-color: var(--rojo-oscuro); background: var(--rojo-claro);}
	.flechas:has(.fa-circle-check) {border-color: var(--verde-oscuro); background: var(--verde-claro);}
</style>

<% if (tema == "revisionEnts" && codigo == "producto/alta") { %>
	<div class="flechas inactivo">
		<i class="fa-solid fa-film" tabindex="-1" title="Ver el Trailer"></i>
		<% if (entidad != "colecciones") { %>
			<i class="fa-solid fa-video" tabindex="-1" title="Ver <%- entidad == "capitulos" ? "el" : "la" %> <%= prodNombre %>"></i>
		<% } %>
	</div>
<% } %>
