<!-- Comentario -->
<section id="comentario" class="flexCol">
    <div class="flexRow spaceBetween">
        <h3>Comentario</h3>
        <p><span id="pendiente">100</span>/100</p>
    </div>
    <textarea name="comentario"></textarea>
</section>