<!-- Motivos -->
<section id="motivos">
    <h3>Elegí un Motivo de Rechazo:</h3>
    <ul type="none">
        <% for (let motivo of motivos) { %>
            <li>
                <input type="radio" name="motivo_id" value="<%= motivo.id %>" id="<%= motivo.id %>">
                <label for="<%= motivo.id %>"><%= motivo.comentario %></label>
            </li>
        <% } %>
    </ul>
</section>
<!-- Comentario -->
<section id="comentario" class="flexCol">
    <h3>Comentario <span id="pendiente">170</span><span>/170</span></h3>
    <textarea name="comentario" autofocus autocapitalize="sentences" maxlength="170"></textarea>
</section>