<!-- Comentario -->
<section id="comentario" class="flexCol">
    <div class="flexRow spaceBetween">
        <h3>Comentario</h3>
        <p><span id="pendiente">170</span>/170</p>
    </div>
    <textarea name="comentario" autofocus autocapitalize="sentences" maxlength="170"></textarea>
</section>