<!-- Motivos -->
<section>
    <h3>Motivo por el que fue Inactivado:</h3>
    <p><em><%= registro.motivo ? registro.motivo.descripcion : "No disponemos de esa información" %></em></p>
</section>
<%- include("FM1-Comentario") %>
