<!-- Motivos -->
<section>
    <h3>Motivo del Rechazo:</h3>
    <p><em><%= registro.motivo.comentario %></em></p>
</section>
<!-- Comentario -->
<section>
    <h3>Comentario</h3>
    <textarea name="comentario" autofocus>
    </textarea>
</section>