<!-- Motivos -->
<section>
    <h3>Motivo del Rechazo:</h3>
</section>
<!-- Comentario -->
<section>
    <h3>Comentario</h3>
    <input name="comentario" type="textarea" wrap="hard" cols="20" autofocus>
</section>