/* Partes específicas del formulario */
#data_entry h1 {margin-bottom: 10px;  align-self: flex-start;}
#data_entry h1#ingresar_los_datos_a_mano {margin-top: 20px;}
#data_entry label {align-self: flex-end;}
#data_entry .fa-times-circle {left: -15px; top: 7px;}
#data_entry .linea_divisoria {margin-top: 20px;}