<%- include("FM-TituloPrincipal") %>
<div id="medio">
	<div id="contIframe">
		<iframe src="<%= link.url %>?autoplay=1" allow="autoplay" allowfullscreen></iframe>
	</div>
</div>
<div id="sectorIconos">
    <%- include("Iconos-1Estandar") %>
</div>
