
/* Formato de Menús */
header .menuMostrar {position: absolute; border: 1px solid rgba(0,0,0,.15); width: max-content;}
header .menuMostrar.menuFondo {padding: 4px 0; border-radius: 10px; background: var(--gris-claro);}

/* Opciones */
header .menuMostrar .menuOpcion {display: flex; flex-direction: row; align-items: center;}
header .menuMostrar .menuOpcion {padding: 4px 16px;}

/* Íconos que acompañan al menú */
header .menuMostrar .menuOpcion .icono {width: 18px; margin-right: 10px; font-weight: bold;}
header .menuMostrar .menuOpcion .icono {display: flex; justify-content: center; align-items: center;}

/* Ícono ELC */
header .menuMostrar .menuOpcion .icono#ELC {background: var(--azul-oscuro); color: var(--celeste-claro); border-radius: 3px; font-size: .6rem; padding: 1px;}

/* Específico del Menú de Usuario */
header .menuDerecha {right: 0px;}

/* Específico del Menú Mobile */
header #menuMobile .menuOpcion {height: 25px;}
header #menuMobile .menuOpcion div {width: 30px; text-align: start;}
header #menuMobile .menuOpcion span {font-size: 1rem;}