/* Íconos de búsqueda rápida e inputMasResultados */
#busquedaRapida {position: relative;}
#busquedaRapida .menu_mostrar {position: absolute; top: 35px;}
#busquedaRapida .menu_mostrar * {width: max-content;}
#busquedaRapida .menu_mostrar input, 
#busquedaRapida .menu_mostrar #displayResultados {border: 1px solid var(--azul-oscuro); border-radius: 5px;}
#busquedaRapida .menu_mostrar input {padding: 2px 5px; width: 200px;}
#busquedaRapida .menu_mostrar #displayResultados {border-top-left-radius: 0; overflow: hidden;}

/* Opciones de #displayResultados */
#busquedaRapida #displayResultados table {border-collapse: collapse;}
/* Colores de fondo */
#busquedaRapida #displayResultados p,
#busquedaRapida #displayResultados tr.prod:nth-of-type(odd) {background: whitesmoke;}
#busquedaRapida #displayResultados tr.prod:nth-of-type(even) {background: var(--celeste-claro);}
#busquedaRapida #displayResultados tr.rclv:nth-of-type(odd) {background: var(--amarillo-oscuro);}
#busquedaRapida #displayResultados tr.rclv:nth-of-type(even) {background: var(--amarillo-claro);}

/* Para que el anchor de la primera columna ocupe todo el ancho */
#busquedaRapida #displayResultados tr td:first-child {display: flex; flex-direction: column;}
/* Alineación de la columna de 'familia' */
#busquedaRapida #displayResultados tr td:nth-of-type(2) {text-align: left;}
#busquedaRapida #displayResultados tr td:nth-of-type(2):first-letter {text-transform: uppercase;}
/* Otros */
#busquedaRapida #displayResultados tr td {padding: 2px 5px;}
#busquedaRapida #escribiMas {background: var(--gris-claro); font-style: italic; padding: 2px 7px; border-radius: 5px;}
