/* Videos */
header video {max-width: 80vw; max-height: 80vh; }
header video {border: var(--gris-oscuro) 10px solid; box-shadow: 0px 0px 15px rgb(100, 100, 100);}

/* Íconos */
header #cierraVideo {font-size: 2rem;}
