<div class="relative<%- locals.clase ? (' ' + clase) : '' %>">
	<div id="compartirIcono" class="iconosAzules scale pointer">
		<i class="<%= iconos.faSolid %> fa-share-nodes" title="<%= compartirLeyenda %>"></i>
	</div>
	<p id="compartirLeyenda" class="absolute ocultar"><%= compartirLeyenda %></p>
</div>
