<div class="relative">
	<div id="compartirCons" class="iconosAzules scale pointer">
		<i class="<%= iconos.faSolid %> fa-share-nodes" title="<%= leyCompartir %>"></i>
	</div>
	<p id="consCopiada" class="absolute ocultar"><%= leyCompartir %></p>
</div>
