<div class="relative<%- locals.clase ? (' ' + clase) : '' %>">
	<div id="iconoCompartir" class="iconosAzules scale pointer">
		<i class="<%= iconos.faSolid %> fa-share-nodes" title="<%= mostrarLeyenda %>"></i>
	</div>
	<p class="mostrarLeyenda ocultar"><%= mostrarLeyenda %></p>
</div>
