<!-- Comentario -->
<section id="comentario" class="flexCol">
    <div class="flexRow spaceBetween">
        <h3>Comentario</h3>
        <p><span id="contador">100</span>/100</p>
    </div>
    <textarea
        name="comentario"
        <% if (["inactivar", "eliminar", "rechazar"].includes(codigo)) { %>readonly<% } %>
        placeholder="Agregá un comentario"
    ></textarea>
</section>