<!-- Comentario -->
<section id="comentario" class="flexCol">
    <div id="comenTitulo">
        <h3>Comentario</h3>
        <p><span id="contador"><%= largoComentario %></span>/<%= largoComentario %></p>
    </div>
    <textarea
        name="comentario"
        placeholder="Agregá un comentario"
    ><%- locals.comentario ? comentario : "" %></textarea>
</section>