<section>
	<h3>Historial de status:</h3>
	<ul type="dots">
		<% for (let reg of historialStatus) { %>
			<% const {fecha, status, comentario} = reg %>
			<li><%= fecha + status + comentario %></li>
		<% } %>
	</ul>
</section>
<%- codigo != "eliminar" ? include("FM1-Comentario") : "" %>
