<!-- Motivos -->
<section id="motivos">
    <h3>Elegí el motivo de rechazo:</h3>
    <select name="motivo_id" id="">
        <% let grupoAnt %>
        <% for (let motivo of motivos) { %>
            <% if (grupoAnt && motivo.grupo != grupoAnt) { %></optgroup><% } %>
            <% if (motivo.grupo != grupoAnt) { %><optgroup label="Motivos <%= motivo.grupo %>"><% } %>
                <option value="<%= motivo.id %>"><%= motivo.descripcion %></option>
            <% grupoAnt = motivo.grupo %>
        <% } %>
        </optgroup>
    </select>
</section>
<%- include("FM1-Comentario") %>
