<section>
	<h3>Historial de status:</h3>
	<ul type="dots">
		<% for (let reg of historialStatus) { %>
			<% const {statusFinalEn} = reg %>
			<% console.log(6, reg,statusFinalEn) %>
			<% const dia = statusFinalEn.getDate() %>
			<% const mes = statusFinalEn.getMonth() %>
			<% const ano = String(statusFinalEn.getFullYear()).slice(-2) %>
			<% const fechaNombre = fechasDelAno.find((n) => n.dia == dia && n.mes_id == mes).nombre %>
			<% const fecha = fechaNombre + "/" + ano + " - " %>
			<% const status = reg.statusFinal.nombre %>
			<% const comentario = reg.comentario ? " - " + reg.comentario : "" %>
			<li><%= fecha + status + comentario %></li>
		<% } %>
	</ul>
</section>
<%- codigo != "eliminar" ? include("FM1-Comentario") : "" %>
