/* BACKGROUND IMAGE */
body {
	background-image: url("/imagenes/0-Base/Color de fondo.png");
	background-size: cover;
	background-attachment: fixed;
}

*, body {margin: 0px; padding: 0; box-sizing: border-box;}
