/* Main */
main {height: 91vh;}

/* Headings */
main h1 {font-size: 1.25rem;}
main h2 {font-size: 1.20rem;}
main h3 {font-size: 1.10rem;}

/* Imagen Derecha */
main #imagenDerecha {width: 30vw; height: 100%; position: relative;}
main #imagenDerecha img {height: 100%; width: 100%; object-fit: contain; position: absolute;}

/* Cuerpo y Footer */
main #cuerpoFooter {display: flex; flex-grow: 1; flex-direction: column-reverse;}
main #cuerpoFooter #tapar-el-fondo {position: absolute; left: 0px; top: 0px; z-index: 10;}
main #cuerpoFooter #tapar-el-fondo {background-color: var(--gris-claro); opacity: 70%; height: 100%; width: 100%;}
main #cuerpoFooter #cuerpo {flex-grow: 1; position: relative;}
main #cuerpoFooter #cuerpo .inactivo, 
main #cuerpoFooter #cuerpo .inactivo * {cursor: not-allowed;}
main #cuerpoFooter footer {padding: .25em 5px; border-top: 2px solid var(--azul-frances);}
main #cuerpoFooter footer {display: flex; flex-direction: row; justify-content: space-around;}
main #cuerpoFooter footer {font-family: var(--Calibri); font-size: 16px; font-weight: bold;}
