<% if (dataEntry.rubroAPI=="movie" && dataEntry.fuente=="IM") { %>
	<section class="label-input flex-row ">
		<label>¿Pertenece a una colección?</label>
		<!-- Data-entry y Errores -->
		<div class="input-error">
			<select name="en_coleccion" class="input angosto">
				<option style="font-style: italic" value="" selected class="ocultar">Elegí</option>
				<option value="0">NO</option>
				<option value="1">SI</option>
			</select>
			<i class="fas fa-times-circle<%- !errores.en_coleccion ? ' ocultar' : '' %>">
				<span class="mensajeError"><%= errores.en_coleccion %></span>
			</i>
		</div>
	</section>
<% } %> 
