<% if (dataEntry.entidad=="peliculas" && dataEntry.fuente=="IM") { %>
	<section class="label-input flex-row ">
		<label>¿Pertenece a una colección?</label>
		<!-- Data-entry y Errores -->
		<div class="input-error">
			<select name="en_coleccion" class="input angosto" <% if (dataEntry.en_coleccion) { %>disabled<% } %>>
				<option style="font-style: italic" value="" class="ocultar" <% if (!dataEntry.en_coleccion) { %>selected<% } %>>Elegí</option>
				<option value="0" <% if (dataEntry.en_coleccion=="0") { %>selected<% } %>>NO</option>
				<option value="1" <% if (dataEntry.en_coleccion=="1") { %>selected<% } %>>SI</option>
			</select>
			<!-- Ayuda -->
			<%- include("39-DD-Mensajes") %>
			<!-- Errores -->
			<i class="fas fa-times-circle<%- !errores.en_coleccion ? ' ocultar' : '' %>">
				<span class="mensajeError"><%= errores.en_coleccion %></span>
			</i>
		</div>
	</section>
<% } %> 
