<div id="tituloSecundario">
	<h2>Películas sobre <em><%= procCanoniz %><%= RCLVnombre %></em></h2>
	<!-- Ayuda -->
	<div class="ayuda ocultar">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
			</ul>	
		</i>
	</div>
</div>
<p>Cantidad de Hallazagos: <%= prodsDelRCLV.length %></p>
