/* General */
#cuerpo {flex-direction: column; justify-content: center; align-items: center;}
#cuerpo {margin: 0; width: 100%; max-height: calc(100% - 23.6px);} /* 23.6px es la altura del footer */

/* General del formulario */
#cuerpo #dataEntry {overflow: auto; max-height: 95%; border-radius: 10px;}
#cuerpo form {display: flex; flex-direction: column;}
#cuerpo form {background: var(--gris-oscuro); padding: 20px;}

/* Título principal */
form #tituloPrincipal {align-self: center !important; margin-bottom: 10px;}
#tituloPrincipal h1 {margin: 0;}
form h1 {color: var(--amarillo-claro); margin-bottom: 10px;}
form h1 {font-size: 1.5em; text-align: center;}

/* Ayuda del Título */
#tituloPrincipal .ayudaClick {border-style: solid; border-width: 1px; color: var(--gris-oscuro);}
#tituloPrincipal .ayudaMostrar {background: var(--gris-oscuro); top: auto; bottom: -5px; transform: none; translate: 0 100%;}
#tituloPrincipal .ayudaMostrar * {background: transparent;}
#tituloPrincipal .ayudaMostrar::before {border-color: transparent transparent var(--gris-mas-oscuro) transparent;}
#tituloPrincipal .ayudaMostrar::before {top: 0; translate: 0 -100%; left: auto; transform: none;}

/* Input del formulario */
#datos .labelInput, form .labelInput {justify-content: space-between; margin: 20px 10px 0px; align-items: center}
.labelInput label {color: white; margin-right: 30px; text-align: left;}
.inputError .input {width: 200px; height: 27px; border: none; border-radius: 15px; padding: 3px 10px; text-align: left;}

form select {text-align: left;}
#cuerpo #eye {right: 10px; position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}

/* Íconos y Mensajes de Error */
#cuerpo .inputError .mensajeError {right: -5px; top: -5px; translate: 0 -100%;}
#cuerpo .inputError .mensajeError::before {left: auto; right: 5px; top: auto; bottom: 0px; translate: 0 100%;}
#cuerpo .inputError .mensajeError::before {border-color: var(--colorMensajeError) transparent transparent transparent;}

/* Flechas */
form .flechas {margin: 15px auto 5px;}

/* Credenciales inválidas*/
#credenciales.errores .mensajeError {display: block; position: static; translate: none;}
#credenciales.errores .mensajeError {margin: 10px auto 0; text-align: center; width: 200px;}
#credenciales.errores .mensajeError::before {content: none;}