/* General */
#cuerpo #dataEntry {
	min-width: min(90%, 360px);
	form {
		align-items: stretch; width: 100%; padding-left: 30px; padding-right: 30px;
		&:has(#informacion) {background: var(--usuarios);}

		/* Input del mail */
		.labelInput:has([name="email"]) {
			margin: 15px 0; width: min(100%, 260px); justify-content: center; align-self: center;
			:is(.inputError, .inputError .input) {width: 100%; text-align: center;}
		}
		p#email {
			margin: 15px auto; width: min-content;
			background: var(--gris-intermedio); border-radius: 15px; padding: 5px 10px;
			font-weight: bold;
		}

		/* Alta Mail - Comentarios sobre la política del uso del mail */
		ul#politicaInfo {
			margin: 10px 0; margin-left: 15px;
			li {color: var(--amarillo-claro); line-height: 1.5;}
		}

		/* Olvido Contraseña - Mensaje sobre los datos a completar */
		#datosPerennesTitulo {
			position: relative; width: fit-content; margin: 0 auto;
			h2 {
				background: var(--azul-frances); color: var(--amarillo-claro);
				padding: 10px; border-radius: 10px; font-weight: normal; font-style: italic;
			}
			.ayudaMostrar {
				right: -61px;
				&::before {right: 63px;}
			}
		}
	}
}

/* Parado */
@media (orientation: portrait) {
	#cuerpo form {min-width: min-content; max-width: 90vw;}
	#imgDerecha img {display: none;}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	#cuerpo #dataEntry {overflow: auto; max-height: 95%;}
	form h1 {margin: 0;}
	form .iconos {margin: 0 auto;}
}
