#cuerpo form {min-width: 360px;}

/* Imagen */
form #divImagen {width: 200px; align-items: center;}
#divImagen label#preview {display: flex; flex-direction: row; justify-content: center;}
#divImagen label#preview {cursor: pointer; margin-right: 0px; width: inherit;}
#divImagen input#inputImagen {display:none}
label#preview img {border-radius: 15px; max-width: 200px; max-height: 150px;}

/* Media Query - Ancho */
@media (width <= calc(470px + 0.67 * (100svh - 60px))) {#imgDerecha img {display: none;}}
@media (width > calc(470px + 0.67 * (100svh - 60px))) {#imgDerecha img {max-width: calc(0.7 * var(--altoMain));}} /* 470px es el ancho del form, 0.67 es el aspectRatio de la imagen, 60px es el alto del header */
@media (width <= 450px) {
	#cuerpo form {min-width: min-content; max-width: 85vw;}
	#cuerpo form .labelInput {justify-content: center;}
	#cuerpo form label {display: none;}
}

/* Media Query - Alto */
@media (height <= 560px) {
	form h1 {margin: 0;}
	form .iconos {margin-bottom: 0;}
}
