/* General */
#cuerpo form {background: var(--usuarios);}

/* Ayuda del Título */
#tituloPrincipal .ayudaMostrar {right: -8px;}
#tituloPrincipal .ayudaMostrar::before {right: 10px;}

/* Media Query - Ancho */
@media (width > calc(520px + 0.67 * (100dvh - 60px))) {#imgDerecha img {max-width: calc(0.7 * var(--altoMain));}} /* 470px es el ancho del form, 0.67 es el aspectRatio de la imagen, 60px es el alto del header */
@media (width <= calc(520px + 0.67 * (100dvh - 60px))) {#imgDerecha img {display: none;}}
@media (width <= 480px) {
	#cuerpo form {width: auto; padding: 30px;}
	form #tituloPrincipal {max-width: 210px;}
	#tituloPrincipal .ayudaMostrar {max-width: min(250px);}
	form #informacion {flex-direction: column; justify-content: flex-start; align-items: center;}
	#informacion .filas {flex-direction: column;}
	#fila:last-of-type .labelInput {margin-bottom: 0;}

}