#cuerpo form #tituloPrincipal {align-self: center; padding: 8px 10px;}
#cuerpo form #tituloPrincipal h1 {margin: 0;}
#cuerpo form .ayudaClick {border-style: solid; border-width: 1px; color: var(--gris-mas-oscuro);}
#cuerpo form .ayudaMostrar {background: var(--gris-mas-oscuro);}
#cuerpo form .ayudaMostrar::before {border-color: transparent var(--gris-mas-oscuro) transparent transparent;}
#cuerpo form .ayudaMostrar * {background: transparent;}

#cuerpo form label {margin-right: 0; align-self: flex-start; margin-bottom: 3px;}
#cuerpo form #columna1 .input {width: 150px}
#cuerpo form #columna2 {margin-left: 40px;}
#cuerpo form #columna2 #credencialesInvalidas .ayudaClick {color: var(--rojo-oscuro);}
