/* General */
#cuerpo form {padding-right: 25px;}
#cuerpo form #datos {margin-bottom: 15px;}

/* Media Query - Ancho */
@media (width <= 400px) {
	#cuerpo form .labelInput {justify-content: center;}
	#cuerpo form {min-width: min-content; width: 85vw;}
	#cuerpo form label {display: none;}
}
@media (width <= calc(72dvh + 400px) ) {#cuerpoFooterImgDer #imgDerecha img {display: none;}}
@media (width > calc(72dvh + 400px) ) {#cuerpoFooterImgDer #imgDerecha img {max-width: calc(0.7 * var(--altoMain));}}

/* Media Query - Alto */
@media (max-height: 335px) {
	#cuerpo #dataEntry {overflow: auto; max-height: 95%;}
	#dataEntry form h1 {margin: 0;}
	#dataEntry form .iconos {margin: 0 auto;}

}
