/* General */
#cuerpo form {
	padding-right: 25px;
	#datos {
		margin-bottom: 15px;
		#eye {right: 10px; position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
	}
}

/* Media Query - Ancho */
@media (width <= 400px) {
	#cuerpo form .labelInput {justify-content: center;}
	#cuerpo form {min-width: min-content; width: 85vw;}
	#cuerpo form label {display: none;}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	#cuerpoFooterImgDer #imgDerecha img {display: none;}
	#cuerpo #dataEntry {overflow: auto; max-height: 95%;}
	#dataEntry form h1 {margin: 0;}
	#dataEntry form .iconos {margin: 0 auto;}
}
