/* Ayuda de nombre y apellido */
.labelInput .ayudaMostrar {top: auto; bottom: -5px; transform: none; translate: 0 100%; right: -50px;}
.labelInput .ayudaMostrar::before {border-color: transparent transparent var(--gris-mas-oscuro) transparent;}
.labelInput .ayudaMostrar::before {top: 0; translate: 0 -100%; left: auto; right: 52px; transform: none;}
