/* Ancho */
@media (width <= 1267px) {
	#cuerpoFooterImgDer #imgDerecha img {display: none;}
	#cuerpoFooterImgDer #cuerpoFooter {width: 100vw;}
}

/* Alto */
@media (height <= 450px) {
	#cuerpo #tituloPrincipal {display: none;}
	section #cuadroDeTexto {padding-top: 25px; padding-bottom: 25px;}
	#contenido .iconos {display: flex;}
}
@media (height > 450px) {section #cuadroDeTexto > .iconos {display: flex;}}

/* Ancho y Alto */
@media (width > 700px) and (height > 540px) {#cuerpo #cuadroDeTexto {scale: 1.1;}}
@media (width > 750px) and (height > 580px) {#cuerpo #cuadroDeTexto {scale: 1.2;}}
