/* Ancho */
@media (width <= 1267px) {#cuerpoFooterImgDer #imgDerecha img {display: none;}}

/* Ancho y Alto */
@media (width > 700px) and (height > 540px) {#cuerpo #cuadroDeTexto {scale: 1.1;}}
@media (width > 750px) and (height > 580px) {#cuerpo #cuadroDeTexto {scale: 1.2;}}
