/* General */
#cuerpo {flex-direction: row;}

/* Zona de vitreaux */
#cuerpo #zonaDeVitreaux {display: flex; flex-direction: column; justify-content: center;}
#cuerpo #zonaDeVitreaux img {width: 230px;}

/* Cartel de Bienvenida */
#cuerpo #zonaDeBienvenida {display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; flex-grow: 1;}
#zonaDeBienvenida #cartelBienvenida {border: 2px solid var(--azul-frances); background: var(--amarillo-claro); box-shadow: 0px 0px 20px var(--azul-oscuro);}
#zonaDeBienvenida #cartelBienvenida {padding: 30px; border-radius: 15px; text-align: left; align-self: center;}
#zonaDeBienvenida #cartelBienvenida h1 {margin: 0 0 20px; text-align: center;}
#zonaDeBienvenida #cartelBienvenida h1 span {font-style: italic;}
#zonaDeBienvenida #cartelBienvenida p {text-align: center;}
#zonaDeBienvenida #cartelBienvenida p {margin-top: 8px; font-size: 1.1rem; color: var(--marron);}
/* Video orientador */
#cartelBienvenida p#menuCapacitac {padding: 5px 10px; margin-top: 15px; border-radius: 15px;}
#cartelBienvenida p#menuCapacitac {background: var(--verde-oscuro); color: snow;}
#cartelBienvenida p#menuCapacitac span {color: var(--amarillo-oscuro); font-variant: small-caps; font-weight: bold; text-decoration: underline;}

/* Zona de Botones */
#zonaDeBienvenida #botones {display: flex; justify-content: space-evenly; align-items: center; width: 100%;}
#zonaDeBienvenida #botones a {border-radius: 50%; overflow: hidden;}
#zonaDeBienvenida #botones a {border: solid 1px var(--gris-oscuro); box-shadow: 0px 0px 20px var(--gris-oscuro);}
#zonaDeBienvenida #botones a button {width: 200px; padding: 20px; border-radius: 50%; background: var(--gris-claro);}

#zonaDeBienvenida #botones a button img {max-height: 100px; max-width: 90%; border-radius: 10px; margin-top: 5px; margin-bottom: 5px;}
#zonaDeBienvenida #botones a button p {font-size: 1.1rem;}
#zonaDeBienvenida #botones a button p span {font-weight: bold; font-size: 1.2rem; font-style: italic;}

#zonaDeBienvenida #botones a button .iconoComb {position: relative; padding: 20px 0;}
#zonaDeBienvenida #botones a button .iconoComb i {font-size: 5rem;}
#zonaDeBienvenida #botones a button .iconoComb i.adentro {position: absolute; left: 43%; top: 50%; translate: -50% -50%;}
#zonaDeBienvenida #botones a button .iconoComb i.adentro {font-size: 2rem; color: var(--celeste-claro);}
