<section id="cuerpo">
	<% if (codigo == "agregar") { %><%- include("RCLV-AltaEdicion") %><% } %>
	<% if (codigo == "edicion") { %><%- include("RCLV-AltaEdicion") %><% } %>
	<% if (codigo == "detalle") { %><%- include("RCLV-Detalle") %><% } %>
</section>
