<div class="flex-col">
	<div id="tituloPrincipal">
		<h1 id="titulo"><%= titulo %></h1>
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick despl_click">
				<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
					<li>Acá va la ayuda...</li>
				</ul>
			</i>	
		</div>
	</div>
	<div id="datos">
		<div id="contenido">
		</div>
		<!-- Comandos -->
		<div id="comandos">
			<div>Comandos...</div>
		</div>
		<!-- Botones -->
	</div>
</div>
<div id="datosBreves">
	<!-- Título -->
	<div><p><strong><u style="font-size: 1.1rem;">Ficha Técnica</u></strong></p></div>
	<!-- Texto -->
	<div id="texto">
		<% for (campo of resumen) { %>
			<p <% if (campo.titulo.startsWith("Status")) { %>class="status" id="status_<%= campo.status %>"<% } %>>
				<strong><%= campo.titulo %>:</strong> <span><%= campo.valor %></span>
			</p>
		<% } %>
	</div>
</div>
