<button type="text" id="timer" class="ocultar" tabindex="-1"></button>
<section id="tapar-el-fondo" class="ocultar"></section>
<section id="cartel" class="ocultar">
	<i id="error" class="fa-solid fa-triangle-exclamation"></i>
	<img id="gracias" src="/imagenes/0-Base/Check.png" height="100px">
	<ul id="mensajes"></ul>
	<div id="flechas"></div>
</section>
