<section id="tapar-el-fondo" class="ocultar">
</section>
<section id="cartelAdvertencia" class="ocultar">
	<i class="fa-solid fa-triangle-exclamation"></i>
	<ul id="mensaje"></ul>
	<div id="flechas">
		<i class="ocultar fa-solid fa-thumbs-up" title="Entendido"></i>
	</div>
</section>
