<section id="tapar-el-fondo" class="ocultar"></section>
<button type="text" id="timer" class="ocultar" tabindex="-1"></button>
<section id="cartelAdvertencia" class="ocultar">
	<i class="fa-solid fa-triangle-exclamation"></i>
	<ul id="mensaje"></ul>
	<div id="flechas">
		<i class="ocultar fa-solid fa-thumbs-up" title="Entendido"></i>
	</div>
</section>
