<div class="flechas">
	<% if (locals.origen) { %>
		<a href="<%= '/inactivar-captura/?entidad=' + (locals.prodEntidad?prodEntidad:entidad) + (locals.prodID||locals.id ? ('&id=' + (locals.prodID?prodID:id)) : '') + '&origen=' + origen %>">
			<i class="fa-solid fa-circle-left" tabindex="-1" title="Ir a la vista de Origen"></i>
		</a>
	<% } %>
	<% if (!vista.includes("/detalle/") && locals.id) { %>
		<a href="<%= '/' + familia + '/detalle/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'"></i>
		</a>
	<% } %>
	<% if (!vista.includes("/edicion/") && locals.id) { %>
		<a href="<%= '/' + familia + '/edicion/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i>
		</a>
	<% } %>
	<% if (vista.includes("/producto/") && locals.id) { %>
		<a href="<%= '/links/abm/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-link" tabindex="-1" title="Ir a la vista 'Links'"></i>
		</a>
	<% } %>
</div>
