<div class="flechas">
	<% if (locals.origen) { %>
		<a href="<%= '/inactivar-captura/?entidad=' + entidad + '&id=' + id + '&origen=' + origen %>">
			<i class="fa-solid fa-circle-left" tabindex="-1" title="Ir a la vista de Origen"></i>
		</a>
	<% } %>
	<i class="fa-solid fa-circle-info <%- vista == "/producto/detalle/" ? "inactivo" : "" %>" tabindex="-1" title="Ir a la vista 'Detalle'"></i>
	<i class="fa-solid fa-pen <%- vista == "/producto/edicion/" ? "inactivo" : ""%>" tabindex="-1" title="Ir a la vista 'Edición'"></i>
	<i class="fa-solid fa-link <%- vista == "/links/abm/" ? "inactivo" : "" %>" tabindex="-1" title="Ir a la vista 'Links'"></i>
</div>
