/* Datos */
#cuerpo #datos {position: absolute; translate: -50% -50%; top: 50%; left: 50%; width: 100%;}
#cuerpo #datos #datosLargos {width: 49vw}

/* Recuadro */
#recuadro #encabezado {align-self: stretch; flex-direction: column; align-items: unset;}
#recuadro #contenido {margin: 0 40px 20px;}
#recuadro #contenido #informacion {margin: 20px 0;}
#recuadro #contenido #informacion #cuadroDeResultados {position: relative;}
