/* Temas generales */
#cuerpo {background: transparent; flex-direction: column;}
#cuerpo form {display: flex; flex-direction: row-reverse; flex-grow: 1; position: relative;}
form #formCuerpoFooter {display: flex; flex-direction: column-reverse; flex-grow: 1; position: relative;}
#formCuerpoFooter #formCuerpo {display: flex; flex-direction: column; flex-grow: 1;}

/* Temas generales del formulario */
#formCuerpo #dataEntry {margin: auto; padding: 30px 40px; border-radius: 20px;}
#formCuerpo #dataEntry {display: flex; flex-direction: column; z-index: 8;}
#formCuerpo #dataEntry {background: var(--gris-claro); border: var(--gris-oscuro) 7px solid; box-shadow: 0px 0px 10px rgb(100, 100, 100);}

/* Temas generales de dataEntry */
#dataEntry #inicio {display: flex; flex-direction: row; justify-content: space-between;}
#dataEntry #inicio #primeraCol {margin-right: 50px; min-width: 210px;}
#dataEntry #inicio #segundaCol {display: flex; flex-direction: column; min-width: 210px;}
#dataEntry .inputError .errores {left: -5px; translate: -100% -50%; right: auto;}
#dataEntry :is(.input, #posiblesRepetidos, #sectorDiasDelAno #calendario) {border: .7px solid var(--azul-oscuro); border-radius: 5px; background: white;}
#dataEntry label[for] {padding-left: 3px;}
#dataEntry textarea {padding-left: 5px; resize: none;}

/* Temas de filas */
#dataEntry .altoFila {height: 28px;}
#dataEntry .margenDer {margin-right: 5px;}
#dataEntry .margenIzq {margin-left: 15px;}
#dataEntry .margenDebajo {margin-bottom: 5px;}
#dataEntry .borderTop {margin-top: 12px; padding-top: 9px; border-top: solid 1px gray;}

/* Temas particulares de dataEntry */
#dataEntry .input.angosto {width: 50px; margin-left: 10px; text-align: center;}

/* Nombres */
#inicio #sectorNombre label {margin-right: 7px;}
#inicio #sectorNombre .input {padding-left: 5px; width: 180px;}

/* Fecha */
#inicio #sectorFecha h3 {align-self: flex-start; margin-top: 1px;}
#inicio #sectorFecha :is(select[name="tipoFecha"], select[name="dia"], #inputDias) {margin-left: 15px;}
#inicio #sectorFecha a {margin-left: 10px; border-radius: 50%; position: relative; width: 20px; height: 20px; overflow: hidden; border: 1px dotted var(--gris-oscuro);}
#inicio #sectorFecha a img {position: absolute; object-fit: contain; height: 100%; width: 100%;}
#inicio #sectorFecha .caracteres {align-self: flex-end;}
#inicio #sectorFecha textarea {height: 31px;}
#inicio #sectorFecha #dias_de_duracion {margin-top: 7px;}
#inicio #sectorFecha #dias_de_duracion input {width: 30px; text-align: center;}
#inicio #sectorFecha #dias_de_duracion input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
/* #inicio #sectorFecha #dias_de_duracion input[type=number] {-moz-appearance: textfield;} Firefox */

/* Repetidos */
#inicio #sectorRepetidos {display: flex; flex-direction: column; flex-grow: 1;}
#sectorRepetidos #posiblesRepetidos {display: flex; flex-direction: column; overflow-y: auto; overflow-x: hidden;}
#sectorRepetidos #posiblesRepetidos {margin-top: 5px; padding: 5px; height: 100%;}
#sectorRepetidos #posiblesRepetidos li {padding: 3px 0; display: flex; flex-direction: row;}
#sectorRepetidos #posiblesRepetidos li input {padding-right: 5px;}
#sectorRepetidos .sinCasos {justify-content: center; align-items: center; color: var(--verde-oscuro); font-weight: bold;}

/* Calendario */
#sectorDiasDelAno {display: flex; flex-direction: column; flex-grow: 1;}
#sectorDiasDelAno #calendario {height: 100%;}
#sectorDiasDelAno #calendario {margin-top: 5px; padding: 5px 10px;}
#sectorDiasDelAno #calendario {overflow-y: auto; overflow-x: hidden; scroll-behavior: smooth;}
#sectorDiasDelAno #calendario table {border-collapse: collapse; width: 90%;}
#sectorDiasDelAno #calendario table tr td {padding: 1px 0;}

/* Carpeta de Imágenes y Prioridad */
#inicio :is(#sectorCarpetaAvatars select, #sectorPrioridad select) {width: 108px;}
#inicio #sectorPrioridad {margin-top: 5px;}
#inicio #sectorPrioridad .ayuda ul[type="dots"] {padding: 7px;}
#inicio #sectorPrioridad .ayuda ul li {padding: 0; line-height: 1;}
#inicio #sectorPrioridad .ayuda ul li.nivel1 {margin-top: 4px; margin-bottom: 2px;}
#inicio #sectorPrioridad .ayuda ul li.nivel1:first-child {margin-top: 0;}
#inicio #sectorPrioridad .ayuda ul.nivel2 {padding-left: 25px;}
#inicio #sectorPrioridad .ayuda ul.nivel2 li {margin-bottom: 2px;}

/* Sexo */
#inicio #sectorSexo {margin-top: 10px;}
#inicio #sectorSexo .opciones {margin-left: 10px;}
#inicio #sectorSexo .opciones .ayuda ul {max-width: 200px;}

/* Época */
#sectorEpoca .opciones {justify-content: center; }
#sectorEpoca .opciones .ayuda {position: static; translate: 5px 0px;}
#sectorEpoca .opciones input {align-self: center;}

/* Relación con la Iglesia Católica */
#sectorRCLIC #soloCFC {margin-bottom: 5px;}
#sectorRCLIC .pregunta {font-size: 1.10rem;}
#sectorRCLIC .siNo {width: 70px; justify-content: space-between;}
#sectorRCLIC .personajes .siNo {margin-left: 10px;}
#sectorRCLIC .hechos .siNo {margin-right: 10px;}

/* 1. Año (personajes y hechos) */
#sectorEpoca:not(
	:not(:has(.opciones input#pst:checked)), /* epoca = 'pst' */
	:has(.opciones input.noPST:checked)      /* ninguna otra opción está 'checked' */
) .invisible {visibility: visible;}

/* 2. PreguntasRCLIC (personajes) */
#dataEntry:has(.personajes #categoria_id input#CFC:checked) /* la categoría es 'CFC' */
	#preguntasRCLIC.invisible {visibility: visible;}

#dataEntry:has(#sectorSexo input:checked)                       /* contestó 'sexo' */
	#preguntasRCLIC .segunSexo_id.invisible {visibility: inherit;}

/* 3. PreguntasRCLIC (hechos) */
#dataEntry:has(.hechos #soloCFC input#SI:checked)            /* --> si soloCFC='SI' */
	#preguntasRCLIC.invisible {visibility: visible;}

/* Temas de ayuda */
#dataEntry ul#ayudaNombrePers {max-width: 400px;}
#dataEntry ul#ayudaNombrePers ul {padding-left: 20px;}

/* Submit button */
#dataEntry .flechas {margin: 20px 0 0;}
