<div id="icono-usuario" class="scale" <% if (locals.usuario) { %>title="Hola <%= locals.usuario.apodo %>"<% } %>>
	<% if (locals.usuario) { %>
		<% if (usuario.avatar) { %>
			<div id="imagenUsuario">
				<img src="/imagenes/1-Usuarios/<%= usuario.avatar %>" class="despl_click">
			</div>
		<% } else if (usuario.nombre != null) { %>
			<i id="letraInicial" class="despl_click iconoHeader">
				<%= usuario.nombre.slice(0,1).toUpperCase() %>
			</i>
		<% } else { %>
			<i class="fa-solid fa-circle-user despl_click iconoHeader"></i>
		<% } %>
	<% } else { %>
		<a href="/usuarios/login">
			<i class="fa-regular fa-circle-user iconoHeader" title="Login/Registrarse"></i>
		</a>
	<% } %>
</div>
