<div id="menuCapacitac" class="desplMostrar menuMostrar menuFondo ocultar menuDerecha">
	<% for (const menu of menuCapacitac) { %>
		<% // Revisa si se necesita algún permiso para mostrar el menú %>
		<% for (const permiso of rolesUs.map(n => n.codigo)) { %>
			<% if (menu[permiso] && (!locals.usuario || !usuario.rolUsuario[permiso])) { continue } %>
		<% } %>

		<% if (menu.hr) { %><hr><% } %>

		<p id="<%= menu.codigo %>" class="menuOpcion pointer">
			<i class="fa-solid icono <%= menu.icono %>"></i>
			<span><%= menu.titulo %></span>
		</p>

	<% } %>
</div>
