<div id="menuMobile" class="desplMostrar menuMostrar menuFondo ocultar">
	<a href="/institucional/quienes-somos" class="menuOpcion">
		<div>
			<i class="fa-solid icono fa-people-group"></i>
		</div>
		<span>ELC - Quiénes somos</span>
	</a>
	<a href="/consultas" class="menuOpcion">
		<div>
			<img src="/imagenes/Varios/Movie.jpg" height="20">
		</div>
		<span>Quiero elegir una película</span>
	</a>
	<div class="menuOpcion">
		<div>
			<i class="fa-solid icono fa-magnifying-glass"></i>
		</div>
		<span>Búsqueda rápida</span>
	</div>
	<% if (locals.usuario) { %>
		<div class="menuOpcion">
			<% const avatarUsuario = usuario.avatar ? (archSinVersion + "1-Usuarios/Avatar/"+ usuario.avatar) : "/imagenes/Avatar/Usuario-SinRostro.jpg" %>
			<div>
				<img src="<%= avatarUsuario %>" height="20">
			</div>
			<span>Menú de usuario</span>
		</div>
	<% } else { %>
		<a href="/usuarios/login" class="menuOpcion">
			<div>
				<i class="fa-regular fa-circle-user iconoHeader" title="Login/Registrarse"></i>
			</div>
			<span>Login</span>
		</a>
	<% } %>
</div>
