<div id="menuCapacitac" class="desplMostrar menuMostrar menuFondo ocultar menuDerecha">
	<% for (const video of menuCapacitac) { %>
		<% let interrumpir = !video.actualizado %>

		<% // Revisa si se necesita algún permiso para mostrar el menú %>
		<% for (const permiso of rolesUs.map(n => n.codigo)) { %>
			<% if (video[permiso] && (!locals.usuario || !usuario.rolUsuario[permiso])) { interrumpir = true } %>
		<% } %>
		<% if (interrumpir) { break } %>

		<% if (video.hr) { %><hr><% } %>

		<p id="<%= video.codigo %>" class="menuOpcion pointer">
			<i class="fa-solid icono <%= video.icono %>"></i>
			<span><%= video.titulo %></span>
		</p>

	<% } %>
</div>
