<div class="despl_mostrar menu_mostrar menuFondo ocultar">
	<a href="/" class="menu_opcion">
		<i class="fa-solid fa-house icono"></i>
		<span>Inicio</span>
	</a>
	<hr>
	<a href="/quienes-somos" class="menu_opcion">
		<i class="fa-solid fa-people-group icono"></i>
		<span>Quiénes somos</span>
	</a>
	<a href="/mision-y-vision" class="menu_opcion">
		<i class="fa-solid fa-person-walking icono"></i>
		<span>Nuestra Misión y Visión</span>
	</a>
	<a href="/valores" class="menu_opcion">
		<i class="fa-solid fa-trophy icono"></i>
		<span>Nuestros Valores</span>
	</a>
	<hr>
	<a href="/derechos-de-autor" class="menu_opcion">
		<i class="fa-solid fa-copyright icono"></i>
		<span>Política sobre Derechos de Autor</span>
	</a>
	<a href="/data-entry" class="menu_opcion">
		<i class="fa-regular fa-keyboard icono"></i>
		<span>Política de Data-Entry</span>
	</a>
	<!-- <hr>
	<a href="#" class="menu_opcion">
		<span class="icono" id="ELC">ELC</span>
		<span>Grupo ELC</span>
	</a> -->
	<!-- <a href="#" class="menu_opcion inactivo">
		<i class="fa-solid fa-person-walking icono"></i>
		<span>Nuestra Historia</span>
	</a> -->
</div>
