<div class="desplMostrar menuMostrar ocultar">
	<input name="inputBR" type="text" placeholder="Escribí más de 3 letras">
	<div id="muestraResultados" class="ocultar"></div>
	<p id="escribiMas" class="ocultar">Por favor escribí algo más...</p>
</div>
