<p id="tapar-el-fondo"></p>
<form action="<%= link %>" method="POST" id="data_entry">
	<h1>Login</h1>
	<!--Mail y Contraseña-->
	<div class="label-input flex-row">  <!--Mail-->
		<label for="email">E-Mail</label>
		<div class="form-grupo">
			<input type="text" class="input" name="email" placeholder="Correo Electrónico"
				value="<%= data_entry ? data_entry.email : null %>">
			<!-- Errores -->
			<i class="fas fa-times-circle ocultar"><span class="mensajeError"></span></i>
			<i class="fas fa-check-circle ocultar"></i>
		</div>
	</div>
	<div class="label-input flex-row">  <!--Contraseña-->
		<label for="contrasena">Contraseña</label>
		<div class="form-grupo">
			<input type="password" class="input" name="contrasena"
				value="<%= data_entry ? data_entry.contrasena : null %>" placeholder="Contraseña"
			>
			<i class="fas fa-eye-slash" id="eye"></i>
			<!-- Errores -->
			<i class="fas fa-times-circle ocultar"><span class="mensajeError"></span></i>
			<i class="fas fa-check-circle ocultar"></i>
		</div>
	</div>
	<br>
	<div class="flex-col">   <!--Credenciales Inválidas-->
		<p class="resultadoInvalido<%- !errores.credencialesInvalidas ? ' ocultar' : '' %>">Credenciales inválidas</p>
	</div>
	<div id="buttons" class="flex-row"><!--Botones-->
		<button type="submit" autofocus>Aceptar</button>
		<a href="/"><button type="button" id="cancelar">Cancelar</button></a>
		<a href="#"><button type="button">Olvidé mi contraseña</button></a>
	</div>
</form>