/* Flexbox */
.align-center {align-items: center;}
.flex-col {display: flex; flex-direction: column;}
.flex-row {display: flex; flex-direction: row;}
.flex-row-reverse {display: flex; flex-direction: row-reverse;}
.grow {flex-grow: 1;}
.space-between {justify-content: space-between;}
.space-evenly {justify-content: space-evenly;}
.space-around {justify-content: space-around;}
.justify-center {justify-content: center;}
.wrap {flex-wrap: wrap;}

/* Otras */
.absolute {position: absolute}
.relative {position: relative;}
.pointer {cursor: pointer;}
.border {border: red 1px solid}
.ocultar, .inactivo_ocultar, .ocultarTipo {display: none}
.invisible {visibility: hidden;}
.bloqueado {background-color: var(--celeste-oscuro);}
.inactivo, .inactivo * {cursor: default;}
.inactivo {opacity: .5; border-color: transparent;}
.rojo {color: var(--rojo-oscuro); font-weight: bold;}
