<li id="ingrManual">
	<a href="/producto/agregar/palabras-clave">
		<button type="text" class="flexRow" autofocus>
			<img class="imagenChica" src="/publico/imagenes/Avatar/Prod-Generico.jpg" alt="Ingresaré los datos a mano" title="Ingresaré los datos a mano">
			<div id="infoPeli" class="flexCol">
				<p>No tenemos películas sobre es<%= ea + " " + entidadNombre %>.</p>
				<br>
				<p>¿Tenés alguna para agregar?</p>
			</div>
		</button>
	</a>
</li>