<div id="tituloPrincipal">
	<h1 id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
</div>
<div class="flexCol" id="dataEntry">
	<div id="tituloSecundario">
		<h2 id="paso2">Ingreso Manual</h2>
	</div>
	<form method="POST">
		<!-- Datos a completar -->
		<section id="datos">
			<!-- Tipo de Producto -->
			<h3>Tipo de Producto</h3>
			<select name="entidad" class="input" autofocus>
				<option value="" selected>Elegí una opción</option>
				<% for (entidad of entidades) { %>
					<option value="<%= entidad.codigo %>" <% if (dataEntry.entidad == entidad.codigo) { %>selected<% } %>>
						<%= entidad.nombre %>
					</option>
				<% } %>
			</select>
			<!-- Datos del capítulo -->
			<div class="invisible">
				<!-- Datos del capítulo -->
				<h3>Nombre de la Colección</h3>
				<div class="inputError">
					<select name="coleccion_id" class="input" disabled>
						<option value="">Elejí una opción</option>
					</select>
					<!-- Ayuda -->
					<div class="ayuda">
						<i class="fa-solid fa-circle-question ayudaClick desplClick">
							<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
								<li>Buscá entre las colecciones que tenemos en nuestra Base de Datos</li>
								<li>Si no la encontrás, vamos a necesitar que la agregues antes que el capítulo</li>
							</ul>
						</i>
					</div>
				</div>
				<h3>Número de Temporada</h3>
				<div class="inputError">
					<!-- Data Entry -->
					<select name="temporada" class="input" disabled>
						<option value="">Elejí una opción</option>
					</select>
					<!-- Ayuda -->
					<div class="ayuda">
						<i class="fa-solid fa-circle-question ayudaClick desplClick">
							<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
								<li>Se muestran todas las temporadas según nuestra base de datos, y una más</li>
							</ul>
						</i>
					</div>
				</div>
				<h3>Número de Capítulo</h3>
				<div class="inputError">
					<select name="capitulo" class="input" disabled>
						<option value="">Elejí una opción</option>
					</select>
					<!-- Ayuda -->
					<div class="ayuda">
						<i class="fa-solid fa-circle-question ayudaClick desplClick">
							<ul class="ayudaMostrar ocultar desplMostrar" type="none">
								<li>Se muestran solamente los capítulos que no tenemos en nuestra base de datos</li>
							</ul>
						</i>
					</div>
				</div>
			</div>
		</section>
		<!-- Flechas -->
		<section class="iconos">
			<a href="/producto/agregar/desambiguar" tabindex="-1" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
			<button class="inactivo submit" type="submit" title="Avanzar"><i class="fa-solid fa-circle-check"></i></button>
			<% if (autorizadoFA) { %>
				<label class="inactivo submit" for="inputSubmit" title="Avanzar mediante Film Affinity">
					<img src="/publico/imagenes/Logos-gral/BD-FA.jpg" alt="FA" height="30px">
				</label>
				<% const cola = (!urlActual.includes("/?") ? "/?" : "&") + "ingreso_fa=true" %>
				<input id="inputSubmit" type="submit" class="submit" formaction="<%= urlActual + cola %>" formmethod="post" >
			<% } %>
		</section>
	</form>
</div>
