/* Estándares para check y xmark */
.fa-circle-check, .fa-circle-xmark {background-color: var(--backIcono); border: 1px solid var(--backIcono);}
.fa-circle-check, .fa-circle-xmark {border-radius: 50%;}
.fa-circle-check {color: var(--verde-oscuro);}
.fa-circle-xmark {color: var(--rojo-oscuro);}

/* inputError */
.inputError {align-items: center; z-index: 2}
.inputError .errores {position: absolute; z-index: 2}
.inputError .errores {top: 50%; transform: translate(100%, -50%);}

.errores .fa-circle-check, .errores .fa-circle-xmark {font-size: 1rem;}
.errores .fa-circle-check {cursor: default;}
.errores .fa-circle-xmark {position: relative; z-index: 2;}
.errores .fa-circle-xmark:hover .mensajeError {display: inline;}

/* mensajeError */
.errores .fa-circle-xmark .mensajeError,
.errores .fa-circle-xmark .mensajeError::before {position: absolute; top: 50%; z-index: 2;}
.errores .fa-circle-xmark .mensajeError {display: none; right: -6px; transform: translate(100%,-50%);}
.errores .fa-circle-xmark .mensajeError {max-width: 200px; width: max-content;}
.errores .fa-circle-xmark .mensajeError {border-radius: 10px; padding: 3px 7px;}
.errores .fa-circle-xmark .mensajeError {font-size: 1rem; font-weight: normal;}
.errores .fa-circle-xmark .mensajeError {line-height: 1.2rem; text-align: left;}
.errores .fa-circle-xmark .mensajeError {color: var(--colorMensajeError); background-color: var(--backMensajeError); border: var(--colorMensajeError) solid 2px;}
.errores .fa-circle-xmark .mensajeError::before {transform: translate(-100%,-50%);}
.errores .fa-circle-xmark .mensajeError::before {border-color: transparent var(--rojo-oscuro) transparent transparent;}
.errores .fa-circle-xmark .mensajeError::before {left: -1px; content: ""; border-width: 6px; border-style: solid;}

/* Mensajes */
.resultadoExitoso, .resultadoInvalido {padding: 3px 10px; color: white; text-align: center;}
.resultadoExitoso {background-color: var(--verde-oscuro); font-weight: bold;}
.resultadoInvalido {background-color: var(--rojo-oscuro);}
.resultadoEnEspera {background-color: var(--gris-oscuro);}
.resultadoEnEspera, .sinResultado {padding: 3px 10px; color: white; font-weight: bold;}
/* Neutro */

/* ********************************* */
.link {background-color: var(--gris-oscuro); color: var(--gris-claro); text-align: center; border-radius: 50%; font-weight: bold; line-height: 1; padding: 1px; }
