/* Comunes entre Errores y Ayuda */
#cuerpo .ayuda , .inputError .errores {right: -7.5px; line-height: 1rem; font-size: 1rem;}

/* Zona Título */
#cuerpo #tituloPrincipal, #dataEntry #tituloSecundario {align-self: flex-start; z-index: 3;}

/* Formato del título */
#cuerpo #tituloPrincipal #titulo {background-color: var(--backTitulo); color: var(--colorTitulo);}
#cuerpo #tituloPrincipal #titulo {border-width: 2px; border-style: solid; border-color: transparent var(--borderTitulo)  var(--borderTitulo) transparent}
#cuerpo #tituloPrincipal #titulo {font-size: 1.20rem;font-family: var(--Arial); font-weight: bold;}
#cuerpo #tituloPrincipal #titulo {padding: 8px 10px; margin: 0; line-height: 1.2rem;}
#cuerpo #tituloPrincipal #titulo {border-bottom-right-radius: 10px;}

/* Formato del mensaje del Título Principal y Secundario*/
#cuerpo #tituloPrincipal, #cuerpo #tituloSecundario {position: relative;}
#cuerpo #tituloPrincipal .ayudaMostrar {top: -5px; transform: translateX(100%); max-width: 350px;}
#cuerpo #tituloPrincipal .ayudaMostrar::before {top: 5px;}
#cuerpo #tituloSecundario .ayudaMostrar {top: 50%; transform: translate(100%,-50%); max-width: 350px;}
#cuerpo #tituloSecundario .ayudaMostrar::before {top: 50%; transform: translateY(-50%);}

/* Formato del ícono compartido */
#cuerpo .ayudaClick {position: relative;}
#cuerpo .ayudaClick {font-size: 1rem; border-radius: 50%;}
#cuerpo .ayudaClick {background-color: var(--colorAyuda); color: var(--backAyuda); border: 1px solid var(--colorAyuda);}

/* Formato del mensaje compartido */
#cuerpo .ayudaMostrar, #cuerpo .ayudaMostrar::before {position: absolute; cursor: default;}
#cuerpo .ayudaMostrar, #cuerpo .ayudaMostrar * {background-color: var(--backAyuda); color: var(--colorAyuda);}
#cuerpo .ayudaMostrar {right: -5px; width: max-content; padding: 7px 10px;}
#cuerpo .ayudaMostrar {font-weight: normal; font-size: 1rem; line-height: 1.2rem; text-align: left;}
#cuerpo .ayudaMostrar {border-radius: 6px; border: 1px var(--borderAyuda) solid;}
#cuerpo .ayudaMostrar::before {border-color: transparent var(--backAyuda) transparent transparent;}
#cuerpo .ayudaMostrar::before {left: -10px; content: ""; border-width: 5px; border-style: solid;}
#cuerpo ul[type="dots"].ayudaMostrar li {list-style-position: outside; margin-left: 15px;}
#cuerpo .ayudaMostrar li {padding: 3px 0; margin-left: 0;}

/* Formato del mensaje fuera del tituloPrincipal */
#cuerpo .inputError .ayuda {position: absolute; z-index: 3; display: flex;}
#cuerpo .inputError .ayuda {transform: translate(100%,-50%); top: 50%;}
#cuerpo .inputError .ayuda .ayudaMostrar,
#cuerpo .inputError .ayuda .ayudaMostrar::before {top: 50%;}
#cuerpo .inputError .ayuda .ayudaMostrar {transform: translate(100%, -50%); max-width: 250px;}
#cuerpo .inputError .ayuda .ayudaMostrar::before {transform: translateY(-50%);}

/* ******************************************* */
