<div id="flechas">
	<i class="fa-solid fa-circle-info <%- vista == "/producto_rud/detalle/" ? "inactivo" : "" %>" tabindex="-1" title="Ir a la vista 'Detalle'"></i>
	<i class="fa-solid fa-pen <%- vista == "/producto_rud/edicion/" ? "inactivo" : ""%>" tabindex="-1" title="Ir a la vista 'Edición'"></i>
	<i class="fa-solid fa-link <%- vista == "/producto_rud/links/" ? "inactivo" : "" %>" tabindex="-1" title="Ir a la vista 'Links'"></i>
</div>
