<section id="cuerpo">
	<%- codigo == "tableroControl" ? include("0-Tablero-Control") : "" %>
	<%- codigo == "RCLV" ? include("2-RCLV") : "" %>
	<%- codigo == "links" ? include("3-Links") : "" %>
</section>
