<section id="cuerpo">
	<%- codigo == "tableroControl" ? include("1-Tablero-Control") : "" %>
	<%- codigo == "RCLV" ? include("3-RCLV") : "" %>
	<%- codigo == "links" ? include("4-Links") : "" %>
</section>
