<section id="cuerpo">
	<%- codigo == "tableroControl" ? include("RV0-Tablero-Control") : "" %>
	<%- codigo == "RCLV" ? include("RV2-RCLV") : "" %>
	<%- codigo == "links" ? include("RV3-Links") : "" %>
</section>
