/* Gráficos */
#segundaColumna .temas:has(#grafico) {
	margin-top: 10px; padding: 0;
	#cuadro {
		border-radius: 15px; overflow: hidden; transition: 300ms;
		&:has(a):hover {scale: 1.05}
		#algunosDatos {text-align: center; background: var(--amarillo-claro);}
	}
}