/* Botón de imagen */
input#inputImagen {display:none}
#cuerpo form #labelImagen {color: var(--azul-oscuro); background-color: white;}
#cuerpo form #divImagen label {cursor: pointer; margin-right: 0px; line-height: normal;}

/* Imagen */
#cuerpo form #divImagen {width: 200px;align-items: center;}
#preview img {border-radius: 15px; max-width: 200px; max-height: 150px;}

/* Credenciales inválidas*/
#cuerpo form .resultadoInvalido {border-radius: 7px; margin: 15px auto 0px; font-style: italic; max-width: fit-content;}
