/* Botón de imagen */
input#inputImagen {display:none}
#cuerpo form #labelImagen {color: var(--azul-oscuro); background: white;}
#cuerpo form #divImagen label {cursor: pointer; margin-right: 0px; width: inherit;}
#cuerpo form #divImagen label {display: flex; flex-direction: row; justify-content: center;}

/* Imagen */
#cuerpo form #divImagen {width: 200px;align-items: center;}
#preview img {border-radius: 15px; max-width: 200px; max-height: 150px;}
