#RUD.cuerpo {
	background-color: var(--gris-claro);
	flex-grow: 1;
}

#imagenProducto {display: flex; flex-direction: column; justify-content: center; background-color: var(--gris-claro);}
#imagenProducto img {max-height: 100%; max-width: 40vw; }
