/* Cuerpo */
main #cuerpo {background-color: var(--gris-claro); display: flex; flex-direction: column; flex-grow: 1;}

/* Título */
main #cuerpo {position: relative;}
main #cuerpo #titulo {position: absolute; top: 0; left: 0; border-bottom-right-radius: 10px;}
main #cuerpo #titulo {background-color: var(--gris-oscuro); color: var(--gris-claro)}

/* Encabezado */
main #cuerpo #encabezado {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
main #cuerpo #encabezado #nombres h1 {margin: 0; }
main #cuerpo #encabezado #colCap, main #cuerpo #encabezado #colCap #tempCap {text-align: right;}
main #cuerpo #encabezado #colCap #tempCap {margin-top: 5px;}
main #cuerpo #encabezado #colCap #tempCap #capitulo {margin-left: 5px;}

/* Imagen */
main #imagen {display: flex; flex-direction: column; justify-content: center; background-color: var(--gris-claro);}
main #imagenProducto img {max-height: 90.5vh;}
main #imagenProducto img {width: 30vw;}

/* Ayuda */
.mensajeAyuda {padding: 7px 10px; z-index: 2;}
.mensajeAyuda {background-color: var(--gris-oscuro); color: var(--gris-claro);}

/* Comandos y Flechas */
#cuerpo .botonInactivo, #cuerpo .botonInactivo * {cursor: default;}
#cuerpo #comandos, #cuerpo #flechas {background-color: var(--azul-oscuro);}
#cuerpo #comandos, #cuerpo #flechas {display: flex; flex-direction: row; justify-content: space-between;}
#cuerpo #comandos, #cuerpo #flechas {margin: 0 auto; padding: 7px 5px; border-radius: 15px;}
#cuerpo #comandos i, #cuerpo #flechas i {color: white; font-size: 1.25rem; cursor: pointer;}

/* Comandos - Particularidades */
#cuerpo #comandos {background-color: var(--verde-oscuro);}

/* Flechas - Particularidades */
#cuerpo #flechas i, #cuerpo #flechas .pack {margin: 0 15px;}
#cuerpo #flechas .pack i {margin: 0 0px;}
