/* Datos */
#datos {display: flex; flex-direction: row; flex-grow: 1;}

/* Datos Largos */
#datosLargos {display: flex; flex-direction: column; justify-content: space-between; padding: 40px 40px 20px;}
#datosLargos #contenido h1 {font-size: 1.5rem;}
#datosLargos #contenido h1 em {font-size: 1.1rem;}
#datosLargos #contenido .datosAdicionales {margin-top: 10px;}

/* Sinopsis - General y Texto*/
#datosLargos #contenido #sinopsis {border: var(--gris-oscuro) 5px solid; box-shadow: 0px 0px 10px rgb(100 100 100); position: relative;}
#datosLargos #contenido #sinopsis {margin: 10px 15px 5px; padding: 15px 20px; border-radius: 15px; background-color: var(--amarillo-claro);}
#datosLargos #contenido #sinopsis nav {font-size: 1.1rem; max-height: 125px; overflow-y: scroll;}
/* Sinopsis - Ayuda */
#sinopsis .fa-question-circle, #sinopsis .mensajeAyuda, #sinopsis .mensajeAyuda::before {position: absolute; z-index: 2;}
#sinopsis .fa-question-circle {top: 25px; right: -25px; transform: translateY(-50%);}
#sinopsis .mensajeAyuda {top: 25px; right: -32px; width: 200px; transform: translate(100%, -50%);}
#sinopsis .mensajeAyuda::before {left: -10px; top: 50%; transform: translateY(-50%);}
#sinopsis .mensajeAyuda::before {border: 5px solid; border-color: transparent var(--gris-oscuro) transparent transparent; content: "";}
/* Sinopsis - Ocultar la 'side-bar' */
#datosLargos #contenido #sinopsis nav::-webkit-scrollbar {display: none;  /* Safari and Chrome */}
#datosLargos #contenido #sinopsis nav {-ms-overflow-style: none; /* Internet Explorer 10+ */scrollbar-width: none; /* Firefox */}

/* Comandos y Flechas */
#cuerpo #comandos, #cuerpo #flechas {display: flex; flex-direction: row; justify-content: space-between;}
#cuerpo #comandos, #cuerpo #flechas {margin: 0 auto; padding: 7px 15px; border-radius: 15px;}
#cuerpo #comandos i, #cuerpo #flechas i {color: white; font-size: 1.25rem; cursor: pointer; margin: 0 15px;}
#cuerpo #comandos i:first-child, #cuerpo #flechas i:first-child {margin-left: 0;}
#cuerpo #comandos i:last-child, #cuerpo #flechas i:last-child {margin-right: 0;}

/* Comandos - Particularidades */
#cuerpo #comandos {background-color: var(--verde-oscuro);}

/* Flechas - Particularidades */
#cuerpo #flechas {background-color: var(--azul-oscuro);}

/* Datos Breves */
#datosBreves {display: flex; flex-direction: column; justify-content: center; flex-grow: 1; width: max-content; }
#datosBreves #graficoCalificacion {width:180px;}
#datosBreves #texto {margin-right: 15px;}
#datosBreves #texto dt, #datosBreves #texto p {margin-top: 10px;}
#datosBreves #texto dt {font-weight: bold;}
