/* Cuerpo */
main form {display: flex; flex-direction: row-reverse; flex-grow: 1;}
#cuerpo {position: relative;}

/* Contador */
#cuerpo #contador {position: absolute; right: 0px; top: 0px; padding: 3px 7px; border-bottom-left-radius: 5px;}
#cuerpo #contador {color: var(--gris-claro); background-color: var(--verde-oscuro); border: solid 2px var(--verde-oscuro); border-top: none; border-right: none;}
#cuerpo #contador {font-size: 1.1rem; font-weight: bold;}

/* Cuerpo del formulario */
#datos {padding: 60px 70px 0 50px; display: flex; flex-direction: row; justify-content: space-between;}
.mensajeError, .mensajeError::before, .mensajeAyuda, .mensajeAyuda::before,
#datos .fa-check-circle, .fa-question-circle, .fa-times-circle, .linkRCLV
	{position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}

/* Columnas */
/* #datos #primeraColumna, #datos #segundaColumna {border: red solid 2px} */
#datos #primeraColumna {width: 40%;}
#datos #primeraColumna .label-input .input-error .input {align-self: center; width: 200px;}
#datos #primeraColumna .label-input .input-error .input.angosto {width: 70px}
#datos #primeraColumna .label-input .input-error .input.numero {width: 70px; text-align: right;}
#datos #segundaColumna {width: 50%;}
#datos #segundaColumna .label-input .input-error .input {align-self: center; width: 280px;}

/* Inputs, Select, Textarea */
#datos .label-input .input-error .input,
#datos .label-input .input-error input#mostrarPaises {border-width: .7px; border-radius: 5px; background-color: white;}

/* Partes específicas del formulario */
#datos h3 {margin-top: 15px; color: var(--verde-oscuro);}
#datos section h3:first-child {margin-top: 0;}
#datos .label-input {display: flex; flex-direction: row; justify-content: space-between; margin-top: 3px;}
#datos .label-input label {margin: 2px 15px 0 0; font-weight: bold; min-height: 19px;}
#datos .label-input .input-error {position: relative; margin-left: 5px; display: flex; flex-direction: row;}
#datos .label-input .input-error input {padding: 0px 5px;}
#datos .label-input .input-error select {padding: 0;}
#datos .label-input .input-error textarea {padding: 0px 5px; resize:none;}
#datos .label-input#textarea .input-error {width: 100%; margin-left: 0;} 
#datos #segundaColumna #textarea textarea {width: 100%;}
#datos .label-input .input-error .linkRCLV {right: -40px; width: 15px;}

/* País */
#datos #paises_id {align-items: center;}
#datos #paises_id .input-error {width: 200px;}
#datos #paises_id .input-error input#mostrarPaises,
#datos #paises_id .input-error select {position: absolute; top:0; transform: translateY(-50%); height: 18px; border-radius: 5px; border-top-right-radius: 0; border-bottom-right-radius: 0;}

#datos #paises_id .input-error #mostrarPaises {width: 180px; z-index: 1; padding: 0 5px;}
#datos #paises_id .input-error select {width: 100%; padding: 0;}

/* Links a Trailer y Película */
#datos #links {display: flex; flex-direction: row; margin-top: 20px; align-items: center;}
#datos #links button {margin-left: 20px; padding: 2px 5px; border-radius: 10px;}
#datos #links button {background-color: var(--azul-oscuro); color: var(--gris-claro); font-weight: bold;}

/* Todos los mensajes */
.mensajeError, .mensajeError::before, 
.mensajeAyuda, .mensajeAyuda::before {z-index: 1; line-height: 1.2rem;}
.mensajeError, .mensajeAyuda {max-width: 200px; left: 20px;}
.mensajeError::before, .mensajeAyuda::before {left: -12px;}

/* Mensajes de ayuda */
#datos .mensajeAyuda {right: -25px; padding: 7px 10px; transform: translate(100%, -50%);}
#datos .mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}
#datos .fa-question-circle {right: -20px;}

/*  Mensajes de error*/
#datos .mensajeError {left: 20px; }
#datos .fa-times-circle, #datos .fa-check-circle {right: -20px;}
#datos .fa-times-circle {z-index: 1;}

/* Flechas - General*/
#flechas {display: flex; flex-direction: row; justify-content: space-between;}
#flechas {margin: 20px auto 0; padding: 7px 12px; width: 45%; border-radius: 15px;}
#flechas {border: solid 2px var(--azul-oscuro); background-color: var(--celeste-oscuro);}

/* Flechas - Particularidades */
#flechas button {background-color: transparent; border: none; padding: 0; border-radius: 50%;}
#flechas .fas {color: var(--gris-oscuro); font-size: 1.5rem; cursor: pointer;}
#flechas .fas.botonSinLink, #flechas .botonSinLink .fas {cursor: default;}

/* Flechas - Grupo con slash */
#flechas .tres {width: 75px; position: relative;}
#flechas .tres .fas1 {position: absolute; left: 0;}
#flechas .tres .fas2 {display: flex; flex-direction: row; justify-content: center; cursor: default;}
#flechas .tres .fas2.fa-slash {transform: rotate(85deg);}
#flechas .tres .fas3 {position: absolute; right: 0; top: 0;}