/* Temas generales */
main form {display: flex; flex-direction: row-reverse; flex-grow: 1; position: relative;}
main form .input-error {position: relative; display: flex; flex-direction: row;}

/* Contador */
form #cuerpo #contador {position: absolute; right: 0px; top: 0px; padding: 3px 7px; border-bottom-left-radius: 5px;}
form #cuerpo #contador {color: var(--gris-claro); background-color: var(--verde-oscuro); border: solid 2px var(--verde-oscuro); border-top: none; border-right: none;}
form #cuerpo #contador {font-size: 1.1rem; font-weight: bold;}

/* Imagen */
form #imagen .fas, form #imagen .mensajeError, form #imagen .mensajeAyuda
	{left: 50%; }
form #imagen .fas {font-size: 4rem; background-color: white; border-radius: 50%; transform: translate(-50%,-50%);}
form #imagen .mensajeError, form #imagen .mensajeAyuda {top: 56%; transform: translateX(-50%);}

/* Datos del formulario */
#datos {padding: 60px 70px 0 50px; display: flex; flex-direction: row; justify-content: space-between;}
#datos #primeraColumna {width: 40%;}
#datos #segundaColumna {width: 45%;}
#datos #primeraColumna .label-input .input-error .input {width: 200px;}
#datos #primeraColumna .label-input .input-error .input.angosto {width: 70px}
#datos #primeraColumna .label-input .input-error .input.numero {width: 70px; text-align: right;}
#datos #segundaColumna .label-input .input-error .input {width: 250px;}

/* Partes específicas del formulario */
#datos .label-input .input-error .input,
#datos .label-input .input-error input#mostrarPaises {border-width: .7px; border-radius: 5px; background-color: white;}
#datos .input-error {margin-left: 5px;}
#datos h3 {margin-top: 15px; color: var(--verde-oscuro);}
#datos section h3:first-child {margin-top: 0;}
#datos .label-input {display: flex; flex-direction: row; justify-content: space-between; margin-top: 3px;}
#datos .label-input label {margin: 2px 15px 0 0; font-weight: bold; min-height: 19px;}
#datos .label-input .input-error .input {align-self: center;}
#datos .label-input .input-error input {padding: 0px 5px;}
#datos .label-input .input-error select {padding: 0;}
#datos .label-input .input-error .linkRCLV {right: -40px; width: 15px; cursor: pointer;}

/* País */
#datos #paises_id {align-items: center;}
#datos #paises_id .input-error {width: 200px; min-width: 200px;}
#datos #paises_id .input-error input#mostrarPaises,
#datos #paises_id .input-error select {position: absolute; top:0; transform: translateY(-50%); height: 18px; border-radius: 5px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
#datos #paises_id .input-error #mostrarPaises {width: 180px; z-index: 1; padding: 0 5px;}
#datos #paises_id .input-error select {width: 100%; padding: 0;}

/* Links a Trailer y Película */
#datos #links {display: flex; flex-direction: row; margin-top: 20px; align-items: center;}
#datos #links button {margin-left: 20px; padding: 2px 5px; border-radius: 10px;}
#datos #links button {background-color: var(--azul-oscuro); color: var(--gris-claro); font-weight: bold;}

/* Sinopsis */
#datos .label-input#sinopsis .input-error {width: 100%; margin-left: 0;} 
#datos #segundaColumna #sinopsis textarea {width: 100%; padding: 5px 10px; resize: none;}
#datos #segundaColumna #sinopsis textarea.input::-webkit-scrollbar {display: none;}

/* Todos los mensajes */
.mensajeError, .mensajeError::before, 
.mensajeAyuda, .mensajeAyuda::before {z-index: 1; line-height: 1.2rem;}
.mensajeError, .mensajeError::before, .mensajeAyuda, .mensajeAyuda::before, .input-error .fas, 
.linkRCLV {position: absolute; transform: translateY(-50%); top: 50%; font-size: 1rem;}
.mensajeError {max-width: 200px; left: 20px;}
.mensajeAyuda {max-width: 300px;}
.mensajeError::before {left: -12px;}
.mensajeAyuda::before {left: -20px;}
.mensajeAyuda li {list-style-position: outside; margin-left: 15px; padding: 3px 0;}

/* Mensajes de ayuda */
#datos .fa-question-circle {right: -20px;}
#datos .mensajeAyuda {right: -25px; transform: translate(100%, -50%);}

/*  Mensajes de error*/
#datos .mensajeError {left: 20px; }
#datos .fa-times-circle, #datos .fa-check-circle {right: -20px;}
#datos .fa-times-circle {z-index: 1;}

/* Flechas - General*/
#cuerpo #flechas {display: flex; flex-direction: row; justify-content: space-between;}
#cuerpo #flechas {margin: 20px auto 0; padding: 10px 15px; width: 45%; border-radius: 15px;}
#cuerpo #flechas {border: solid 2px var(--azul-oscuro); background-color: var(--celeste-oscuro);}

/* Flechas - Particularidades */
#cuerpo #flechas button {background-color: transparent; border: none; padding: 0; border-radius: 50%;}
#cuerpo #flechas i  {color: var(--gris-oscuro); font-size: 1.5rem; cursor: pointer;}
#cuerpo #flechas .botonInactivado, #cuerpo #flechas .botonInactivado * {cursor: default;}

/* Flechas - Grupo con slash */
#cuerpo #flechas .pack {display: flex; flex-direction: row; justify-content: center;}
#cuerpo #flechas .pack .fa-slash {transform: rotate(85deg); cursor: default;}
