/* Temas generales */
main #cuerpo {justify-content: space-between; padding: 40px 40px 20px;}
main #cuerpo h1 {margin: 0;}
#cuerpo #datos {display: flex; flex-direction: column; align-items: flex-start;}

/* Temas generales de las tablas */
#datos form {align-self: center;}
#datos form table {border-collapse: collapse; border: 2px solid var(--verde-ingles);}
#datos form table * {font-size: 1.1rem;}
#datos form table thead tr th {background-color: var(--verde-ingles); color: var(--amarillo-claro);}
#datos table thead tr th, #datos table tbody tr td {text-align: center; padding: 5px; vertical-align: middle;}

/* Tablas - Logo del proveedor */
#datos table .logoProv {width: 90px; padding: 0;}
#datos table .logoProv .input-error {margin-left: 5px; margin-right: 5px;}
#datos table .logoProv img {max-width: 80px; max-height: 25px;}

/* Formato de los datos ya existentes */
#datos tbody tr.yaExistentes td.url {width: 150px; overflow: hidden; white-space: nowrap; display: inline-block;}

/* Formato del form */
#datos form {margin-top: 20px;}
#datos form input, #datos form select {height: 25px; border-radius: 5px; border-width: 1px; text-align: center; padding: 2px 5px; line-height: 1;}

/* Formato del campo url */
#datos form .url .input-error {margin: 0; text-align: left; width: 130px;}
#datos form input[name='url'] {width: 100%;}

/* Formato del desperdicio */
.desperdicio {background-color: var(--gris-oscuro);}

/* Quitar la flecha de los select */
select::-ms-expand {display: none;}
select {-webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';}

/* Íconos en la tabla */
#datos #yaExistentes tbody tr td .fa-trash-can {color: var(--rojo-oscuro);}
#datos form tbody tr td .fa-floppy-disk {color: var(--verde-oscuro);}
#datos tbody tr td .fa-solid {font-size: 1.2rem; cursor: pointer;}
#datos tbody tr td .fa-solid.botonInactivo {cursor: default;}

/* Errores */
.mensajeError, .mensajeError::before, .input-error .fa-solid
    {position: absolute; transform: translateY(-50%); top: 50%;}
#datos .input-error {position: relative; margin: 0 10px;}
#datos .input-error .fa-solid {right: -20px;}
#datos .input-error .mensajeError {max-width: 200px; left: 20px; line-height: 1.2rem; text-align: left;}
#datos .input-error .mensajeError::before {left: -12px;}
#datos .input-error .fa-circle-xmark {z-index: 1;}

/* Comandos - Particularidades */
#cuerpo #comandos {align-items: center;}
#cuerpo #comandos a {display: flex; flex-direction: row; margin: 0 10px;}
#cuerpo #comandos a img {max-width: 70px; max-height: 70px; border-radius: 20px;}
