/* Temas generales */
main #cuerpo {justify-content: space-between; padding: 40px 40px 20px;}
main #cuerpo h1 {margin: 0;}
#cuerpo #datos {display: flex; flex-direction: column; align-items: flex-start;}

/* Solapas Trailer / Películas */
#cuerpo #datos #tiposLink {display: flex; flex-direction: row;}
#cuerpo #datos #tiposLink p {margin: 0 20px; cursor: pointer;}

/* Temas generales de las tablas */
#datos #yaExistentes, #datos form {align-self: center;}
#datos table {border-collapse: collapse}
#datos table * {font-size: 1.1rem;}
#datos table thead tr {border-bottom: solid 1px black;}
#datos table thead tr th {background-color: var(--verde-ingles); color: var(--amarillo-claro);}
#datos table thead tr th, #datos table tbody tr td {text-align: center; padding: 10px;}

/* Tablas - Logo del proveedor */
#datos table .logoProv {width: 90px; padding: 0;}
#datos table .logoProv .input-error {margin-left: 5px; margin-right: 5px;}
#datos table .logoProv img {max-width: 80px; max-height: 25px;}

/* Formato de los datos ya existentes */
#datos #yaExistentes {margin-top: 20px;}
#datos #yaExistentes tbody tr td.url {width: 200px; max-width: 200px; padding: 2px 5px; overflow: hidden; white-space: nowrap;}
#datos #yaExistentes tbody tr td.url a {text-decoration: none;}

/* Formato del form */
#datos form {margin-top: 20px;}
#datos form input, #datos form select {height: 25px; border-radius: 5px; border-width: 1px;}
#datos form input[name='url'] {width: 200px; padding: 2px 5px;}
#datos form input[name='fecha_prov'] {width: 100px; padding-left: 5px;}

/* Formato del campo fecha */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {display: none; -webkit-appearance: none;}

/* Íconos */
#datos #yaExistentes tbody tr td .fa-trash-can {color: var(--rojo-oscuro);}
#datos form tbody tr td .fa-floppy-disk {color: var(--verde-oscuro);}
#datos tbody tr td .fa-solid {font-size: 1.2rem;}

/* Errores */
.mensajeError, .mensajeError::before, .input-error .fas
    {position: absolute; transform: translateY(-50%); top: 50%;}
#datos .input-error {position: relative; margin: 0 10px;}
#datos .input-error .fas {right: -20px;}
#datos .input-error .mensajeError {max-width: 200px; left: 20px; line-height: 1.2rem; text-align: left;}
#datos .input-error .mensajeError::before {left: -12px;}
#datos .input-error .fa-times-circle {z-index: 1;}

/* Comandos y Flechas */
#cuerpo #comandos, #cuerpo #flechas {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#cuerpo #comandos, #cuerpo #flechas {margin: 0 auto; padding: 7px 15px; border-radius: 15px;}

/* Comandos - Particularidades */
#cuerpo #comandos {background-color: var(--verde-oscuro); width: 450px;}
#cuerpo #comandos a {display: flex; flex-direction: row; }
#cuerpo #comandos a img { max-width: 70px; max-height: 70px; border-radius: 20px;}

/* Flechas - Particularidades */
#cuerpo #flechas {background-color: var(--azul-oscuro); width: 100px;}
#cuerpo #flechas i {color: white; font-size: 1.25rem; cursor: pointer;}
#cuerpo #flechas .botonInactivado, #cuerpo #flechas .botonInactivado * {cursor: default;}
