/* Temas generales */
main #cuerpo {justify-content: space-around; padding: 40px 40px 20px;}
main #cuerpo h1 {margin: 0;}
main #cuerpo #datos {display: flex; flex-direction: column;}
main #cuerpo #datos #tipoLink {align-self: flex-start;}

/* Temas generales de las tablas */
#datos form {align-self: center;}
#datos form table {border-collapse: collapse; border: 2px solid var(--verde-ingles);}
#datos form table * {font-size: 1.1rem;}
#datos form table thead tr th {background-color: var(--verde-ingles); color: var(--amarillo-claro);}
#datos table thead tr th, #datos table tbody tr td {text-align: center; padding: 5px; vertical-align: middle; line-height: 1;}
#datos table tbody tr.yaExistentes, #datos table tbody tr.edicion {height: 28px;}
#datos table tbody tr.edicion td {padding: 1px 5px;}

/* Tablas - Logo del proveedor */
#datos table tbody tr td.logoProv {width: 90px; padding: 0;}
#datos table .logoProv .inputError {margin-left: 5px; margin-right: 5px;}
#datos table .logoProv img {max-width: 80px; max-height: 25px;}

/* Formato de los datos ya existentes */
#datos tbody tr.yaExistentes td#url {width: 150px; overflow: hidden; white-space: nowrap; display: inline-block;}
#datos table tbody tr td#motivo {background-color: var(--celeste-oscuro); border-radius: 10px; padding: 3px 0;}

/* Formato del form */
#datos form {margin-top: 20px;}
#datos form #altas input, #datos form #altas select,
#datos form .edicion input, #datos form .edicion select
    {height: 22px; border-radius: 5px; border-width: 1px; text-align: center; padding: 0 5px 2px; line-height: 1;}

/* Formato del campo url */
#datos form #altas #url .inputError {text-align: left; width: 130px;}
#datos form #altas #url .inputError input {width: 100%;}
#datos form #altas #url .inputError .prov_id {display: none;}

/* Formato del campo calidad y parte */
#datos form #calidad .inputError {width: 50px;}
#datos form #parte .inputError {width: 30px;}    
#datos form #calidad .inputError input,
#datos form #parte .inputError input {width: 100%;}

/* Formato del desperdicio */
#datos form .desperdicio {background-color: var(--verde-intermedio);}
#datos form .desperdicio .inputError .fa-circle-check {display: none;}

/* Quitar la flecha de los select */
#datos form #altas select::-ms-expand, #datos form .edicion select::-ms-expand {display: none;}
#datos form #altas select, #datos form .edicion select
 {-webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';}

/* Quitar flechas del input - Chrome, Safari, Edge, Opera */
#datos form .inputError input[type='number']::-webkit-outer-spin-button,
#datos form .inputError input[type='number']::-webkit-inner-spin-button 
    {-webkit-appearance: none; margin: 0;}
/* Quitar flechas del input - Firefox */
#datos form .inputError input[type=number] {-moz-appearance: textfield;}

/* Íconos en la tabla */
#datos #yaExistentes tbody tr td .fa-trash-can {color: var(--rojo-oscuro);}
#datos form tbody tr td .fa-floppy-disk {color: var(--verde-oscuro);}
#datos tbody tr td .fa-solid {font-size: 1.2rem; cursor: pointer;}
#datos tbody tr td .fa-solid.inactivo {cursor: default;}

/* Errores */
.mensajeError, .mensajeError::before, .inputError .fa-solid
    {position: absolute; transform: translateY(-50%); top: 50%;}
#datos .inputError {position: relative; margin: 0 10px;}
#datos .inputError .fa-solid {right: -20px;}
#datos .inputError .mensajeError {max-width: 200px; left: 20px; line-height: 1.2rem; text-align: left;}
#datos .inputError .mensajeError::before {left: -12px;}

/* Comandos - Particularidades */
#cuerpo #comandos {align-items: center;}
#cuerpo #comandos a {display: flex; flex-direction: row; margin: 0 10px;}
#cuerpo #comandos a img {max-width: 70px; max-height: 70px; border-radius: 20px;}
