/* GENERAL */
#filtros {margin: auto 40px; width: 190px;}
#filtros {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
#filtros h1, #filtros button, #filtros select, #filtros option {font-family: var(--Calibri);font-size: 14px;}
#filtros * {font-size: 14px;}

/* FILTRO SUPERIOR */
#filtro-sup {background-color: var(--azul);padding: 20px; border-bottom: solid 1px;}
#filtro-sup {border-top-left-radius: 10px; border-top-right-radius: 10px;}
#filtros #personalizado h1 {color: var(--celeste-claro);font-weight: bold;}
#filtros #personalizado select {font-weight: bold; margin-bottom: 0px;}
#filtros #personalizado select, #filtros #personalizado option {color: var(--azul);  background-color: var(--amarillo-claro);}

/* FILTRO INFERIOR */
#filtro-inf {background-color: var(--gris-claro); padding: 20px;}
#filtro-inf {border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}

/* VARIOS */
#filtros select {margin-bottom: 15px;}
#filtros .ratio {margin: 2px auto 15px; justify-content: space-between;}
#filtros #búsqueda {padding-bottom:15px;}

/* FINAL */
#filtros #final {justify-content: space-around; align-items: center;}
#filtros #final button {border: none;}
#filtros #final .fa-save {transform: scale(1.5); color:green; border-style: none;}
#filtros #final .fa-times-circle {transform: scale(1.5); color:red;}
#filtros #final .fa-arrow-alt-circle-right {transform: scale(1.5);}