/* CRITERIO DE LISTADO */
#opciones-de-listado {margin: 20px 0px;padding: 7px;}
#opciones-de-listado {border-style: none;border-radius: 5px;}
#opciones-de-listado {font-family: var(--Calibri);font-size: 16px;font-weight: bold;}
#opciones-de-listado {background-color: var(--gris-claro);}
#opciones-de-listado {width:auto;}
