/* GENERAL */
.filtro {margin-left:30px; padding: 20px;}
.filtro {width: 190px;background-color: var(--gris-claro);}
.filtro {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
.filtro h1, .filtro button, .filtro select, .filtro option {font-family: var(--Calibri);font-size: 14px;}
.filtro * {font-size: 14px;}

/* BORDER RADIUS */
#filtro-sup {border-top-left-radius: 10px;border-top-right-radius: 10px;margin-top: auto;}
#filtro-inf {border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;;margin-bottom: auto;}

.filtro select {margin-bottom: 15px;}
.filtro button {padding: 3px 5px;border-radius: 5px;border-style: none;}

/* VARIOS */
.filtro #personalizado h1, .filtro #personalizado select, 
.filtro #personalizado option {color: var(--verde);font-weight: bold;background-color: var(--amarillo-claro);}
.filtro .línea-divisoria {margin-bottom: 15px; border-bottom: solid .5px;}
.filtro .ratio {margin: 2px auto 15px; justify-content: space-between;}

/* BÚSQUEDA */
.filtro #búsqueda {padding-bottom:15px;}

/* FINAL */
.filtro #final {justify-content: space-around; align-items: center;}
.filtro #final .fa-save {transform: scale(1.5); color:green; border-style: none;}
.filtro #final .sin-boton {border: none;}
.filtro #final .fa-times-circle {transform: scale(1.5); color:red;}
.filtro #final .fa-arrow-alt-circle-right {transform: scale(1.5);}