<%- include("FM-0-TituloPrincipal") %>
<section id="centro">
	<!-- Zona de Vitreaux -->
	<%- include("MN-Vitreaux") %>

	<!-- Zona de Gráficos -->
	<div id="zonaDeGraficos">
		<div id="cuadro" class="bordeConSombra">
			<div id="grafico"></div>
		</div>
	</div>
</section>
