<div id="checkBox" class="flexRow">
	<input id="<%= nombre %>" type="checkbox" name="<%= nombre %>" tabindex="-1" <% if (locals.camposDE && !camposDE.includes(nombre) && nombre == "color" || dataEntry[nombre] == 1) { %>checked<% } %>>
	<label for="<%= nombre %>"><%= titulo %></label>
</div>
