<!-- Contenido que se desplaza -->
<div id="recuadro" class="sectorConDesplV bordeConSombra aparece">
	<!-- Calificaciones -->
	<h3>Calificaciones</h3>
	<% if (registro.calificacion) { %>
		<p id="calificacionesResultados"></p>
		<div id="calificacionesGrafico"></div>
	<% } else { %>
		<p style="text-align: center; margin-top: 10px; font-style: italic;">- Sin calificaciones aún -</p>
	<% } %>
	<!-- Texto -->
	<h3>Datos del Registro</h3>
	<div id="texto">
		<% for (campo of bloqueDer) { %>
			<% const anchor = !!campo.href && usuario && usuario.rolUsuario.revisorPERL %>
			<% if (anchor) { %><a href="<%= campo.href %>"><% } %>
				<p <% if (campo.titulo.startsWith("Status")) { %>id="<%= campo.codigo %>" class="status"<% } %>>
					<b><%= campo.titulo %>:</b> <span><%= campo.valor %></span>
				</p>
			<% if (anchor) { %></a><% } %>
		<% } %>
	</div>
</div>
