<div id="ayudaLinks">
	<i class="fa-solid fa-circle-question ayudaClick desplClick">
		<div class="ayudaMostrar ocultar desplMostrar">
			<p><em>Color del borde de los logos (simil semáforo):</em></p>
			<ul>
				<li><i class="fa-solid fa-circle enCast"></i> hablada en <b>castellano</b></li>
				<li><i class="fa-solid fa-circle subtCast"></i> <b>subtitulos</b> en castellano</li>
				<li><i class="fa-solid fa-circle otroIdioma"></i> hablada en <b>otro</b> idioma</li>
				<li><i class="fa-solid fa-circle elegi"></i> <b>elegí</b> el idioma</li>
			</ul>
		</div>
	</i>
</div>
