/* GENERAL */
#login {position:absolute; margin:0; height:100%; width:100%;z-index: 1;}
#login {justify-content:center; align-items: center;}

/* TAPAR EL FONDO */
#login #tapar-el-fondo {background-color:var(--gris-claro); opacity:70%;height:100%; width:100%;}
#login #tapar-el-fondo {position: absolute;left:0px;top:0px}

/* GENERAL DEL FORMULARIO */
#login form {background-color:var(--azul-frances); border-radius: 20px;}
#login form {padding: 20px;z-index: 2;align-items: stretch;}

/* TÍTULO DEL FORMULARIO */
#login form p {color: var(--amarillo-claro);margin-bottom: 10px;}
#login form p {font-weight: bold; font-size: 1.3em; text-align: center;}

/* GENERAL DE CADA FILA DEL FORMULARIO */
#login form div {padding: 12px 10px;}

/* CASILLEROS A COMPLETAR */
#login form div input {border: none; width: 100%; padding: 5px 10px;}

/* BOTONES */
#login form #button {justify-content: space-between;}
#login form #button {padding-left: 0px; padding-right: 0px;}
#login form #button button {margin-left: 15px; margin-right: 15px;}
#login form #button button {padding: 2px 5px; font-weight: bold;color:white;}
#login form #button button {border: solid 3px var(--amarillo-claro); background-color: var(--rojo);}
#login form #button button#aceptar {background-color: var(--verde);}
#login form #button button#registrarse {background-color: var(--azul);}

/* GOOGLE Y FACEBOOK */
#login form #google-y-facebook {justify-content: space-around;align-items: center;}

/* REGISTRO */
main {background-color: var(--Gris-claro);}

form {margin-left: 30px;margin-top: 10px;margin-bottom: 20px;}
form div {padding-top: 15px;}
form h1 {font-size:medium;}
form input {border: none;}
form button {margin-right: 10px;}
label input {margin-right: 5px;}
#vender {padding-left: 10px;}
form input, form button {padding: 5px 10px;border-radius: 10%;}
