<section class="label-input">
	<label><%= registro.titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="input-error">
		<input type="text" class="input" name="<%= registro.nombreDelCampo %>" autocomplete="off"
			value="<%= dataEntry[registro.nombreDelCampo] %>"
			<% if (registro.numero) { %>id="numero" placeholder="sólo números"<% } %>
			<% if (dataEntry[registro.nombreDelCampo] && !errores[registro.nombreDelCampo]) { %>disabled<% } else { %>autofocus<% } %>
		>
		<!-- Ayuda -->
		<%- (dataEntry[registro.nombreDelCampo] && !errores[registro.nombreDelCampo]) ? include("39-DD-Mensajes") : "" %>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark ocultar">
			<span class="mensajeError"></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar" style="display: none;"></i>
	</div>
</section>
