/* Cuerpo */
#cuerpo {background-color: var(--gris-claro); display: flex; flex-direction: column; flex-grow: 1;}

/* Título */
#cuerpo {position: relative;}
#cuerpo #titulo {position: absolute; top: 0; left: 0; border-bottom-right-radius: 10px;}
#cuerpo #titulo {background-color: var(--gris-oscuro); color: var(--gris-claro)}

/* Comandos y Flechas */
#cuerpo #comandos, #cuerpo #flechas {display: flex; flex-direction: row; justify-content: space-between; margin: 0 auto; }
#cuerpo #comandos i, #cuerpo #flechas i {cursor: pointer;}
