main #entidades {display: flex; flex-direction: row; justify-content: space-between; padding: 40px 70px 20px 50px;}

main #entidades h2 {padding: 2px 6px; border-radius: 10px; text-align: center; margin-top: 12px;}
main #entidades h2 {background-color: var(--verde-oscuro); color: var(--gris-claro);}

main #entidades h3 {margin-top: 12px;}

/* main #entidades #primeraColumna .nombre {width: 225px;} */