/* Cuerpo */
#cuerpo {justify-content: space-around; padding: 40px 40px 20px;}
#cuerpo #dentroDelPadding {display: flex; flex-direction: column; justify-content: space-around;}

/* Encabezado */
#cuerpo #encabezado {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
#cuerpo #encabezado {border-bottom: solid 1px var(--azul-oscuro); padding: 5px 10px; background-color: var(--celeste-claro);}
#cuerpo #encabezado #nombres h1 {font-size: 1.5rem; margin: 0;}

#cuerpo #encabezado #colCap {text-align: right;}
#cuerpo #encabezado #colCap #colecciones {display: flex; flex-direction: column; justify-content: center; align-items: flex-end; line-height: 1;}
#cuerpo #encabezado #colCap #tempCapI, #cuerpo #encabezado #colCap #tempCapS 
	{display: flex; flex-direction: row; justify-content: flex-end; align-items: center; line-height: 1;}

/* Sinopsis */
#sinopsis {margin: 10px 15px 5px; padding: 15px 20px; border-radius: 15px; background-color: var(--amarillo-claro);}
#sinopsis {border: var(--gris-oscuro) 5px solid; box-shadow: 0px 0px 10px rgb(100 100 100); position: relative;}
#sinopsis nav {font-size: 1.1rem; max-height: 125px; overflow-y: scroll;}

#sinopsis .fa-circle-question, #sinopsis .mensajeAyuda, #sinopsis .mensajeAyuda::before 
	{position: absolute; z-index: 2;}
#sinopsis .fa-circle-question {top: 25px; right: -25px; transform: translateY(-50%);}

/* Sinopsis - Ayuda */
#sinopsis .fa-circle-question, #sinopsis .mensajeAyuda, #sinopsis .mensajeAyuda::before {position: absolute; z-index: 2;}
#sinopsis .fa-circle-question {top: 25px; right: -25px; transform: translateY(-50%);}
#sinopsis .mensajeAyuda {top: 25px; right: -32px; width: 200px; transform: translate(100%, -50%);}
#sinopsis .mensajeAyuda::before {left: -10px; top: 50%; transform: translateY(-50%);}
#sinopsis .mensajeAyuda::before {border: 5px solid; border-color: transparent var(--gris-oscuro) transparent transparent; content: "";}
/* Sinopsis - Ocultar la 'side-bar' */
#sinopsis nav::-webkit-scrollbar {display: none;  /* Safari and Chrome */}
#sinopsis nav {-ms-overflow-style: none; /* Internet Explorer 10+ */scrollbar-width: none; /* Firefox */}

/* Comandos - Particularidades */
#cuerpo #comandos i {margin: 0 15px;}
#cuerpo #comandos i, #cuerpo #flechas i {font-size: 2rem;}