<!-- Título y Ayuda -->
<div id="tituloPrincipal">
	<h1><%= titulo %></h1>
	<%- include("MN-Ayuda", {mensajes: ["Por favor brindanos los datos de tu identidad, como figuran en tu documento.", "Cuando sea necesario, te pediremos estos datos para validar que seas vos.", "Una vez enviado el formulario, los datos no podrán ser editados."]}) %>
</div>

<!-- Datos Perennes-->
<%- include("US-DatosPerennes") %>

<!-- Credenciales -->
<%- include("US-CredencsInvs") %>
