/* Título secundario */
#cuerpo #tituloPrincipal {
	#secundario {
		display: flex; flex-direction: row; align-items: center;
		font-weight: normal; font-size: 0.9rem;
		img {height: 1rem; border-radius: 5px; margin-left: 5px;}
	}
}

/* Contenedor del Iframe */
#medio #contIframe {
	aspect-ratio: 16 / 9;

	/* Ancho y alto */
	--relacion: calc(16 / 9);
	--altoDisp: calc(var(--altoCuerpo) - 37px - 38px); /* la altura del cuerpo, menos las alturas del título y el ícono */
	--altoMax: calc(var(--altoDisp) * 0.9);
	--anchoDisp: var(--anchoCuerpo); /* toma en cuenta el ancho de imagen derecha */
	--anchoMax: calc(var(--anchoDisp) * 0.95);
	width: min(calc(var(--altoMax) * var(--relacion)), var(--anchoMax)); /* el menor entre la restricción por altura y la restricción por ancho */
	height: min(calc(var(--anchoMax) / var(--relacion)), var(--altoMax)); /* el menor entre la restricción por ancho y la restricción por altura */
}

#contIframe iframe {display: block; width: 100%; height: 100%;}
#contIframe iframe {border-radius: 25px; border: solid var(--gris-oscuro) 9px;}

/* Laptop */
@media (orientation: landscape) and (height > 600px) {
	/* General */
	#cuerpoFooter #cuerpo {justify-content: space-between; align-items: center;}
	#cuerpo :is(#tituloPrincipal, #sectorIconos) {flex-grow: 1;}

	/* Íconos */
	#cuerpo #sectorIconos {align-items: center;}
	#cuerpo .iconos {height: min-content; }

}

/* Parado */
@media (orientation: portrait) {
	body {--altoCuerpo: var(--altoMain);}
	#cuerpo #medio {position: absolute; top: 50%; left: 50%; translate: -50% -50%;}
	#medio #contIframe {--anchoDisp: var(--anchoImgDer);}
	#cuerpo #medio {z-index: 1;}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	#cuerpoFooter #cuerpo {justify-content: center; align-items: center;}
	#medio #contIframe {--altoDisp: var(--altoMain);}
}
