/* Configuración general */
header {
	width: 100vw; height: var(--altoHeader); position: relative;
	background: var(--azul-oscuro); justify-content: space-between;
	section {margin: 0 15px;}
	#tituloHeader {
		position: absolute; left: 50%; top: 50%; translate: -50% -45%; text-wrap: nowrap;
		p {
			font-family: "Monotype Corsiva", MTCORSVA;
			color: var(--amarillo-claro); font-size: 3rem;
		}
	}
}
header, header section {display: flex; flex-direction: row; align-items: center;}

/* Título */

/* Fuente */
@font-face {font-family: MTCORSVA; src: url('MTCORSVA.TTF') format('truetype');}
