/* Laptop */
@media (orientation: landscape) and (height > 600px) {
    header #mostrarMenuMobile {display: none;}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
    header .ocultoMobile_parcial {display: none;}
}

/* Parado */
@media (orientation: portrait) {
    header {
        .ocultoMobile_total {display: none;}
        #menuMobile {
            div.soloAngosto {display: flex;}
            hr.soloAngosto {display: block;}
        }
        :is(#izquierda, #derecha) {margin: 0;}
        #tituloHeader {left: 47%;}
        #busquedaRapida {
            position: absolute; margin: 0; width: 100%; top: 13px;
            display: flex; flex-direction: column; align-items: center;
            .menuMostrar {
                translate: 0; right: auto; top: auto;
                display: flex; flex-direction: column; align-items: center;
                max-width: 100vw;
            }
        }
        #iconoUsuario #imagenUsuario {height: 2.75rem; width: 2.75rem;}
        #menuUsuario .menuOpcion {height: 28px;}
    }
}
@media (orientation: portrait) and (width <= 450px) {
    header #tituloHeader p {font-size: 2.3rem;}
}
