header {
	.menuForm {
		/* Formato de Menús */
		position: absolute; width: max-content;
		&:not(:has(#muestraResultados)) {border: 1px solid rgba(0,0,0,.15);}
		&.menuFondo {padding: 4px 0; border-radius: 10px; background: var(--gris-claro);}

		/* Opciones */
		.menuOpcion {
			display: flex; flex-direction: row; align-items: center; padding: 4px 16px;
			&.resaltar {background-color: var(--gris-intermedio);}
			&:hover {background-color: var(--gris-oscuro); color: snow;}

			/* Íconos que acompañan al menú */
			.icono {
				width: 20px; margin-right: 8px; font-weight: bold;
				color: inherit; /* para prevenir los cambios de colores por íconos particulares */
				display: flex; justify-content: center; align-items: center;
			}

			/* Ícono ELC */
			.icono#ELC {background: var(--azul-oscuro); color: var(--celeste-claro); border-radius: 3px; font-size: .6rem; padding: 1px;}
		}
	}

	/* Específico del Menú de Usuario */
	.menuDerecha {right: 0px;}

	/* Específico del Menú Mobile */
	#menuMobile {
		.menuOpcion {
			height: 25px;
			#imgConsultas {width: 28px;}
			&:has(select) i {margin-right: 3px;}
			select {
				width: 145px; background-color: transparent; border: none;
				option {color: var(--azul-oscuro); font-size: 20px;}
			}

		}
		.soloPortrait {display: none;}
	}
}
