/* Íconos de búsqueda rápida e inputMasResultados */
#busquedaRapida {
	:is(.menuMostrar input, #escribiMas) {width: 200px;}
	muestraResultados a {min-width: 200px;}

	.menuMostrar {
		position: absolute; right: -7px; top: -3px; translate: 100%;
		:is(input, #muestraResultados) {border: 1px solid var(--azul-oscuro); border-radius: 5px;}
		input {padding: 4px 5px; font-size: 1.2rem; font-weight: bold;}

		/* Opciones de #muestraResultados */
		#muestraResultados {
			border-top-left-radius: 0; overflow: hidden;
			display: flex; flex-direction: column;
			a {
				&.resaltar, &:hover {background-color: var(--gris-intermedio) !important;}
				&.prod:nth-of-type(odd) {background: whitesmoke;}
				&.prod:nth-of-type(even) {background: var(--celeste-claro);}
				&.rclv:nth-of-type(odd) {background: var(--amarillo-oscuro);}
				&.rclv:nth-of-type(even) {background: var(--amarillo-claro);}
				width: 100%; line-height: 1.5;
				* {padding-inline: 5px; align-content: center;}
				.spanNombre {width: 100%; padding-inline: 5px;}
				.spanEnt {
					&:first-letter {text-transform: uppercase;}
					min-width: 44px; width: 44px; text-align: left;
				}
			}
		}
		#escribiMas {background: var(--gris-claro); font-style: italic; padding: 2px 7px; border-radius: 5px;}
	}

}

/* Condicional */
.menuMostrar:not(:has(#muestraResultados.ocultar))  input {border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
