
header {
	.menuMostrar {
		/* Formato de Menús */
		position: absolute; border: 1px solid rgba(0,0,0,.15); width: max-content;
		&.menuFondo {padding: 4px 0; border-radius: 10px; background: var(--gris-claro);}

		/* Opciones */
		.menuOpcion {
			display: flex; flex-direction: row; align-items: center;
			padding: 4px 16px;
			&:hover {background: var(--gris-intermedio);}

			/* Íconos que acompañan al menú */
			.icono {
				width: 18px; margin-right: 10px; font-weight: bold;
				display: flex; justify-content: center; align-items: center;
			}

			/* Ícono ELC */
			.icono#ELC {background: var(--azul-oscuro); color: var(--celeste-claro); border-radius: 3px; font-size: .6rem; padding: 1px;}
		}
	}

	/* Específico del Menú de Usuario */
	.menuDerecha {right: 0px;}

	/* Específico del Menú Mobile */
	#menuMobile {
		.menuOpcion {
			height: 28px;
			div {width: 30px; text-align: start;}
			span {font-size: 1rem;}
		}
		.soloAngosto {display: none;}
	}
}
