<% if (mostrar) { %>
	<!-- Imagen Derecha -->
	<% let rutaImagen, tituloImagen %>
	<!-- Imagen Institucional -->
	<% if (locals.tema == "institucional") {rutaImagen = '/imagenes/0-Base/Institucional-Imagen.jpg'; tituloImagen="ELC-Películas"} %>
	<!-- Imagen Personalizada -->
	<% if (!rutaImagen && locals.imgDerPers) {rutaImagen = imgDerPers; tituloImagen=locals.tituloImgDerPers} %>
	<!-- Imagen Diaria -->
	<% if (!rutaImagen) {rutaImagen = '/imagenes/0-Base/ImagenDiaria.jpg'; tituloImagen=locals.tituloImgDerDiaria} %>
	<!-- Mostrar la Imagen -->
	<section id="imagenDerecha"><img src="<%= rutaImagen %>" title="<%= tituloImagen %>"></section>
<% } %>
