<!-- Timer -->
<button type="text" id="timer" class="ocultar" tabindex="-1"></button>
<style>
	#timer {position: absolute; right: 0px; top: 0px; padding: 3px 7px; border-bottom-left-radius: 5px;}
	#timer {color: var(--gris-claro); background: var(--verde-oscuro); border: none;}
	#timer {font-size: 1.1rem; font-weight: bold;}
</style>
<script src="/javascript/0-Compartido/Timer.js"></script>
