<% if (mostrar) { %>
	<!-- Mostrar la Imagen -->
	<section id="imgDerecha">
		<% let rutaImagen, tituloImagen %>
		<% if (locals.tema == "institucional" || locals.institucional) { %>
			<!-- 1. Imagen Institucional -->
			<% rutaImagen = localhost + '/imagenes/0-Base/Institucional-Imagen.jpg'; tituloImagen = "ELC-Películas" %>
		<% } %>
		<% if (!rutaImagen && locals.imgDerPers) { %>
			<!-- 2. Imagen Personalizada -->
			<% rutaImagen = imgDerPers; tituloImagen = locals.tituloImgDerPers %>
		<% } %>
		<% if (!rutaImagen) { %>
			<!-- 3. Imagen Diaria -->
			<!-- Averigua qué datos usar -->
			<% const ahora = new Date() %>
			<% const diaLocal = ("0" + ahora.getDate()).slice(-2) %>
			<% const mesLocal = mesesAbrev[ahora.getMonth()] %>
			<% const anoLocal = ahora.getFullYear().toString().slice(-2) %>
			<% const hoyLocal = diaLocal + "-" + mesLocal + "-" + anoLocal %>
			<% rutaImagen = localhost + "/imagenes/5-ImagenDerecha/" + hoyLocal + ".jpg" %>
			<% tituloImagen = titulosImgDer[hoyLocal] %>
		<% } %>
		<img src="<%= rutaImagen %>" title="<%= tituloImagen %>">
	</section>
<% } %>
