<!-- Vitreaux -->
<style>
    #cuerpo #zona-de-vitreaux img {width: 100%;}
</style>
<div id="zona-de-vitreaux">
	<img src="<%= localhost %>/imagenes/0-Base/Varios/Vitraux.jpg" title="Vitreaux" alt="Vitreaux">
</div>
