<div id="imgDerecha">
	<%- include("FM-TituloPrincipal") %>

	<div id="centro">
		<img src="<%= imgDerPers %>">
		<%- include("PR1-DetalleLinks") %>
	</div>

	<div id="conjuntoIconos">
		<%- include("Iconos-5MobileVert") %>
	</div>
</div>
