<section id="cuerpoFooterImgDer">
	<div id="cuerpoFooter">
		<div id="cuerpo">
			<%- include("FM-Detalle") %>
		</div>
		<%- include('CMP-3Footer') %>
	</div>
	<%- include("PR1-Detalle2-Avatar") %>
</section>
