<section id="cuerpoFooterImgDer">
	<div id="cuerpoFooter">
		<div id="cuerpo">
			<%- include("FM-Detalle") %>
		</div>
		<%- include('CMP-3Footer') %>
	</div>
	<%- include("PR1-Detalle2-Avatar") %>
</section>
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-DatosBreves.css">
<link rel="stylesheet" href="/publico/formatos/2.0-Familias-CRUD/FM-Detalle.css">
<link rel="stylesheet" href="/publico/formatos/2.0-Familias-CRUD/FM-0MediaQuery.css">
