<section id="detCuerpoFooterImgDer">
	<!-- Cuerpo y Footer -->
	<div id="detCuerpoFooter">
		<!-- Cuerpo -->
		<div id="detCuerpo">
			<%- include("PR1-Detalle2-Datos") %>
		</div>
		<%- include('CMP-3Footer') %>
	</div>
	<%- include("PR1-Detalle1-Avatar") %>
</section>
