<div id="tituloInfoDetalle" class="relative">
	<% const oa = locals.entidad == "capitulos" ? 'o' : 'a' %>
	<h3>Links para verl<%= oa %></h3>
</div>
<!-- Links -->
<%- include("PR1-Detalle-2Links") %>
<!-- Información -->
<%- include("PR1-Detalle-3Info") %>
