<section id="cuerpoFooterImgDer">
	<div id="cuerpoFooter">
		<div id="cuerpo">
			<%- include("FM-Detalle") %>
		</div>
		<%- include('CMP-Footer') %>
	</div>
	<%- include("PR1-Detalle2-ImgDer") %>
</section>
