<div id="imgDerecha">
	<%- include("FM-TituloPrincipal") %>

	<!-- Muestra la Imagen -->
	<img src="<%= imgDerPers %>">

	<div class="flexRowAlign">
		<%- include("Flechas-5MobileVert") %>
	</div>
</div>
