<div id="imgDerecha">
	<div id="centro">
		<img src="<%= imgDerPers %>">
		<%- include("PR1-Detalle-2Links") %>
		<div id="sectorIconos">
			<%- include("Iconos-5Mobile") %>
			<%- include("Iconos-2ProdRUD") %>
		</div>
	</div>
</div>
