<!-- Guardar cambios -->
<div id="sectorIconos">
	<div id="guardarCambios" class="iconos">
		<!-- Guarda la calificación -->
		<button type="submit">
			<i id="guardar" class="fa-solid fa-circle-check inactivo" title='Guardá tu calificación'></i>
		</button>
		<% if (califUsuario) { %>
			<!-- Elimina tu calificación guardada -->
			<i id="eliminar" class="fa solid fa-circle-xmark" tabindex="-1" title='Eliminá tu calificación guardada'></i>
		<% } %>
	</div>
</div>
