/* Partes específicas del formulario */
#data_entry {min-height: 180px;}
#data_entry #coleccion_pelicula select {border-radius: 5px; height: min-content;}

#data_entry h1 {margin-bottom: 5px;}
#data_entry select {line-height: normal;}
#data_entry p {margin-bottom: 5px; font-style: italic;}
#data_entry p, #data_entry a {color: var(--verde);}
#data_entry label {align-self: flex-end;}
#data_entry .fa-times-circle {left: -20px; top: 7px;}
#data_entry .linea_divisoria {margin-top: 20px;}
#data_entry .mensajeAyuda {position: absolute; width: 250px; margin-left: 2px;}
#data_entry .fa-question-circle:hover .mensajeAyuda {display: inline;}
#data_entry input {margin-right: 5px; width: 250px}
#data_entry button {margin-left: 30px;}
