/* Partes específicas del formulario */
#data_entry {min-height: 180px;}
#data_entry #coleccion_pelicula select {border-radius: 5px; height: min-content;}

#data_entry h1 {margin-bottom: 5px;}
#data_entry select {line-height: normal;border-radius: 5px;}
#data_entry #fuentesDeInfo {margin-top: 10px; font-style: italic;}
#data_entry a {color: var(--verde);}
#data_entry label {align-self: flex-end;}
#data_entry .fa-times-circle {left: -20px; top: 10px;}
#data_entry .mensajeError {left: 0px; top: 20px; max-width: 300px}
#data_entry .mensajeAyuda {width: 250px; margin-left: 2px;}
#data_entry .fa-question-circle:hover .mensajeAyuda {display: inline;}
#data_entry input {margin-right: 5px; width: 250px; padding: 5px 5px; }
#data_entry #resultadoDeBusqueda {margin-top: 5px; width: fit-content;}
#data_entry #resultadoDeBusqueda {font-style: normal; border-radius: 10px;}

/* Submit button */
#data_entry button {padding: 3px 10px; align-self: center; border-radius: 10px;font-weight: bold;}
#data_entry button {color: white; background-color: var(--gris-oscuro);}
#data_entry button {margin-left: 30px;}
