/* Partes particulares */
#data_entry h2 {margin-bottom: 5px;}
#data_entry #resultadoGeneral {width: 700px; overflow-x: auto;}

/* Flechas */
#data_entry #flechas {margin: 10px 50px 0;}
#data_entry #flechas i {font-size: 2rem;}
#data_entry #flechas a i {color: var(--gris-oscuro);}
#data_entry #flechas i#sinLink {color: var(--celeste-oscuro);}

/* Resultados */
#resultadoIndividual, #resultadoInvalido {margin: 30px 10px 20px 10px; padding: 0; border: none; text-align: left; width:280px; border-radius: 15px;}
#resultadoIndividual {background-color: var(--celeste-oscuro);}
#resultadoInvalido {background-color: var(--rojo-claro);}
#resultadoIndividual:hover {background-color: var(--azul); color: var(--amarillo-claro);}
#resultadoInvalido:hover {background-color: var(--rojo); color: var(--amarillo-claro);}

/* Partes del resultado */
#imagenChica {max-height: 200px; border-radius: 15px; }
#infoPeli {color: inherit; margin: 10px 15px;}
#infoPeli p, #infoPeli p strong, #infoPeli p em {color: inherit;}

.interlineadoChico {margin-top: 5px;}
