<div id="icono-usuario" class="scale" <% if (locals.usuario) { %>title="Hola <%= locals.usuario.apodo %>"<% } %>>
	<% if (locals.usuario) { %>
		<% if (usuario.avatar != "-") { %>
			<div id="imagenUsuario">
				<img src="/imagenes/1-Usuarios/<%= usuario.avatar %>" class="iconoMenu">
			</div>
		<% } else if (usuario.nombre != null) { %>
			<i id="letraInicial" class="iconoMenu iconos">
				<%= usuario.nombre.slice(0,1).toUpperCase() %>
			</i>
		<% } else { %>
			<i class="fa-solid fa-circle-user iconoMenu iconos"></i>
		<% } %>
	<% } else { %>
		<a href="/usuarios/login">
			<i class="fa-solid fa-circle-question iconoMenu iconos" title="Login"></i>
		</a>
	<% } %>
</div>
