<div class="menuOpciones menuFondo ocultar" id="menu-usuario">
	<% if (locals.usuario) { %>
		<!-- Mi interés en algunos productos -->
		<a href="#">
			<div class="flex-row align-center inactivo">
				<div class="icono"><i class="fa-solid fa-heart"></i></i></div>
				<div>Mi interés en productos</div>
			</div>
		</a>
		<!-- Mis estadísticas -->
		<a href="#">
			<div class="flex-row align-center inactivo">
				<div class="icono"><i class="fa-solid fa-film"></i></div>
				<div>Mi historial</div>
			</div>
		</a>
		<hr />
		<!-- Status de Productos agregados por mí -->
		<a href="#">
			<div class="flex-row align-center inactivo">
				<div class="icono"><i class="fa-solid fa-chart-pie"></i></div>
				<div>Status de mis agregados</div>
			</div>
		</a>
		<!-- % de entidades aprobadas / presentadas -->
		<a href="#">
			<div class="flex-row align-center inactivo">
				<div class="icono"><i class="fa-solid fa-thumbs-up"></i></div>
				<div>Mi precisión de inputs</div>
			</div>
		</a>
		<hr />
		<!-- Detalle del usuario -->
		<a href="/usuarios/edicion">
			<div class="flex-row align-center inactivo">
				<div class="icono"><i class="fa-solid fa-user"></i></div>
				<div>Edición de usuario</div>
			</div>
		</a>
		<!-- Logout -->
		<a href="/usuarios/pre-logout">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-right-from-bracket"></i></div>
				<div>Logout</div>
			</div>
		</a>
	<% } else { %>
		<a href="/usuarios/login">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-right-to-bracket"></i></div>
				<div>Login</div>
			</div>
		</a>
		<a href="/usuarios/mail">
			<div class="flex-row align-center">
				<div class="icono"><i class="fa-solid fa-user-plus"></i></div>
				<div>Registrarse</div>
			</div>
		</a>
	<% } %>

</div>
