/* Temas generales */
main {
	background: var(--gris-claro);
	#cuerpo {
		flex-direction: column;
		#contenido {
			display: flex; flex-direction: column; justify-content: space-around; flex-grow: 1;
			padding: 20px 40px 20px;
		}
		#datosLargos {
			display: flex; flex-direction: column; align-items: normal;
			#filtros {
				margin: 15px 0;
				select {border-radius: 10px;}
			}
			form#tabla {align-self: center;}
			table {
				border-collapse: collapse; border: 2px solid var(--verde-ingles);
				:is(thead, tbody) {display: block;}
				:is(thead tr th, tbody tr td) {text-align: center; vertical-align: middle; line-height: 1;}
				thead {
					padding-right: 18px;
					* {font-size: 1.1rem;}
					tr th {padding: 5px; background: var(--verde-ingles); color: var(--amarillo-claro);}
				}
				tbody {
					max-height: 200px; overflow-y: auto; overflow-x: clip; /* Tablas - Barra de desplazamiento vertical */
					padding-top: 15px; padding-bottom: 15px;
					tr {
						height: 30px;
						&.oscuro_true {background: var(--gris-intermedio);}
						td {
							padding: 1px 5px;

							/* Tablas - Columnas específicas */
							&.motivo {
								background: var(--celeste-oscuro); border-radius: 10px; padding: 3px 0;
								* {text-align: left; color: var(--rojo-oscuro);}
							}
							&.url img {max-width: 100%; max-height: 20px; border-radius: 20px;}
							&.url .inputError .prov_id {display: none;}
							&.calidad option {text-align: center; }

							/* Temas de altas y edición */
							.fa-solid {font-size: 1rem;}
							.inputError .input {width: 100%;}
							.inputError .errores {right: 5px;}

							/* Temas de edición */
							:is(input, select) {
								text-align: center; border-radius: 5px; border-width: 1px;
								padding: 0 5px 2px; line-height: 1; height: 22px; max-width: 100%;
							}
						}
					}
				}

				/* Tablas - Anchos */
				.ancho_url {width: 140px;}
				:is(.ancho_calidad, .ancho_castellano, .ancho_subtitulos) {width: 70px;}
				.ancho_gratuito {width: 64px;}
				.ancho_tipo_id {width: 90px;}
				.ancho_completo {width: 73px;}
				.ancho_parte {width: 60px;}
				.ancho_status {width: 75px;}
				.ancho_propio {width: 53px;}
				.ancho_accion {width: 70px;}
				.ancho_motivo {width: 497px;}
			}
		}
	}
}

/* Formato del desperdicio */
#datosLargos tbody :is(td.desperdicio, td:has(*:disabled)) {background: var(--verde-intermedio);}
#datosLargos tbody#linksCRUD :is(td.desperdicio, td:has(*:disabled)) .inputError .fa-circle-check {display: none;}
#datosLargos tbody#revisionEnts :is(td:has(*:disabled)) .inputError .fa-circle-check {cursor: pointer;}
#datosLargos tbody td:has(*:disabled) * {background: transparent; border-color: transparent;}

/* Quita la flecha de los select <-- se necesita para ver los valores */
#datosLargos tbody .alta select::-ms-expand, #datosLargos tbody .edicion select::-ms-expand {display: none;}

#datosLargos tbody .inputError {padding-left: 10px; padding-right: 10px;}

/* Íconos en la tabla */
#datosLargos tbody tr td button {border: none; border-radius: 10px; padding: 3px 4px;}
#datosLargos tbody tr td .fa-floppy-disk {color: var(--verde-oscuro);}
#datosLargos tbody tr td.ancho_accion .fa-solid {cursor: pointer;}
#datosLargos tbody tr td.ancho_accion .fa-solid.inactivo {cursor: default;}
#datosLargos tbody tr td.ancho_accion .ayudaClick .ayudaMostrar {translate: -100% -50%; left: -5px; right: auto;}
#datosLargos tbody tr td.ancho_accion .ayudaClick .ayudaMostrar:before {left: auto; right: 0; rotate: 180deg; translate: 100% -50%;}

/* Comandos - Particularidades */
#cuerpo .iconos.img {padding-left: 5px; padding-right: 5px;}
#cuerpo .iconos.img a {display: flex; flex-direction: row; margin: 0;}
#cuerpo .iconos a img {max-width: 70px; max-height: 24px; border-radius: 20px; margin: 0 10px;}

/* Colores de los bordes de logos */
#datosLargos tbody td a img {border: solid 4px; box-sizing: content-box;}
#datosLargos tbody td a img.enCast {border-color: var(--verde-oscuro);}
#datosLargos tbody td a img.subtCast {border-color: gold;}
#datosLargos tbody td a img.otroIdioma {border-color: var(--rojo-oscuro);}
