#tituloPrincipal {
	#iconosDelTitulo {
		:is(.ayuda, .iconosAzules, .mostrarLeyenda) {margin-left: 15px;}
		.ayuda {
			.ayudaIconoForm {font-size: 1.6rem;}
			.ayudaMensForm {
				&::before {top: 25px;}
				top: -20px; max-width: min(82vw, 500px);
			}
		}
		#iconoCompartir {
			display: flex; flex-direction: row; position: relative;
			width: 25px; height: 25px; border-radius: 50%;
			justify-content: center; align-items: center; z-index: 0;
			border: solid 1.5px var(--gris-claro); color: var(--gris-claro); background: var(--azul-oscuro);
		}
	}
	.mostrarLeyenda {
		position: absolute;
		bottom: -25px; padding: 2px 5px; text-wrap: nowrap; border-radius: 10px;
		background: var(--amarillo-claro); border: var(--verde-oscuro) 2px solid; color: var(--verde-oscuro);
	}
}
