/* Cuadro de Resultados */
#cuadroDeResultados {
	/* flechas en los extremos */
	.mover {position: absolute; font-size: 3rem; cursor: pointer; top: 50%;}
	.mover.fa-caret-left {translate: -100% -50%; left: 0;}
	.mover.fa-caret-right {translate: 100% -50%; right: 0;}

}

/* Debe estar afuera por prioridad */
ul#listado {
	overflow-x: auto; display: flex; flex-direction: row; scroll-behavior: smooth;
	li form {position: relative;}
	li {list-style-type: none; padding: 20px;}
	button {
		padding: 0; border-radius: 15px; overflow: hidden; height: 200px;
		text-align: left; width: 290px; border-width: 1px;
	}
	.prodsNuevos button {
		background: var(--verde-intermedio);
		&:hover {background: var(--verde-oscuro); color: var(--amarillo-claro);}
	}
	:is(#ingrManual button, button.rojo) {
		background: var(--rojo-claro);
		&:hover {background: var(--rojo-oscuro); color: var(--amarillo-claro);}
	}
	.prodsYaEnBD button {
		background: var(--celeste-oscuro);
		&:hover {background: var(--azul-oscuro); color: var(--celeste-oscuro);}
	}
	button {
		.imagenChica {max-height: 100%; max-width: 150px; align-self: center;}
		#infoPeli {
			padding: 10px 15px; align-items: flex-start;
			#nombreCastellano {font-weight: bold;}
			#nombreOriginal {font-style: italic;}
			.interlineadoChico {margin-top: 5px;}
		}
	}
}

/* Barra de desplazamiento */
#cuerpo::-webkit-scrollbar {outline: transparent;}
::-webkit-scrollbar-track {background: var(--celeste-oscuro); border-radius: 10px;}
::-webkit-scrollbar-thumb {background: var(--gris-oscuro); border-radius: 10px;}
