/* Datos Largos */
#datos #datosLargos {
	/* Condicionales */
	#recuadroDL {
		&:has(.recuperar, .revisionRecuperar) {
			background: var(--verde-claro) !important;
			#encabezado {background: var(--verde-oscuro);}
			:is(#informacion) {color: var(--verde-oscuro);}
		}
		#informacion {
			#historial {
				input[type="radio"] {margin-right: 3px;}
				max-width: 600px;
				table {
					border-spacing: 5px 8px;
					tr td {
						vertical-align: top;
						&.fecha {min-width: 65px; text-align: right;}
						span {line-height: 1.1;}
				   }
				}
				.status {
					max-width: 220px; text-wrap: wrap;
					b {padding-inline: 5px; border-radius: 8px;}
				}
				#creado b, #creadoAprob b, #recuperar b
					{background: var(--verde-claro); color: var(--verde-oscuro); border: 1px var(--verde-oscuro) solid;}
				#inactivar b {background: var(--rojo-claro); color: var(--rojo-oscuro); border: 1px var(--rojo-oscuro) solid;}
				#aprobado b {background: var(--verde-oscuro); color: snow;}
				#inactivo b {background: var(--rojo-oscuro); color: snow;}

				#statusRegistro {
					display: flex; flex-direction: row; align-items: center; margin-bottom: 6px;
					h3 {margin-right: 3px;}
				}
			}
			#comentario {margin-left: 15px; width: 250px;}
		}
	}
}
