#informacion {
	.columna {
		display: flex; flex-direction: column;
		h2 {
			padding: 5px 10px; align-self: center; border-radius: 15px;
			background: var(--azul-oscuro); color: var(--gris-claro);
		}
		&#motivoActual {
			width: 240px;
			h3 {margin-top: 10px;}
			#motivo {font-style: italic;}
		}
		&#motivos {
			h2.ocultar {display: block !important;}
			& > h3 {margin-top: 10px;}
		}
	}

}
