/* Datos Largos */
#datos #datosLargos {
	#recuadroDL {
		#encabezado #colCap button {background-color: inherit; border: none;}
		#contenido #informacion {
			justify-content: center;
			#motivos {
				display: flex; flex-direction: column; align-items: flex-start; width: 250px;
				select, input {border-radius: 7px;}
				& > select {width: 100%;}
				#sectorDuplicado, #comentario h3 {margin-top: 10px;}
				#sectorDuplicado {
					input[name="idDupl"] {
						margin-left: 10px; width: 50px; text-align: center; border: 1px solid var(--gris-oscuro);
						&::placeholder {color: inherit;}
					}
					#resultadoDuplicado {margin-top: 5px; max-width: 100%; flex-wrap: wrap;}
				}
				#comentario {width: 100%;}
			}
		}
	}
}