#informacion .columna {
	display: flex; flex-direction: column;
	h2 {
		padding: 5px 10px; align-self: center; border-radius: 15px;
		background: var(--rojo-oscuro); color: var(--gris-claro);
	}
	h3 {margin-top: 10px;}
	&#motivoActual {
		min-width: 200px;
		max-width: 240px;
		margin-right: 20px;
		#motivo {font-style: italic;}
	}
	&#motivos h2.ocultar {display: block !important; margin-bottom: 10px;}
}
