/* Datos Largos */
#datos #datosLargos {
	width: 65%; max-width: 600px;
	#encabezado {border-bottom: none; color: snow;}
	#recuadroDL #informacion {
		display: flex; flex-direction: row; justify-content: space-between;
		margin-bottom: 20px;
		ul {
			padding-right: 10px; max-width: 260px;
			li {margin-top: 3px;}
		}
		#comentario {
			margin-left: 10px;
			h3 {
				margin-bottom: 3px;
				span {font-weight: normal; font-size: 1rem;}
			}
			textarea {
				padding: 10px; border-radius: 8px; resize: none; height: 80px; width: 250px;
				background: snow; color: var(--gris-mas-oscuro);
			}
			textarea:read-only {background: var(--gris-intermedio);}
		}
	}

	/* Condicionales */
	#recuadroDL {
		&:has(.inactivar, .rechazar, .eliminar) {
			background: var(--rojo-claro) !important;
			#encabezado {background: var(--rojo-oscuro);}
			:is(#informacion, select, #tempCapS .pack i) {color: var(--rojo-oscuro);}
		}
		&:has(.recuperar) {
			background: var(--verde-claro) !important;
			#encabezado {background: var(--verde-oscuro);}
			:is(#informacion, select, #tempCapS .pack i) {color: var(--verde-oscuro);}
		}

	}

	/* Botones */
	#contenido #sectorIconos {margin: 10px 40px 30px;}
}
