<section class="flex-row grow" id="cuerpo">
   <!--********************** CONTADOR ****************************-->
  <button type="text" id="contador-de-películas">Contador</button>
  <%- include('10-Filtros') %>
  <!--*************** COMIENZO - ZONA DE PELÍCULAS ****************-->
  <section id="cuerpo-listado" class="flex-col grow">
    <!--CRITERIO PARA MOSTRAR (LISTADO-ECC-VPC)-->
    <select id="opciones" name="opciones">
      <option value="" class="cursiva">Elegí una opción...</option>
        <option value="TLP" class="not-cursiva">Todas las Películas</option>
        <option value="FAV" class="not-cursiva">Mis favoritas</option>
      <optgroup label="Un paseo por..." class="cursiva">
        <option value="CFC" class="not-cursiva">Películas Centradas en la Fe Católica (CFC)</option>
        <option value="VPC" class="not-cursiva">Películas con Valores (VPC)</option>
      </optgroup> 
    </select>
    <!--LISTADO-->
    <!--CFC-->
    <!--VPC-->
  </section>
  <!--************************** FIN ****************************-->
</section>
