<!--DESDE AQUÍ COMIENZA LO PARTICULAR DE ESTA PÁGINA-->
<section class="flex-row grow" id="cuerpo">
  <button type="text" id="contador-de-películas">Contador</button> <!--CONTADOR-->
  <%- include('PEL-10FILTROS') %>
  <section id="cuerpo-listado" class="flex-col grow">  <!--ZONA DE PELÍCULAS-->
    <!--CRITERIO PARA MOSTRAR (LISTADO-ECC-VPC)-->
    <select id="título" name="criterio">
      <option class="cursiva" value="SF">Elegí una opción...</option>
      <option value="LP">Todas las Películas</option>
      <optgroup class="cursiva" label="Un paseo por..."> 
        <option class="not-cursiva" value="CFC">Películas Centradas en la Fe Católica (CFC)</option>
        <option class="not-cursiva" value="VPC">Películas con Valores (VPC)</option>
      </optgroup> 
    </select>
    <!--LISTADO-->
    <!--CFC-->
    <!--VPC-->
  </section>
</section>      
<!------------------------------------------------------>