<li id="prodsYaEnBD" class="ocultar">
	<a href="/producto/detalle/?entidad=">
		<!-- Info a mostrar -->
		<button type="text" class="flex-row pointer">
			<!-- Imagen -->
			<img class="imagenChica" src="">
			<!-- Datos del producto -->
			<div id="infoPeli" class="flex-col">
				<p id="nombre_original"><strong></strong></p>
				<p id="nombre_castellano" class="interlineadoChico"><em></em></p>
				<br>
				<p id="ano_estreno" class="interlineadoChico"></p>
			</div>
		</button>
	</a>
</li>
