<div class="ayuda">
	<i class="fa-solid fa-circle-question ayudaClick desplClick">
		<ul type="none" class="ayudaMostrar ocultar desplMostrar">
			<li><%= dataEntry[nombre] %></li>
		</ul>
	</i>
</div>
