<section style="margin-bottom: 0px;" class="label-input">
	<% let inputOK = dataEntry.sinopsis && !errores.sinopsis %>
	<label>Sinopsis</label>
	<div class="inputError">
		<textarea 
			name="sinopsis" rows="1" class="input<% if (inputOK) { %> despl_click<% } %>" placeholder="Ingresa aquí la sinopsis"
			<% if (inputOK) { %>disabled<% } %>
		><%= dataEntry.sinopsis %></textarea>
		<%- include("PA3-DD9-Ayuda", {inputOK}) %>
		<%- include("CMP-Errores", {campo: "sinopsis"}) %>
	</div>
</section>
