<section style="margin-bottom: 0px;" class="labelInput">
	<% let inputOK = dataEntry.sinopsis && !errores.sinopsis %>
	<label>Sinopsis</label>
	<div class="inputError">
		<textarea 
			name="sinopsis" rows="1" class="input<% if (inputOK) { %> desplClick<% } %>" placeholder="Ingresa aquí la sinopsis"
			<% if (inputOK) { %>disabled<% } else { %>autofocus<% } %>
		><%= dataEntry.sinopsis %></textarea>
		<%- include("PA3-DD9-Ayuda", {inputOK}) %>
		<%- include("CMP-Errores", {nombre: "sinopsis"}) %>
		<!-- Si se puede publicar, muestra el contenido de la sinopsis -->
		<% if (dataEntry.sinopsis && (!locals.errores || !errores.sinopsis)) { %>
			<%- include("PA3-DD8-Ayuda", {nombre: "sinopsis"}) %>
		<% } %>
	</div>
</section>
