<section style="margin-bottom: 0px;" class="label-input">
	<% let inputOK = dataEntry.sinopsis && !errores.sinopsis %>
	<label>Sinopsis</label>
	<div class="inputError">
		<textarea 
			name="sinopsis" rows="1" class="input<% if (inputOK) { %> desplClick<% } %>" placeholder="Ingresa aquí la sinopsis"
			<% if (inputOK) { %>disabled<% } %>
		><%= dataEntry.sinopsis %></textarea>
		<%- include("PA3-DD9-Ayuda", {inputOK}) %>
		<%- include("CMP-Errores", {campo: "sinopsis"}) %>
		<!-- Si se puede publicar, muestra el contenido de la sinopsis -->
		<% if (dataEntry.sinopsis && (!locals.errores || !errores.sinopsis)) { %>
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick desplClick">
					<ul type="none" class="ayudaMostrar ocultar desplMostrar">
						<li><%= dataEntry.sinopsis %></li>
					</ul>
				</i>
			</div>
		<% } %>
	</div>
</section>
