<div id="checkbox" class="flexRow">
	<!-- Input -->
	<input id="<%= campo %>" class="input" type="checkbox" name="<%= campo %>" tabindex="-1" <% if (dataEntry && dataEntry[campo] && dataEntry[campo].checked) { %>checked<% } %>>
	<label for="<%= campo %>">No lo voy a responder por ahora</label>
</div>
