<div id="tituloPrincipal">
	<h1 id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
</div>
<form method="POST" class="flexCol" id="dataEntry">
	<!-- Título sin Ayuda -->
	<div id="tituloSecundario">
		<h2>Paso 1 de 5: Ingresá Palabras Clave</h2>
	</div>
	<!-- Datos -->
	<section id="datos" class="flexRow spaceBetween">
		<div class="inputError">
			<input type="text" class="input" name="palabrasClave" placeholder="Escribilo acá"
				value="<%= dataEntry.palabrasClave %>"
				autofocus autocomplete="off" tabindex="1"				
			>
			<!-- Ayuda -->
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick desplClick">
					<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
						<li>Ingresá palabras del <b><u>Título de la Película</u></b>, en el idioma <b><em>original</em></b> o en <b><em>castellano</em></b>.</li>
						<li>Escribí de manera precisa todas las palabras que sepas.</li>
					</ul>
				</i>
			</div>
			<%- include("CMP-Errores", {nombre:"palabrasClave"}) %>
		</div>
		<i id="submit" class="fa-solid fa-circle-question naranja inactivo pointer" title="Verificar" tabindex="2"></i>
	</section>
	<!-- Comentarios generales -->
	<section>
		<div id="resultado" class="sinResultado"><br></div>
		<ul id="fuentesDeInfo" type="circle">
			<li>Las mayúsculas y los acentos no influyen en el resultado</li>
			<li>
				Contamos con el soporte de 
				<a target="_blank" href="https://www.themoviedb.org/?language=es" tabindex="-1">TMDB</a>
				para conseguir la información
			</li>
		</ul>
		
	</section>
</form>