<div id="tapar-el-fondo"></div>
<div id="dataEntry">
	<p id="subtitulo">Estimad<%= usuario.sexo.letra_final %> <u><%= usuario.nombre %></u>:</p>
	<p>Estás a punto de pedirnos el permiso para ingresar <em><u>Películas</u></em> y <em><u>Colecciones</u></em> a nuestra base de datos.</p>
	<p>El contenido de nuestra base de datos es algo <strong><u>diferencial</u></strong> de nuestro sitio. Por favor tené en cuenta que:</p>
	<ol>
		<li class="ol">Cumpla siempre con alguna de estas características, o ambas:
			<ul>
				<li>Que esté relacionada con la Fe Católica</li>
				<li>Que tenga valores que contribuyan a construir una sociedad mejor.</li>
			</ul>
		</li>
		<li class="ol">Se espera de vos que conozcas la película, y puedas opinar sobre ella. Por favor sé lo más preciso que puedas con la información que introduzcas.</li>
	</ol>
	<p style="text-align: center;">¡Gracias!</p>
	<div id="flechas">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left icono" title="Salir"></i></a>
		<!-- Submit -->
		<a href="" tabindex="-1"><i class="fa-solid fa-circle-right icono" title="Avanzar"></i></a>
	</div>
</div>