<div id="loginPend" class="cartel especial ocultar bordeConSombra">
    <i id="cierra" class="fa-solid fa-xmark absolute pointer"></i>
    <div style="text-align: center;">Si hacés el <span><a href="/usuarios/login">login</a></span> podés <br> personalizar más la vista</div>
</div>
