<div id="verVideo" class="cartel especial ocultar bordeConSombra">
    <i id="cierra" class="fa-solid fa-xmark absolute pointer"></i>
    <div id="menuCapacitac" style="text-align: center;">Te sugerimos ver el<br><span id="consultas" class="menuOpcion">Video Explicativo</span></div>
</div>
