<table>
    <% for (let pppOpcion of pppOpciones.filter(n => !n.sinPrefb && !n.combo)) { %>
        <tr>
            <td><i class="<%= pppOpcion.icono %>"></i></td>
            <td><%= pppOpcion.nombre %></td>
        </tr>
    <% } %>
</table>
