<div id="pelisPor">
    <table>
        <!-- Título -->
        <caption>Posterior a Cristo</caption>

        <!-- Cuerpo -->
        <tbody>
            <!-- Madre Teresa -->
            <tr class="imparRCLV imparProd">
                <td rowspan="3" >
                    Teresa de Calcuta (Madre Teresa - 5/sep)<br>
                    1910 - Santa - Religiosa
                </td>
                <td>
                    Cartas de la Madre Teresa 
                    <i class="fa-regular fa-heart"></i>
                    <br>
                    2015 - Película - Dirección: William Riead
                </td>
            </tr>
            <tr class="imparRCLV parProd">
                <td>
                    Madre Teresa 
                    <i class="fa-regular fa-heart"></i>
                    <br>
                    2003 - Película - Dirección: Fabrizio Costa
                </td>
            </tr>
            <tr class="imparRCLV imparProd">
                <td>
                    Madre Teresa. En el nombre de los pobres de Dios
                    <i class="fa-regular fa-heart"></i>
                    <br>
                    1997 - Película - Dirección: Kevin Connor
                </td>
            </tr>
            <!-- Teresita -->
            <tr class="parRCLV imparProd">
                <td>
                    Teresita del Niño Jesús (Teresita de Lisieux - 1/oct)<br>
                    1873 - Santa - Religiosa
                </td>
                <td>
                    Thérese: La historia de Santa Teresa de Lisieux 
                    <i class="fa-regular fa-heart"></i>
                    <br>
                    2004 - Película - Dirección: Leonardo Defilippis
                </td>
            </tr>
        </tbody>
    </table>
</div>
