/* CONFIGURAR SECCIONES */
main {height:90.4vh;}
main.flex-row {flex-direction: row-reverse;}
main #cuerpo-y-footer {display: flex; flex-grow: 1; flex-direction: column-reverse; justify-content: space-between;}
main #zona-de-vitreaux {padding-left: 30px; width: 220px; height: 100%; display: flex; flex-direction: column; justify-content: center;}

/* CONFIGURAR IMAGEN */
/* #imagen-derecha {height: 100%; width: 150vw; position: relative;} */
/* #imagen-derecha img {height: 100%; width: 100%; object-fit: cover; position: absolute;} */
#imagen-derecha img {height: 100%; max-width: 30vw;}

/* ESTILOS Y CLASES */
main h1 {font-size: 1.25rem;}
main h2 {font-size: 1.25rem;}
main h3 {font-size: 1.15rem;}

/* Configuración del cuerpo */
main #cuerpo #titulo {border-style: none; padding: 8px 10px; font-weight: bold;}
main #cuerpo #titulo {font-family: var(--Arial); font-size: 1.2rem; margin: 0; line-height: 1;}
