<% if (tema) { %>
	<div class="filtro flexCol listado">
		<h3><%= tema.titulo %></h3>
		<select name="publico" >
			<option value="">Sin Filtro</option>
			<% for (let opcion of tema.opciones) { %>
				<option value="<%= opcion.valor %> "><%= opcion.nombre %></option>
			<% } %>
		</select>
	</div>
<% } %>
