/* Ambos */
@media (orientation: portrait), (orientation: landscape) and (height <= 600px) {
	#listado li {
		padding-left: 0 !important;
		&:last-child {padding-right: 0 !important;}
	}

	/* oculta los triangulitos de desplazamiento */
	#cuadroDeResultados i.mover {display: none;}
	#imgDerecha :is(#links, #sectorIconos).toggle {display: none;}
}

/* Parado */
@media (orientation: portrait) {
	body {
		--altoFooter: 0px;
		footer {display: none;}
	}
	#recuadroDL {
		width: 100vw !important;
		#contenido {
			margin-block: 15px;
			margin-inline: clamp(0px, calc(50% - var(--anchoBoton) / 2), 15px); /* oscila entre 0px y 15px */
		}
	}
}

/* Acostado */
@media (orientation: landscape) and (height <= 600px) {
	#recuadroDL #contenido {
		--altoContenido: min(15px, calc((var(--altoCuerpo) - var(--altoBoton) - 14px) / 2)); /* 14px es el ancho de los bordes */
		margin: var(--altoContenido) 15px;
	}

}
