/* Temas generales */
#cuerpo {flex-direction: row;}

#cuerpo #zona-de-vitreaux {padding-left: 30px; width: 220px; display: flex; flex-direction: column; justify-content: center;}

/* Contador de Películas */
#cuerpo #contador-de-peliculas {position: absolute; right: 0px; top: 0px;}
#cuerpo #contador-de-peliculas {padding: 3px 5px; border: solid 2px gray; border-radius: 5px;}
#cuerpo #contador-de-peliculas {font-size: 1.1rem; font-weight: bold;}

/* CRITERIO PARA MOSTRAR (LISTADO-ECC-VPC) */
#cuerpo #zona-de-pelis {align-items: flex-start; margin-left: 40px; height: 100%;}

/* Para ocultar la flecha de los select */
#zona-de-pelis select {-moz-appearance: none;/* for Firefox */-webkit-appearance: none;/* for Chrome */}
#zona-de-pelis select::-ms-expand {display: none;/* For IE10 */}

/* Menú de Opciones */
#zona-de-pelis #menuOpciones,
#zona-de-pelis #menuSubopciones {margin-top: 30px; padding: 8px 16px; font-size: 1.25rem; font-weight: bold;}
#zona-de-pelis #menuOpciones,
#zona-de-pelis #menuSubopciones {border-radius: 10px; background-color: var(--gris-claro);}

/* Películas */
#zona-de-pelis #vistaPelis {display: flex; flex-direction: row; align-self: center; justify-content: center; align-items: center; flex-grow: 1;}
