/* Temas generales */
#cuerpo {flex-direction: row;}

/* Zona de Filtros */
#cuerpo #zona-de-filtros {width: 220px; display: flex; flex-direction: column; justify-content: flex-start;}

/* Zona de Encabezado más películas */
#cuerpo #encabMasPelis {align-items: flex-start; height: 100%;}

/* Zona de Encabezado más películas - Encabezado */
#encabMasPelis #encabezado {display: flex; flex-direction: row; justify-content: space-between; width: 100%;}

/* Zona de Encabezado más películas - Zona de productos */
#encabMasPelis #zona-de-prods {display: flex; flex-direction: column; flex-grow: 1; width: 100%;}
#encabMasPelis #zona-de-prods {justify-content: center; align-items: center;}

/* Zona de productos - Comencemos */
#zona-de-prods #comencemos {display: flex; flex-direction: column;}
#zona-de-prods #comencemos button {font-size: 1.2rem; font-weight: bold; padding: 10px; border-radius: 10px; margin: auto;}
#zona-de-prods #comencemos button#rojo {background: var(--rojo-claro); color: var(--rojo-oscuro); border-color: var(--rojo-oscuro);}
#zona-de-prods #comencemos button#verde {background: var(--verde-claro); color: var(--verde-oscuro); border-color: var(--verde-oscuro);}
