/* Temas generales */
#cuerpo {flex-direction: row;}

/* Zona de Filtros */
#cuerpo #zona-de-filtros {width: 220px; display: flex; flex-direction: column; justify-content: flex-start;}

/* Zona de Encabezado más películas */
#cuerpo #encabMasPelis {align-items: flex-start; height: 100%;}
#encabMasPelis #encabezado {display: flex; flex-direction: row; justify-content: space-between; width: 100%;}
#encabMasPelis #zona-de-prods {display: flex; flex-direction: column; flex-grow: 1; width: 100%;}
#encabMasPelis #zona-de-prods {justify-content: center; align-items: center;}

/* Zona de productos */


/* Zona de productos - Comencemos */
