/* Temas generales */
#cuerpo {flex-direction: row;}
form {display: flex; flex-direction: row; flex-grow: 1;}

/* Zona de Filtros */
#cuerpo #zona-de-filtros {width: 220px; display: flex; flex-direction: column; justify-content: flex-start;}

/* Zona de productos */
#cuerpo #zona-de-prods {align-items: flex-start; height: 100%;}
#cuerpo #zona-de-prods #encabezado {display: flex; flex-direction: row; justify-content: space-between; width: 100%;}

/* Encabezado */
#zona-de-prods #encabezado #izquierda {display: flex; flex-direction: row;}
#encabezado select[name="layout"],
#encabezado select[name="orden"] {padding: 3px 6px; font-size: 1rem; font-weight: bold;}
#encabezado select[name="layout"],
#encabezado select[name="orden"] {border-radius: 7px; background: var(--gris-claro);}
#encabezado select[name="orden"]:invalid {background: var(--rojo-oscuro); color: snow; font-style: italic;}
#encabezado select[name="orden"] option {background: var(--gris-claro); color: var(--azul-oscuro); font-style: normal;}

/* Contador */
#cuerpo #contador-de-prods {padding: 3px 5px; border: solid 2px gray; border-radius: 5px;}
#cuerpo #contador-de-prods {font-size: 1.1rem; font-weight: bold;}


/* Películas */
#zona-de-prods #vistaProds {display: flex; flex-direction: column; align-self: center; justify-content: center; align-items: center; flex-grow: 1;}
