/* General */
#cuerpo #filtros {width: 220px;}
#cuerpo #filtros {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
#cuerpo #filtros {display: flex; flex-direction: column; }

/* #filtros {display: flex; flex-direction: column; flex-grow: 1;} */
#filtros * {font-size: 1rem;}

/* Filtros - Personalizados */
#filtros #personalizados {background: var(--gris-oscuro); padding: 20px; display: flex; flex-direction: column;}
#filtros #personalizados :is(h1, .fa-solid) {color: var(--celeste-claro);}
#filtros #personalizados select {font-weight: bold;}
#filtros #personalizados :is(select, option) {color: var(--azul-oscuro); background: var(--amarillo-claro);}
#filtros #personalizados #iconos {justify-content: space-around; margin-top: 9px; width: 80%; align-self: center;}

/* Filtros - Campos - General */
#filtros #campos {background: var(--gris-claro); padding: 10px 0;}
#filtros #campos {flex-grow: 1; justify-content: space-between;}
#filtros #campos * {order: 2;}
#filtros #campos .filtro {padding: 7.5px 20px;}
#filtros #campos .filtro:has(select:valid, input:checked) {background: var(--verde-oscuro); order: 1;}
#filtros #campos hr {border-top: var(--gris-oscuro) 1px dashed;}

/* Filtros - Campos - Select */
#filtros .filtro select {border-radius: 5px;}
#filtros .filtro select:valid {color: snow; background: var(--verde-oscuro); font-weight: bold;}
#filtros .filtro select option {color: var(--azul-oscuro); background: snow;}
#filtros .filtro select option#sinFiltro {display: block;}

/* Filtros - Campos - Checkbox */
#filtros .filtro.checkbox {display: flex; flex-direction: column; align-items: center;}
#filtros .filtro.checkbox#categoria {order: 1}
#filtros .filtro:has(input:checked) > * {color: snow; background: var(--verde-oscuro); font-weight: bold;}
#filtros .filtro.checkbox #label-inputs {justify-content: space-evenly; margin-top: 5px; width: 100%;}
#filtros .filtro.checkbox #label-input * {line-height: 0;}
#filtros .filtro.checkbox label {margin-left: 4px;}
#filtros .filtro.checkbox input {margin: 0 2px;}

/* Filtros - Campos - Radio */
#filtros #campos .radio {margin: 2px auto 15px;}
#filtros #campos .radio input {margin-right: 3px;margin-top: 2px;}

/* Filtros - Búsqueda */
#filtros #campos #busqueda {position: relative;}
#filtros #campos #busqueda input {padding: 0px 4px; }
#filtros #campos #busqueda i {position: absolute; right: 2px; translate: 0 -50%; top: 50%;}
