/* General */
#filtros {width: 100%; box-shadow: 0px 0px 10px rgb(100, 100, 100); border-radius: 10px; overflow: hidden;}
#filtros h1, #filtros button, #filtros select, #filtros option {font-family: var(--Calibri);}
#filtros * {font-size: 1rem; margin: 0;}
#filtros select {border-radius: 5px;}

/* Filtros personales guardados */
#personalizado {display: flex; flex-direction: column; background: var(--azul-oscuro); padding: 20px;}
#personalizado h1 {color: var(--celeste-claro);}
#personalizado select {font-weight: bold;}
#personalizado select, #personalizado option {color: var(--azul-oscuro); background: var(--amarillo-claro);}

/* Filtros actuales */
#filtro-inf {background: var(--gris-claro); padding: 20px;}
#filtro-inf select {margin-bottom: 15px;}
#filtro-inf .radio {margin: 2px auto 15px;}
#filtro-inf .radio input {margin-right: 3px;margin-top: 2px;}
#filtro-inf #busqueda {padding-bottom: 15px;}
#filtro-inf #busqueda input {padding: 0px 4px 0px 4px;}
#filtro-inf .margen-izq {margin-left: 15px;}

/* Final */
#filtro-inf #final {justify-content: space-around; align-items: center;}
#filtro-inf #final button {border: none;}
#filtro-inf #final .fa-floppy-disk {color:blue; border-style: none;}
#filtro-inf #final .fa-circle-right {color:green;}
